.accountInfo {
    overflow: hidden scroll;
    border: 1px solid;
    height: 400px !important;
    max-height: 400px !important;
    width: 650px !important;
}

.InputText {
    text-align: left;
    font: Regular 10px/16px Poppins;
    letter-spacing: 0px;
    color: #212121;
    opacity: 1;
}