.modal-content {
    max-height: 950px;
    // overflow: hidden scroll;
}

.summarySection {
    opacity: 1;
    // background-color: #F2F3F8;

}

.order-summary {
    border-radius: 10px;
    background: #F8F8F8;

}

.shoppingCartAccordionTabBG {
    background: #f1f2f3;
}

.previousBtn:hover,
.nextBtn:hover {
    background-color: #4A0D4A !important;
    border: none !important;
}

.Proceedtocheckout:hover,
.Proceedtocheckout.focus,
.Proceedtocheckout:focus {
    outline: 0;
    background-color: #4A0D4A !important;
    border: none !important;
}

.discartBtn:hover {
    background-color: transparent !important;
    border: 1px solid #F88011 !important;
}

.previousArrow {
    top: 50%;
    position: absolute;
    z-index: 9999999;
    left: 0px;
}

.nextArrow {
    top: 50%;
    position: absolute;
    z-index: 9999999;
    right: 0px;
}

.previousBtn,
.nextBtn {
    background-color: #4A0D4A !important;
    border: none !important;
    color: white;
    width: 30px;
    height: 30px;
    cursor: pointer;
    border-radius: 50%;
    display: inline-block;
}

.shareBtn:hover {
    background-color: transparent !important;
    border: 1px solid #4A0D4A !important;
}

button:disabled,
button[disabled] {
    cursor: not-allowed !important;

}

//---------------------------------------------------------------------------------//

.three-dots:after {
    cursor: pointer;
    color: #700066;
    content: "\2026";
    font-size: 20px;
    padding: 0 5px;
}

#dropdownMenuButton {
    background-color: white !important;
}

.dropdown-menu {
    left: -140px !important;
}

.dropdown-toggle {
    background: white 0% 0% no-repeat padding-box;
    border: none;
    color: #700066 !important;
}

.dropdown-toggle::after {
    display: none;
}

.dropdown-toggle:focus {
    outline: none;
    background: white 0% 0% no-repeat padding-box;

    .three-dots:after {
        color: #700066 !important;
    }
}

//------------------------------------------------------------------------------//



.radio,
.checkbox {
    accent-color: #700066;
}

#editQty {
    font-size: 16px;
    padding: 10px;
    width: 100%;
    outline: 0;
    border: 1px solid #999;
    border-radius: 10px;

    &:focus {
        box-shadow: 0 0 15px 1px #999;
        border: 1px solid #777;
    }
}

.disabled {
    opacity: 0.65;
    cursor: not-allowed;
}

.editQtyContainer {
    .clear-text {
        position: absolute;
        color: #555;
        font-size: 28px;
        top: 7px;
        right: -10px;
    }

    .fieldset {
        position: relative;
        margin: 10px 0;

        .form-text {
            .clear-text {
                display: inline-block;
            }
        }
    }
}


::ng-deep {
    .imgTd {
        display: flex !important;
        border: none !important;
        align-items: center;
    }

    .p-treetable .p-treetable-tbody>tr>td .p-treetable-toggler {
        width: 20px !important;
        height: 14px !important;
    }

    .form-control,
    .form-control:focus,
    .form-control:active {

        color: #9E9E9E !important;

    }

    .p-treetable-thead {

        br {
            display: none !important;
        }

    }

    .p-accordion-tab,
    .p-treetable-scrollable-wrapper,
    .p-treetable-thead,
    .p-treetable .p-treetable-thead>tr>th,
    .p-treetable .p-treetable-tbody>tr>td {
        border: 1px solid #E5E5E5 !important;
        // border-radius: 10px !important;
        margin-bottom: 15px !important;
    }

    .p-treetable-scrollable-header-box {
        padding: 0 !important;
    }

    .p-accordion {
        ::-webkit-scrollbar {
            width: 10px;
            height: 5px;
        }

        /* Track */
        ::-webkit-scrollbar-track {
            background: #D9D9D9;
        }

        /* Handle */
        ::-webkit-scrollbar-thumb {

            background: #FFFFFF;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 20px;
            border: 1px solid #D9D9D9 !important;


        }

        .p-accordion {
            margin-bottom: 20px !important;
        }


    }


}

::ng-deep {
    .ltr-arr-acc {

        .p-accordion-toggle-icon {
            position: absolute !important;
            right: 3px !important;
            bottom: 20px;
        }
    }


}

::ng-deep {


    .rtl-arr-acc {
        .p-accordion-toggle-icon {
            position: absolute !important;
            left: 10px !important;
            transform: rotate(180deg);
            bottom: 20px;
        }
    }
}


.imgIcon {
    width: 50px;
    height: 50px;
    border-radius: 12px;
    cursor: pointer;
}

.editIcon {
    background-color: #4A0D4A;
    padding: 4px;
    cursor: pointer;
    color: white;
}

.topheader {
    background-color: #4A0D4A;
    position: sticky;
    top: 0px;
    z-index: 999999;
}

.inputs {
    background: white !important;
    border-color: #7d5e7a !important;
}

.Canstatus {
    border-radius: 4px;
    background: #D0D0D0;
    width: 90px;
    height: 30px;
    font-weight: 600;
    color: white;
    display: flex;
    justify-content: center;
}

.status {
    border-radius: 4px;
    background: #D0D0D0;
    width: 50px;
    height: 30px;
    font-weight: 600;
    color: white;
    display: flex;
    justify-content: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    display: none;
}

.discartBtn {
    background-color: white !important;
    color: #F88011 !important;
    border: 1px solid #F88011 !important;
}

.shareBtn {
    background-color: white !important;
    color: #4A0D4A !important;
    border: 1px solid #4A0D4A !important;
}

input:focus,
input:hover,
input:active,
input:focus-within,
input:visited,
input.ng-invalid.ng-touched {
    outline: auto !important;
    background: white !important;
    border-color: #7d5e7a !important;
}


.editBtn:hover {
    background-color: transparent !important;
    border: none !important;
}

.minimizedScreen {
    position: fixed;
    z-index: 11111111;
    text-align: right;
    border: 1px solid #e9ebf0;
    min-width: 0;
    transition: all 0.4s ease-in-out;
    // /* height: 50px; */
    box-shadow: -1px 2px 20px rgba(0, 71, 138, 0.1294117647);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: end;
    right: 35px;
    bottom: 11px;
    background-color: #fff;
}

.maximizedScreen {
    position: fixed;
    z-index: 11111111;
    text-align: right;
    border: 1px solid #e9ebf0;
    min-width: 0;
    transition: all 0.4s ease-in-out;
    // /* height: 50px; */
    box-shadow: -1px 2px 20px rgba(0, 71, 138, 0.1294117647);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: end;
    right: -300px;
    bottom: 11px;
    background-color: #fff;
}

.times-icon {
    color: red;
    font-size: 1.5em !important;
}

.mini-order {
    border-radius: 4px;
    background: #f2f3f8;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-direction: row-reverse;
}

.mini-order:hover {
    background: #f2f3f8 !important;
}

/*---------------------custome style for comment component--------------------*/
.comment-warper {
    position: relative;

}

// handle responsive screens

@media only screen and (max-width: 992px) {
    .web {
        display: none;
    }

    .tablet {
        display: block;

    }

}

::ng-deep .tablet {
    .p-tabview .p-tabview-panels {
        border: 1px solid #E2E2E2 !important;
    }

    @media (min-width: 567px) and (max-width: 678px) {
        .p-tabview .p-tabview-nav li {
            border-radius: 0 !important;
            // border: 0.5px solid #eee !important;
            border-bottom: 1px solid #E2E2E2 !important;



        }
    }

    .p-treetable .p-treetable-thead>tr>th {
        white-space: nowrap !important;
    }

    .p-tabview .p-tabview-nav {

        // border: 0.5px solid #eee !important;
        border: 1px solid #E2E2E2 !important;

    }

    @media only screen and (max-width: 992px) {
        h1 {
            font-size: 26px !important;
        }

        .parentDiv {
            margin: 2em 2em 0em 7em;
        }

        .p-treetable .p-treetable-thead>tr>th {
            white-space: nowrap !important;
            font-size: 11px !important;
        }

        .p-tabview .p-tabview-nav li {
            margin: 5px;
        }

        .tab-header {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 75px;
            height: 75px;
        }

        .p-tabview .p-tabview-nav li .p-tabview-nav-link {
            border: none !important;
            border-right: 1px solid #E2E2E2 !important;

        }

        .p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
            background-color: white !important;
            color: #777 !important;
            // border-bottom: 1px solid #eee !important;
            border-radius: 0 !important;
            padding: 0;
            width: 140px !important;
            height: 82px !important;
            padding: 8px;

            .tab-header {
                background-color: #4A0D4A !important;
                border-radius: 6px !important;
                color: white !important;
                padding: 5px !important;
                display: flex;
                flex-direction: column;
                align-items: center;

                svg {
                    fill: #fff !important;
                }
            }
        }
    }

    .mobile {
        display: flex;
    }

    @media only screen and (max-width: 567px) {
        .dropdown-menu {
            left: -70px !important;
            width: 81% !important;
        }

        .p-tabview .p-tabview-nav li .p-tabview-nav-link {
            border: none !important;


        }

        @media only screen and (max-width: 567px) {

            .handleMob {
                margin-right: -10px !important;
                margin-left: -10px !important;
            }
        }

        @media only screen and (max-width: 380px) {

            .handleMob {
                overflow-x: scroll !important;
                margin-right: 2px !important;
                margin-left: -1px !important;
            }
        }

        .p-tabview .p-tabview-nav {
            padding: 8px 14px !important;
        }

        .mobile {
            display: none !important;
        }

        .modal-content {
            margin: 0 !important;
        }

        .parentDiv {
            margin: 7em 0em;
        }

        .p-treetable table {
            font-size: 10px !important;

        }

        .p-treetable .p-treetable-thead>tr>th {
            font-size: 10px !important;
            white-space: nowrap !important;
            padding: 5px !important;
        }

        .p-tabview .p-tabview-panels {
            padding: 5px !important;
        }

        .p-treetable .p-treetable-tbody>tr>td {
            padding: 5px !important;
            border: 1px solid #EBEBEB !important;

        }

        .tablet .p-accordion {

            padding: 0 !important;

        }

        .tab-header {

            border-radius: 6px !important;

            padding: 5px !important;
            display: flex;
            flex-direction: column;
            align-items: center;

            svg {
                fill: #fff !important;
                width: 24px;
                height: 24px;
            }
        }

        .p-tabview .p-tabview-nav li .p-tabview-nav-link {
            width: 90px !important;
            height: 66px !important;
            padding: 0 !important;
            font-size: 11px !important;

            svg {
                width: 24px !important;
                height: 24px !important;
                font-size: 10px !important;
                margin-top: 10px !important;
            }
        }

        .p-tabview .p-tabview-nav li {
            // width: 40% !important;
            height: 66px !important;
            border-right: 1px solid #eee !important;
        }

        .tab-header {
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 66px;
            font-size: 12px !important;
        }

        .p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
            background-color: white !important;
            color: #777 !important;
            border-radius: 0 !important;
            padding: 0 !important;
            height: 66px !important;
            max-width: 75px !important;

            .tab-header {
                background-color: #4A0D4A !important;
                border-radius: 6px !important;
                color: white !important;
                padding: 5px !important;
                display: flex;
                flex-direction: column;
                align-items: center;

                svg {
                    fill: #fff !important;
                    width: 24px;
                    height: 24px;
                }
            }
        }
    }

    .p-tabview .p-tabview-nav li .p-tabview-nav-link:not(.p-disabled):focus {
        box-shadow: none !important;
    }

    .p-tabview-nav-link {
        border-top: none !important;
        border-left: none !important;
        border-width: 1px !important;
        border-color: #c8c8c8 !important;
        background: #FFF !important;
        color: #777 !important;
        display: flex !important;
        flex-direction: column !important;
        font-size: 14px !important;
        width: 140px !important;
        height: 82px !important;
        align-items: center !important;
        fill: #777777 !important;
        padding-top: 5px !important;

        svg {
            fill: #777 !important;

        }
    }


}

@media only screen and (min-width: 992px) {
    .web {
        display: flex;
    }

    .tablet {
        display: none;
    }
}

@media only screen and (min-width: 576px) {

    .parentDiv {
        margin: 2em 10em 0em 10em;
    }
}

.bgPurple {
    background: #4A0D4A !important;
    color: white;

}

.addNbtn {
    /* Group 1552 */

    width: 158px;
    height: 38px;

    filter: drop-shadow(2px 2px 4px rgba(22, 22, 22, 0.05));

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    gap: 5px;
    border: 1px solid #eee;
    border-radius: 4px;

    svg {
        color: #777777;
    }

    span {

        font-weight: 700;
        font-size: 14px;
        line-height: 21px;
        color: #4A0D4A;


    }

}




.previewbtn {
    border-radius: 6px;
    background: #4A0D4A;
    box-shadow: 2px 2px 10px 0px rgba(22, 22, 22, 0.10);
    color: #fff;
    width: 99px;
    height: 46px;
}

.cancelbtn {
    background-color: #fff;
    color: #700066;
    border: 1px solid #EBEBEB;
    border-radius: 6px;

    width: 99px;
    height: 46px;
}




::ng-deep {
    .p-dialog {
        border-radius: 20px;
        border: 1px solid #EEE;
        background: #FFF;
        //   padding: 10px !important;
        margin: 10px;
        box-shadow: 4px 4px 10px 0px rgba(22, 22, 22, 0.15);
    }

    .p-dialog .p-dialog-header {
        border: none !important;
        background: white !important;
        padding: 0 !important;
    }

    .p-button-text {
        // button {
        background-color: #4A0D4A !important;
        color: #FFF !important;
        border: none !important;
        border-radius: 6px !important;
        padding: 8px 32px;
        // }

    }



}

.p-button-no {
    color: #4A0D4A !important;
    border-radius: 8px !important;
    background: #FFF !important;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.25) !important;
    border: none !important;
    display: flex !important;
    padding: 8px 32px !important;
    align-items: center !important;
}

.msg-text {
    font-weight: 700 !important;
    font-size: 22px !important;
    line-height: 36px !important;

    color: #1B101B !important;


}

.btns {
    gap: 24px !important;
}

.img-hd {
    position: inherit !important;
    width: 100px !important;
    height: 100px !important;
}

.tabSSec {
    min-height: 70vh;
}

@media only screen and (min-width: 1100px) {
    .fixScrollS {
        position: fixed;
        max-width: 25%;
        right: 11%;
    }
}


@media only screen and (max-width: 1100px) {
    .fixScrollS {
        position: fixed;
        max-width: 23%;
        right: 15%;
    }
}

.syncBtn {

    border: 1.5px solid #F88011 !important;
    border-radius: 6px;
    padding: 5px 10px;
    color: #F88011;
}








.imageSlides {
    border-radius: 6px 6px 0 0;
    cursor: pointer;
}


.p-inputnumber-buttons-stacked .p-inputnumber-input {
    max-width: 133px !important;
    // border-radius: 10px !important;
    color: #595959;
    border: 1px solid #D9D9D9 !important;
    background: #FFF !important;
}


::ng-deep {

    .p-inputnumber-button {
        background: #F8F8F8 !important;
        border: 1px solid #F8F8F8 !important;
    }

    .p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
        background-color: #4A0D4A !important;
        border: 1px solid #4A0D4A;
        border-top-right-radius: 0 !important
    }

    .p-tabview .p-tabview-nav li .p-tabview-nav-link:not(.p-disabled):focus {
        box-shadow: none !important;
    }

    .input-group>.form-control:focus {
        z-index: 0 !important;
        border: 1px solid #E2E2E2 !important;
    }

    @media only screen and (min-width: 575px) and (max-width: 1024px) {
        .pageHeader {
            margin-top: 70px !important;
        }
    }

    @media only screen and (min-width: 768px) and (max-width: 922px) {
        .left-sec {
            padding: 0 !important;
        }
    }

    @media only screen and (min-width: 1024px) and (max-width: 1250px) {



        .col-6 {
            max-width: 40% !important;
            margin-left: 3px !important;

        }
    }

    @media only screen and (max-width: 567px) {
        .showRoomLink {
            margin-bottom: 5px !important;
        }

        td {
            font-size: 10px !important;
        }

        .editQty {
            max-width: 145px;
        }

        .tabView-mob {

            .p-tabview .p-tabview-nav,
            .p-tabview .p-tabview-nav li {
                height: 45 !important;
            }
        }

        .msrp {
            font-size: 12px;
        }

        font-size: 12px;

        .p-inputnumber-buttons-stacked .p-inputnumber-input {
            width: 140px;
        }

        table th {
            white-space: nowrap !important;
            font-size: 11px !important;
        }

        .input-custom {
            max-width: 160px !important;
        }

        .table-mob {
            .p-tabview .p-tabview-nav {

                padding: 0 !important;
            }

            .p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
                background-color: #4A0D4A !important
            }

            .p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
                /* color: #777 !important; */
                border: none !important;
                border-top-right-radius: 0px !important;
                min-width: 135px !important;
                margin: 0 !important;
                color: white !important;

            }

            .p-tabview-title {
                font-size: 10px !important;
                margin-top: 11px;
            }
        }

        .p-tabview .p-tabview-nav {

            border: 1px solid #E2E2E2 !important;
            border-top-left-radius: 12px !important;
            border-top-right-radius: 12px !important;
            padding: 8px 14px !important;
            background: #FFF !important;
            min-height: 35px !important;

            .p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
                border-radius: 12px !important;
                fill: white !important;
            }
        }

        .p-tabview .p-tabview-panels {
            padding: 5px !important;
        }

        .p-tabview .p-tabview-nav li {
            margin-right: 17px !important;
        }

        .tabPanel-custom {

            .p-tabview .p-tabview-nav li .p-tabview-nav-link {
                width: 80px !important;
                height: 66px !important;
                padding: 0 !important;
                border: none !important;

                svg {
                    width: 24px !important;
                    height: 24px !important;
                    font-size: 10px !important;
                    margin-top: 10px !important;
                }
            }
        }


        .tabPanel-custom {
            .p-tabview .p-tabview-nav li {
                // width: 25% !important;
                // height: 66px !important;
                border-right: 1px solid #eee !important;
                margin: 0 4px;
            }

            .p-tabview .p-tabview-nav li .p-tabview-nav-link {
                // width: 80px !important;
                width: 100% !important;
                // height: 66px !important;
                padding: 0 !important;
                border: none !important;

                svg {
                    width: 24px !important;
                    height: 24px !important;
                    font-size: 10px !important;
                    margin-top: 10px !important;
                }
            }
        }

        .p-tabview .p-tabview-nav li .p-tabview-nav-link {
            // width: 80px !important;
            width: 66px !important;
            // height: 66px !important;
            padding: 0 !important;
            border: none !important;
            margin: 0 10px;
            padding-left: 10px !important;

            svg {
                width: 24px !important;
                height: 24px !important;
                font-size: 10px !important;
                margin-top: 10px !important;
            }

            .p-tabview .p-tabview-nav li:nth-child(2) .p-tabview-nav-link {
                border-left: 1px solid #eee !important;
            }
        }

        .table-mob {

            .p-tabview .p-tabview-nav li {
                width: 100% !important;
                height: 35px !important;
                margin: 0 !important;
                // border-right:  1px solid #eee !important;
            }

            .p-tabview .p-tabview-nav li .p-tabview-nav-link {
                width: 100% !important;
            }
        }

        .p-tabview .p-tabview-nav li .p-tabview-nav-link {
            // width: 217px !important;
            padding: 0 !important;
            margin: 0 !important;
        }

        .sm-tab {
            .p-tabview .p-tabview-nav li .p-tabview-nav-link {
                width: 200px !important;
                height: 30px !important;
            }

            .table-mob .p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
                width: 182px !important;
                color: white !important;
            }
        }

        .p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
            // background-color: white !important; 
            color: #777 !important;
            border: none !important;
            border-radius: 6px !important;
            padding: 0 !important;
            height: 66px !important;

            .tab-header {
                border-radius: 6px !important;
                color: white !important;
                padding: 2px 5px !important;
                display: flex;
                flex-direction: column;
                align-items: center;

                svg {
                    fill: #fff !important;
                    width: 24px;
                    height: 24px;
                }
            }
        }

        .p-tabview .p-tabview-nav li .p-tabview-nav-link:not(.p-disabled):focus {
            box-shadow: none !important;
        }

        .p-tabview-nav-link {
            border-top: none !important;
            border-left: none !important;
            border-width: 1px !important;
            border-color: #c8c8c8 !important;
            background: #FFF !important;
            color: #777 !important;
            display: flex !important;
            flex-direction: column !important;
            font-size: 14px !important;
            width: 140px !important;
            // border-right: 1px solid #eee !important ;
            // border-bottom: 1px solid #eee !important ;
            // height: 99px !important;
            align-items: center !important;
            fill: #777777 !important;

            svg {
                fill: #777 !important;

            }
        }
    }
}


.switch-container {
    display: flex;
    align-items: center;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-left: 10px;
    /* Adjust margin as needed */
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}


.switch .slider:before {
    background-color: white;
}

.switch .slider {
    border: #aaaaaa solid 1px !important;
}




/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
}

.switch .slider:before {
    background-color: white;
}

.switch .slider {
    border: #aaaaaa solid 1px !important;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2DC74F !important;
}

input:not(:checked)+.slider {
    background-color: #ccc !important;
    /* Or any other color when not checked */
}

input:focus+.slider {
    box-shadow: 0 0 1px #2DC74F;
}

input:checked+.slider:before {
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.p-inputnumber-buttons-stacked .p-inputnumber-input {
    text-align: end !important;
}

.card-body {
    padding: 2px !important;
    border-bottom-left-radius: 10.82px !important;
    border-bottom-right-radius: 10.82px !important;
    height: 40px;
    text-align: center;
    width: 85px;
    border: 1px solid #EEE;
}

.seller {
    font-size: 10px !important;
    color: #595959;
    font-weight: 600;
}

.card-text {
    font-size: 10px;
    color: #1B101B;
    font-weight: 700;
    margin-top: 3px;
    margin-bottom: 0;
}



.pBtntext {
    background-color: #4A0D4A !important;
    border: none !important;
    border-radius: 6px !important;
    padding: 8px 32px !important;
    color: #fff !important;
}

.form-label {
    color: #1B101B;
    font-weight: 600;
    font-size: 16px;
}


.custom-input {
    height: 40px;
    border-radius: 8px;
    border: 2px solid #4A0D4A;
    padding-right: 60px;
}

.save-btn {
    right: 35px;
    top: 5px;
    background-color: #4A0D4A;
    color: white;
    height: 30px;
    width: 30px;
    padding: 0;
}

.cancel-btn {
    right: 5px;
    top: 5px;
    color: #777;
    height: 30px;
    width: 30px;
    padding: 0;
}

.colorSec {
    margin-right: 10px;
    width: 67px;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    border: 1px solid #EEEEEE;
    text-align: center;
}

.greyColorlight {
    color: #EEEEEE;
}

.btnHgtNoWrap {
    height: 37px;
    white-space: nowrap;
}

.cursor-pointer {
    cursor: pointer;
}

.minW120 {
    min-width: 120px;
}

.orangeColor {
    color: #ff7a00;
}

.text-14 {
    font-size: 14px;
}

.greyColorMd {
    color: #777777;
}

.blackColor {
    color: #1B101B;
}

.greyMDlightColor {
    color: #9E9E9E;
}

.w-7rem {
    width: 7rem;
}

.w-5rem {
    width: 5rem;
}

.mainImgProduct {
    height: 140px;
    margin-right: 5px;
    border-radius: 6px;
}

.productName {
    color: #4A0D4A;
    font-size: 16px;
    font-weight: 700;
    margin-top: 4px;
    white-space: break-space !important;
    margin-bottom: 0px;
}


.editQty {
    height: 44px;
    border-radius: 8px;
    border: 2px solid #4A0D4A;
}

.btn-save{
    background-color: #4A0D4A !important;
                                                          padding-left: 9px;
                                                          border-radius: 0px;
}

.rounded-top-6 {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.w-65{
    width: 65px;
}

.bordet-1-purple {
    border-top:1px solid #4a0d4a;
}

.saveChargeBtn {
    background-color:#4a0d4a; color:white;
}

.cancelChargeBtn {
    background-color:#ff7a00; color:white;
}

.prntBtn {
    width: 85px;
                            height: 37px;
                            border-radius: 4px;
}
.bg-light-white{
    background-color: #F8F8F8;
}

.fa-share-alt {
    color:#777777; font-size:15px; margin-top:10px;
}

.border-1-light {
   border-left: 1px solid #EEEEEE;;
}

.summaryTemplate {
    background:#f7f7f7; border-radius:8px;
}

.big-scroll {
    max-height: 100%;
}

.dropdownBtn {
    width: 55px;
            height: 48px;margin-top: 13px;
}
.overflow-y-scroll {
    overflow-y: scroll;
}

.btn-group{
    width: 146px;
height: 48px;
}

.actionsSec {
    z-index: 9999;
    position: absolute;
    right: -33px;
    top: 33px;
}

.cartSec {
    border-radius: 4px;min-width: 270px;
}

.updatedSpecialPriceEn {
    right: 15px;top: 18px;  z-index: 99;
}

.updatedSpecialPriceAr {
    left: 15px;top: 18px;  z-index: 99;
}

.openSpecialPricEn {
    z-index: 99;     height: 43px;right: 40px;top: 4px;
}

.openSpecialPricAr {
    z-index: 99;     height: 43px;left: 40px;top: 4px;
}