
<div [@routerTransition] class="wrapper">
    <div class="kt-content kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor pt-0">

        <div class="kt-subheader kt-grid__item">
            <div [class]="containerClass">
                <div class="kt-subheader__main">
                    <h6 class="kt-subheader__title">
                        <span>{{ title | localize }}</span>
                    </h6>
                    <span class="kt-subheader__separator kt-subheader__separator--v"></span>

                </div>

            </div>
        </div>


        <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid'">
            <div class="kt-portlet kt-portlet--mobile">
                <div class="kt-portlet__body">
                    <div *ngIf="active">
                        <div class="row" >
                            <div class="col-12 list-toolbar pb-4">
                                <div class="row mb-3 justify-content-between">
                                    <div class="mb-0 mb-4 mb-md-0">
                                        <div class="btn-group dropdown list-toolbar-dropdown" dropdown  *ngIf="showMainFiltersOptions">
                                            <button class="dropdown-toggle btn btn-sm font-weight-normal p-0 "
                                                dropdownToggle>
                                                <span class="list-toolbar-dropdown-filter-selectedItem">
                                                    {{mainFilterCtrl?.value?.label | localize}}
                                                </span>
                                            </button>
                                            <ul class="dropdown-menu actions-dropdown-menu"  *dropdownMenu>
                                                <li *ngFor="let filter of pageMainFilters" class="list-toolbar-dropdown-item">
                                                    <a href="javascript:;" (click)="mainFilterCtrl.setValue(filter)" >
                                                        <span>
                                                            <i [ngClass]="{'visibility-hidden': mainFilterCtrl?.value?.value != filter?.value }"  class="flaticon2-check-mark text-success mr-2 icon-sm list-toolbar-dropdown-icon"></i>
                                                            <span class="list-toolbar-dropdown-title">
                                                                {{ filter?.label | localize }}
                                                            </span>
                                                        </span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="list-toolbar-dropdown-filter-selectedItem font-weight-normal text-dark" *ngIf="!showMainFiltersOptions">{{ mainFilterCtrl?.value?.label | localize }}</div>
                                    </div>
                                    <div class="mb-4 mb-md-0 list-toolbar-search">
                                        <div class="kt-input-icon kt-input-icon--left">
                                            <input type="text"  (input)="handleSearchInput($event)" class="form-control" [placeholder]="'SearchWithThreeDot' | localize" id="generalSearch">
                                            <span class="kt-input-icon__icon kt-input-icon__icon--left">
                                                <span><i class="flaticon2-search-1 icon-md text-primary"></i></span>
                                            </span>
                                        </div>
                                    </div>
                                    <!-- <div class="list-toolbar-divider" *ngIf="canAdd"></div> -->
                                    <div class="mb-4 mb-md-0 text-center" >
                                        <a *ngIf="canAdd" class="btn btn-primary font-weight-normal pl-2 pr-2 text-center list-toolbar-btn"   (click)="createNewMember()"  >
                                            {{'CreateNewContact' | localize}}
                                        </a> <!-- [routerLink]="['/app/main/member/create-member']" -->
                                    </div>
                                    <!-- <div class="list-toolbar-divider"></div> -->
                                    <div class="text-center" >
                                        <a style="padding: 5px 3px;padding-right: 0px;" [title]="'ResetData' | localize" class=" shadowContainer btn btn-hover-primary font-weight-normal text-center text-primary toolbar-btn" (click)="resetList()">
                                            <img src="../../assets/img/input_icons/repeat.png"
                                            class="alarmInfo">
                                        </a>
                                        <a style="padding-left: 10px;" [title]="'ToggleView' | localize" (click)="triggerListView()" class="toggleView btn btn-hover-primary font-weight-normal pr-1 text-center text-primary toolbar-btn">
                                            <i  class="d-inline-block w-100 " [ngClass]="singleItemPerRowMode ? 'flaticon2-menu' : 'fa-bars fas'"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="row justify-content-between">
                                    <div class="font-weight-normal list-toolbar-data-summary" *ngIf="active">
                                        {{ (paginator.getPage()) * primengTableHelper.defaultRecordsCountPerPage  }}-{{ (paginator.getPage() ) * primengTableHelper.defaultRecordsCountPerPage + members.length  }}
                                        {{ "over" | localize}}
                                        {{ primengTableHelper.totalRecordsCount }} {{"ResultsOf" | localize }} "{{mainFilterCtrl?.value?.label | localize}}"
                                    </div>
                                    <div>
                                        <div class="btn-group dropdown list-toolbar-dropdown" dropdown >
                                            <button class="dropdown-toggle btn btn-sm font-weight-normal p-0 sortByDd"
                                                dropdownToggle>
                                                <span class="list-toolbar-dropdown-sort-label">
                                                    {{"SortBy" | localize}}
                                                </span>
                                                <span class="list-toolbar-dropdown-sort-selectedItem">
                                                    {{ sortingCtrl?.value?.label ? ":   " +(sortingCtrl?.value?.label | localize) : "" }}
                                                </span>
                                            </button>
                                            <ul class="dropdown-menu actions-dropdown-menu"  *dropdownMenu>
                                                <li *ngFor="let sortOption of sortingOptions" class="list-toolbar-dropdown-item">
                                                    <a href="javascript:;" (click)="sortingCtrl.setValue(sortOption)" >
                                                        <span>
                                                            <i [ngClass]="{'visibility-hidden':  sortOption?.value != sortingCtrl?.value?.value }"  class="flaticon2-check-mark text-success mr-2 icon-sm list-toolbar-dropdown-item-icon"></i>
                                                            <span class="list-toolbar-dropdown-item-value">
                                                                {{sortOption.label | localize }}
                                                            </span>
                                                        </span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col d-flex flex-column justify-content-between">
                                <div class="row pt-5 pl-2 pr-2">
                                    <div *ngFor="let member of members;index as i;let last = last"
                                    class="col-12 mb-5"
                                    [ngClass]="{
                                        'col-md-12 single-item-per-row-layout' :singleItemPerRowMode,
                                        'col-md-6': !singleItemPerRowMode,
                                        ' pb-5': singleItemPerRowMode && !last
                                    }">
                                        <app-members-list-card
                                            [member]="member"
                                            [singleItemPerRowMode]="singleItemPerRowMode"
                                            (viewMe)="viewMember(member.id,member.userId)"
                                            [isHost]="isHost"
                                            [showActiveStatus]="showActiveStatus"
                                        ></app-members-list-card>
                                    </div>
                                    <div class="font-weight-normal mt-5 p-5 text-center w-100" *ngIf="members.length == 0 && !loading">{{'NoDataFound' | localize}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col d-flex flex-column justify-content-between">
                            <div class="primeng-paging-container custom-paginator">
                                <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage"
                                            #paginator
                                            (onPageChange)="getMembers($event)"
                                            [totalRecords]="primengTableHelper.totalRecordsCount"
                                            [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                                </p-paginator>

                                <div class="total-records-count text-right mr-3">
                                    {{l('TotalRecordsCount', primengTableHelper.totalRecordsCount)}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <entityTypeHistoryModal #entityTypeHistoryModal></entityTypeHistoryModal> -->
    </div>
</div>
