@import '../../../../assets/styles/base/variables';
$default-font-weight : 400;

.status  {
    font-weight: $default-font-weight + 100;
    i{
        color:$white;
        &::before {
            background-color: $orange-1;
            border-radius: 50%;
        }
    }
}
.single-item {
    min-width: 0;
    // transition: all .2s ease-in-out;
    // &:hover {
    //     background-color: #03a9f41a !important;
    //     cursor: pointer;
    //     border-radius: 5px;
    //     transition: all .2s ease-in-out;
    // }
}
.single-item-photo{
    background: center center no-repeat;
    width: 67px;
    height: 67px;
    background-size: cover;
    border-radius: 5px;
    cursor:pointer;
}

.single-item-body {
    position: relative;
}
a.btn {
    cursor: pointer;
}

%transition {
    transition :all 500ms ease-in-out;
}
.single-item-per-row-layout
{
    @extend %transition;
    .single-item-body {
        @extend %transition;
        h3 {
            @extend %transition;
        }
        p {
            @extend %transition;
            span {
                @extend %transition;
            }
        }
    }
}

.single-item
{
    font-weight:$default-font-weight;
    .single-item-body {
        h3 {
            font-weight: $default-font-weight + 100;
        }
        p {
            span {
                font-weight: $default-font-weight + 100;
            }
        }
    }
}
.product-name {
    font-weight: $default-font-weight + 100;
}
.card-name {
    cursor:pointer;
}

.brand-name {
    font-weight: $default-font-weight + 200
}
.dropdown{
    position: absolute;
    right: 1rem;
}


.single-row-mode-status {
    position: absolute;
    top: 3rem;
    right: 0;
}
.success-icon {
    font-size: 6px!important;
    padding: 3px;
}
.action-button{
    padding: 6px 10px!important;
    margin-top: 7px!important;
}
