<div [@routerTransition]>
    <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
            <div class="view-profile-wrapper" *ngIf="active">
                <div>
                    <div class="kt-content kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor pb-0">


                        <div class="kt-subheader kt-grid__item d-flex justify-content-between">
                            <div [class]="containerClass">
                                <div class="kt-subheader__main">
                                    <h6 class="kt-subheader__title">
                                        <span>{{ title | localize }}</span>
                                    </h6>
                                    <span class="kt-subheader__separator kt-subheader__separator--v"></span>
                                    <p class="mb-0">{{ contactDisplayName }}</p>
                                </div>

                            
                            </div>

                            <div class=" ml-2 d-flex align-items-center">
                             
                                <!-- [disabled]="!editjobTitleValue || (editjobTitleValue== memberData?.contact?.jobTitle || editBranchValue== oldEditBranchValue) " -->
                                <button class="btn mb-3 mt-4 mr-3 canclBtn editAccount_butn Save_editMember" [class.hide]="editInfo" (click)="editInfo = true;NoteditInfo = false;Editting=false;cancel()">
                                    {{ "Cancel" | localize }}
                                </button>
                                <button class="btn mb-3 mt-4 editAccount_butn Save_editMember mr-3" type="submit"
                                style="color: white !important;"
                                    [class.hide]="editInfo" (click)="Save_editMember()" >
                                    {{ "Save" | localize }}
                                </button>
                            </div>

                        </div>


                        <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid'">
                            <div class="kt-portlet kt-portlet--mobile">
                                <div class="kt-portlet__body p-0">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div #viewProfileCover
                                                class="dev-cover d-flex justify-content-center align-items-center position-relative">
                                                <app-image-display [image]="coverPhoto || coverDefaultImage"
                                                    [sycAttachmentCategory]="sycAttachmentCategoryBanner"
                                                    [staticWidth]="viewProfileCover?.offsetWidth"
                                                    [classList]="'img-cover'">
                                                </app-image-display>
                                                <div class="view-profile-action-buttons d-flex">

                                            
                                                   <!-- Create User Button (if User Id is not present) -->
                                                    <button *ngIf="canEdit && !isManualOrExternalContact && !getUserIdValue()" 
                                                    class="btn mb-3 mt-4 transparent-button shadow mr-3"
                                                    style="color: #4A0D4A; border-radius: 6px;"
                                                    (click)="CreateUserName()" 
                                                    [disabled]="Editting">
                                                    <!-- <img src="../../assets/img/input_icons/plus.png" class="mr-2 pb-1"> -->
                                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                        <path d="M10.9994 3.22314H9.22172C4.77755 3.22314 2.99988 5.00082 2.99988 9.44499V14.778C2.99988 19.2222 4.77755 20.9999 9.22172 20.9999H14.5547C18.9989 20.9999 20.7766 19.2222 20.7766 14.778V13.0003" stroke="#4A0D4A" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                        <path d="M15.479 4.12991L8.47497 11.1339C8.20832 11.4006 7.94167 11.925 7.88834 12.3072L7.50614 14.9826C7.36392 15.9514 8.04833 16.6269 9.01716 16.4936L11.6926 16.1114C12.0659 16.0581 12.5903 15.7914 12.8658 15.5248L19.8698 8.52076C21.0787 7.31194 21.6475 5.90758 19.8698 4.12991C18.0922 2.35224 16.6878 2.9211 15.479 4.12991Z" stroke="#4A0D4A" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                                                        <path d="M14.4749 5.13428C15.0704 7.25859 16.7325 8.92072 18.8657 9.52512" stroke="#4A0D4A" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                                                        </svg>
                                                    {{ "EditUserInfo" | localize }}
                                                    </button>

                                                    <!-- Edit User Button (if User Id is present) -->
                                                    <button *ngIf="canEdit && !isManualOrExternalContact  && getUserIdValue()" 
                                                    class="btn mb-3 mt-4 transparent-button shadow mr-3"
                                                    style="color: #4A0D4A; border-radius: 6px;"
                                                    (click)="EditUserName()" 
                                                    [disabled]="Editting">
                                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                        <path d="M10.9994 3.22314H9.22172C4.77755 3.22314 2.99988 5.00082 2.99988 9.44499V14.778C2.99988 19.2222 4.77755 20.9999 9.22172 20.9999H14.5547C18.9989 20.9999 20.7766 19.2222 20.7766 14.778V13.0003" stroke="#4A0D4A" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                        <path d="M15.479 4.12991L8.47497 11.1339C8.20832 11.4006 7.94167 11.925 7.88834 12.3072L7.50614 14.9826C7.36392 15.9514 8.04833 16.6269 9.01716 16.4936L11.6926 16.1114C12.0659 16.0581 12.5903 15.7914 12.8658 15.5248L19.8698 8.52076C21.0787 7.31194 21.6475 5.90758 19.8698 4.12991C18.0922 2.35224 16.6878 2.9211 15.479 4.12991Z" stroke="#4A0D4A" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                                                        <path d="M14.4749 5.13428C15.0704 7.25859 16.7325 8.92072 18.8657 9.52512" stroke="#4A0D4A" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                                                        </svg>
                                                        
                                                    {{ "EditUserInfo" | localize }}
                                                    </button>
                                            
                                                    <button *ngIf="canEdit" class="btn mb-3 mt-4 editAccount_butn"
                                                        style="border-radius: 6px;    color: white !important;display: flex;" (click)="editMember()" [disabled]="Editting">
                                                        <img src="../../assets/img/input_icons/edit.png" class="" >
                                                        {{ "Edit" | localize }}
                                                    </button>
                                                    <button *ngIf="canDelete" class="btn mb-3 mt-4 w-100 btn-danger"
                                                        (click)="deleteMember()">
                                                        {{ "Delete" | localize }}
                                                    </button>

                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-md-2">
                                            <div class="dev-logo">
                                                <app-image-display [image]="logoPhoto || logoDefaultImage"
                                                    [sycAttachmentCategory]="sycAttachmentCategoryLogo"
                                                    [classList]="'logo-profile'" [staticHeight]="85">
                                                </app-image-display>
                                            </div>
                                        </div>
                                        <div class="col-md-10 title-cover">
                                            <h5 class="account-name font-weight-bold mx-5">{{getStringValue(701)}}
                                                {{" "}} {{getStringValue(702)}} </h5>
                                            <p class="jobTitle-label">{{getStringValue(706)}} </p>
                                            <div class="desc">
                                                <p>
                                                    {{memberData?.notes}}
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid'">
                    <div class="kt-portlet kt-portlet--mobile profileInfo_container">
                        <div class="kt-portlet__body p-0 pb-3">
                            <div class="pb-5  pr-4 pt-3 pl-3 row">
                                <div class="col-md-12 d-flex align-items-baseline pt-2 pb-2 pl-3 pb-3">
                                    <p class="text-black font-weight-bold mb-2 title-dev-slider text-left">{{"Overview"
                                        | localize}}</p>
                                </div>
                                                     
                                <div class="col-md-12 align-items-baseline pt-2 pb-2 pl-3">
                                    <h6 class="text-right font-weight-bold mr-3"><img
                                            src="../../assets/img/input_icons/outline-work.png" class=""> {{ ( "Code" |
                                        localize ) + " :"}}</h6>
                                    <p class="text-left " style="color: #595959;">{{memberData?.code}}</p>
                                </div>
                            <hr class="header">
                                <div class="col-md-12 align-items-baseline pt-2 pb-2 pl-3">
                                    <h6 class="text-right font-weight-bold mr-3"><img
                                            src="../../assets/img/input_icons/user.png" class=""> {{ ( "First Name" |
                                        localize ) + " :"}}</h6>
                                    <p class="text-left " style="color: #595959;">{{getStringValue(701)}}</p>
                                </div>
                                <hr class="header">
                                <div class="col-md-12 align-items-baseline pt-2 pb-2 pl-3">
                                    <h6 class="text-right font-weight-bold mr-3 "><img
                                            src="../../assets/img/input_icons/user.png" class=""> {{ ( "Sur Name" |
                                        localize ) + " :" }}</h6>
                                    <p class="text-left " style="color: #595959;">{{getStringValue(702)}}</p>
                                </div>
                                <hr class="header">
                                <div class="col-md-12  align-items-baseline pt-2 pb-2 pl-3">
                                    <h6 class="text-right font-weight-bold mr-3 "> <img
                                            src="../../assets/img/input_icons/outline-work.png" class=""> {{ (
                                        "JobTitle" | localize ) + " :" }}</h6>
                                    <p  *ngIf="!editjobTitleValue" class="text-left old_editjobTitle" style="color: #595959;"
                                        [ngClass]="{'hide':NoteditInfo}">{{getStringValue(706)}}</p>
                                        <p  *ngIf="editjobTitleValue" class="text-left old_editjobTitle" style="color: #595959;"
                                        [ngClass]="{'hide':NoteditInfo}">{{editjobTitleValue}}</p>
                                    <input style="color: #595959 !important;" type="text"
                                        class="editjobTitle form-control form-control-sm aria-input-text"
                                        name="JobTitle" #JobTitleInput="ngModel" required name="JobTitle" minlength="2"
                                        maxlength="100" [(ngModel)]="editjobTitleValue"
                                        [placeholder]="'PleaseEnterJobTitle' | localize " required [class.hide]="editInfo">
                                    <validation-messages  *ngIf="NoteditInfo" [formCtrl]="JobTitleInput"></validation-messages>
                                </div>
                                <hr class="header" *ngIf="getJoinDateIsPublic() && getJoinDate()">
                                <div class="col-md-12 align-items-baseline pt-2 pb-2  pl-3" *ngIf="getJoinDateIsPublic() && getJoinDate()">
                                  <h6 class="text-right font-weight-bold mr-3">
                                    <img src="../../assets/img/input_icons/workSpaceIcon.png" class="">
                                    {{ "JoinDate" | localize }} :
                                  </h6>
                                  <p class="text-left" style="color: #595959;">
                                    {{ getJoinDate() | date: 'short' }}
                                  </p>
                                </div>
                                
                                <hr class="header" >
                                <div class="col-md-12  align-items-baseline pt-2 pb-2  pl-3"
                              >
                                    <h6 class="text-right font-weight-bold mr-3 "><img
                                            src="../../assets/img/input_icons/letter.png" class="">{{ ( "Email" |
                                        localize ) + " :" }}</h6>
                                    <p class="text-left " style="color: #595959;">{{memberData?.eMailAddress}}
                                    </p>
                                </div>
                                <hr class="header" >
                                <div class="col-md-12  align-items-baseline pt-2 pb-2 pl-3"
                                >
                                    <h6 class="text-right font-weight-bold mr-3 "> <img
                                            src="../../assets/img/input_icons/language.png" class=""> {{ ( "Language" |
                                        localize ) + " :" }}</h6>
                                    <p class="text-left " style="color: #595959;">{{memberData?.languageName}}
                                    </p>
                                </div>
                                <hr class="header">
                                
                                <div class="col-md-12  align-items-baseline pt-2 pb-2 pl-3 d-flex flex-row">
                                    <h6 class="text-right font-weight-bold mr-3 "> <img
                                            src="../../assets/img/input_icons/location.png" class=""> {{ ( "Branch" |
                                        localize ) + " :" }}</h6>
                                        <p *ngIf="editBranchValue" class="text-left old_editBranch" style="color: #595959;"
                                        [class.hide]="NoteditInfo"> {{editBranchValue}}</p>
                                    <p   class="text-left old_editBranch" style="color: #595959;"
                                        [class.hide]="NoteditInfo"
                                        *ngIf=" !editBranchValue">
                                        <span *ngIf="memberData?.branchName">
                                            {{ memberData?.branchName + ' '}}
                                        </span>
                                        <span *ngIf="memberData?.addressLine1">
                                            {{ " - " + memberData?.addressLine1 + ', '}}
                                        </span>
                                        <span *ngIf="memberData?.addressLine2">
                                            {{ memberData?.addressLine2 + ', '}}
                                        </span>
                                        <span *ngIf="memberData?.city">
                                            {{ memberData?.city + ', '}}
                                        </span>
                                        <span *ngIf="memberData?.state">
                                            {{ memberData?.state + ', ' }}
                                        </span>
                                        <span *ngIf="memberData?.zipCode">
                                            {{memberData?.zipCode }}{{memberData?.countryName ? ', ' : '' }}
                                        </span>
                                        <span *ngIf="memberData?.countryName">
                                            {{ memberData?.countryName }}
                                        </span>
                                    </p>
                                    <div [class.hide]="editInfo">
                                        <input type="text" style="color: #595959 !important;  width: 500px;"
                                            class="editBranch form-control form-control-sm aria-input-text"
                                            [(ngModel)]="editBranchValue" disabled
                                            [placeholder]="'PleaseSelectBranch' | localize ">
                                        <a (click)="selectBranch()" style="color: #4A0D4A !important;">
                                            {{ ( editBranchValue ? 'Change' : 'Choose' ) | localize }}
                                        </a>
                                    </div>

                                </div>
                                <hr class="header"
                                >
                                <div class="col-md-12  align-items-baseline pt-2 pb-2 pl-3"
                               >
                                    <h6 class="text-right font-weight-bold mr-3 ">
                                        <img src="../../assets/img/input_icons/phone.png" class=""> {{
                                        (memberData?.phone1TypeName ? (memberData?.phone1TypeName |
                                        localize) : '') + " " + ( "Number" | localize ) + ' :' }}
                                    </h6>
                                    <p class="text-left " style="color: #595959;">{{memberData?.phone1Number}} <span class="phoneExt">{{memberData?.phone1Ex}}</span>
                                    </p>
                                </div>
                                <hr class="header"   >
                                <div class="col-md-12  align-items-baseline pt-2 pb-2 pl-3"
                         >
                                    <h6 class="text-right font-weight-bold mr-3 ">
                                        <img src="../../assets/img/input_icons/phone.png" class=""> {{
                                        (memberData?.phone2TypeName ? (memberData?.phone2TypeName |
                                        localize) : '') + " " + ( "Number" | localize ) + ' :' }}
                                    </h6>
                                    <p class="text-left " style="color: #595959;">{{memberData?.phone2Number}} <span class="phoneExt">{{memberData?.phone2Ex}}</span>
                                    </p>
                                </div>
                                <hr class="header"    >
                                <div class="col-md-12  align-items-baseline pt-2 pb-2 pl-3"
                              >
                                    <h6 class="text-right font-weight-bold mr-3">
                                        <img src="../../assets/img/input_icons/phone.png" class=""> {{
                                        (memberData?.phone3TypeName ? (memberData?.phone3TypeName |
                                        localize) : '') + " " + ( "Number" | localize ) + ' :' }}
                                    </h6>
                                    <p class="text-left " style="color: #595959;">{{memberData?.phone3Number}} <span class="phoneExt">{{memberData?.phone3Ex}}</span>
                                    </p>
                                </div>
                           
                            </div>

                        </div>
                    </div>

                      
                </div>
            </div>

            <createOrEditUserModal #createOrEditUserModal [filteredUsers]="filteredUsers" (_filterUsers)="filterUsers($event)" (_linkToUser)="linkToUser($event.user, $event.index)" (refreshData)="refresh($event)"></createOrEditUserModal>

    </div>
</div>



<selectBranchModal #selectBranchModal (branchSelected)="branchSelected($event)"
    (branchSelectionCanceled)="branchSelectionCanceled()"></selectBranchModal>