<div [@routerTransition]>
  <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
  
  
                <div class="kt-subheader kt-grid__item">
                  <div [class]="containerClass">
                    <div class="kt-subheader__main">
                        <h3 class="kt-subheader__title">
            				<span>{{l("Entity_Name_Plural_Here")}} {{l("Details")}}</span>
            			</h3>
            			<span class="kt-subheader__separator kt-subheader__separator--v"></span>
            			<div class="kt-subheader__breadcrumbs">
            				<a [routerLink]="['/app/admin/appSubScriptionPlan/appFeatures']"
            					class="kt-subheader__breadcrumbs-home"><i
            						class="flaticon2-shelter"></i>{{l("AppFeature")}}</a>
            				<span class="kt-subheader__breadcrumbs-separator"></span>
            				<a 
            					class="kt-subheader__breadcrumbs-link kt-subheader__breadcrumbs-link--active">
            					<span>{{l("Details")}}</span>
            				</a>
            			</div>
                    </div>
                  </div>
                </div>
             
    <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid'">
        <div class="kt-portlet kt-portlet--mobile">
            <div class="kt-portlet__body">
                <div class="row align-items-center">
                                     <div class="col-6 mb-3">
                        <h6>{{l("Code")}} :</h6>
                        {{ item.appFeature.code }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("Name")}} :</h6>
                        {{ item.appFeature.name }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("Description")}} :</h6>
                        {{ item.appFeature.description }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("UnitOfMeasurementCode")}} :</h6>
                        {{ item.appFeature.unitOfMeasurementCode }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("UnitOfMeasurementName")}} :</h6>
                        {{ item.appFeature.unitOfMeasurementName }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("FeaturePeriodLimit")}} :</h6>
                        {{ item.appFeature.featurePeriodLimit }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("Billable")}} :</h6>
                        <div *ngIf="item.appFeature.billable" class="text-left"><i class="fa fa-check-circle kt--font-success"
                                title="True"></i></div>
                        <div *ngIf="!item.appFeature.billable" class="text-left"><i class="fa fa-times-circle" title="False"></i></div>
                    </div>                    <div class="col-6 mb-3">
                        <h6>{{l("BillingCode")}} :</h6>
                        {{ item.appFeature.billingCode }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("UnitPrice")}} :</h6>
                        {{ item.appFeature.unitPrice }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("Category")}} :</h6>
                        {{ item.appFeature.category }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("TrackActivity")}} :</h6>
                        <div *ngIf="item.appFeature.trackActivity" class="text-left"><i class="fa fa-check-circle kt--font-success"
                                title="True"></i></div>
                        <div *ngIf="!item.appFeature.trackActivity" class="text-left"><i class="fa fa-times-circle" title="False"></i></div>
                    </div>
                 
                </div>
            </div>
        </div>
    </div>
  </div>
</div>
