
<div class="section-content position-relative">

  <!-- Loader -->
  <div
    *ngIf="loading"
    class="section-loading d-flex justify-content-center align-items-center">

    <div class="spinner-border purple-spinner" role="status">
      <span class="sr-only">
        {{ 'Loading' | localize }}
      </span>
    </div>

  </div>
<p-carousel  *ngIf="!loading && sycLangingPageSetting.length > 0"
  [value]="blocksSorted"
  [numVisible]="numVisible"
  [numScroll]="1"
  [responsiveOptions]="ctaResponsiveOptions"
  [circular]="false"
  [showIndicators]="false"
  [showNavigators]="true"
  styleClass="cta-carousel"
>
<ng-template pTemplate="item" let-ctaSection>
  <div class="ctaChildection">
    <a
      class="ctaLink"
      (click)="ctaSection.title === 'Products' ? handleStorageData() : null"
      [routerLink]="['/app/main/marketplace/' + ctaSection.link]"
    >
      <!-- Title -->
      <h3 class="ctaTitle">{{ ctaSection.name }}</h3>

      <!-- Body: image left + description right -->
      <div class="ctaBody">
        <div class="ctaImgWrap">
          <app-image-display
            [image]="
              ctaSection.image
                ? (attachmentBaseUrl + '/' + ctaSection.image)
                : '../../../../assets/placeholders/_logo-placeholder.png'
            "
            [sycAttachmentCategory]="sycAttachmentCategoryCTASlider"
     
          ></app-image-display>
        </div>

        <p class="ctaDesc">
          {{ ctaSection.description }}
        </p>
      </div>
    </a>
  </div>
</ng-template>
</p-carousel>


  <!-- Empty state -->
  <div
    *ngIf="!loading && !hasLoadError && sycLangingPageSetting.length === 0"
    class="section-empty text-center py-5">

    {{ 'NoDataFound' | localize }}

  </div>

  <!-- Error state -->
  <div
    *ngIf="!loading && hasLoadError"
    class="section-error text-center py-5">

    {{ 'FailedToLoadData' | localize }}

  </div>

</div>