<div class="position-relative ctaContainer d-md-block d-none">
    <h1>{{sectionData?.name}}</h1>
    <div *ngIf="blocksSorted.length && blocksSorted.length <= numVisible" class="d-flex flex-row ctaParentSection">
        <div *ngFor="let ctaSection of blocksSorted; " class="ctaChildection pt-2 pl-3 ml-4 mr-4" style="width:20%">
            <a [routerLink]="['/app/main/' + ctaSection.linkPageUrl]">
                <h3>{{ ctaSection.name }}</h3>
                <img [src]="attachmentBaseUrl + '/' + ctaSection.image" class="d-block ctaImage mr-4" />
                <h5 class="ctaDescribtion">{{ ctaSection.description }}</h5>
            </a>
        </div>
    </div>

    <div *ngIf="blocksSorted.length > numVisible" class="d-flex flex-row position-absolute ctaParentSection">
        <p-carousel [value]="blocksSorted" [numVisible]="numVisible" [numScroll]="numScroll" [circular]="false"
            [showIndicators]="false" [showNavigators]="true">
            <ng-template pTemplate="item" let-ctaSection>
                <div class="ctaChildection pt-2 pl-3 ml-4 mr-4">
                    <a (click)="ctaSection.title==='Products' ? handleStorageData() : null"
                        [routerLink]="['/app/main/' + ctaSection.linkPageUrl]">
                        <h3>{{ ctaSection.name }}</h3>
                        <app-image-display
                            [image]="ctaSection.image ? (attachmentBaseUrl + '/' + ctaSection.image) : '../../../../assets/placeholders/_logo-placeholder.png'"
                            [sycAttachmentCategory]="sycAttachmentCategoryCTASlider" [staticHeight]="100">
                        </app-image-display>
                        <h5 class="ctaDescribtion">{{ ctaSection.description }}</h5>
                    </a>
                </div>
            </ng-template>
        </p-carousel>
    </div>




</div>

<div class="d-md-none d-flex row flexContainer w-100" *ngIf="blocksSorted.length">
    <div *ngFor="let ctaSection of blocksSorted; " class="col-6 mt-4">
        <div class="ctaChildection p-4 ml-4 mr-4 h-100">
            <a [routerLink]="['/app/main/' + ctaSection.linkPageUrl]">
                <app-image-display
                    [image]="ctaSection.image ? (attachmentBaseUrl + '/' + ctaSection.image) : '../../../../assets/placeholders/_logo-placeholder.png'"
                    [sycAttachmentCategory]="sycAttachmentCategoryCTASlider" [staticHeight]="100">
                </app-image-display>
                <h3>{{ ctaSection.title || ctaSection.name }}</h3>
            </a>
        </div>
    </div>
    <div class="mr-5 mt-5 pr-5 w-100">
        <button (click)="ctaSeeMore()" *ngIf="blocksSorted.length > numVisible"
            class="btn btn-primary btnSeeMore ml-5 w-100">
            <span>{{ l('SeeMore') }}</span>
        </button>
    </div>
</div>