<div [@routerTransition] [ngClass]="{'d-none':displayVariations}">
    <form #productForm="ngForm" (ngSubmit)="saveProduct(productForm)">
        <div class="kt-content kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor font-weight-normal">
            <div class="kt-subheader kt-grid__item" *ngIf="!displayVariations">
                <div [class]="containerClass" style="background-color: #EEEEEEEE;">
                    <div class="kt-subheader__main">
                        <h3 class="kt-subheader__title">
                            <span class="font-weight-bold">
                                {{headerTitle}}
                            </span>
                        </h3>
                        <span class="kt-subheader__separator kt-subheader__separator--v"></span>
                        <span class="kt-subheader__desc">
                            {{headerDesc}}
                        </span>
                    </div>
                    <div class="kt-subheader__toolbar">
                        <div class="kt-subheader__wrapper">
                            <!-- <a (click)="cancel()" class="text-capitalize mr-5" type="button">
                                <i class="fas fa-arrow-left"></i>
                                {{ "Back" | localize }}
                            </a> -->

                            <a (click)="cancel()" class="text-capitalize mr-5 p-2 pl-4 pr-4" type="button"  style="border-radius: 5px;
                            background-color: white !important;
                            border: white !important;color: #4A0D4A !important;">
                                {{ "Cancel" | localize }}
                            </a>

                            <button class="btn        text-capitalize mr-2" type="submit" [buttonBusy]="saving"
                                [busyText]="l('SavingWithThreeDot')"
                                *ngIf="productForm.touched || formTouched  || listingMode !==1"
                                style="border-radius: 5px;
                                background-color: #4A0D4A !important;
                                border: #4A0D4A !important;color: white;">
                                <span>{{ listingMode !== undefined ? l("SaveListing") : !id  ?  l("SaveProduct") :  l("Save Changes") }}</span>
                            </button>
                            <ng-container *ngIf="listingMode === 1 && !productForm.touched && !formTouched">
                                <button class="btn        text-capitalize mr-2" type="button"
                                    (click)="openShareProductListingModal()">
                                    <span>{{l("Publish")}}</span>
                                </button>
                                <button class="btn btn-buttonNo text-capitalize" [disabled]="!appItem.published"
                                    type="button" (click)="unPublish()">
                                    <span>{{l("UnPublish")}}</span>
                                </button>
                            </ng-container>
                        </div>
                    </div>
                </div>
            </div>
            <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid mt-5' ">
                <div class="kt-portlet kt-portlet--mobile">
                    <div class="kt-portlet__body p-0">
                        <h4 class="font-weight-bold p-3" style="background-color: #EEEEEEEE;
                        border-radius: 5px;"> {{ 'ProductDetails' | localize}} </h4>
                        <div class="row align-items-baseline mb-4 pl-4">
                            <div class="col-lg-2 col-md-3 col-sm-4 col-6">
                                <h6><span class="text-danger">*</span>{{ 'ProductType' | localize}}</h6>
                            </div>
                            <div class="col">
                                <div class="wide-drop-down">
                                    <input type="text" [required]="true" [(ngModel)]="selectedItemTypeData.name"
                                        name="type" readonly class="form-control bg-white form-control-border-grey"
                                        [ngClass]="{'border-danger' : !appItem.entityObjectTypeId && submitted }"
                                        placeholder="{{ 'ProductType' | localize}}"
                                        style="background-color: #EEEEEE !important;
                                        border: none !important">
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-3 col-sm-4 col-6">
                                <a class="font-weight-bold"
                                style="color: #4A0D4A !important;
                                cursor: pointer;"
                                    (click)="openSelectAppItemTypeModal()">
                                    {{ appItem.entityObjectTypeId ? ('Change'|localize) : ('Select'|localize) }}
                                    {{ 'the product type' | localize}}
                                </a>
                            </div>
                        </div>
                        <div class="row align-items-baseline pl-4">
                            <div class="col-lg-2 col-md-3 col-sm-4 col-6">
                                <h6><span class="text-danger">*</span>{{ 'ProductCode' | localize}}</h6>
                            </div> 
                            <div class="col mb-4">

                                <app-codes *ngIf="!(appItem?.id>0)" [objectType]="entityObjectType" [editMode]=false
                                    classes="bg-white" [code]="appItem?.code"
                                    placeHolder="{{ 'ProductCode' | localize}}" (getCodeValue)="getCodeValue($event)"  [maxlength]="12">
                                </app-codes>
                                <app-codes *ngIf="appItem?.id>0" [objectType]="entityObjectType" [readonly]="false"
                                    [editMode]=true classes="bg-white" [code]="appItem?.code"
                                    placeHolder="{{ 'ProductCode' | localize}}"
                                    (getCodeValue)="getCodeValue($event)"
                                    [maxlength]="12"></app-codes>
                            </div>

                            <div class="col-lg-2 col-md-3 col-sm-4 col-6">
                                <span class="text-muted">12 {{ 'digits' | localize}}</span>
                            </div>
                        </div>
                        <div class="row align-items-baseline mb-4 pl-4">
                            <div class="col-lg-2 col-md-3 col-sm-4 col-6">
                                <h6><span class="text-danger">*</span>{{ 'ProductName' | localize}}</h6>
                            </div>
                            <div class="col">
                                <input type="text" [required]="true" [(ngModel)]="appItem.name" name="name"
                                    class="form-control bg-white form-control-border-grey"
                                    [ngClass]="{'border-danger' : !appItem.name && submitted }"
                                    placeholder="{{ 'ProductName' | localize}}"
                                    style="background-color: #EEEEEE !important;
                                    border: none !important">
                            </div>
                            <div class="col-lg-2 col-md-3 col-sm-4 col-6">
                                <span class="text-muted">250 {{ 'digits' | localize}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid'">
                <div class="kt-portlet kt-portlet--mobile">
                    <div class="kt-portlet__body m-0 p-0">
                        <div class="custom-header m-0 p-0">
                            <h6 class="font-weight-bold p-3" style="
                            background-color: #EEEEEEEE;
                            border-radius: 5px;
                        "><span class="text-danger">*</span>{{ 'ProductDescription' | localize}}</h6>
                            <p class="hint m-0 p-0 pl-5 ml-5">
                                <!-- <i class="pr-2 fa fa-bell"></i>  -->
                                <img  class="mr-2"  src="../../../../../assets/Items/Vector2.png"/>
                                 {{ 'BuyersMayAlsoBeInterestedInTheseItemSpecifics' | localize}}</p>
                        </div>
                        <div class="row mt-4 pl-5 ml-5">
                            <!-- <div class="col-lg-2 col-md-3 col-sm-4 col-6">
                                <h6><span class="text-danger">*</span>{{ 'ItemDescription' | localize}}</h6>
                            </div> -->
                            <div class="col-md-8 custom-tab">
                                <tabset>
                                    <tab 
                                    heading="{{ 'Standard' | localize }}"
                                    (selectTab)="triggerDescription($event, 0)">
                                   <div *ngIf="activeDescriptionIndex==0">
                                            <p-editor [required]="true" [appFixPEditorAutoScroll]="appItem.description"
                                                name="description" [readonly]="readonlyDesc"
                                                [(ngModel)]="appItem.description" [style]="{'height':'300px'}">
                                            </p-editor>
                                        </div>
                                    </tab>
                                    <tab heading="{{ 'HTML' | localize }}" (selectTab)="triggerDescription($event, 1)">
                                        <div class="form-group" *ngIf=" activeDescriptionIndex == 1 ">
                                            <textarea [required]="true" name="description"
                                                placeholder="{{ 'description' | localize}}"
                                                [(ngModel)]="appItem.description" class="form-control"
                                                id="exampleFormControlTextarea1" rows="5"  style="background-color: white !important;
                                                border: 1px solid #c8c8c8 !important;"></textarea>
                                        </div>
                                    </tab>
                                </tabset>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid' ">
                <div class="kt-portlet kt-portlet--mobile">
                    <div class="kt-portlet__body">
                        <div class="row align-items-baseline mb-4 border p-4 rounded-lg" style="border-radius: 12px;">
                            <div class="">
                                <h6  class="font-weight-bold">{{ 'Categories' | localize}}:</h6>
                            </div>
                            <div>
                                <div
                                    class="aria-tag-wrapper d-flex flex-wrap pt-3 pb-0 pl-3 pr-0   rounded-lg thin-scroll">
                                    <div class="mb-3" *ngIf="!categories?.length;else categoriesElse">{{
                                        'NoCategoriesSelected' | localize}} ...</div>
                                    <ng-template #categoriesElse>
                                        <a class="aria-tag border mb-3 mr-3 pb-2 pl-3 position-relative pr-3 pt-2 rounded-lg"
                                            *ngFor="let category of categories;index  as i"
                                            [ngClass]="{'removed' : category.removed}">
                                            {{category?.entityDto?.entityObjectCategoryName}}
                                            <span *ngIf="!category.removed"
                                                class="bg-white position-absolute aria-tag-action remove-tag  rounded-circle"
                                                (click)="removeCategory(category,i)">
                                                <i class="flaticon2-delete"></i>
                                            </span>
                                            <span *ngIf="category?.removed"
                                                class="bg-white position-absolute aria-tag-action undo-tag rounded-circle "
                                                (click)="undoCategory(category)">
                                                <i class="flaticon2-circular-arrow"></i>
                                            </span>
                                        </a>
                                        <a class="font-weight-bold mt-2 text-primary pointer"
                                            (click)="loadMoreCategories()"
                                            *ngIf="categories.length < categoriesTotalCount">
                                            {{ 'showmore' | localize }} ...
                                        </a>
                                    </ng-template>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-3 col-sm-4 col-6">
                                <a class="text-primary pointer font-weight-bold border p-3" style="border-radius: 6px;" (click)="openSelectCategoriesModal()">
                                    <span *ngIf="categories?.length" class="mr-1">+</span>     {{ categories?.length ? 'Add' : 'Select' }}
                                    {{ 'Categories' | localize}}
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid' ">
                <div class="kt-portlet kt-portlet--mobile">
                    <div class="kt-portlet__body">
                        <div class="row align-items-baseline mb-4 border p-4 rounded-lg"  style="border-radius: 12px;">
                            <div class="">
                                <h6  class="font-weight-bold">{{ 'Classifications' | localize}}:</h6>
                            </div>
                            <div>
                                <div
                                    class="aria-tag-wrapper d-flex flex-wrap pt-3 pb-0 pl-3 pr-0   rounded-lg thin-scroll">
                                    <div class="mb-3" *ngIf="!classifications?.length;else classificationElse">
                                        {{ 'NoClassificationsSelected' | localize}} ...
                                    </div>
                                    <ng-template #classificationElse>
                                        <a class="aria-tag border mb-3 mr-3 pb-2 pl-3 position-relative pr-3 pt-2 rounded-lg"
                                            *ngFor="let classification of classifications;index  as i"
                                            [ngClass]="{'removed' : classification.removed}">
                                            {{classification?.entityDto?.entityObjectClassificationName}}
                                            <span *ngIf="!classification.removed"
                                                class="bg-white position-absolute aria-tag-action remove-tag  rounded-circle"
                                                (click)="removeClassification(classification,i)">
                                                <i class="flaticon2-delete"></i>
                                            </span>
                                            <span *ngIf="classification?.removed"
                                                class="bg-white position-absolute aria-tag-action undo-tag rounded-circle "
                                                (click)="undoClassification(classification)">
                                                <i class="flaticon2-circular-arrow"></i>
                                            </span>
                                        </a>
                                        <a class="font-weight-bold mt-2 text-primary pointer"
                                            (click)="loadMoreClassifications()"
                                            *ngIf="classifications.length < classificationsTotalCount">
                                            {{ 'showmore' | localize }} ...
                                        </a>
                                    </ng-template>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-3 col-sm-4 col-6">
                                <a class="text-primary pointer font-weight-bold border p-3"  style="border-radius: 6px;" (click)="openSelectClassificationsModal()">
                                    <span *ngIf="categories?.length" class="mr-1">+</span>   {{ classifications?.length ? 'Add' : 'Select' }}
                                    {{ 'Classifications' | localize}}
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid' ">
                <div class="kt-portlet kt-portlet--mobile">
                    <div class="kt-portlet__body">
                        <div class="row align-items-baseline mb-4 border p-4 rounded-lg"  style="border-radius: 12px;">
                            <div class="">
                                <h6 class="font-weight-bold">{{ 'Departments' | localize}}:</h6>
                            </div>
                            <div>
                                <div
                                    class="aria-tag-wrapper d-flex flex-wrap pt-3 pb-0 pl-3 pr-0   rounded-lg thin-scroll">
                                    <div class="mb-3" *ngIf="!departments?.length;else departmentsElse">{{
                                        'NoDepartmentsSelected' | localize}} ...</div>
                                    <ng-template #departmentsElse>
                                        <a class="aria-tag border mb-3 mr-3 pb-2 pl-3 position-relative pr-3 pt-2 rounded-lg"
                                            *ngFor="let department of departments;index  as i"
                                            [ngClass]="{'removed' : department.removed}">
                                            {{department?.entityDto?.entityObjectCategoryName}}
                                            <span *ngIf="!department.removed"
                                                class="bg-white position-absolute aria-tag-action remove-tag  rounded-circle"
                                                (click)="removeDepartment(department,i)">
                                                <i class="flaticon2-delete"></i>
                                            </span>
                                            <span *ngIf="department?.removed"
                                                class="bg-white position-absolute aria-tag-action undo-tag rounded-circle "
                                                (click)="undoDepartment(department)">
                                                <i class="flaticon2-circular-arrow"></i>
                                            </span>
                                        </a>
                                        <a class="font-weight-bold mt-2 text-primary pointer"
                                            (click)="loadMoreDepartments()"
                                            *ngIf="departments.length < departmentsTotalCount">
                                            {{ 'showmore' | localize }} ...
                                        </a>
                                    </ng-template>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-3 col-sm-4 col-6">
                                <a class="text-primary pointer font-weight-bold border p-3"  style="border-radius: 6px;" (click)="openSelectDepartmentsModal()">
                                    <span *ngIf="categories?.length" class="mr-1">+</span>   {{ departments?.length ? 'Add' : 'Select' }}
                                    {{ 'Departments' | localize}}
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid' ">
                <div class="kt-portlet kt-portlet--mobile">
                    <div class="kt-portlet__body  p-0">
                        <div class="row align-items-baseline mb-5 item-photos">
                            <div class="col-12 item-photos-header pb-2">
                                <div class="d-flex  justify-content-between">
                                    <div class="w-100">
                                        <h6 class="font-weight-bold p-3" style="
                                        background-color: #EEEEEEEE;
                                        border-radius: 5px;">
                                          <span class="text-danger">*</span>  {{ 'ProductPhotos' | localize}}
                                        </h6>
                                            <p class="hint m-0 p-0 pl-5 ml-5 mt-4">
                                                <!-- <i class="pr-2 fa fa-bell"></i>  -->
                                                <img  class="mr-2"  src="../../../../../assets/Items/Vector2.png"/>  {{ 'YouCanChangeTheVariationTypeToAddMorePhotos' | localize}}
                                        </p>
                                    </div>
                                    <div>
                                        <!-- <button type="button" class="bg-white btn  p-1 text-center mr-2">
                                            <i class="flaticon-multimedia-4 m-0 p-0"></i>
                                        </button> -->
                                        <button (click)="removeAllAttachments()" type="button"
                                            class="bg-white btn  p-1 text-center"
                                            [disabled]="attachmentsSrcs.length == 1">
                                            <i class="flaticon-delete m-0 p-0"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 item-photos-body pt-4 pb-5 ml-5 pl-5">
                                <div class="row pt-3 pb-3 pl-3">
                                    <div class="image-wrapper mb-5" style="border: 1px solid #4A0D4A !important;
    border-radius: 12px !important;" [ngClass]="{'upload':!attachment}"
                                        *ngFor="let attachment of attachmentsSrcs; index as i">
                                        <label *ngIf="!attachment"
                                            class="d-flex flex-column justify-content-center h-100 align-items-center"
                                            for="file_{{i}}">
                                            <div
                                                class="align-items-end d-flex justify-content-center upload-image-icons ml-5 mb-3 mt-3">
                                               <!--  <div class="left-icon">
                                                    <i class="fa-photo-video fas "></i>
                                                </div>
                                                <div class="middle-icon">
                                                    <i class="fa-clipboard-list fas "></i>
                                                </div>
                                                <div class="right-icon">
                                                    <i class="fas fa-file-video "></i>
                                                </div> -->
                                                <div class="middle-icon">
                                                    <i class="fas " > <img src="../../../assets/placeholders/cloud-add.png" /> </i>
                                                </div>
                                            </div>
                                            <div class="text-center  pl-5 ml-5">
                                                <p  style="font-weight: bold; color: black;
    white-space: nowrap;">
                                                    Choose a file or drag & drop it here
                                                    <p >
                                                <!-- <a class="btn        btn-sm mb-3 upload-btn">
                                                    {{ 'AddAttachedFile' | localize}}
                                                </a> -->
                                                <p>
                                                    <!-- {{ 'YouCanSendUpTo25MBInAttachments' | localize}}. -->
                                                    {{ 'File an be JPEG, PNG, PDf, and MP4 formats, up to 25 MB' | localize}}.   
                                                </p>
                                                <p style="color: #F6851D !important;">*Image Aspect-Ratio is 16:9 </p>

                                                <a class="btn btn-primary btn-sm mb-3 upload-btn" style="color: white !important; background-color: #4A0D4A !important;">
                                                    <!-- {{ 'AddAttachedFile' | localize}} -->
                                                    {{ 'Browse File' | localize}}
                                                </a>
                                            </div>
                                        </label>
                                        <a *ngIf="attachment"
                                            class="d-flex flex-column justify-content-center h-100 align-items-center kt-avatar">
                                            <div
                                                class="d-flex flex-column justify-content-center h-100 w-100 position-absolute view-img-overlay">
                                                <div class="text-center mb-3">
                                                    <i class="fa-photo-video fas bg-transparent text-white fa-3x"></i>
                                                </div>
                                                <div class="text-center">
                                                    <button type="button"
                                                        class="btn btn-dark text-white border-lg border-white"
                                                        (click)="openImageViewer(attachment)">
                                                        {{ 'ImagePreview' | localize}}
                                                    </button>
                                                </div>
                                                <div class="bg-white kt-avatar__upload" for="file"
                                                    (click)="removePhoto(i)">
                                                    <!-- <i class="fa fa-times text-danger"></i> -->
                                                    <img  class="mr-2"  src="../../../../../assets/Items/Frame 1707478667.png"/>
                                                </div>
                                            </div>
                                            <!-- <img *ngIf="!appItem.entityAttachments && !appItem.entityAttachments.length" src="../../../../../assets/img/Untitled.png"/> -->
                                            <img *ngIf="attachment" [src]="attachment" />
                                            <a class="select-default-image p-2"
                                            style="    border: 1px solid #EEEEEEEE !important;
    border-radius: 12px;"
                                                [ngClass]="{'d-block' : defaultImageIndex == i}"
                                                (click)="setDefaultImage(i)">
                                                <i class="fa fa-check-square mr-2"
                                                    [ngClass]="defaultImageIndex == i? 'text-purple':'text-grey' "> </i>
                                             <label class="text-purple">  {{ 'Default Image' | localize}}</label> 
                                            </a>
                                        </a>
                                        <input type="file" id="file_{{i}}" class="d-none" #file
                                            (change)="fileChange($event,productImageCategory,i,undefined,true)"
                                            style="background-color: #EEEEEE !important;
                                            border: none !important">
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid' ">
                <div class="kt-portlet kt-portlet--mobile">
                    <div class="kt-portlet__body  p-0">
                        <div class="row align-items-end mb-4">
                            <div class="col-12">
                                <h6 class="font-weight-bold p-3" style="
                                background-color: #EEEEEEEE;
                                border-radius: 5px;">
                                  <span class="text-danger">*</span>  {{ 'Price' | localize}}
                                </h6>
                            </div>
                            <div class=" ml-4 pl-4 row pt-4" *ngIf="defaultCurrencyMSRPPriceIndex > -1"
                                style="gap:20px">
                                <div class="row mr-5 pr-5">
                                    <h6 class="font-weight-bold">
                                        <span class="text-danger">*</span>
                                        {{ 'MSRP' | localize}}
                                    </h6>
                                    <div class="d-flex align-items-baseline">
                                        <span
                                            class="mr-2">{{appItem.appItemPriceInfos[defaultCurrencyMSRPPriceIndex].currencySymbol}}</span>
                                        <!-- <p-inputNumber [ariaRequired]="true" mode="decimal" #AppItem_Price="ngModel"
                                            [(ngModel)]="appItem.appItemPriceInfos[defaultCurrencyMSRPPriceIndex].price" name="price" [min]="1" [styleClass]="'price'"
                                            [minFractionDigits]="2" [maxFractionDigits]="2">
                                        </p-inputNumber> -->

                                        <input type="number" step="any" name="price" class="form-control"
                                            id="AppItem_Price" #AppItem_Price="ngModel"
                                            [ngModel]="convertTodecimal(appItem.appItemPriceInfos[defaultCurrencyMSRPPriceIndex].price)"
                                            [ngModelOptions]="{updateOn:'blur'}"
                                            (ngModelChange)="appItem.appItemPriceInfos[defaultCurrencyMSRPPriceIndex].price=convertTodecimal($event)" 
                                            style="background-color: #EEEEEE !important;
                                            border: none !important"
                                           >
                                           <!-- required [min]="1"  -->
                                        <!-- <div *ngIf="!appItem?.appItemPriceInfos[defaultCurrencyMSRPPriceIndex]?.price  || appItem?.appItemPriceInfos[defaultCurrencyMSRPPriceIndex]?.price <=0">
                                            <span class="ml-2">
                                                <validation-messages [formCtrl]="AppItem_Price"></validation-messages> 
                                                {{PriceValidMsg}}
                                            </span>
                                        </div> -->
                                    </div>
                                </div>
                               <!--  <div *ngIf="defaultCurrencyMSRPPriceIndex > -1">
                                    <div class="d-flex align-items-baseline">
                                        <button class="btn mr-5 ml-5" type="button"
                                            (click)="showAdvancedPricingModal()" style="
                                            background-color: #4A0D4A;
                                            border-radius: 5px;
                                            color: white;
                                        ">
                                            {{'AdvancedPricing' | localize}}
                                        </button>
                                    </div>
                                </div> -->
                            </div>
                            <div class="d-flex flex-row ml-5 pl-5 mr-5 pr-5">
                                <h6  class="font-weight-bold ml-5 pl-5 mr-3"><span class="text-danger">*</span>
                                    {{ 'AvailableQuantity' | localize}}
                                </h6>
                                <p-inputNumber [ariaRequired]="true" mode="decimal" #AppItem_StockAvailability="ngModel"
                                    [(ngModel)]="appItem.stockAvailability" name="stockAvailability" [min]="0"
                                    [disabled]="appItem?.variationItems?.length || sellVariationChecked"
                                    (ngModelChange)="stockAvailabilityChanged($event)" class="bg-input custom-style" >
                                </p-inputNumber>
                                <span class="ml-2">
                                    <validation-messages [formCtrl]="AppItem_StockAvailability"></validation-messages>
                                </span>
                            </div>
                            <div *ngIf="defaultCurrencyMSRPPriceIndex > -1">
                                <div class="d-flex align-items-baseline ml-5 pl-5">
                                    <button class="btn mr-5 ml-5" type="button"
                                        (click)="showAdvancedPricingModal()" style="
                                        background-color: #4A0D4A;
                                        border-radius: 5px;
                                        color: white;
                                    ">
                                        {{'AdvancedPricing' | localize}}
                                    </button>
                                </div>
                            </div>
                            <div class="col-10 pl-4 ml-4 mt-4">
                                <span>
                                    <input type="checkbox" [(ngModel)]="sellVariationChecked" name="showVariationsBtn"
                                        (ngModelChange)="askToRemoveAllVariations($event)"
                                        style="background-color: #EEEEEE !important;
                                        border: none !important"/>
                                </span>
                                <span>
                                    {{'PleaseCheckThisBoxIfYouSellMultipleVariationsOfYourProduct' | localize}}.
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid' ">
                <div class="kt-portlet kt-portlet--mobile">
                    <div class="kt-portlet__body">
                        <div class="row align-items-baseline"
                            *ngIf="!(!appItem?.variationItems?.length  && listingMode !== undefined)">
                            <div class="col-lg-2 col-md-3 col-sm-4 col-6">
                                <h6 class="font-weight-bold">
                                    {{ 'Variations' | localize}}
                                </h6>
                            </div>
                            <div class="col" *ngIf="!appItem?.variationItems?.length">
                                <div class="d-flex align-items-center">
                                    <button type="button" class="btn       " [disabled]="!sellVariationChecked"
                                        (click)="showCreateOrEditVariationPage()" style="
                                        background-color: #4A0D4A;
                                        border-radius: 5px;
                                        color: white;
                                    ">{{"CreateVariation" | localize}}
                                    </button>
                                    <div class="hint w-50 ml-3">
                                        <!-- <i class="pr-2 fa fa-bell"></i>  -->
                                         <img  class="mr-2"  src="../../../../../assets/Items/Vector2.png"/> {{
                                        'IfYouSellMultipleVariationsOfYourItem,YouCanListAllOfThemInOneMulti-Quantity,Fixed-priceListing.ThisSavesYouTimeAndMoney.'
                                        | localize}}
                                    </div>
                                </div>
                            </div>
                            <div class="col" *ngIf="appItem?.variationItems?.length">
                                <div class="d-flex flex-column">
                                    <div class="mb-3">
                                        <app-variations-meta-info [showPriceRange]='true'
                                            [extraAttributes]="this.selectedItemTypeData?.extraAttributes?.extraAttributes"
                                            [variations]="appItem.variationItems"
                                            [stockAvailability]="appItem.stockAvailability">
                                        </app-variations-meta-info>
                                    </div>
                                    <div class="text-right">
                                        <button type="button" class="btn btn-outline-primary "
                                        style="border-radius: 5px;
                                        background-color: #4A0D4A !important;
                                        border: #4A0D4A !important;color: white !important;"
                                            (click)="showCreateOrEditVariationPage()">{{ 'EditVariations' |
                                            localize}}</button>
                                        <button type="button" class="btn btn-outline-hover-danger text-danger font-weight-bold"
                                            *ngIf="listingMode === undefined" (click)="removeAllVariations()"
                                            style="border-radius: 5px;
                                            background-color: white !important;
                                            border: white !important;color: #4A0D4A  !important;">{{
                                            'RemoveAll' | localize}}</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="d-flex flex-column">
                <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid'"
                    [ngStyle]="{'order':extraAttributeObject.value.orderOfDisplay}"
                    *ngFor="let extraAttributeObject of extraAttributes | keyvalue">
                    <div class="kt-portlet kt-portlet--mobile">
                        <div class="kt-portlet__body">
                            <p-accordion>
                                <p-accordionTab>
                                    <ng-template pTemplate="header">
                                        <div class="d-inline-block custom-header p-3">
                                            <h6 class="mb-1 font-weight-bold">{{extraAttributeObject.value.header | localize}}</h6>
                                            <p class="hint m-0 p-0">{{extraAttributeObject.value.title | localize}}</p>
                                        </div>
                                    </ng-template>
                                    <div class="row justify-content-center mt-4">
                                        <div class="col-lg-8 col-md-10 col">
                                            <div class="row justify-content-center pt-4">
                                                <div class="col-md-6 col-12 mb-4"
                                                    [ngClass]="{ 'd-none' : extraAttr.isSelectedOnVariation && extraAttr.isVariation}"
                                                    *ngFor="let extraAttr of extraAttributeObject.value.extraAttributes">
                                                    <div *ngIf="!extraAttr.isSelectedOnVariation && !extraAttr.isVariation">
                                                        <div>
                                                            <label>{{extraAttr.name | localize}}</label>
                                                        </div>
                                                        <div class="d-flex align-items-center">

                                                            <div class="wide-drop-down d-flex flex-grow-1 "
                                                                *ngIf="extraAttr?.paginationSetting && extraAttr?.acceptMultipleValues && extraAttr.isLookup">
                                                                <div class="flex-grow-1 mr-1">
                                                                    <p-multiSelect
                                                                        [options]="extraAttr.paginationSetting.list"
                                                                        [styleClass]="'w-100'"
                                                                        [(ngModel)]="extraAttr.selectedValues"
                                                                        name="extraAttr_{{extraAttr.name}}"
                                                                        [placeholder]="l('Select') + ' ' + extraAttr.name"
                                                                        (onChange)="multiValuesExtraAttributeOnChange($event,extraAttr)">
                                                                    </p-multiSelect>
                                                                    <!-- <app-dropdown-with-pagination
                                                                        [paginationSettings]="extraAttr.paginationSetting"
                                                                        [title]='extraAttr.name'
                                                                        [selectionType]='DropdownSelection.Multi'
                                                                        [initialValues]="extraAttr.selectedValues"
                                                                        (selectionChanged)='multiValuesExtraAttributeOnChange($event,extraAttr)'
                                                                        (loadMoreData)="loadMoreLookupData(extraAttr)"
                                                                    >
                                                                    </app-dropdown-with-pagination> -->
                                                                </div>
                                                            </div>

                                                            <div class="wide-drop-down flex-grow-1 "
                                                                *ngIf="extraAttr?.paginationSetting && !extraAttr?.acceptMultipleValues && extraAttr.isLookup">
                                                                <!-- <app-dropdown-with-pagination
                                                                    [paginationSettings]="extraAttr.paginationSetting"
                                                                    [title]='extraAttr.name'
                                                                    [selectionType]='DropdownSelection.Single'
                                                                    (selectionChanged)='singleValueExtraAttributeOnChange($event,extraAttr)'
                                                                    (loadMoreData)="loadMoreLookupData(extraAttr)"
                                                                >
                                                                </app-dropdown-with-pagination> -->
                                                                <p-dropdown [options]="extraAttr.paginationSetting.list"
                                                                    [styleClass]="'w-100'"
                                                                    [(ngModel)]="extraAttr.selectedValues"
                                                                    name="extraAttr_{{extraAttr.name}}"
                                                                    [placeholder]="l('Select') + ' ' + extraAttr.name"
                                                                    (onChange)="singleValueExtraAttributeOnChange($event,extraAttr)">
                                                                </p-dropdown>
                                                            </div>
                                                            <div class="flex-grow-1"
                                                                *ngIf="extraAttr.dataType === 'string' && !extraAttr.isLookup">
                                                                <input type="text"
                                                                    (keyup)="notLookupExtraAttributeOnChange($event.target.value,extraAttr)"
                                                                    name="{{extraAttr.name}}"
                                                                    placeholder="{{extraAttr.name}}"
                                                                    class="form-control"
                                                                    id="extraAttr{{extraAttr.name}}"
                                                                    [(ngModel)]="extraAttr.selectedValues"
                                                                    style="background-color: #EEEEEE !important;
                                                                    border: none !important">
                                                            </div>
                                                            <div class="flex-grow-1"
                                                                *ngIf="extraAttr.dataType === 'boolean' || extraAttr.dataType === 'bit' ">
                                                                <div class="radio-inline mt-2">
                                                                    <label class="radio radio-accent radio-primary mr-4"
                                                                        for="extraAttr{{extraAttr.name}}_1">
                                                                        <input type="radio"
                                                                            (click)="notLookupExtraAttributeOnChange('true',extraAttr)"
                                                                            name="extraAttr_{{extraAttr.name}}"
                                                                            id="extraAttr{{extraAttr.name}}_1"
                                                                            [value]="'true'"
                                                                            [(ngModel)]="extraAttr.selectedValues" 
                                                                            style="background-color: #EEEEEE !important;
                                                                            border: none !important"/>
                                                                        {{ "Yes" | localize }}
                                                                    </label>
                                                                    <label class="radio radio-accent radio-primary"
                                                                        for="extraAttr{{extraAttr.name}}_0">
                                                                        <input type="radio"
                                                                            (click)="notLookupExtraAttributeOnChange('false',extraAttr)"
                                                                            name="extraAttr_{{extraAttr.name}}"
                                                                            id="extraAttr{{extraAttr.name}}_0"
                                                                            [value]="'false'"
                                                                            [(ngModel)]="extraAttr.selectedValues"
                                                                            style="background-color: #EEEEEE !important;
                                                                            border: none !important">
                                                                        {{ "No" | localize }}
                                                                    </label>
                                                                    <a *ngIf="extraAttr.selectedValues"
                                                                        class="ml-5 pointer text-black-50 font-weight-bold"
                                                                        (click)="resetExtraAttributeSelectedValue(extraAttr)">
                                                                        Reset</a>
                                                                </div>
                                                            </div>
                                                            <div class="flex-grow-1"
                                                                *ngIf="extraAttr.dataType === 'Datetime' ">
                                                                <input type="text"
                                                                    (ngModelChange)="notLookupExtraAttributeOnChange($event,extraAttr)"
                                                                    (keyup)="notLookupExtraAttributeOnChange($event.target.value,extraAttr)"
                                                                    name="{{extraAttr.name}}" autocomplete="off"
                                                                    placeholder="{{extraAttr.name}}"
                                                                    class="form-control"
                                                                    [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }"
                                                                    bsDatepicker id="extraAttr{{extraAttr.name}}"
                                                                    [(ngModel)]="extraAttr.selectedValues"
                                                                    style="background-color: #EEEEEE !important;
                                                                    border: none !important">
                                                            </div>
                                                            <div class="flex-grow-1"
                                                                *ngIf="extraAttr.dataType === 'Numeric' ">
                                                                <input type="number"
                                                                    (keyup)="notLookupExtraAttributeOnChange($event.target.value,extraAttr)"
                                                                    name="{{extraAttr.name}}"
                                                                    placeholder="{{extraAttr.name}}"
                                                                    class="form-control"
                                                                    id="extraAttr{{extraAttr.name}}"
                                                                    [(ngModel)]="extraAttr.selectedValues"
                                                                    style="background-color: #EEEEEE !important;
                                                                    border: none !important">
                                                            </div>

                                                            <!-- <p class="ml-2" *ngIf="extraAttr.isLookup && !extraAttr?.lookupData?.length">{{ "NoData" | localize }} ...</p> -->
                                                            <a class="border rounded text-primary add-new-lookup-btn ml-3"
                                                                *ngIf="extraAttr.isLookup && extraAttr.allowAddNew"
                                                                (click)="openCreateNewAppEntityModal(extraAttr)">
                                                                <i class="fas fa-pen"></i>
                                                            </a>
                                                        </div>

                                                    </div>
                                                </div>
                                                <div>
                                                    <small class="ml-2"
                                                        *ngIf="!extraAttributeObject.value?.extraAttributes?.length && !appItem.entityObjectTypeId">{{
                                                        "PleaseSelectAProductTypeFirst" | localize }}</small>
                                                    <small class="ml-2"
                                                        *ngIf="!extraAttributeObject.value?.extraAttributes?.length && appItem.entityObjectTypeId">{{
                                                        "No" | localize }} {{extraAttributeObject.value.header}} {{
                                                        "Attributes" | localize }}</small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </p-accordionTab>
                            </p-accordion>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </form>
</div>

<div [@routerTransition] *ngIf="displayVariations">
    <app-create-edit-app-item-variations [extraVariationsTypes]="extraVariationsTypes" [appItem]="appItem" [selectedItemTypeData]="selectedItemTypeData"
        (cancel)="hideVariations($event)" [defaultAppItemImage]="this.attachmentsSrcs[this.defaultImageIndex]"
        (applyVariations)="applyVariations($event)" [isListing]="listingMode !== undefined" [listingMode]="listingMode"
        [currencies]="selectedCurrencies" [updateVariation]="updateVariation" [productTypeId]="productTypeId"
        [productCode]="appItem.code">
    </app-create-edit-app-item-variations>
</div>


<app-advanced-pricing *ngIf="showAdvancedPricing" [appItem]="appItem" [prices]="appItem.appItemPriceInfos"
    [allCurrencies]="allCurrencies" [readOnly]="false" (_submit)="productAdvancedPriceChangesHandler($event)"
    (_cancel)="hideAdvancedPricingModal()" (updateVariation)="onUpdateVariation($event)">
</app-advanced-pricing>