.AddOnsBoldText{
    font-family: Poppins;font-size: 16px;
    font-weight: 600;line-height: 24px;text-align: left;
    color: var(--Header-Text-Color, #1B101B);
}
.AddOnsRegularText{
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
}
.auto-width {
    white-space: nowrap;
    overflow: 'auto!important';
    text-overflow: ellipsis;
  }
  .btn-add
  {
    width: 120px;
    height: 42px;
    padding: 9px 43px 9px 43px;
    gap: 10px;
    border-radius: 6px 6px 6px 6px;
    opacity: 0px;
    background: var(--Primary-Color, #4A0D4A);
    color: #FFFFFF;
    font-family: Poppins;font-size: 16px;font-weight: 600;line-height: 24px;text-align: left;
    text-align: center;
  
  }
  .price-txt
  {
    font-family: Poppins;font-size: 16px;font-weight: 700;line-height: 24px;text-align: center;
  }
  .progress-bar {
    width: 74px;height: 4px;left: 1px;gap: 0px;border-radius: 4px 4px 4px 4px;opacity: 0px;
    background: #D9D9D9;
    position: relative;
  }
  
  .progress-bar-fill {
    width: 39px;height: 4px;gap: 0px;border-radius: 4px 4px 4px 4px;opacity: 0px;
    background: var(--Primary-Color, #4A0D4A);
  }
  .container {
    display: flex;
    /* Optional: space-between will ensure space between items, adjust as needed */
    justify-content: space-between;
    word-spacing: normal;
   // align-items: flex-start;
  }
  .container-block {
    display: flex;
    align-items:  flex-start;
    flex-direction: column; /* Aligns items vertically */
    align-items: left;    /* Centers items horizontally */
    //justify-content: center;
    //text-align: left;
    
    //position: relative;
    //left:auto;
  }

  ::ng-deep {
    .p-datatable {
      margin-bottom: 20px;
    }
    .container{
    ::-webkit-scrollbar {
      width: 8px !important; /* Adjust the width as necessary */
    }
    
    ::-webkit-scrollbar-thumb {
      border-radius: 20px !important;
      background: #FFF !important;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) !important;
    }
    
    ::-webkit-scrollbar-track {
      background-color: #D9D9D9 !important; /* Set the color of the track */
    }
  }
    .p-inputnumber-buttons-stacked .p-inputnumber-input {
      width: 35px !important;
      padding-right: 0 !important;
    }
    .p-inputnumber-buttons-stacked .p-inputnumber-button-group .p-button.p-inputnumber-button {
      width: 18px !important;
    }
    .p-inputtext{
      border-radius: 2px 0px 0px 2px !important;
border: 1px solid #ECECEC !important;
background: #FFF !important;
    }
    .p-inputtext:enabled:focus {
      box-shadow:  none !important;
    }
    .p-datatable .p-datatable-thead > tr > th , .table-bordered thead th, .table-bordered thead td{
      border-radius: 10px 10px 0px 0px !important;
      border: 1px solid #EEE !important;
      background: rgba(248, 248, 248, 0.98) !important;
      text-align: center !important;
    }
    .p-datatable .p-datatable-tbody > tr > td {
      border: 1px solid #EEE !important;
      text-align: center !important;

    }
    .first-col svg {
      margin-right: 5px;
    }
    .container {
      margin-top: 15px;
    }


    .p-datatable-gridlines td {
      width: 33.33%; /* Adjust this based on the number of columns */
      text-align: center; /* Center text if needed */
  }

  .p-datatable-gridlines {
    display: table;
    width: 100%;
}

.p-datatable-gridlines td {
    flex: 1; /* This makes each column take an equal share of the available space */
    text-align: center; /* Center align the text */
}
// .p-button:enabled:hover {
//   background: #4A0D4A !important;
//   color: #ffffff !important;
//   border-color: #4A0D4A !important;
// }
  }
.table-bordered th, .table-bordered td{
    border:  none !important;
  }
  .progress-circle {
    margin: auto;
    display: inline-block;
    position: relative;
    width: 52px;
    height: 52px;
  }
  
  .progress-ring {
    transform: rotate(-90deg); /* Start progress at the top */
  }
  
  .progress-ring__circle {
    transition: stroke-dashoffset 0.35s ease; /* Smooth transition */
    transform-origin: 50% 50%;
    // stroke-dasharray: 148; /* To be calculated dynamically */
    // stroke-dashoffset: 148; /* Initial value */
  }
  
  .progress-ring__circle-bg {
    opacity: 0.15;
  }
  
  .progress-label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 14px;
    font-weight: bold;
    color: #4a0d4a;
  }
  

  .summary {

padding: 16px 4px;
border-radius: 10px;
border: none;
background: #FFF;
  }


  .header {
    padding: 10px;
  }

  .totals{
    padding: 6px;
  }

  .add-p {
    display: flex;
padding: 9px 30px;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 6px;
background: #4A0D4A;
color: #FFF;
margin: auto;
width: 90%;
position: sticky;
bottom: 0px;
  }
.noCart {

  position: absolute;
  bottom: 10px;
  width: 90%;

}
.hasCart {
  position: sticky;
  bottom: 0px;
}
  .add-head {
    font-size: 20px;
font-weight: 600;
color: #1B101B;
  }

  .qty {
    color: #1B101B;

font-size: 16px;
font-weight: 700;
line-height: normal;
  }

  .head-th {
    color: #777;
font-family: Poppins;
font-size: 12px;
font-style: normal;
font-weight: 600;
line-height: normal;
  }

  .feature {
    color: #777;
font-size: 12px;
font-weight: 600;

  }

  .measure {
    color: #CACACA;
  }