.InfoForm {
    max-height: 550px;
    overflow: hidden scroll;
}


.savebtn {
    background-color: #700066;
    color: #fff;
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 9999;
}

.headertxt {
    color: #F88011 !important;
}

.addbtn {
    width: 88px;
    height: 39px;
    border-radius: 4px;
    border: 1px solid #F88011;
    color:#F88011;
    background-color: white;
    cursor: pointer;
    position: absolute;
   // top: 5px;
   // right: 200px;
    z-index: 9999;
    right: 5px;
}



.continuebtn{
    background-color: #700066;
    color: #fff;
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 9999;
}
 
.previewbtn{
    background-color: #f88011;
    color: #fff;
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 9999;
}
.cancelbtn{
    background-color: #fff;
    color: #700066;
    border:2px solid #700066;
    position: absolute;
    top: 5px;
    right: 100px;
    z-index: 9999;
}

.label{
    font-size: 12px;
    color: #700066;
    font-weight: 600;
}


.groupForm{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.previewTitle{
    color: #700066;
    font-weight: 600;
}

.previewValue{
    color: #700066;
}
.customPlaceHolder{
    color:#666666 ;
    font-size: 13px;
}