%transition-all-3ms  {
    transition: all 300ms ease-in-out!important;
}
%transition-all-5ms {
    transition: all 500ms ease-in-out!important;
}
%transition-all-7ms {
    transition: all 500ms ease-in-out!important;
}
