<div>
    <div class="container-fluid">
        <div class="header my-2 d-flex align-items-center justify-content-between">
            <h6><span> Company & Contact Information : </span></h6>
         <!--    <button
            (click)="showEdirMode()"
            class="previewbtn text-center btn float-right"
        >
            Change
            <i class="pi pi-pencil"></i>
        </button> -->
        </div>
        <hr class="my-2" />
        <div class="InfoForm pr-3 thin-scroll">
            <div class="row ml-1">
                <!-- <app-contact
                [isReviewMode]="isReviewMode"
                (formValidityChanged)="isContactFormValid($event)"
                [showDepartment]="activeTab == this.shoppingCartoccordionTabs.BuyerContactInfo"
            ></app-contact> -->
            </div>
        </div>
        <hr class="my-2" />
    </div>
</div>