.payment-list {
    font-weight: normal;
}
/* custom css for tooltip of the payment method list  */
.payment-list .more-info-tooltip .tooltip-inner  {
    max-width: 600px!important;
    width: auto!important;
    padding: 9px;
}
.tooltip-btn-sm:focus {
    border:2px solid #E60000!important;
}

.credit-card-name{
    font-size: 1.1rem;
}
.is-default i {
    font-size: 1.4rem;
}
h4 {
    font-size: 10.4px;
}
.nav-link.active {
    color: #3699FF!important;
}

.kt-portlet {
    margin-top: 0!important;
}
