:host {
    height: 100%;
}
.create-edit-btn {
    position: absolute;
    right: 80px;
    bottom: 25vh;
    z-index: 1059;
}
.fake-circle {
    background-color: #aaaa;
    width: 15px;
    height: 15px;
    display: block;
    border-radius: 50%;
}
.modal {
    width: 40% !important;
}
::ng-deep {
    .modal-rtl {
        position: fixed;
        top: 0;
        left:  0 !important;
        z-index: 1050;
        display: none;
        width: 40%;
        height: 100%;
        overflow: hidden;
        outline: 0;
    }
    .modal-ltr {
        position: fixed;
        top: 0;
        right: 0 !important;
        z-index: 1050;
        display: none;
        width: 40%;
        height: 100%;
        overflow: hidden;
        outline: 0;
    }
}
.closeIcon-ar {
    left: 0;
    width: 60px !important;
}

.closeIcon-en {
    right: 0;
}
