/*Stlye for Chat Buttons */
.dropdown-excel-operations .p-button {
    display: block;
    margin: 0;
    text-align: left;
    border-radius: 0;
    transition: none !important;
    margin-left: -11px;
}

.p-fileupload-choose.p-button,
.p-fileupload-choose.p-button .p-component {
    background-color: #fff !important;
    color: #b2b1c5 !important;
}

.p-button-text {
    color: #575962;
    font-size: 13px;
    margin-left: 9px;
}

.dropdown-excel-operations .p-fileupload-choose.p-button.p-state-hover,
.p-fileupload-choose.p-button.p-focus,
.p-fileupload-choose.p-button {
    background-color: #eee;
}

.dropdown-excel-operations {
    a:hover {
        span.p-button,
        div.p-fileupload-buttonbar {
            background-color: #f4f5f8 !important;
        }
    }

    a.no-padding {
        padding: 0px !important;
    }
}

.dropdown-excel-operations .p-fileupload-choose:not(.p-disabled) {
    border: none;
}

.dropdown-excel-operations .p-fileupload-choose:not(.p-disabled):hover,
.dropdown-excel-operations .p-fileupload-choose:not(.p-disabled):focus,
.dropdown-excel-operations
    .p-fileupload-choose:not(.p-disabled):active {
    background-color: #f4f5f8 !important;
    color: #b2b1c5;
    box-shadow: none !important;
    border: none;
}

body .p-fileupload .p-fileupload-buttonbar {
    border: none !important;
    background-color: #fff !important;
}

.dropdown-excel-operations {
    div.p-fileupload-buttonbar {
        border: none;
        background: #fff;
        padding-bottom: 3px !important;
        padding-top: 3px !important;

        &:hover {
            background-color: #f4f5f8 !important;
        }
    }

    div.p-fileupload-content {
        display: none;
    }

    div.p-fileupload-buttonbar:hover {
        background-color: #f4f5f8 !important;
    }
}




 .body-sec {
      background-color: #fff;
      border-radius: 6px;
      min-height: 100vh;
      padding: 17px;
    }

    @media (min-width: 1024px) {
      .addMT {
        margin-top: 140px !important;
      }
    }

    @media (max-width: 540px) {
      .addMTMob {
        margin-top: 75px !important;
      }
    }

    .alignStart{
    text-align: start !important ;
    }


    .w-150  {
    width : 150px ;
    }

     .wPX100  {
    width : 100px;
    }


     .w-250  {
    width : 250px ;
    }

       .w-130  {
    width : 130px ;
    }


           .w-200  {
    width : 200px ;
    }

    .btn-primary {
        background-color: #4A0D4A !important;
        color: #fff !important;
        border: 1px solid #4A0D4A !important;
    }