.kt-portlet {

  @media only screen and (min-width: 1024px) { 
    margin-top: 125px !important;
  
  }

  @media only screen and (max-width: 1024px) { 
    margin-top: 25px !important;
  
  }
    
background: #FFFFFF;
border: 1px solid #EEEEEE;
box-shadow: 4px 4px 10px rgba(22, 22, 22, 0.15);
border-radius: 20px;

}

.createBtn {

background-color: #4A0D4A;
color: #EEEEEE !important;
}

 .list-toolbar-btn {
    font-size: 16px !important;
    line-height: 20px !important;
    font-weight: 700 !important;
  }



  .toolbar-btn{

padding: 11px 10px;

width: 44px;
height: 46px;

background: #FFFFFF;
border: 1px solid #EEEEEE;
box-shadow: 1px 1px 6px rgba(22, 22, 22, 0.05);
border-radius: 6px;


  }

  .sortBtn {
    color: #FFFFFF !important;
    background-color: #4A0D4A !important;
  }


  .list-toolbar .list-toolbar-dropdown-filter-selectedItem {
font-weight: 700 !important;
font-size: 24px !important;
line-height: 36px !important;
color: #1B101B !important;

  }

  .list-toolbar .list-toolbar-search {
    width: 45% !important;
  
  }

  .kt-subheader__title {
    // padding-left: 35px !important;
  }
  .sort-toggle {
 color: #9E9E9E;
background: #FFFFFF;
border: 1px solid #D9D9D9;
border-radius: 10px;


  }

  .pageTxt {
font-weight: 600;
font-size: 14px;
line-height: 21px;
color: #9E9E9E;


  }



  .kt-portlet .kt-portlet__body {
    padding: 25px !important;
}





  @media only screen and (min-width: 1024px) {
    .addRTLm {
        margin-top: 90px !important;
        background-color: #FFFFFF;
        border-radius: 12px;
        padding: 20px;
    }

}

  @media only screen and (max-width: 1024px) {
    .addRTLm {
        margin-top: 130px !important;
        background-color: #FFFFFF;
        border-radius: 12px;
        padding: 20px;
    }

}
