<form [formGroup]="filtersForm">
    <div [@routerTransition] style="margin-top: -90px;" class="wrapper" >

        <div class="kt-content kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
            <div class="kt-subheader kt-grid__item" >
                <div [class]="containerClass">
                  <div class="kt-subheader__main">
                    <h3 class="kt-subheader__title">
                        <a  class="text-capitalize" type="button">
                            <i class="fas fa-arrow-left"></i>
                            {{ "Back" | localize }}
                        </a>
                    </h3>
                    <span class="kt-subheader__separator kt-subheader__separator--v"></span>
                    <span class="kt-subheader__desc">
                        {{ "ManageMyLists" | localize }}
                    </span>
                    <span > > </span>
                    <span class="kt-subheader__desc">
                        {{ "MyProductLists" | localize }}
                    </span>
                  </div>

                </div>
            </div>
            <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid'">
                <div class="kt-portlet kt-portlet--mobile">
                    <div class="kt-portlet__body">
                       <div class="row ">
                            <div class="col-12 list-toolbar border-dashed-bottom pb-4">
                                <div class="row mb-3 justify-content-between">
                                    <div class="mb-0 mb-4 mb-md-0">
                                        <div class="btn-group dropdown" dropdown >
                                            <button class="dropdown-toggle btn btn-sm font-weight-normal p-0"
                                                dropdownToggle>
                                                <span class="list-toolbar-dropdown-filter-selectedItem">
                                                    {{ mainFilterCtrl?.value?.label | localize }}
                                                </span>
                                            </button>
                                            <ul class="dropdown-menu actions-dropdown-menu"  *dropdownMenu>
                                                <li *ngFor="let filter of pageMainFilters;index as i">
                                                        <a href="javascript:;" (click)="mainFilterCtrl.setValue(filter);">
                                                        <span>
                                                            <i [ngClass]="{'visibility-hidden': filter.value != mainFilterCtrl?.value?.value}" class="flaticon2-check-mark text-success mr-2 icon-sm"></i>
                                                            <span class="list-toolbar-dropdown-title">
                                                                {{ filter?.label | localize }}
                                                            </span>
                                                        </span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="mb-4 mb-md-0 list-toolbar-search">
                                        <div class="kt-input-icon kt-input-icon--left">
                                            <input type="text"  class="form-control" formControlName="search" [placeholder]="'SearchWithThreeDot' | localize" id="generalSearch" >
                                            <span class="kt-input-icon__icon kt-input-icon__icon--left">
                                                <span><i class="flaticon2-search-1 icon-md text-primary"></i></span>
                                            </span>

                                        </div>
                                    </div>
                                    <div class="list-toolbar-divider"></div>
                                    <div class="mb-4 mb-md-0 text-center">
                                        <a *ngIf="isGranted('Pages.AppItemsLists.Create')" class="btn btn-primary font-weight-normal pl-2 pr-2 text-center list-toolbar-btn" (click)="openCreateOrEditModal()"   >
                                            {{ "CreateNewProductList" | localize }} <i class="fas fa-file-import"></i>
                                        </a>
                                    </div>
                                    <div class="list-toolbar-divider"></div>
                                    <div class="text-center" >
                                        <a style="padding-right: 4px;padding-left: 10px;" [title]="'ResetData' | localize" class="btn btn-hover-primary font-weight-normal text-center text-primary toolbar-btn" (click)="resetList()">
                                            <i  class="d-inline-block w-100 flaticon2-reload icon-center"></i>
                                        </a>
                                        <a style="padding-left: 10px;" [title]="'ToggleView' | localize" (click)="triggerListView()" class="btn btn-hover-primary font-weight-normal pr-1 text-center text-primary toolbar-btn">
                                            <i  class="d-inline-block w-100 " [ngClass]="singleItemPerRowMode ? 'flaticon2-menu' : 'fa-bars fas'"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-between">
                                    <div class="font-weight-normal" *ngIf="active">
                                        {{ (paginator.getPage()) * primengTableHelper.defaultRecordsCountPerPage  }}-{{ (paginator.getPage() ) * primengTableHelper.defaultRecordsCountPerPage + items.length  }}
                                        {{ "over"| localize}}
                                        {{ primengTableHelper.totalRecordsCount }} {{"ResultsOf"}} "{{mainFilterCtrl?.value?.label | localize}}"
                                    </div>
                                    <div>
                                        <div class="btn-group dropdown list-toolbar-dropdown" dropdown >
                                            <button class="dropdown-toggle btn btn-sm font-weight-normal p-0"
                                                dropdownToggle>
                                                <span class="list-toolbar-dropdown-sort-label">
                                                    {{"SortBy" | localize}}
                                                </span>
                                                <span class="list-toolbar-dropdown-sort-selectedItem">
                                                    {{ sortingCtrl?.value?.value | localize }}
                                                </span>
                                            </button>
                                            <ul class="dropdown-menu actions-dropdown-menu"  *dropdownMenu>
                                                <li *ngFor="let sortOption of sortingOptions;index as i" >
                                                    <a  (click)="sortingCtrl.setValue(sortOption);">
                                                        <span>
                                                            <i [ngClass]="{'visibility-hidden': sortOption.value != sortingCtrl?.value?.value}" class="flaticon2-check-mark text-success mr-2 icon-sm"></i>
                                                            <span class="list-toolbar-dropdown-item-value">
                                                                {{ sortOption?.label | localize }}
                                                            </span>
                                                        </span>

                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                           </div>
                           <div class="col-12 d-flex flex-column justify-content-between">
                            <div class="row pt-5 pl-5 pr-2" style="min-height: 60vh;">
                                <div  class="col-12" *ngFor="let item of items;index as i" [ngClass]="singleItemPerRowMode?'col-md-12 single-item-per-row-layout' : 'col-md-6'">
                                    <app-app-item-list-card
                                    [class]="'border-dashed-bottom mb-3 pb-3'"
                                    [singleItemPerRowMode]="singleItemPerRowMode"
                                    [item]="item"
                                    [mainFilterType]="mainFilterCtrl?.value?.value"
                                    (deleteMe)="askToConfirmDelete($event,item.appItemsList.id,i)"
                                    (printMe)="printList($event,item)"
                                    (publishMe)="openShareProductListModal(item)"
                                    (unPublishMe)="unPublish(item)"
                                    >
                                    </app-app-item-list-card>
                                </div>
                                <div class="font-weight-normal mt-5 p-5 text-center w-100" *ngIf="items?.length === 0">
                                    {{"ThereAreNoListsFound" | localize}}...
                                </div>
                            </div>
                            <div class="primeng-paging-container custom-paginator">
                                <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage"
                                    #paginator
                                    [totalRecords]="primengTableHelper.totalRecordsCount"
                                    (onPageChange)="getAppItemsLists($event)"
                                    [showCurrentPageReport]="true"
                                    [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                                </p-paginator>

                                <div class="total-records-count text-right mr-3">
                                    {{l('TotalRecordsCount', primengTableHelper.totalRecordsCount)}}
                                </div>
                            </div>
                           </div>
                       </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</form>


<app-create-or-edit-appitem-list
    #createOrEditListModal
    (createOrEditDone)="onCreateOrEditDone($event)"
>
</app-create-or-edit-appitem-list>

<entityTypeHistoryModal #entityTypeHistoryModal></entityTypeHistoryModal>
