.kt-portlet{
    margin-top: 125px!important;
    &.veiwMode{
        margin-top: 10px!important;
    }
}
.users-list {
    position: relative;
    width: 350px;
    height: 30px;
    img {
        position: absolute;
        top: 10px;
        height: 100%;
        border-radius: 50%;
    }
}

h3 {
    white-space: nowrap;
}
@media only screen and (max-width: 768px) { 
    h3 {
       font-size: 14px !important;
    }
}
.items-count-icon ,
.users-count-icon {
    width: 25px;
    height: 25px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    border-radius:4px;
    padding: 10px;
}
.users-count-icon {
    top: 9px;
    background-color: #F9652A;
    position: absolute;
    color: #fff;
}
.items-count-icon {
    background-color: #d1ebff;
}
.share-sync{
    .share{
        background-color: transparent !important;
        color: #610061;
        border-color: #610061;
    }
    .sync{

border: 1.5px solid #F88011;
border-radius: 6px;
padding: 5px 10px;
    }
}



.share-level{
    span{
        display: flex;
        align-items: center;
        justify-content: start;
        gap: 5px;
    }
    .private-dot{
        border-radius: 50%;
        background-color: #FEE462;
        height: 10px;
        width: 10px;
        padding-top: 3px;
    }
    .shared-dot{
        border-radius: 50%;
        background-color: #00E03B;
        height: 10px;
        width: 10px;
        padding-top: 3px;
    }
    .hidden-dot{
        border-radius: 50%;
        background-color: #B3B7CE;
        height: 10px;
        width: 10px;
        padding-top: 3px;
    }
}
 .body-cont {
 

background: #FFFFFF;
border: 1px solid #EEEEEE;
box-shadow: 4px 4px 10px rgba(22, 22, 22, 0.15);
border-radius: 20px;

 }

 ::ng-deep {
    .form-control {
        height: 44px !important;
        border-radius: 8px !important;
        border: 1px solid #D5D4DC !important;
        background: #FFF !important;
        color: #9E9E9E !important;
        font-size: 14px !important;
        font-style: normal !important;
        font-weight: 600 !important;
      }
    .p-progressbar .p-progressbar-value {
        border: 0 none;
        margin: 0;
        background: #4A0D4A !important;
      }
    .p-dialog {


padding: 24px 24px 32px !important;
min-width: 350px !important;
// height: 214.5px !important;

background: #FFFFFF !important;
border: 1px solid #EEEEEE !important;
box-shadow: 4px 4px 10px rgba(22, 22, 22, 0.15) !important;
border-radius: 10px !important;

      }
        .p-dialog .p-dialog-header {
          border:  none !important;
          background: white !important;
          padding: 0 !important;
        }


 

}

.p-button-no {
    color: #4A0D4A !important;
    border-radius: 8px !important;
background: #FFF !important;
box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.25) !important;
border:  none !important;
display: flex !important;
padding: 8px 32px !important;
align-items: center !important;
}