################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/angular/dist.rar
/.gitignore
/.vs/SIIWII/v17/DocumentLayout.json
/.gitignore
/angular/src/app/main/SycLandingPageSettings/components/syc-landing-page-settings.component.html
/angular/src/app/main/SycLandingPageSettings/components/syc-landing-page-settings.component.scss
/angular/src/app/main/SycLandingPageSettings/components/syc-landing-page-settings.component.ts
/angular/src/app/main/SycLandingPageSettings/components/syclanding-Adv.component.html
/angular/src/app/main/SycLandingPageSettings/components/syclanding-Adv.component.scss
/angular/src/app/main/SycLandingPageSettings/components/syclanding-Adv.component.ts
/angular/src/app/main/SycLandingPageSettings/components/syclanding-CTA.component.html
/angular/src/app/main/SycLandingPageSettings/components/syclanding-CTA.component.scss
/angular/src/app/main/SycLandingPageSettings/components/syclanding-footer.component.html
/angular/src/app/main/SycLandingPageSettings/components/syclanding-footer.component.scss
/angular/src/app/main/SycLandingPageSettings/components/syclanding-footer.component.ts
/angular/src/app/main/SycLandingPageSettings/components/syclanding-Slider.component.html
/angular/src/app/main/SycLandingPageSettings/components/syclanding-Slider.component.scss
/angular/src/app/main/SycLandingPageSettings/components/syclanding-Slider.component.ts
/angular/src/app/main/SycLandingPageSettings/SycLandingPageSettings.module.ts
/angular/src/app/main/SycLandingPageSettings/SycLandingPageSettingsRoutingModule-routing.module.ts
/.gitignore
angular/obj/Debug/netcoreapp3.1/onetouch.AngularUI.AssemblyInfo.cs
angular/obj/Debug/netcoreapp3.1/onetouch.AngularUI.AssemblyInfoInputs.cache
angular/obj/Debug/netcoreapp3.1/onetouch.AngularUI.AssemblyInfo.cs
/aspnet-core/src/onetouch.EntityFrameworkCore/Migrations/20260706064632_addTaxrateToMarketplaceItem.cs
/aspnet-core/src/onetouch.EntityFrameworkCore/Migrations/20260706064632_addTaxrateToMarketplaceItem.Designer.cs
/aspnet-core/src/onetouch.EntityFrameworkCore/Migrations/--onetouchDbContextModelSnapshot.cs
