################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/aspnet-core/src/onetouch.EntityFrameworkCore/Migrations/20250616075015_addratingtable.cs
/aspnet-core/src/onetouch.EntityFrameworkCore/Migrations/20250616075015_addratingtable.Designer.cs
/angular/dist.rar
