.modal-content {
    max-height: 950px;
    overflow: hidden scroll;
}

.summarySection {
    opacity: 1;
    // background-color: #F2F3F8;

}
.order-summary {
    border-radius: 10px;
    background: #F8F8F8;

}
.shoppingCartAccordionTabBG {
    background: #f1f2f3;
}

 .previousBtn:hover , .nextBtn:hover{
    background-color: #4A0D4A !important;
    border: none !important;
}

.Proceedtocheckout:hover ,.Proceedtocheckout.focus, .Proceedtocheckout:focus {
    outline: 0;
    background-color: #4A0D4A !important;
    border: none !important;
}

.discartBtn:hover {
    background-color: transparent !important;
    border: 1px solid #F88011 !important;
}

.previousArrow{
    top: 50%;
    position: absolute;
    z-index: 9999999;
    left: 0px;
}
.nextArrow{
    top: 50%;
    position: absolute;
    z-index: 9999999;
    right: 0px;
}

.previousBtn , .nextBtn{
    background-color: #4A0D4A !important;
    border: none !important;
    color: white;
    width: 30px;
    height: 30px;
    cursor: pointer;
    border-radius: 50%;
    display: inline-block;
}

.shareBtn:hover {
    background-color: transparent !important;
    border: 1px solid #4A0D4A !important;
}

button:disabled,
button[disabled] {
    cursor: not-allowed !important;

}

//---------------------------------------------------------------------------------//

.three-dots:after {
    cursor: pointer;
    color: #700066 ;
    content: "\2026";
    font-size: 20px;
    padding: 0 5px;
}

#dropdownMenuButton {
    background-color: white !important;
}

.dropdown-menu {
    left: -140px !important;
}

.dropdown-toggle {
    background: white 0% 0% no-repeat padding-box;
    border: none;
    color: #700066 !important;
}

.dropdown-toggle::after {
    display: none;
}

.dropdown-toggle:focus {
    outline: none;
    background: white 0% 0% no-repeat padding-box;

    .three-dots:after {
        color: #700066  !important;
    }
}

//------------------------------------------------------------------------------//



.radio,
.checkbox {
    accent-color: #700066;
}

#editQty {
    font-size: 16px;
    padding: 10px;
    width: 100%;
    outline: 0;
    border: 1px solid #999;
    border-radius: 10px;

    &:focus {
        box-shadow: 0 0 15px 1px #999;
        border: 1px solid #777;
    }
}

.disabled {
    opacity: 0.65;
    cursor: not-allowed;
}

.editQtyContainer {
    .clear-text {
        position: absolute;
        color: #555;
        font-size: 28px;
        top: 6px;
        right: -15px;
    }

    .fieldset {
        position: relative;
        margin: 10px 0;

        .form-text {
            .clear-text {
                display: inline-block;
            }
        }
    }
}


::ng-deep {
    .p-treetable-thead {

        br {
            display: none !important;
        }
    
    }
    .p-accordion-tab , .p-treetable-scrollable-wrapper ,.p-treetable-thead  ,.p-treetable .p-treetable-thead > tr > th ,.p-treetable .p-treetable-tbody > tr > td{
        border: 1px solid #E5E5E5 !important;
        border-radius: 10px !important;
        margin-bottom: 15px !important;
    }
    .p-treetable-scrollable-header-box {
        padding: 0 !important;
    }
    .p-accordion {
        ::-webkit-scrollbar {
            width: 10px;
            height: 5px;
          }
        
          /* Track */
          ::-webkit-scrollbar-track {
            background: #D9D9D9;
          }
        
          /* Handle */
          ::-webkit-scrollbar-thumb {
        
        background: #FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 20px;
        border: 1px solid #D9D9D9 !important;
        
        
          }
          .p-accordion  {
            margin-bottom: 20px !important;
          }
    }
    .p-icon-wrapper {
        position: absolute !important;
        right: 10px !important;
    }
}

.imgIcon {
    width: 21px;
    height: 27px;
    cursor: pointer;
}

.editIcon {
    background-color: #4A0D4A;
    padding: 4px;
    cursor: pointer;
    color: white;
}

.topheader {
    background-color: #4A0D4A;
    position: sticky;
    top: 0px;
    z-index: 999999;
}

.inputs {
    background: white !important;
    border-color: #7d5e7a !important;
}

.status {
    border-radius: 4px;
    background: #D0D0D0;
    width: 50px;
    height: 30px;
    font-weight: 600;
    color: white;
    display: flex;
    justify-content: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    display: none;
}

.discartBtn {
    background-color: white !important;
    color: #F88011 !important;
    border: 1px solid #F88011 !important;
}

.shareBtn {
    background-color: white !important;
    color: #4A0D4A !important;
    border: 1px solid #4A0D4A !important;
}

input:focus,
input:hover,
input:active,
input:focus-within,
input:visited,
input.ng-invalid.ng-touched {
    outline: auto !important;
    background: white !important;
    border-color: #7d5e7a !important;
}


.editBtn:hover {
    background-color: transparent !important;
    border: none !important;
}

.minimizedScreen {
    position: fixed;
    z-index: 11111111;
    text-align: right;
    border: 1px solid #e9ebf0;
    min-width: 0;
    transition: all 0.4s ease-in-out;
    // /* height: 50px; */
    box-shadow: -1px 2px 20px rgba(0, 71, 138, 0.1294117647);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: end;
    right: 35px;
    bottom: 11px;
    background-color: #fff;
}

.maximizedScreen {
    position: fixed;
    z-index: 11111111;
    text-align: right;
    border: 1px solid #e9ebf0;
    min-width: 0;
    transition: all 0.4s ease-in-out;
    // /* height: 50px; */
    box-shadow: -1px 2px 20px rgba(0, 71, 138, 0.1294117647);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: end;
    right: -300px;
    bottom: 11px;
    background-color: #fff;
}
.times-icon{
  color: red;
  font-size: 1.5em !important;
}
 
.mini-order {
    border-radius: 4px;
    background: #f2f3f8;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-direction: row-reverse;
}
.mini-order:hover{
    background: #f2f3f8 !important;
}

/*---------------------custome style for comment component--------------------*/
.comment-warper{
    position: relative;
    height: 95vh;
    min-height: 40vh !important;
}

// handle responsive screens

@media only screen and (max-width: 992px) {
    .web {
        display: none;
    }
    .tablet {
        display: block;
        .tabview-custom {
   
       
           }
    }

}
::ng-deep .tablet {
    .p-treetable .p-treetable-thead > tr > th {
        white-space:  nowrap !important;
    }
    .p-tabview .p-tabview-nav li {
        border-radius: 0 !important;
        // border: 0.5px solid #eee !important;

    }
  
@media only screen and (max-width: 992px) {
    .parentDiv {
        margin: 2em 2em 0em 7em;
    }
    .p-treetable .p-treetable-thead > tr > th {
        white-space:  nowrap !important;
        font-size: 11px !important;
    }
    .tab-header{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 75px;
        height: 75px;
    }
    .p-tabview .p-tabview-nav li .p-tabview-nav-link {
        border: none !important;
    }
    .p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
        background-color: white !important; 
        color: #777 !important;
        // border-bottom: 1px solid #eee !important;
        border-radius: 0 !important;
        padding: 10px 20px;
         width: 140px  !important;
         height: 100px !important;
         .tab-header {
            background-color: #4A0D4A !important;
            border-radius: 6px !important;
            color: white !important;
            padding: 5px !important;
            display: flex;
            flex-direction: column;
            align-items: center;
            svg {
                fill: #fff !important;
            }
        }
    }
}
.mobile {
    display: flex;
}
@media only screen and (max-width: 567px) {
    .dropdown-menu {
        left: -70px !important;
        width: 81% !important;
    }

    @media only screen and (max-width: 567px) {

    .handleMob {
       margin-right: -10px !important;
    margin-left: -10px !important;
    }
}
@media only screen and (max-width: 380px) {

    .handleMob {
        overflow-x: scroll !important;margin-right: 2px !important;
        margin-left: -1px !important;
    }
}
//     .dot {
//     .dropdown{
//         position: absolute;
//     z-index: 999999 !important;
//     right: -15px !important;
//     height: 234px !important;
//     width: 260px !important
//     }
//     .dropdown-menu-mob{
//         right: 35px !important;
//         margin-top: 65px !important;
//         inset: auto !important;
//         position: absolute;
// border: 0.5px solid #7A7A7A;
//         top: 76px !important;
//         background: white;
//         width: 75%;
//         padding: 11px 2px;
//         border-radius: 6px;
//     }
// }
    .p-tabview .p-tabview-nav {
        padding: 8px 14px !important;
    }
    .mobile {
        display: none !important;
    }
    .modal-content {
   margin: 0 !important;
    }
    .parentDiv {
        margin: 7em 0em;
    }
    .p-treetable table {
        font-size: 10px !important;

    }
    .p-treetable .p-treetable-thead > tr > th {
        font-size: 10px !important;
        white-space: nowrap !important;
        padding: 5px !important;
    }
    .p-tabview .p-tabview-panels {
        padding: 5px !important;
    }
    
    .p-treetable .p-treetable-tbody > tr > td {
        padding: 5px !important;
    border:1px solid #EBEBEB !important;

    }
    .tablet .p-accordion {
     
            padding: 0 !important;
        
    }
    .tab-header {
      
        border-radius: 6px !important;
     
        padding: 5px !important;
        display: flex;
        flex-direction: column;
        align-items: center;
        svg {
            fill: #fff !important;
            width: 24px;
            height:  24px;
        }
    }
    .p-tabview .p-tabview-nav li .p-tabview-nav-link {
        width: 80px !important;
        height: 66px !important;
        padding: 0 !important;
        svg {
            width: 24px !important;
            height: 24px !important;
            font-size: 10px !important;
            margin-top: 10px !important;
        }
    }
     .p-tabview .p-tabview-nav li {
        width: 25% !important;
        height: 66px !important;
        border-right:  1px solid #eee !important;
    }
    .tab-header{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 66px;
        height: 66px;
        font-size: 12px !important;
    }

    .p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
        background-color: white !important; 
        color: #777 !important;
        // border-bottom: 1px solid #eee !important;
        border-radius: 0 !important;
        padding: 0 !important;
         width: 66px  !important;
         height: 66px !important;
         .tab-header {
            background-color: #4A0D4A !important;
            border-radius: 6px !important;
            color: white !important;
            padding: 5px !important;
            display: flex;
            flex-direction: column;
            align-items: center;
            svg {
                fill: #fff !important;
                width: 24px;
                height:  24px;
            }
        }
    }
}
    .p-tabview .p-tabview-nav li .p-tabview-nav-link:not(.p-disabled):focus {
        box-shadow: none !important;
    }
    .p-tabview-nav-link {
        border-top: none !important;
        border-left: none !important;
        border-width: 1px !important;
        border-color: #c8c8c8 !important;
         background: #FFF !important;
        color: #777 !important;
        display: flex !important;
        flex-direction: column !important;
        font-size: 14px !important;
        width: 140px  !important;
        // border-right: 1px solid #eee !important ;
        // border-bottom: 1px solid #eee !important ;
        height: 99px !important;
        align-items: center !important;
        fill:#777777 !important;
        svg{
            fill: #777 !important;

        }
    }
    // .p-accordion {
    //     padding: 12px !important;
    // }

}
// .openAcs{
//     border-radius: 0px 0px 12px 12px;
// border-right: 1px #F7F7F7;

// border-left: 1px #F7F7F7;

// background: #FFF;
// color: 
// #7A7A7A;
// width: 182px;height: 64px;    position: absolute;
//         right: 7%;
//         top: 121%; z-index: 99999 !important;
// }
@media only screen and (min-width: 992px) {
    .web {
        display: flex;
    }
    .parentDiv {
        margin: 2em 2em 0em 7em;
    }
    .tablet {
        display: none;
    }
}

.bgPurple {
    background:  #4A0D4A;

}
