.modal-center {
    margin: auto !important;
    top: 15% !important;
}
.reactions-body {
    height: 75vh;
}
.reactions-users {
    overflow-x: hidden;
    overflow-y: auto;
}
.icon-reaction {
    height:25px;
}
.btn {
    &:first-child {
        font-weight: 500;
        font-size: 15px;
    }
    border-bottom-style: solid;
    border-bottom-width: 4px;
    border-bottom-color: transparent;
    transition: all .2s;
    &.selected {
        border-bottom-color: #03a9f4;
        transition: all .2s;
    }
}
.fix-padding {
    padding-bottom: 12px;
}
.btn img {
    margin-right: 10px;
}
.profile-img {
    height: 50px;
}
.icon-reaction-small {
    height: 15px;
    bottom: 2px;
    right: 0px;
}
.font-weight-500 {
    font-weight: 500;
}
