.orderForm{
    .header{
        span{
            color: #f6851d
        }
    }
}

.continuebtn{
    background-color: #700066;
    color: #fff;
   position: absolute;
    top: 5px;
    right: 5px;
    z-index: 9999;
}
 
.previewbtn{
    background-color: #f88011;
    color: #fff;
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 9999;
}
.cancelbtn{
    background-color: #fff;
    color: #700066;
    border:2px solid #700066;
    position: absolute;
    top: 5px;
    right: 110px;
    z-index: 9999;
}

.label{
    font-size: 12px;
    color: #700066;
    font-weight: 600;
}

.headertxt{
    color: #F88011 !important;
}

.groupForm{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.previewTitle{
    color: #700066;
    font-weight: 600;
}

.previewValue{
    color: #700066;
}


::ng-deep{
    .p-treeselect{
        width: 100% !important;
    }
    .p-treenode-content.p-treenode-selectable.p-highlight .p-treenode-label {
        background-color: #3699FF !important;
        color: #FFFFFF !important;
    }
    .p-calendar {
        position: relative;
        display: inline-flex;
        /* max-width: 100%; */
        width: 100% !important;
    }
    .p-calendar-w-btn .p-datepicker-trigger {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        background: #700066;
        border-color: #700066;
    }
}

.classificationsValues{
    background-color: #ffe2c7;
    color: #f89c28;
    border-radius: 2px;
    padding: 5px 10px !important;
    margin-right: 5px !important;
    font-size: 13px;
    font-weight: 600;
}

.categoriesValues{
    background-color: #F4DCF4;
    color: #4A0D4A;
    border-radius: 2px;
    padding: 5px 10px !important;
    margin-right: 5px !important;
    font-size: 13px;
    font-weight: 600;
}

.categoriesClassificationsContainer{
    
    max-height: 200px;
    overflow: hidden scroll;
}

.customPlaceHolder{
    color:#666666 ;
    font-size: 13px;
}

.orderInfoForm{
    max-height: 550px;
    overflow: hidden scroll;
}
.read-only-calendar {
    position: relative;
}

.read-only-calendar .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    cursor: not-allowed; /* Change cursor to indicate non-interactivity */
    z-index: 1; /* Ensure it overlays the calendar */
}