@import "./base/variables";
@import "./base/placeholders";
@import "./base/mixins";

// components import
@import "./components/borders.scss"; // border
@import "./components/buttons.scss"; // buttons
@import "./components/form.scss"; // form & inputs
@import "./components/icons.scss"; // icons
@import "./components/left-aside-filters.scss"; // left aside filters
@import "./components/list-toolbar.scss"; // list-toolbar
@import "./components/p-paginator.scss"; // p-paginator of ngprime
@import "./components/p-tree.scss"; // p-tree of ngprime
@import "./components/scroll.scss"; // scroll
@import "./components/typography.scss"; // typography ( text )
@import "./components/tag.scss"; // tag
@import "./components/anchor.scss"; // anchor links ( a )
@import "./components/drop-down.scss";
@import "./components/accordion.scss";
@import "./components/editor.scss";
@import "./components/tabs.scss";
@import "./components/right-modal.scss";
@import "./components/select-button.scss";
@import "./components/p-table.scss";
@import "./components/listing-share-modal.scss";
@import "./components/cropper.scss";
@import "./components/p-checkbox.scss";
@import "./components/browse-list.scss";
@import "./components/view-profile.scss";
@import "./components/toast.scss";
@import "./components/carousel.scss";
@import "./components/switch-input.scss";
@import "./components/auto-complete.scss";

.hint {
    font-size: 0.8rem;
    color: $grey-5;
}
.visibility-hidden {
    visibility: hidden;
}
.dimmed {
    opacity: 0.5;
    background-color: transparent !important;
    cursor: not-allowed;
}

:root {
    overflow: hidden;
}

body {
    overflow-y: scroll;
    max-height: 100vh;
}

.swal-btn {
    width: 285px !important;
    height: 38px !important;
    border-radius: 6px !important;
}
.swal-confirm {
    margin-bottom: 10px !important;
}

.swal-title {
    color: #f64e60 !important;
}

.swal-icon {
    margin-left: 40% !important;
}

.carouselChangePosArrow .carousel-inner,
.carouselChangePosArrow .item carousel-item,
.carouselChangePosArrow .carousel {
    position: static !important;
}
.cursor-pointer {
    cursor: pointer !important;
}

.sendMessageInputs {
    .ui-autocomplete.ui-autocomplete-multiple
        .ui-autocomplete-multiple-container
        .ui-autocomplete-input-token {
        width: 100% !important;
    }
}

.events .ui-steps .ui-steps-item {
    margin-right: 113px;
}

.sm-events .ui-steps .ui-steps-item {
    margin-right: 75px;
}
.ctaSlider .ui-carousel-prev span,
.ctaSlider .ui-carousel-next span,
.sliderImages .ui-carousel-prev span,
.sliderImages .ui-carousel-next span {
    display: none !important;
}

.ctaSlider .ui-carousel .ui-carousel-content .ui-carousel-prev,
.ctaSlider .ui-carousel .ui-carousel-content .ui-carousel-next,
.sliderImages .ui-carousel .ui-carousel-content .ui-carousel-prev,
.sliderImages .ui-carousel .ui-carousel-content .ui-carousel-next {
    background-color: transparent;
    border: none;
    border-radius: 50%;
    margin: 0.2em;
    color: transparent;
    transition: color 0.2s;
    background-size: 100% 100%;
}

.ctaSlider
    .ui-carousel
    .ui-carousel-content
    .ui-carousel-prev:not(.ui-state-disabled):hover,
.ctaSlider
    .ui-carousel
    .ui-carousel-content
    .ui-carousel-next:not(.ui-state-disabled):hover,
.sliderImages
    .ui-carousel
    .ui-carousel-content
    .ui-carousel-prev:not(.ui-state-disabled):hover,
.sliderImages
    .ui-carousel
    .ui-carousel-content
    .ui-carousel-next:not(.ui-state-disabled):hover {
    background-color: transparent;
    color: transparent;
}
.sliderImages .ui-carousel .ui-carousel-content .ui-carousel-prev {
    background-image: url("assets/landingPage/arrow-right1.svg");
    left: 3%;
    z-index: 1;
}

.hiddenIndicator .ui-carousel .ui-carousel-content .ui-carousel-prev,
.hiddenIndicator .ui-carousel .ui-carousel-content .ui-carousel-next {
    display: none;
}

.sliderImages .ui-carousel .ui-carousel-content .ui-carousel-next {
    background-image: url("assets/landingPage/arrow-right1.svg");
    transform: rotate(180deg);
    right: 3%;
    z-index: 1;
}

.ctaSlider .ui-carousel .ui-carousel-content .ui-carousel-prev {
    background-image: url("assets/landingPage/arrow-right2.svg");
}

.ctaSlider .ui-carousel .ui-carousel-content .ui-carousel-next {
    background-image: url("assets/landingPage/arrow-right2.svg");
    transform: rotate(180deg);
}

.hiddenDotsIndicator ul.ui-carousel-dots-container.ui-helper-reset {
    display: none;
}

// #kt_header {
//     width: 85% !important;
// }

.kt-subheader {
    // width: 95% !important;
    margin-right: 13px;
}


.bgPurple{
    background-color: #700066 !important;
}

.colorPurple{
    color: #700066 !important;
}

.w-80{
    width: 80% !important;
}
.text-black{
    color: black !important;
}

.text-purple{
    color:#700066 !important
}

.no-underline{
    text-decoration: none !important;
}

@media screen and (max-width: 1300px) {
.slidesContainer{
   background-color: transparent !important;
}
.noslidedata{
    display:none;
}
}


/* 

.slidersContainerCarousel .ui-carousel.ui-widget.ui-carousel-horizontal , .slidersContainerCarousel .ui-carousel-container {
    width: 100% !important;
    height:  100% !important;
} */

.slide-md-Section{
    width: 90%;
    height:238.4pt;
    border: solid 1px #B49BB4;
    background-color: #EFEFEF;
    border-radius: 2px 2px 10px 10px;
}

.slide-sm-Section{
    width: 198pt;
    height: 250pt;
    border: solid 1px #B49BB4;
    background-color: #EFEFEF;
    border-radius: 2px 2px 10px 10px;
}

.slide-single-item{
    height:151px;
}
.slide-single-item-body{
   background-color:#EFEFEF;
    width: 100%;
    position: relative;
    top: -9px;
    height: 20%;
    padding-left: 10px;
    border-top: solid 2px #e5e2e2;
}
.slide-medium-image
{
    cursor: pointer;
    display: block;
    width: 100%;
    height: 80%;
}
.slide-small-image
{
    cursor: pointer;
    display: block;
    width: 100%;
    height: 80%;
}

.noRLMargin {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.noRLpadding{ 
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.event-sm-steps span.ui-steps-title{
    display: none !important;
}

.event-steps  .ui-steps .ui-steps-item.ui-state-highlight .ui-steps-number {
    background-color: #700066 !important;
}


@media screen and (max-width: 767px) {
    .bs-datepicker {
        left: 20%;
        position: relative;
    }
    .ui-steps .ui-steps-item .ui-menuitem-link{
        width: 100% !important;
    }
    .ui-steps .ui-steps-item .ui-menuitem-link .ui-steps-number {
        border-radius: 5px !important;
        width: 100% !important;
        height: 8pt !important;
        font-size: 0px !important;
    }

    .ui-steps:before{
    display: none !important;
    }
    .sm-events .ui-steps .ui-steps-item {
        margin-right: 0px;
        width: 30% !important;
        padding-left: 5% !important;
    }
}




.popup-class {
    background-color: #9A038D !important; 
}

.icon-class{
    border-color: white !important;
    color: white !important;
}

 .content-class{
    color: white !important;
    font-size: 12pt !important;
}

 .actions-class {
    border-top: 1px solid white !important;
}


 .confirm-button-class {
    background-color: transparent  !important;
    font-size: 12pt !important;
    padding-top: 20px !important;
}
.wizard-wrapper {
    min-height: 350px;
}

.HtmlEditorInput-sm .ui-widget.ui-editor-container.ui-corner-all{
    height: 100%;
}

.sendUsers ul.ui-autocomplete-multiple-container
{
    max-height: 80px;
    overflow-y: auto;
    width: 97%;
}

