@import '../../../../../assets/styles/base/_variables';
.kt-portlet {
    margin-top: 0!important;
}
.toggleView{
    // background-color: $new-primaryColor;
}
.sortByDd{
    border: 1px solid #d9d9d9;
    padding: 6px 25px !important;
    border-radius: 6px;
}

.list-toolbar-btn {
    background-color: #4A0D4A;
    color: #fff !important;
}
.list-toolbar-dropdown-filter-selectedItem {
    font-weight: 700;
    color: #1B101B;
}