.InfoForm{
    max-height: 550px;
    // overflow: hidden scroll;
}
 

.savebtn{
    background-color: #700066;
    color: #fff;
    // position: absolute;
    // top: 5px;
    // right: 5px;
    // z-index: 9999;
}

.headertxt{
    color: #1B101B !important;
    font-size: 14px;
}

 
.continuebtn{
    width: 99px;
    height: 46px;
    border-radius: 6px;
    background:  #4A0D4A;
    color: #fff;
   position: absolute;
    top: 5px;
    right: 25px;
    z-index: 9999;
}

.previewbtn{
    border-radius: 6px;
    background:  #4A0D4A;
    box-shadow: 2px 2px 10px 0px rgba(22, 22, 22, 0.10);
    color: #fff;
    // position: absolute;
    // top: 5px;
    // right: 5px;
    // z-index: 9999;
    margin-left: 8px;
    margin-left: 8px;


    width: 99px;
    height: 46px;
}
.cancelbtn{
    background-color: #fff;
    color: #4A0D4A;
    border:1px solid #EBEBEB;
    // position: absolute;
    // top: 5px;
    // right: 127px;
    // z-index: 9999;
    width: 99px;
    height: 46px;
}
::ng-deep {
    .p-dialog {
        border-radius: 20px;
      border: 1px solid #EEE;
      background: #FFF;
      padding: 32px 32px 44px 32px !important;
      margin: 10px;
      box-shadow: 4px 4px 10px 0px rgba(22, 22, 22, 0.15);
      }
        .p-dialog .p-dialog-header {
          border:  none !important;
          background: white !important;
          padding: 0 !important;
        }
    .p-button-text {
        // button {
            background-color: #4A0D4A !important;
            color: #FFF !important;
            border:  none !important;
            border-radius: 6px !important;
            padding: 8px 32px;
        // }
      
    }

 

}
.p-button-no {
    color: #4A0D4A !important;
    border-radius: 8px !important;
background: #FFF !important;
box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.25) !important;
border:  none !important;
display: flex !important;
padding: 8px 32px !important;
align-items: center !important;
}
.msg-text {
    font-weight: 700 !important;
    font-size: 22px !important;
    line-height: 36px !important;
    
    color: #1B101B !important;
    
    
        }
.btns {
    gap: 24px !important;
}
.img-hd {
    position: inherit !important;
    width: 100px !important;
height: 100px !important;
}