.stars-container {
    display: inline-block;
    color: transparent;
    font-size: 28px;
  }
  
  .fill-s {
  
    position: absolute !important;
    left: 0;
    overflow: hidden !important;
    color: #F6851D;
    height: 32px;
  }
  
  .fill-s-ar {
  
    position: absolute !important;
    right: 0;
    overflow: hidden !important;
    color: #F6851D;
    height: 32px;
  }
  
  
  
  .star {
    color: #F6851D !important;
    margin-left: 2px;
  }
  
  
  .review-section {
    max-width: 100%;
    margin: 0 auto;
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .review-card {
    background-color: #fff;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 15px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  }
  
  .review-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .user-name {
    font-weight: bold;
    font-size: 1.1rem;
    color: #555;
  }
  
  .star-rating {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .stars-outer {
    position: relative;
    display: inline-block;
    font-size: 26px;
    color: #ccc;
    line-height: 1;
  }
  

  
  .rating-value {
    font-size: 1rem;
    color: #333;
  }
  
  .rating-value {
    font-size: 1rem;
    color: #666;
  }
  
  .review-comment {
    font-size: 1rem;
    line-height: 1.5;
    color: #444;
  }
  
  
  .help-btn {
  
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px;
    gap: 10px;
    height: 35px;
    border: 1px solid rgba(238, 238, 238, 0.933333);
    filter: drop-shadow(2px 2px 10px rgba(22, 22, 22, 0.1));
    border-radius: 6px;
  
  }
  
  
  .viewAllBtn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 9.5px 14px;
    gap: 10px;
    width: 143px;
    height: 40px;
    border: 1px solid #EEEEEE;
    border-radius: 6px;
    margin: auto;
    color: #4A0D4A;
    margin-bottom: 5px;
    font-weight: 700;
  
  
  }
  
  .verfiedtxt {
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    color: #2DC74F;
  
  }
  
  
  .notverfiedtxt {
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    color: #E42B2B;
  }
  
  .title {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #1B101B;
  
  }
  
  .subjectTxt {
  
    font-weight: 600;
    font-size: 12px;
  
  
    color: #1B101B;
  
  }
  
  @media(min-width:992px) {
    .dates {
      font-size: 14px;
  
    }
  }
  
  
  @media(max-width:992px) {
    .dates {
      font-size: 10px;
  
    }
  }
  
  .dates {
  
    font-weight: 600;
    line-height: 21px;
    white-space: nowrap;
    color: #9E9E9E;
  
  
  }
  
  .txtby {
  
    font-weight: 600;
    font-size: 10px;
    line-height: 15px;
    white-space: nowrap;
  
    color: #9E9E9E;
  
  
  }
  
  .txtBody {
    font-weight: 400;
    font-size: 12px;
    min-height: 120px;
    color: #9E9E9E;
  }
  
  .w-wrap {
    white-space: noWrap;
  }
  
  
  
  .addReview {
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 6px;
    background: #FFFFFF;
    border: 1px solid rgba(238, 238, 238, 0.933333);
    box-shadow: 2px 2px 6px rgba(22, 22, 22, 0.05);
    border-radius: 10px;
  
  }
  
  .topSec {
  
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    border-radius: 16px 16px 0px 0px;
    min-height: 60px;
    height: 100%;
    border-bottom: 1px solid #EEEEEEEE;
  
  
  }
  
  
  .rating {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 2rem;
    color: #ffc107;
    margin-top: 10px;
  }
  
  .rating i {
    cursor: pointer;
    transition: color 0.2s;
  }
  
  .rating .fa-star-o:before {
    content: "\f005";
    color: #E1E1E1;
  }
  
  .rating .fa-star:before {
    content: "\f005";
    color: #F6851D;
  }
  
  .rating i:hover,
  .rating i:hover~i {
    color: #ff9800;
  }
  
  .rating span {
    font-size: 1rem;
    color: #666;
    margin-left: 10px;
  }
  
  .btnPost {
  
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 9.5px 18px;
  
    width: 63px;
    height: 37px;
  
    background: #4A0D4A;
    border-radius: 6px;
  
    color: #fff;
  }
  
  
  .iconImg {
    height: 24px;
    cursor: pointer;
  }
  
  
  .addReview {
    border-radius: 8px;
    padding: 1rem;
  }
  
  .topSec {
    margin-bottom: 1rem;
  }
  
  .logo {
    margin-right: 1rem;
  }
  
  .rating .fa {
    font-size: 1.2rem;
    cursor: pointer;
    color: #ffc107;
  }
  
  .rating .fa-star-o {
    color: #ccc;
  }
  
  .bottomSec .iconImg {
    width: 24px;
    height: 24px;
    cursor: pointer;
  }
  
  .btnPost {
    background-color: #6c2a6e;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .media-preview {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }
  
  .media-preview-image,
  .media-preview-video {
    max-width: 150px;
    max-height: 150px;
    border-radius: 5px;
  }
  
  .remove-media {
    position: absolute;
    background: grey;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  
  
  
  
  
  
  
  .img-hd {
    position: inherit !important;
    width: 100px !important;
    height: 100px !important;
  }
  
  .msg-text {
    font-weight: 700 !important;
    font-size: 22px !important;
    line-height: 36px !important;
    color: #1B101B !important;
  }
  
  .btns {
    gap: 24px !important;
  }
  
  .p-button-text {
    background-color: #4A0D4A !important;
    color: #FFF !important;
    border: none !important;
    border-radius: 6px !important;
    padding: 8px 32px;
  }
  
  ::ng-deep {
    .p-dialog .p-dialog-header {
      background-color: #fff !important;
      border: none !important;
    }
  }
  
  
  
  
  
  /* Main Container */
  .emoji-container {
    position: relative;
    width: 300px;
    margin: 20px auto;
  }
  
  /* Input Box */
  .input-box {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 5px 10px;
    background-color: #fff;
  }
  
  .input-box input {
    border: none;
    outline: none;
    flex-grow: 1;
    font-size: 1rem;
    padding: 5px;
  }
  
  .emoji-btn {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
  }
  
  .emoji-picker {
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
    width: 320px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px;
    z-index: 1000;
  }

  
  
  .emoji-grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 10px;
  }
  
  .emoji-item {
    font-size: 1.5rem;
    text-align: center;
    cursor: pointer;
  }
  
  .emoji-item:hover {
    background-color: #f0f0f0;
    border-radius: 50%;
  }
  
  
  .noDataTxt {
  
    font-weight: 600;
    font-size: 14px;
    line-height: 30px;
  
    color: #595959;
  
  }

  h4 {
  
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;

    color: #1B101B !important;


  }

  .review-summary {
    text-align: left;
    color: #9E9E9E;
    font-size: 14px;
    font-weight: 600;
  }
  
  .reviewSection {
    min-height: 44px !important;
    border-radius: 8px !important;
    border: 1px solid #D9D9D9 !important;
    background: #FFF !important;
    color: #595959 !important;
    font-size: 14px !important;
    font-style: normal !important;
    font-weight: 600 !important;
    width: 100%;
  }

  .expand-toggle {
    color: #4A0D4A !important;
    font-weight: 600;
  }

  .starsAr {
    position: absolute; left: 10px;top: 10px;
  }

  .starsEn {
    position: absolute; right: 10px;top: 10px;
  }