<p-carousel
  [value]="blocksSorted"
  [numVisible]="numVisible"
  [numScroll]="numScroll"
  [circular]="false"
  [autoplayInterval]="interval"
  [showIndicators]="false"
>
  <ng-template pTemplate="item" let-slide>
    <div class="pt-2" #imgContainer>
      <div class="d-block position-relative">

        <!-- optional text button (still shown) -->
        <a
          *ngIf="slide?.buttonText"
          class="txtBtn text-white"
          (click)="onSlideClick(slide, $event)"
        >
          {{ slide?.buttonText }}
        </a>

        <!-- IMAGE clickable area -->
        <div class="cursor-pointer" (click)="onSlideClick(slide, $event)" style="max-height: 400px !important;">
          <app-image-display
            [image]="getSlideImage(slide)"
            [sycAttachmentCategory]="sycAttachmentCategoryAutoSlider"
            [staticWidth]="imgContainer.offsetWidth"
      
          ></app-image-display>
        </div>

      </div>
    </div>
  </ng-template>
</p-carousel>
