.sliderContainer {
    // height: 554px;
    width: 100%;
    object-fit: fill;
    overflow: hidden;
}

.txtBtn {
    width: 210px;
 
    padding: 16px 26px;
    border-radius: 50px;
    border: 1px solid white;
    background: rgba(0, 0, 0, .2);
    color: white;

    font-size: .875rem;
    position: absolute;
    top: 60%;
    right: 45%;
}

::ng-deep  {
    .p-icon{
        display: none !important;
    }
}
