<p-carousel
  [value]="blocksSorted"      
  [numVisible]="numVisible"
  [numScroll]="numScroll"
  [circular]="false"
  [autoplayInterval]="interval"
 
>
  <ng-template pTemplate="item" let-slide>
    <div class="pt-2" #imgContainer>
      <div class="d-block position-relative">
        <a *ngIf="slide?.buttonText"  [routerLink]="slide?.link " class="txtBtn">{{ slide?.buttonText  }}</a>
        <app-image-display
          [image]="slide?.image ? (attachmentBaseUrl + '/' + slide.image) : '../../../../assets/placeholders/_logo-placeholder.png'"
          [sycAttachmentCategory]="sycAttachmentCategoryAutoSlider"
          [staticWidth]="imgContainer.offsetWidth"
          [staticHeight]="350">
        </app-image-display>
      </div>
    </div>
  </ng-template>
</p-carousel>

<!-- <div *ngIf="!blocksSorted?.length" class="text-center py-4">No data</div> -->
