.download-btn
{
    background-color:  #4A0D4A;
    color: #ffffff;
    width: Hug (98px)px;
    height: Hug (21px)px;
    gap: 10px;
    opacity: 0px;
    font-family: Poppins;
font-size: 12px;
font-weight: 600;
line-height: 21px;
text-align: left;

}
img
{
width: 16px;
height: 16px;
padding: 0px 0px 0px 0px;
gap: 0px;
opacity: 0px;
background-color:  #4A0D4A;
}