.billing-option-btn {
    margin-left: 15px;
    background-color: white;
    color: #9E9E9E;
    font-size: 14px;
    font-weight: 500;
    width: Fixed (100px)px;
    height: Hug (37px)px;
    padding: 8px 18px 8px 18px;
    gap: 10px;
    border-radius: 4px 0px 0px 0px;
    opacity: 0px;


}

.align-paragraph {
    margin: 0;
}

.billing-option-btn-clicked {
    margin-left: 20px;
    background-color: #5A225A;
    color: white;
    font-size: 14px;
    font-weight: 500;
    width: Fixed (100px)px;
    height: Hug (37px)px;
    padding: 8px 18px 8px 18px;
    gap: 10px;
    border-radius: 4px 4px 4px 4px;
    opacity: 0px;
    border: 1px solid var(--Primary-Color, #4A0D4A)
}

.billing-btn-frame {
    width: Fixed (100px)px;
    height: Hug (37px)px;
    padding: 8px 18px 8px 18px;
    gap: 10px;
    border-radius: 4px 0px 0px 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;

}

.relative-container {
    position: relative;
    height: 200px;
}

.absolute-item {
    top: 0;
    width: Fixed (436px)px;
    height: Hug (37px)px;
    gap: 12px;
    opacity: 0px;

}

.container {
    width: Hug (862px)px;
    height: Hug (37px)px;
    top: 28px;
    left: 24px;
    gap: 240px;
    border-radius: 4px 4px 0px 0px;
    opacity: 0px;

}

.mainSec {
    width: Hug (862px)px;
    height: Hug (37px)px;
    top: 28px;
    left: 24px;
    gap: 240px;
    border-radius: 4px 4px 0px 0px;
    opacity: 0px;
}

.accBil {
    color: #1B101B;
    font-size: 24px;
    font-weight: 700;
}
.body-c {

    padding: 12px 10px;

    background: #FFFFFF;
    border-radius: 10px;

}


::ng-deep {
    .p-paginator-icon {
        color: #4A0D4A !important;
        margin-right: 4px !important;
    }
    .p-paginator .p-dropdown .p-dropdown-label {
        color: #4A0D4A !important;
        background-color: #F4F5F7 !important;

    }
    body p-paginator .p-paginator .p-paginator-first.p-disabled, body p-paginator .p-paginator .p-paginator-next.p-disabled, body p-paginator .p-paginator .p-paginator-prev.p-disabled, body p-paginator .p-paginator .p-paginator-last.p-disabled, body p-paginator .p-paginator body p-paginator .p-paginator .p-paginator-page.p-disabled {
        background-color: #F4F5F7 !important;
    }
    .primeng-datatable-container .primeng-paging-container {
        background: #F8F8F8 !important;
    }
    .primeng-datatable-container .primeng-paging-container .p-paginator .p-dropdown {
        background-color: #F4F5F7 !important;
    }
}