<div dropdown container="body" class="body-c">
  <div class="container" class="mainSec">
    <p class="align-paragraph accBil">{{'AccountBilling' | localize}}</p>

    <div class="absolute-item">
      <button id="invoicebtn" [ngClass]="{'billing-option-btn': !isInvoice, 'billing-option-btn-clicked': isInvoice}"
        class="btn billing-option-btn pull-right"
        (click)="openbillingpage(billingOptionsTabs.InvoicesOption,'invoicebtn')">
        {{'Invoices' | localize}}
      </button>
      <button id="actlogbtn"
        [ngClass]="{'billing-option-btn': !isActivityLog, 'billing-option-btn-clicked': isActivityLog}"
        class="btn billing-option-btn pull-right"
        (click)="openbillingpage(billingOptionsTabs.ActivityLogOption,'actlogbtn')">
        {{'ActivityLog' | localize}}
      </button>

      <button id="addonbtn" [ngClass]="{'billing-option-btn': !isAddOn, 'billing-option-btn-clicked': isAddOn}"
        class="btn billing-option-btn pull-right" (click)="openbillingpage(billingOptionsTabs.AddOnsOption,'addonbtn')">
        {{'Add-ons' | localize}}
      </button>
      <button id="planbtn" [ngClass]="{'billing-option-btn': !isPlan, 'billing-option-btn-clicked': isPlan}"
        class="btn billing-option-btn pull-right" (click)="openbillingpage(billingOptionsTabs.PlansOption,'planbtn')">
        {{'Plans' | localize}}
      </button>
    </div>
    <br />
    <br />
    <br />
  </div>
  <div class="tab1" *ngIf="currentTab == billingOptionsTabs.PlansOption">
    <app-plans></app-plans>
  </div>
  <div class="tab2" *ngIf="currentTab == billingOptionsTabs.AddOnsOption">
    <app-add-ons></app-add-ons>
  </div>
  <div class="tab3" *ngIf="currentTab == billingOptionsTabs.ActivityLogOption">
    <app-activity-log></app-activity-log>
  </div>
  <div class="tab4" *ngIf="currentTab == billingOptionsTabs.InvoicesOption">
    <app-tenant-invoices></app-tenant-invoices>
  </div>
