.billing-option-btn
{
margin-left:20px;
background-color:white;
color:#9E9E9E;
font-size: 14px;
font-weight: 500;
}
.billing-option-btn-clicked
{
margin-left:20px;
background-color:#5A225A;
color:white;
font-size: 14px;
font-weight: 500;
}