.ratio-item {
    width: 100px;
    text-align: center;
    border: 1px solid #000;
    margin-left: -1px;
    margin-top: -1px;
    .ratio-lable,
    .ratio-qty {
        padding-top: 5px;
        padding-bottom: 5px;
        input {
            max-width: 100%;
            border: 0;
            padding: 0;
            text-align: center;
        }
    }
    .ratio-lable {
        border-bottom: 1px solid #000;
        color: #000;
        background-color: #eee;
    }
}
.ratio-container {
    overflow: auto;
    max-width: 100%;
    max-height: 100%;
    padding-top: 10px;
    height: 220px;
    width: 100%;
}
.sizescale-name {
    width: 200px;
}
.dimension-input{
    text-align: center;
}

.ratio-actions {
    gap: 20px;
}

.ratio-action-btn {
    border: none !important;
}

.ratio-action-btn-primary {
    background-color: #4a0d4a !important;
    color: #fff !important;
}

.ratio-action-btn-light {
    background-color: #eeeeee !important;
    color: #1b101b;
}

.ratio-action-btn-warning {
    background-color: #eba461 !important;
    color: #fff !important;
}

@media (max-width: 992px) {
    .sizescale-name {
        width: 100%;
    }

    .ratio-actions {
        margin-top: 16px;
        gap: 12px;
    }
}