<div class="mp-acc-card" [class.rtl]="isArabic" [class.compact]="compact">

    <!-- Left: Media -->
    <div class="mp-acc-media" (click)="openDetails()">
      <img class="mp-acc-img" [src]="logoUrl" (error)="onImgErr($event)" alt="account" />
    </div>
  
    <!-- Right: Content -->
    <div class="mp-acc-body">
  
      <div class="mp-acc-title-row">
        <h4 class="mp-acc-title" (click)="openDetails()">
          {{ account?.account?.name }}
        </h4>
  
        <!-- optional small badge -->
      
      </div>

      <div>
        <div  *ngIf="account?.account?.accountType" class="d-flex">
         <span class="accTyp"> {{'AccountType' | localize}}</span> <span class="mp-acc-badge"> {{ account?.account?.accountType }}</span>
        </div>
      </div>
  
      <!-- meta rows like event card -->
      <div class="mp-acc-meta">
        <div class="meta-item">
          <i class="fas fa-users meta-ico"></i>
          <span class="meta-label">{{ 'Connections' | localize }}:</span>
          <span class="meta-value">{{ account?.connectionCount || 0 }}</span>
        </div>
  
        <div class="meta-item" *ngIf="account?.account?.website">
          <i class="fas fa-globe meta-ico"></i>
          <span class="meta-label">{{ 'Website' | localize }}:</span>
          <span class="meta-value truncate" [title]="account?.account?.website">
            {{ account?.account?.website }}
          </span>
        </div>
<!--   
        <div class="meta-item" *ngIf="account?.account?.zipCode">
          <i class="fas fa-map-marker-alt meta-ico"></i>
          <span class="meta-label">{{ 'Zipcode' | localize }}:</span>
          <span class="meta-value">{{ account?.account?.zipCode }}</span>
        </div> -->
      </div>
  
      <!-- Footer actions: like event Details button -->
      <div class="mp-acc-actions">
        <!-- <button class="btn-details" type="button" (click)="openDetails()">
          {{ 'Details' | localize }}
        </button> -->
      
        <span class="mt-3 d-flex w-100" *ngIf="((account?.availableConnections?.length == 0 && account?.connectionName ) || (account?.connectionName)) && isAuthenticated">
                           
            <div class="btn relation_button-ac mt-4"  style="    white-space: nowrap; font-size: 12px;
            
               cursor: auto;  " dropdown>

                <button type="button" dropdownToggle style="  border: none !important;
                background: white;padding: 0;">
                    <img class="pb-1" style="width: 15px;"
                        src="../../assets/accounts/ph_check-bold.png" /> <span *ngIf="getFormattedConnectionName('connectionName') as connName"
                        [title]="connName">
                    {{ connName.length > 10 ? (connName | slice:0:10) + '...' : connName | localize }}
                  </span> <i
                        class="fas fa-lg ml-1 fa-angle-down" style="color: #777777 !important;"></i>
                </button>

                <ul *dropdownMenu class="dropdown-menu" role="menu">
                    <li role="menuitem">
                        <button class="dropdown-item" type="button" (click)="disconnect(account)">
                            {{ getFormattedConnectionName('disConnectLabel') }}
                        </button>
                    </li>
                </ul>
            </div>



        </span>

        <span class="mt-3 w-100"
            *ngIf="(account?.availableConnections?.length > 0 ) && isAuthenticated ">

            <!-- Guard + alias once -->
            <ng-container *ngIf="account?.availableConnections as options">
                <div
               
                    style="white-space: nowrap;  right: 5px;" dropdown>
                    <!-- Main button = first option -->
                    <button type="button " class="relation_button" [ngClass]="isArabic ? 'relation-ar' :'relation-en'" dropdownToggle 
                       >
                        <img class="pb-1" style="width: 15px;" (click)="createRelation(options[0])"
                            [src]="getConnectionIcon(options[0]?.connectLabel)" alt="" />
                        <span  (click)="createRelation(options[0])" class="ml-1" [title]="options[0]?.connectLabel">{{     options[0]?.connectLabel?.length > 10
                            ? (options[0].connectLabel | slice: 0:10) + '...'
                            : options[0]?.connectLabel }}</span>

                        <!-- caret only if there are more -->
                        <i *ngIf="options.length > 1" class="fas fa-lg ml-4 fa-angle-down"
                            style="color: #fff !important;"></i>
                    </button>

                    <!-- Dropdown only if > 1 -->
                    <ng-container *ngIf="options.length > 1">
                        <ul *dropdownMenu class="dropdown-menu" role="menu">
                          <li role="menuitem" *ngFor="let option of options | slice:1" class="py-2">
                            <button class="dropdown-item" type="button" (click)="createRelation(option)">
                              <img class="pb-1 mr-2" style="width: 15px;" [src]="getConnectionIcon(option?.connectLabel)" alt="" />
                              {{ option?.connectLabel }}
                            </button>
                          </li>
                        </ul>
                      </ng-container>
                      
                </div>
            </ng-container>

        </span>
      </div>
    </div>
  </div>