


<div class="container-fluid InfoForm thin-scroll">
  <div class="header  my-2 d-flex align-items-center justify-content-between p-1">
      <h6 class="m-0"><span class="headertxt"> Additional Information : </span></h6>
      <button
      (click)="showEditMode()"
      class="previewbtn text-center btn float-right"
      *ngIf="canChange"
  >
  <img src="../../../../../assets/shoppingCart/edit.png"
  class="imgIcon" />
  <span class="mx-1 text-white"> Edit</span>

  </button>
  </div>
  <hr class="" />
  <div class="pr-3">
    <div class="row p-3" >
      <div class="col-md-6 mb-3" *ngFor="let attrMeta of appTransactionsForViewDto.entityExtraData">
        <div>
          <label class="font-weight-bold">{{ attrMeta.attributeId | localize }}</label>
        </div>
    
        <div class="mt-1">
          <ng-container >
            <span>{{ attrMeta.attributeValue }}</span>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
  <hr class="my-2" />
</div>