.wrapper {
    .slides {
    }
    .main-image {
        .main {
            width: 400px;
        }
    }
}

.imageSlides {
    width: 50px;
    cursor: pointer;
}

.slider-container {
    position: relative;
    overflow: hidden;
    height: 500px; /* Set the height of the slider as needed */
}

.slider {
    display: flex;
    flex-direction: column;
    transition: transform 0.5s;
}

.indicator-btns{
    background-color: #B9B3B3 ;
    border: .5px solid #09c;
    width: 100%;
    color: #ffff;
    margin-top: 10px;
}
