::ng-deep {
    .entered {
        color: #B375B3;
    }
    .p-dropdown .p-dropdown-label.p-placeholder {
        color:#9E9E9E  !important;
    }
    .p-calendar .p-inputtext {
        color: #9E9E9E !important;
    }
    .p-menu .p-submenu-header {
        display: none !important;
    }
    .p-dialog .p-dialog-header {
        background-color: #fff !important;
        color: #f6851d !important ;
    }
    .p-dialog .p-dialog-content {
        text-align: left !important;

    }
    body .p-dialog .p-dialog-content{
        padding: 0 0 0 0 !important;

    }
    .p-dropdown{
        width: 100% !important;
    }
    .p-dropdown-filter-icon{
        top: 16px !important;
    }
}

.wrapper {
    padding: 0px 10px;
    .user {
        background-color: #F8F8F8;
        padding: 2px 10px;
        border-radius: 6px;
        .enter {
            span {
                color: #4a0d4a;
                text-transform: capitalize;
                font-weight: 700;
                font-size: 14px;
                margin-right: 10px;
            }
        }
        .date {
            color: #464e5f;
            font-size: 12px;
        }
    }
    .seller {
        .sellerHeader {
            background-color: #F8F8F8;
            padding: 2px 10px;
            border-radius: 6px;
            
            span {
                color: #1B101B;
                text-transform: capitalize;
                font-weight: 700;
                font-size: 14px;
                margin-right: 10px;
            }
        }
        .form {
            label {
                color: #464e5f;
                font-size: 13px !important;
            }
        }
    }
}
.footer{
    background-color: #E7E8EF;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: end;
    button{
        background-color: #4a0d4a;
        color: #fff;
        border-radius: 8px !important;
        padding: 10px 30px;
        font-size: 13px;
        margin: 10px 0px;
    }
}



::ng-deep  .calendar-form {
    .p-calendar {
        width: 100% !important;
        svg {
            display: none !important;
        }
    

}
.p-calendar-w-btn .p-datepicker-trigger {
    width: 48px !important;
    height: 44px !important;
}


.img {
    width: 24px;
    height: 24px;
    position: absolute;
    right: 22px;
    bottom: 24px;

}
.err {
    width: 24px;
    height: 24px;
    position: absolute;
    right: 22px;
    bottom: 40px;

}


}


@media only screen and (max-width: 600px) {
    .mobile {

        width: 80%;
    }
}
label {
    color:  #1B101B !important;
    font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: normal;
}