::ng-deep {
    .p-menu .p-submenu-header {
        display: none !important;
    }
    .p-dialog .p-dialog-header {
        background-color: #fff !important;
        color: #f6851d !important ;
    }
    .p-dialog .p-dialog-content {
        text-align: left !important;
    }
    .p-dropdown{
        width: 100% !important;
    }
}

.wrapper {
    padding: 0px 10px;
    .user {
        background-color: #e7e8ef;
        padding: 2px 10px;
        .enter {
            span {
                color: #4a0d4a;
                text-transform: capitalize;
                font-weight: 700;
                font-size: 14px;
                margin-right: 10px;
            }
        }
        .date {
            color: #464e5f;
            font-size: 12px;
        }
    }
    .seller {
        .sellerHeader {
            background-color: #e7e8ef;
            padding: 2px 10px;
            span {
                color: #4a0d4a;
                text-transform: capitalize;
                font-weight: 700;
                font-size: 14px;
                margin-right: 10px;
            }
        }
        .form {
            label {
                color: #464e5f;
                font-size: 13px !important;
            }
        }
    }
}
.footer{
    background-color: #E7E8EF;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    button{
        background-color: #4a0d4a;
        color: #fff;
        border-radius: 0% !important;
        padding: 10px 30px;
        font-size: 13px;
        margin: 10px 0px;
    }
}
