@import '../../../../../assets/styles/base/variables';
input:focus
{
    border: 1px solid #D5D4DC !important;
}

.bgImg {
    border: 1px solid #ddd; /* Gray border */
    border-radius: 4px;  /* Rounded border */
    padding: 5px; /* Some padding */
    width: 200px;
    height: 200px;
  }
  

  .disableSection{
    opacity: 0.5;
  }
  .enableSection{
    opacity: 1;
  }

  .image-wrapper {
 
width: 300px;
height: 360px;


background: rgba(248, 248, 248, 0.972549);
border: 1px solid rgba(238, 238, 238, 0.933333);
box-shadow: 4px 4px 10px rgba(22, 22, 22, 0.15);
border-radius: 12px;

    img {
        max-height: 100%;
        max-width: 100%;
    }


}

.btnCont {

// padding: 11px 32px;

width: 140px;
height: 46px;

background: #4A0D4A;
/* Elevation 2 */
box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
border-radius: 12px;
color: #fff;

}

.btnPrev {

// padding: 11px 32px;

width: 136px;
height: 46px;
color: #4A0D4A;
border: 1px solid rgba(238, 238, 238, 0.933333);
filter: drop-shadow(2px 2px 10px rgba(22, 22, 22, 0.1));
border-radius: 12px;


}


::ng-deep {
  .p-accordion .p-accordion-header .p-accordion-header-link {
   
    padding: 12px !important;
    border: 1px solid #EEEEEEEE !important;
    // color: #333333;
    background: #fff !important;
    font-weight: 700;
    border-radius: 6px;
    transition: background-color 0.2s, box-shadow 0.2s;

    .form-control{
      border: 1px solid #E5E5E4 !important;
    }
}


.kt-checkbox > input:checked ~ span {

  background: #4A0D4A !important;
}
}

h6 {


  color: #1B101B;
  font-weight: 600;
  font-size: 18px;
}

.hint {
  color: #9E9E9E;
  font-weight: 500;
  font-size: 14px;
}


.coverTxt {
  color: #9E9E9E;
  font-weight: 700;
  font-size: 16px;
}

.grpTxt {
  color: #9E9E9E;
  font-weight: 600;
  font-size: 16px;
}

.sortTxt {
  color: #A49FB1;
  font-weight: 700;
  font-size: 16px;
}
.bgTxt {
  color: #A49FB1;
  font-weight: 700;
  font-size: 16px;
}

.titlsSty {
  color: #1B101B;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}