<div class="contacts d-flex flex-column" style="margin-top: 40px;">
  <ng-container *ngFor="let s of sectionsFlat; ">
    <ng-container [ngSwitch]="s.type">

      <!-- auto slider with call to action-->
      <div *ngSwitchCase="'ASSB'">
        <h4   [style.text-align]="
        s?.inputs?.titleAlignment === 'Center'
          ? 'center'
          : (s?.inputs?.titleAlignment === 'Right' ? 'right' : 'left')
      ">slider>> {{ s.inputs?.name }}</h4>
        <app-slider-with-callToAction class="d-md-block d-none" [sectionId]="s.sectionId">
        </app-slider-with-callToAction>
      </div>


      <!-- carusal slider multi blocks-->
      <app-carusal-with-callToAction *ngSwitchCase="'CSMP'" [sectionId]="s.sectionId" [sectionData]="s.inputs">
      </app-carusal-with-callToAction>

      <!-- auto slider without call to action-->
      <div *ngSwitchCase="'ASMB'">
        <h4   [style.text-align]="
        s?.inputs?.titleAlignment === 'Center'
          ? 'center'
          : (s?.inputs?.titleAlignment === 'Right' ? 'right' : 'left')
      ">slider without>> {{ s.inputs?.name }}</h4>

        <app-slider-without-callToAction class=" d-block" [sectionId]="s.sectionId">
        </app-slider-without-callToAction>
      </div>



      <!--single row Call to Action  (can be brands or products)-->
      <div *ngSwitchCase="'SRCTA'" class="bg-white rounded p-4 m-2 mb-4 ml-4 mr-4" style="margin:30px 50px !important;">
        <h4   [style.text-align]="
        s?.inputs?.titleAlignment === 'Center'
          ? 'center'
          : (s?.inputs?.titleAlignment === 'Right' ? 'right' : 'left')
      ">{{ s.inputs?.title }}</h4>
        <app-single-row-callAction [sectionId]="s.sectionId"></app-single-row-callAction>
      </div>



      <!--multi row Call to Action  (can be brands or products)-->
      <div *ngSwitchCase="'MRCTA'" class="bg-white rounded p-4 m-2 mb-4 ml-4 mr-4" style="margin:30px 50px !important;">
        <h4   [style.text-align]="
        s?.inputs?.titleAlignment === 'Center'
          ? 'center'
          : (s?.inputs?.titleAlignment === 'Right' ? 'right' : 'left')
      ">{{ s.inputs?.title }}</h4>
        <app-multi-row-callAction [sectionId]="s.sectionId"></app-multi-row-callAction>
      </div>



    </ng-container>
  </ng-container>
</div>

<app-landing-page-footer></app-landing-page-footer>