<div [ngClass]="[!active ? 'd-none ' : 'pt-4 ', cartStyle?' cart-cont':'',showRegularComment?'large-height':'' ]" >
   

    <div *ngIf="addNewThread&&cartStyle" class="toggle-replay-cont">
        <label [class]="showRegularComment?'comment focused':'comment'"  (click)="toggleMessageType(1)">
            <i class="fa-regular far fa-comment"></i>
        </label>
        <label [class]="showRegularComment?'direct-message':'direct-message focused'" (click)="toggleMessageType(2)">
            <i class="fa-regular far fa-envelope"></i>       
         </label>
    </div>
    <div *ngFor="let comment of comments" [ngClass]="cartStyle?'mt-2  comment-inner':'mt-4 ml-3'">
        <div class="mb-2">
            <app-comment [comment]="comment"></app-comment>
        </div>
        <div class="ml-5" *ngIf="comment.messages">
            <app-interactions
            [cartStyle]="cartStyle"
                [entityId]="comment.messages.entityId"
                [relatedEntityId]="entityId"
                [parentId]="comment.messages.id"
                [threadId]="comment.messages.threadId"
                [postCreatorUserId]="creatorUserId"
                (refreshStats)="newCommentAddedHandler()"
                [commentType]="comment.messages.entityObjectTypeCode"
            ></app-interactions>
        </div>
    </div>
    <div style="margin-left: 50px;" *ngIf="totalCount > comments?.length" (click)="getAllComments()">
        <a class="text-underline"> {{ parentId ? ("ShowMoreReplies" | localize) : ("ShowMoreComments" | localize) }}</a>
    </div>
</div>

<div>
    <app-add-comment [hidden]="!showRegularComment" *ngIf="addNewThread||!addNewThread&&commentType!=='MESSAGE'" [cartStyle]="cartStyle"
    (saveDone)="newCommentAddedHandler($event)"
    [relatedEntityId]="entityId"
    #AddCommentComponent>
</app-add-comment>

<SendMessageModal [entityId]="entityId" 
[parentId]="parentId"
*ngIf="!showRegularComment&&addNewThread||!addNewThread&&commentType=='MESSAGE'&&showDirectMessageComp"  
#SendMessageModal [modalView]="false" (modalSave)="saveNewDirectMsg()"></SendMessageModal>

</div>
