.cart-cont {
    max-height: 362px;
    overflow-y: auto;
    padding: 0 !important;
    &.large-height{
        max-height: 555px;

    }
    app-add-comment:not(.comment-inner app-add-comment) {
        position: absolute;
        bottom: 40px;
        width: 98%;
        background-color: #F2F3F8;
        z-index: 10;
        left: 7px;
        min-height: 80px;
        padding: 10px 0px;


    }
    .toggle-replay-cont:not(.comment-inner .toggle-replay-cont){
        position: absolute;
        bottom: 5px;
        right: 40px;
    }

}

.toggle-replay-cont {
    width: fit-content;
    border: 1px solid #c1c1c1;
    border-radius: 7px;
    margin-left: 5.1rem !important;
    margin-top: -14px;

    label{
        margin-bottom:0 ;
        padding: 6px;
        cursor: pointer;
        color: #4a0d4a;

        &:hover,&.focused{
            background-color: #4a0d4a;
            color: #fff;
        }
        &:first-child{
            border-right: 1px solid #c1c1c1;
            border-top-left-radius: 7px;
            border-bottom-left-radius: 7px;

        }
        &:nth-child(2){
            border-top-right-radius: 7px;
            border-bottom-right-radius: 7px;
        }
    }
}
:host ::ng-deep .cart-cont .text-wrapper{
    background-color: #fff;
    border-radius: 4px;
    margin-left: 5px;
    position:relative;
    }
    :host ::ng-deep .cart-cont  .text-wrapper:before {
        content: "";
        position: absolute;
        left: 4px;
        top: 11%;
        display: block;
        border-right: 8px solid #fff;
        border-bottom: 10px solid #fff;
        width: 12px;
        height: 12px;
        transform: translate(-70%, -50%) rotate(145deg);
    }
    :host ::ng-deep .cart-cont .cart-cont .icon-reaction{
        height: 13px;
    }
    :host ::ng-deep .cart-cont a.comment-stats ,:host ::ng-deep .cart-cont app-interactions a{
        font-size: 11px;
    }

:host ::ng-deep .cart-cont #commentBody{
    border-radius: 4px;
    border:none;
}

    :host ::ng-deep .cart-cont .text-wrapper h5{
        font-size: 1rem;


    }    
    :host ::ng-deep .cart-cont .logo {
        width: 35px;
    }    
    .comment-inner{
        position: relative;
    }
    :host ::ng-deep .comment-inner .reply-w-direct-message{
        position:initial !important;
        width: 94%;
        margin: 0 auto;
    }