<div [ngClass]="[!active ? 'd-none ' : 'pt-4 ', cartStyle?' cart-cont':'' ]" >
    <app-add-comment [cartStyle]="cartStyle"
        (saveDone)="newCommentAddedHandler($event)"
        [relatedEntityId]="entityId"
        #AddCommentComponent>
    </app-add-comment>
    <div *ngFor="let comment of comments" [ngClass]="cartStyle?'mt-2  comment-inner':'mt-4 ml-3'">
        <div class="mb-2">
            <app-comment [comment]="comment"></app-comment>
        </div>
        <div class="ml-5" *ngIf="comment.messages">
            <app-interactions
            [cartStyle]="cartStyle"
                [entityId]="comment.messages.entityId"
                [relatedEntityId]="entityId"
                [parentId]="comment.messages.id"
                [threadId]="comment.messages.threadId"
                [postCreatorUserId]="creatorUserId"
                (refreshStats)="newCommentAddedHandler()"
            ></app-interactions>
        </div>
    </div>
    <div style="margin-left: 50px;" *ngIf="totalCount > comments?.length" (click)="getAllComments()">
        <a class="text-underline"> {{ parentId ? ("ShowMoreReplies" | localize) : ("ShowMoreComments" | localize) }}</a>
    </div>
</div>
