.topbar {
    background-color: #4a0d4a;
    height: 70px;
    // margin-right: 13px !important;
}
.navbar {
    background: #4A0D4A;
}
.navbar-brand {
    font-size: unset;
    height: 3.5rem;
}

@media (min-width: 1399px) {
    .container {
        max-width: 1277px;
    }
}
@media (min-width: 1024px) {

.rightList {
    position: absolute;
    right: 0%;
    top: 0;
    // border-left: 1px solid rgb(255 252 252 / 50%);
}

}
@media (min-width: 1024px) {
    .sec-section {
        position: absolute;
        right: 300px;
    }

    // .rightList {
    //     position: relative;
      
    // }
}

.small {
    color: white !important;
}

.dropdown .dropdown-toggle::after {
    display: none;
}

.input-group-form {
    width: 43%;
}

.bottom-navbar {
    flex-direction: row;
    justify-content: space-around;
}

._navbar-brand {
    width: 25px !important;
    height: 25px !important;
}
.navbar > .container,
.navbar > .container-fluid {
    justify-content: normal !important;
}

.container {
    justify-content: normal !important;
}

.rightSearch {
    position: absolute;
    right: 0px;
}
.navbar {
    border-radius: 0px 0px 20px 20px !important;
background: #4A0D4A;
box-shadow: 4px 4px 10px 0px rgba(74, 13, 74, 0.15);
}
// @media (min-width: 768px) {
//     .container {
//         max-width: 973px !important;
//     }
// }
@media (min-width: 1024px) {
    .navbar-expand-lg .navbar-collapse {

        max-width: 750px !important;
    }
}

@media (max-width: 1024px) {
    .navbar-expand-lg .navbar-collapse {

        max-width: 1015px !important;
    }
}
@media only screen and (max-width: 767px) {
    .rightList {
        position: absolute;
right: 30px;
    }
}
@media only screen and (min-width: 625px) and (max-width: 1023px) {
    .navbar-nav {
        flex-direction: row !important;
        gap: 25px !important;
    }
    .sec-section{
        width: 150px !important;

        gap: 10px !important;
    }
}
@media only screen and (min-width: 576px) and (max-width: 1023px) {

    .rightList {
        position: absolute;
right: 30px;
    }

    .navbar-nav {
        flex-direction: row !important;
 
    }

    .navbar-collapse {
        flex-basis:content !important;
    }

}
@media (min-width: 768px) and (max-width: 991.98px) {
    // .position-md-absolute {
    //     position: absolute;
    // }
}

@media (min-width: 992px) {
    .position-lg-static {
        // position: static;
    }
}
@media only screen and (max-width: 767px) {
    .navbar-nav {
        -webkit-box-orient: horizontal !important;
        display: flex !important;
        flex-direction: row !important;
    }
    .container-tab {
        position: absolute !important;
    }
    .input-group-form {
        width: 64%;
    }

    .topbar {
        margin-right: 0px !important;
    }

    .navbar-brand-sm {
        position: absolute;
        left: 0px;
        padding-left: 25px;
    }
}

.Create-New {
    background-color: white !important;
    border-color: white !important;
    color: #4a0d4a !important;
    margin-right: 10px !important;
    font-weight: bold !important;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    white-space: nowrap;
}

.btn i {
    padding-right: 0.5rem;
    vertical-align: middle;
    line-height: 0;
    color: #f6851d;
    font-weight: bold;
}

::ng-deep {
    .p-menu .p-submenu-header {
        display: none !important;
    }
    // .p-dialog .p-dialog-header {
    //     background-color: #fff !important;
    //     color: #f6851d !important ;
    // }
    .p-dialog .p-dialog-content {
        text-align: left !important;
    }
    .p-dropdown{
        width: 100% !important;
    }
}

.wrapper {
    padding: 0px 10px;
    .user {
        background-color: #e7e8ef;
        padding: 2px 10px;
        .enter {
            span {
                color: #4a0d4a;
                text-transform: capitalize;
                font-weight: 700;
                font-size: 14px;
                margin-right: 10px;
            }
        }
        .date {
            color: #464e5f;
            font-size: 12px;
        }
    }
    .seller {
        .sellerHeader {
            background-color: #e7e8ef;
            padding: 2px 10px;
            span {
                color: #4a0d4a;
                text-transform: capitalize;
                font-weight: 700;
                font-size: 14px;
                margin-right: 10px;
            }
        }
        .form {
            label {
                color: #464e5f;
                font-size: 13px !important;
            }
        }
    }
}
.footer{
    background-color: #E7E8EF;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    button{
        background-color: #4a0d4a;
        color: #fff;
        border-radius: 0% !important;
        padding: 10px 30px;
        font-size: 13px;
        margin: 10px 0px;
    }
}

.orderType{
        border-radius: 5px;
    padding: 5px;
    border: 1px solid #FFFFFF;
}

// @media (max-width: 567px) {

//     .navbar {
//         border-radius: 20px 20px 0px 0px !important;
//     background: #4A0D4A;
//     box-shadow: 4px 4px 10px 0px rgba(74, 13, 74, 0.15);
//     }
//     }