.topbar {
    background-color: #4a0d4a;
    height: 70px;
    margin-right: 13px !important;
}

.navbar-brand {
    font-size: unset;
    height: 3.5rem;
}

.rightList {
    position: absolute;
    right: 3%;
    top: 0;
    border-left: 1px solid rgb(255 252 252 / 50%);
}

.small {
    color: white !important;
}

.dropdown .dropdown-toggle::after {
    display: none;
}

.input-group-form{
    width: 43% ;
}

.bottom-navbar{
    flex-direction: row;
    justify-content: space-around;
}

._navbar-brand{
    width:25px !important;
    height: 25px !important;
}
.navbar > .container, .navbar > .container-fluid
{
    justify-content: normal !important;

}

.container{
    justify-content: normal !important;
}

.rightSearch
{
    position: absolute;
    right: 0px;
}


@media only screen and (min-width:768px) and (max-width: 1023px) {
   

.rightList {
    position: unset;
}

.navbar-nav {
    flex-direction: row !important;
}

.navbar-collapse{
    flex-basis: unset !important;
}
}
@media only screen and (max-width: 767px){
    .input-group-form{
        width: 64% ;
}

.topbar {
    margin-right: 0px !important;
}

.navbar-brand-sm{
    position: absolute;
    left: 0px;
    padding-left: 25px;
}

}

