<div bsModal #bsModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="selectListModal" aria-hidden="true">
    <div class="modal-dialog"  role="document">
        <div class="modal-content modal-content-rounded">
            <div class="modal-content-wrapper" >
                <div class="modal-header flex-column">
                    <h3 class="modal-title text-left font-weight-bold">
                        <span> {{ l("ProductAdvancedPricing") }}</span>
                    </h3>
                    <button type="button" class="close mr-2 pt-4 modal-close-btn"
                        (click)="cancel()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body thin-scroll text-left">
                    <app-matrix-grid 
                        #matrixGrid 
                        [cols]="cols" 
                        [rows]="rows" 
                        [canAddCols]="!readOnly"
                        [canAddRows]="!readOnly"
                        [rowHover]="true"
                        [canRemoveRows]="!readOnly"
                        [rowHeaderFormInput]="rowHeaderFormInput"
                        [rowHeaderIsEditable]="!readOnly"
                        [cellSelectionIsEditable]="!readOnly"
                        [cellSelectionFormInput]="cellSelectionFormInput"
                        (_newRow)="addNewCurrency()"
                        (_rowHeaderSelectionChanged)="rowHeaderSelectionChange($event)"
                        (_formStatusChange)="statusChanged($event)"
                        (_updateRows)="updateRows($event)"
                    >
                    </app-matrix-grid>
                </div>
                <div class="modal-footer">
                    
                    <button type="button" class="btn font-weight-bold pricing-cancel-btn" (click)="cancel()">
                        {{ l("Cancel") }}
                    </button>
                    <button type="submit" *ngIf="!readOnly" class="btn btn-primar font-weight-bold pricing-save-btn" (click)="submit()" [disabled]="!isValid"
                        >
                        <span>{{ l("Save") }}</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>