.create-edit-plus-btn {
    z-index: 1;
    right: 75px;
    bottom: 15vh;
}

.modal-body {
    padding-left: 0;
    padding-right: 0;
}

.icon-gt {
    font-size: 23px;
}

.list-items-container{
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 800px;
    width: 100%;
}

.modal-content-wrapper .modal-body {
    flex-grow: 1 !important;
    max-height: 80vh;
    overflow-y: auto;
}

.modal-close-btn {
    position: absolute;
    right: 0;
    top: 8px;
}

.list-row {
    transition: all .3s ease-in-out;
    &:hover {
        cursor: pointer;
        background-color: #f0f0f0!important;
        transition: all .3s ease-in-out;
    }
}

@media (max-width: 768px) {
    .create-edit-plus-btn {
        right: 20px;
        bottom: 10vh;
    }

    .modal-content {
        width: 100%;
    }
}




    
.side-modal {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 350px;
  max-width: 100%;
  height: 100%;
  margin: 0;
  transition: transform 0.3s ease;
}

.right-modal {
  right: 0;
  left: auto;
}

.left-modal {
  left: 0;
  right: auto;
}

.modal.fade .right-modal {
  transform: translateX(100%);
}

.modal.show .right-modal {
  transform: translateX(0);
}

.modal.fade .left-modal {
  transform: translateX(-100%);
}

.modal.show .left-modal {
  transform: translateX(0);
}

.side-modal .modal-content {
  height: 100%;
  border-radius: 0;
  border: none;
  overflow: hidden;
}

.side-modal .modal-body {
  height: calc(100vh - 140px);
  overflow-y: auto;
  overflow-x: hidden;
  padding: 15px 15px 90px;
}

.modal-footer {
  position: sticky;
  bottom: 0;
  justify-content: flex-end;
  gap: 5px;
  background-color: #f4f4f4;
}

@media (max-width: 768px) {
  .side-modal {
    width: 75%;
  }
}

.p-10 {
    padding: 10px;
}