.ads {
    padding-top: 0px;
    opacity: 1;
    background: #fff;
    border-radius: 10px;

    a {
        width: 100%;
    }

    img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}

.container {
    max-width: 100% !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
}
.fromSettingLabel {
    color: #1B101B;
    font-weight: 700;
}
.calWidth {
    width: 305px;
    .p-calendar {
        width: 305px !important;
    }
}

::ng-deep {
    .calWidth {
        .p-calendar {
            // width: 305px !important;
        }
    }
    .p-inputswitch.p-inputswitch-checked .p-inputswitch-slider {
        background-color: #2DC74F !important;
    }
}

.form-check-label {
    color: #595959;
}