<p-carousel [value]="blocksSorted" [numVisible]="5" [numScroll]="5" [circular]="false" [showIndicators]="false" [showNavigators]="true" class="p-4 m-2 rounded">
    <ng-template pTemplate="item" let-item>
      <div class="px-2 my-2 row" *ngIf="item?.blockType=='Product'">
        <app-prodcut-card [product]="item?.getAppMarketItemForViewDto?.appItem" [productCard]="item?.getAppMarketItemForViewDto" class=""></app-prodcut-card>
      </div>
      <div class="px-2 my-2 d-flex flex-column" *ngIf="item?.blockType=='Brand'">

        <img [src]="item?.image ? attachmentBaseUrl + '/' +  item?.image : '../../../../assets/placeholders/_logo-placeholder.png'" class="mb-2" style="width: 80px;" alt="" srcset=""
          onerror="'../../../../assets/placeholders/_logo-placeholder.png'" (click)="goToBrand(item)">
          <a (click)="goToBrand(item)">{{item?.name}}</a>
      </div>
    </ng-template>
  </p-carousel>