<p-accordion *ngIf="account">

  <p-accordionTab
    header="{{ 'BasicInformation' | localize }}"
    [selected]="true">

    <div class="basic-info-form">

      <!-- Trade name -->
      <div class="basic-info-row">
        <label class="field-label">
          {{ 'TradeName' | localize }}:
        </label>

        <div class="field-control">
          <input
            type="text"
            class="form-control"
            [(ngModel)]="mainBranch.tradeName"
            name="tradeName"
            [readonly]="isViewMode" />
        </div>
      </div>

      <!-- Email -->
      <div class="basic-info-row">
        <label class="field-label">
          {{ 'Email' | localize }}:
        </label>

        <div class="field-control">
          <input
            type="email"
            class="form-control"
            [(ngModel)]="account.eMailAddress"
            name="emailAddress"
            [readonly]="isViewMode" />
        </div>
      </div>

      <!-- Language -->
      <div class="basic-info-row">
        <label class="field-label">
          {{ 'Language' | localize }}:
        </label>

        <div class="field-control dropdown-control">
          <p-dropdown
            [options]="allLanguages"
            [(ngModel)]="mainBranch.languageId"
            name="languageId"
            optionLabel="label"
            optionValue="value"
            placeholder="{{ 'SelectLanguage' | localize }}"
            [disabled]="isViewMode"
            appendTo="body">
          </p-dropdown>
        </div>
      </div>

      <!-- Currency -->
      <div class="basic-info-row">
        <label class="field-label">
          {{ 'Currency' | localize }}:
        </label>

        <div class="field-control dropdown-control">
          <p-dropdown
            [options]="allCurrencies"
            [(ngModel)]="account.currencyId"
            name="currencyId"
            optionLabel="label"
            optionValue="value"
            placeholder="{{ 'SelectCurrency' | localize }}"
            [disabled]="isViewMode"
            appendTo="body">
          </p-dropdown>
        </div>
      </div>

      <div class="phone-separator"></div>

      <!-- Phone 1 -->
      <div class="phone-row">
        <label class="field-label">
          {{ 'Phone' | localize }}:
        </label>

        <p-dropdown
          styleClass="phone-type-dropdown"
          [options]="allPhoneTypes"
          [(ngModel)]="mainBranch.phone1TypeId"
          name="phone1TypeId"
          optionLabel="label"
          optionValue="value"
          placeholder="{{ 'Type' | localize }}"
          [disabled]="isViewMode"
          appendTo="body">
        </p-dropdown>

        <input
          type="text"
          class="form-control phone-number"
          [(ngModel)]="mainBranch.phone1Number"
          name="phone1Number"
          [readonly]="isViewMode" />

        <input
          type="text"
          class="form-control phone-extension"
          [(ngModel)]="mainBranch.phone1Ext"
          name="phone1Ext"
          placeholder="{{ 'Ext' | localize }}"
          [readonly]="isViewMode" />
      </div>

      <!-- Phone 2 -->
      <div class="phone-row">
        <label class="field-label">
          {{ 'Phone' | localize }}:
        </label>

        <p-dropdown
          styleClass="phone-type-dropdown"
          [options]="allPhoneTypes"
          [(ngModel)]="mainBranch.phone2TypeId"
          name="phone2TypeId"
          optionLabel="label"
          optionValue="value"
          placeholder="{{ 'Type' | localize }}"
          [disabled]="isViewMode"
          appendTo="body">
        </p-dropdown>

        <input
          type="text"
          class="form-control phone-number"
          [(ngModel)]="mainBranch.phone2Number"
          name="phone2Number"
          [readonly]="isViewMode" />

        <input
          type="text"
          class="form-control phone-extension"
          [(ngModel)]="mainBranch.phone2Ext"
          name="phone2Ext"
          placeholder="{{ 'Ext' | localize }}"
          [readonly]="isViewMode" />
      </div>

      <!-- Phone 3 -->
      <div class="phone-row">
        <label class="field-label">
          {{ 'Phone' | localize }}:
        </label>

        <p-dropdown
          styleClass="phone-type-dropdown"
          [options]="allPhoneTypes"
          [(ngModel)]="mainBranch.phone3TypeId"
          name="phone3TypeId"
          optionLabel="label"
          optionValue="value"
          placeholder="{{ 'Type' | localize }}"
          [disabled]="isViewMode"
          appendTo="body">
        </p-dropdown>

        <input
          type="text"
          class="form-control phone-number"
          [(ngModel)]="mainBranch.phone3Number"
          name="phone3Number"
          [readonly]="isViewMode" />

        <input
          type="text"
          class="form-control phone-extension"
          [(ngModel)]="mainBranch.phone3Ext"
          name="phone3Ext"
          placeholder="{{ 'Ext' | localize }}"
          [readonly]="isViewMode" />
      </div>

    </div>

  </p-accordionTab>

  <p-accordionTab header="{{ 'BusinessInformation' | localize }}">
   <div
  *ngIf="roleEntityObjectTypeId !== 21"
>

  <!-- Departments -->
  <div class="department-block">

    <h3 class="department-title">
      {{ "Departments" | localize }}:
    </h3>

    <ng-container
      *ngIf="entityData?.account?.categories?.length > 0; else noDepartment">

      <div class="department-list">

        <div
          class="department-item"
          *ngFor="
            let department of entityData?.account?.categories;
            trackBy: trackByValue
          ">
          {{ department }}
        </div>

      </div>

    </ng-container>

    <ng-template #noDepartment>
      <p class="empty-message">
        {{ "NoDepartmentstodisplay" | localize }}
      </p>
    </ng-template>

  </div>

  <!-- Business Classifications -->
  <div class="department-block">

    <h3 class="department-title">
      {{ "BusinessClassifications" | localize }}:
    </h3>

    <ng-container
      *ngIf="
        entityData?.account?.classfications?.length > 0;
        else noClassification
      ">

      <div class="department-list">

        <div
          class="department-item"
          *ngFor="
            let classification of entityData?.account?.classfications;
            trackBy: trackByValue
          ">
          {{ classification }}
        </div>

      </div>

    </ng-container>

    <ng-template #noClassification>
      <p class="empty-message">
        {{
          "NoBusinessclassificationstodisplay"
            | localize
        }}
      </p>
    </ng-template>

  </div>

</div>
  </p-accordionTab>
<p-accordionTab header="{{ 'Roles' | localize }}">

  <div
    *ngIf="isLoadingRoles"
    class="text-center py-3">
    <i class="fa fa-spinner fa-spin"></i>
  </div>

  <app-dynamicInputs
    *ngIf="
      !isLoadingRoles &&
      roleExtraAttributeObject &&
      roleDynamicInputsForViewDto
    "
    [extraAttributeObject]="roleExtraAttributeObject"
    [entityObjectTypeId]="roleEntityObjectTypeId"
    [entityType]="'Contacts'"
    [dynamicInputsForViewDto]="roleDynamicInputsForViewDto"
    [fromSetting]="false"
    (extraDataChanged)="onRoleExtraAttributesChanged($event)"
    (extraDataCleared)="onRoleExtraAttributeCleared($event)">
  </app-dynamicInputs>

  <div
    *ngIf="!isLoadingRoles && !roleAttributes?.length"
    class="text-muted py-3">
    {{ 'NoRolesAvailable' | localize }}
  </div>

</p-accordionTab>

<!-- <p-accordionTab header="{{ 'Relationship' | localize }}">

  <app-dynamicInputs
    *ngIf="rolesEntityObjectTypeId"
    [entityObjectTypeId]="rolesEntityObjectTypeId"
    [entityType]="'MARKETPLACECONTACTRELATIONSHIP'"
    [dynamicInputsForViewDto]="dynamicInputsForViewDto"
    [fromSetting]="true">
  </app-dynamicInputs>

</p-accordionTab> -->


<p-accordionTab header="{{ 'Relationship' | localize }}">

  <div
    *ngIf="connectionsInfo?.length; "
    class="relationship-section">

    <div
      *ngIf="connectionsInfo.length > 1"
      class="relationship-selector mb-3">

      <label>
        {{ 'Relationship' | localize }}:
      </label>

      <p-dropdown
        [options]="connectionsInfo"
        [(ngModel)]="selectedRelationId"
        optionLabel="connectedLabel"
        optionValue="relationEntityId"
        [disabled]="isLoadingRelationship"
        appendTo="body"
        (onChange)="onRelationshipOptionChange($event.value)">
      </p-dropdown>

    </div>

    <div
      *ngIf="isLoadingRelationship"
      class="text-center py-3">

      <i class="fa fa-spinner fa-spin"></i>

    </div>

    <ng-container *ngIf="!isLoadingRelationship">

      <div
        *ngFor="let usage of usageList"
        class="relationship-usage-block"
        [attr.id]="'account_relationship_usage_' + usage">

        <h5 class="usage-block">
          {{ usage | localize }}
        </h5>

        <app-dynamicInputs
          *ngIf="
            relationshipEntityObjectTypeId &&
            dynamicInputsForViewDto
          "
          [extraAttributeObject]="{
            value: {
              filteredExtraAttributes: groupedByUsage[usage],
              extraAttributes: allRelationshipAttributes
            }
          }"
          [entityObjectTypeId]="relationshipEntityObjectTypeId"
          [entityType]="'MARKETPLACECONTACTRELATIONSHIP'"
          [dynamicInputsForViewDto]="dynamicInputsForViewDto"
          [fromSetting]="true"
          (extraDataChanged)="onRelationshipExtraDataChanged($event)"
          (extraDataCleared)="onRelationshipExtraDataCleared($event)">
        </app-dynamicInputs>

      </div>

    </ng-container>

  </div>


</p-accordionTab>

</p-accordion>