@import '../../assets/styles/base/variables';

.backBtn{
    color: #4A0D4A !important;
    font-weight: 500;
    // box-shadow:0 4px 10px 0px rgba(0, 0, 0, 0.2), 0 0px 0px 0px rgba(0, 0, 0, 0.19);
    // text-align: center;
    // padding: 7px 30px;
    border-radius: 3px;
}
// $light-color
.submitBtn{
   background-color:#4A0D4A !important;
   color: white;
}

.EmailActivation{
    margin-bottom: 40px;;
}
.form-control{
    border: 1px solid #e2e5ec !important;
}