.ariaBtn {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #4A0D4A ;
    color: #fff;
    position: absolute;
    top: 15%;
    cursor: pointer;
    font-size: 15px;
    right: 5%;
}