<div class="single-item mr-1 row w-80 p-4" style="background-color: #F4F6F9 !important;
padding: 10px;">
    <div class="align-items-center bg-secondary d-flex fa-3x justify-content-around mr-1 single-item-photo" [ngStyle]="{
        'background-image':
        account.account.logoUrl ?
        'url(' + attachmentBaseUrl + '/' + account?.account?.logoUrl+ ')'  :
        ''
    }"
    (click)="clickCardHandler()"
    >
        <i *ngIf="!account.account.logoUrl" class="fa-image fas text-black-50"></i>
    </div>
    <div class="single-item-body col " [ngClass]="{singleItemPerRowMode : 'd-flex flex-row'}" >
        <div class="row">
            <div [ngClass]="singleItemPerRowMode?'col-md-9' : 'col-md-11'" >
                <h3 (click)="clickCardHandler()" class="text-capitalize  card-name" [ngClass]="singleItemPerRowMode?'mb-2' : 'm-0'">{{account?.account?.name}}</h3>
                <p  class="text-primary m-0  product-name" [ngClass]="singleItemPerRowMode?'mb-1' : 'm-0'">
                    {{ account?.account.description  | textSubstring : 60 }}
                </p>
                <p *ngIf="singleItemPerRowMode && account.account.classfications" class="text-dark m-0  product-name" [ngClass]="singleItemPerRowMode?'mb-1' : 'm-0'">
                    <b>{{ "Classifications" | localize }}</b> :
                    <span *ngFor="let class of account.account.classfications;let last = last">
                        {{ class }}{{ last ? '' : ', ' }}
                    </span>
                    <span *ngIf="account.account.classfications.length === 0">
                        {{ "NotSpecified" | localize }}
                    </span>
                </p>
                <p *ngIf="singleItemPerRowMode && account.account.categories" class="text-dark m-0  product-name" [ngClass]="singleItemPerRowMode?'mb-1' : 'm-0'">
                    <b>{{"Categories" | localize}}</b> :
                    <span *ngFor="let category of account.account.categories;let last = last">
                        {{ category }}{{ last ? '' : ', ' }}
                    </span>
                    <span *ngIf="account.account.categories.length === 0">
                        {{ "NotSpecified" | localize }}
                    </span>
                </p>

                <div class="mb-1 text-dark " >
                    <b style="    color: #84818A !important;">{{"AccountType" | localize}}: </b>
                    <!-- <span *ngFor="let accountType of account.account.accountType;let last = last">
                        {{ accountType }}{{ last ? '' : ', ' }}
                    </span> -->
                    <span style="
                        background-color: #FFE2C7 !important;
                        border-radius: 4px;
                        color: #F88011 !important;
                        font-weight: bold;
                        display: inline-block;
                        text-align: center;padding: 5px;">
                        {{ account.account.accountType }}
                    </span>
                    
                    <span *ngIf="account.account.accountType.length === 0">
                        {{ "NotSpecified" | localize }}
                    </span>
                    <span *ngIf="singleItemPerRowMode" >
                        <span *ngIf="account.account.status !== null && account.account.accountType !== null">|</span>
                        <b class="ml-1 mr-1" *ngIf="account.account.addressLine1 || account.account.city || account.account.countryName  || account.account.state">
                            <i class="flaticon-placeholder-2"></i>
                        </b>
                        <span *ngIf="account.account.addressLine1">
                            {{account.account.addressLine1}}
                        </span>
                        <span *ngIf="account.account.city">
                            , {{account.account.city}}
                        </span>
                        <span *ngIf="account.account.countryName">
                            , {{account.account.countryName}}
                        </span>
                        <span *ngIf="account.account.state">
                            , {{account.account.state}} ,
                        </span>
                        <b class="ml-1">{{ "Zipcode" | localize }}: </b>
                        <span >
                             {{ account.account.zipCode ? account.account.zipCode  : "NotSpecified" | localize }}
                        </span>
                    </span>
                    <div *ngIf="!singleItemPerRowMode" class="align-items-baseline d-flex mt-3 pt-3" style="border-top: 1px solid #84818A;" >
                        <span >
                            <button *ngIf="account.account.status == false && !isHost && !isRecordOwner"
                                class="btn btn-outline-primary mr-2 action-button"
                                (click)="connect()"
                                style="    background-color: #6259CE !important;
                                border: none !important;
                                color: white !important;
                                width: 115px;padding: 5px;"
                                >
                                {{ "Connect" | localize }}
                                <i class="fa fa-user-plus pl-2"> </i>
                            </button>
                        </span>
                        <div  *ngIf="account.account.status !== null ">
                            <span style="background-color: #16B455 !important;
                            border: none !important;
                            color: white !important;
                            width: 115px;
                            display: inline-block;
                            padding: 5px;" styleclass="connected text-success" *ngIf="account.account.status == true && !account.account.isManual && !isHost && !isRecordOwner">
                               
                                {{'Connected' | localize }}
                                <i
                                        class=" pl-2 success-icon bg-success flaticon2-check-mark d-inline-flex rounded-circle text-white"
                                    ></i>
                            </span>
                            <span  style="background-color: red !important;
                            border: none !important;
                            color: white !important;
                            width: 115px;
                            display: inline-block;
                            padding: 5px;" class="text-muted" *ngIf="account.account.status == false && !account.account.isManual && !isHost && false">
                              
                                {{'NotConnected'| localize }}
                                <i
                                class=" pl-2 bg-warning bg-warn d-inline-flex flaticon2-information rounded-circle text-white"
                            ></i>
                            </span>
                            <span  style="    background-color: #6259CE !important;
                            border: none !important;
                            color: white !important;padding: 5px;" class="text-muted" *ngIf="account.account.isManual == true ">
                                   
                                {{ isHost ? ('ExternalAccount'| localize ) : ('ManualAccount' | localize ) }}
                                <i
                                class="bg-warning bg-warn d-inline-flex flaticon2-information rounded-circle text-white"
                            ></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col" >
                <div class="btn-group dropdown" dropdown *ngIf="false">
                    <button class="dropdown-toggle btn btn-sm btn-action"
                        dropdownToggle>
                    </button>
                    <ul class="dropdown-menu actions-dropdown-menu"  *dropdownMenu>
                        <li>
                            <a href="javascript:;"
                                *ngIf="isManual === false                                                                                                                                                                                                      "
                                (click)="viewProfile()">{{l('ViewProfile')}}</a>
                        </li>
                        <li>
                            <a href="javascript:;"
                                *ngIf="account.account.status === false && isManual === false && !isHost && !isRecordOwner"
                                (click)="connect()">{{l('Connect')}}</a>
                        </li>
                        <li>
                            <a href="javascript:;"
                                *ngIf="account.account.status === true && isManual === false && !isHost && !isRecordOwner"
                                (click)="disconnect()">{{'Disconnect' | localize}}</a>
                        </li>
                        <li>
                            <a *ngIf="isManual===true"
                                (click)="edit()">{{'Edit' | localize}}</a>
                        </li>
                        <li>
                            <a href="javascript:;" *ngIf="isManual === true"
                                (click)="deleteAccount()">{{ 'Delete' | localize }}</a>
                        </li>

                    </ul>
                </div>
                <div class="single-row-mode-status">
                    <div *ngIf="singleItemPerRowMode" >
                        <div *ngIf="account.account.status !== null" class="mr-3">
                            <span style="background-color: #16B455 !important;
                            border: none !important;
                            color: white !important;
                            width: 115px;
                            display: inline-block;
                            padding: 5px;" styleclass="connected text-success"  
                             class="connected text-success" *ngIf="account.account.status == true && !account.account.isManual && !isHost && !isRecordOwner">
                               
                                {{'Connected' | localize }}
                                <i
                                class="pl-2 success-icon bg-success flaticon2-check-mark d-inline-flex rounded-circle text-white"
                            ></i>
                            </span>
                            <span style="background-color: red !important;
                            border: none !important;
                            color: white !important;
                            width: 115px;
                            display: inline-block;
                            padding: 5px;"  styleclass="connected text-success"  class="text-muted" *ngIf="account.account.status == false && !isHost && false">
                                
                                {{'NotConnected'| localize }}
                                <i
                                        class="pl-2 bg-warning bg-warn d-inline-flex flaticon2-information rounded-circle text-white"
                                    ></i>
                            </span>
                            <span style="    background-color: #6259CE !important;
                            border: none !important;
                            color: white !important;padding: 5px;" class="text-muted" *ngIf="account.account.isManual == true">
                                
                                {{ isHost ? ('ExternalAccount'| localize ) : ('ManualAccount' | localize ) }}
                                <i
                                class="bg-warning bg-warn d-inline-flex flaticon2-information rounded-circle text-white"
                            ></i>
                            </span>
                        </div>
                        <span >
                            <button *ngIf="account.account.status == false && !isHost && !isRecordOwner"
                                class="btn btn-outline-primary mt-4"
                                (click)="connect()"
                                 style="    background-color: #6259CE !important;
                                border: none !important;
                                color: white !important;
                                width: 115px;padding: 5px;"
                                >
                                {{ "Connect" | localize }}
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

