.aria-input-text,.aria-select{
    height: 47px !important;
    /* background-color: #F3F6F9 !important; */
 }
 .aria-input-text{
      background-color: #F3F6F9 !important;
 }
 .btn-search{
    background-color: transparent;
    border: none;
    padding: 0 20px;
    height: 47px;
    width:51px;
    position: relative;
 }
 .input-search{
    background-color: #CCCCCC;
    margin-right: 15px;
    border-radius: 5px;
 }
 .input-advanced-search{
   background-color: #CCCCCC;
   margin-left: 66px;
   padding-left: 34px;
   width: 54px;
   margin: 0 auto;
   height: 48px;
   text-align: center;
   padding: 15px;
   border-radius: 5px;
 }
 .input-advanced-search:hover,.btn-search:hover{
    background-color: #3699FF !important;
    cursor: pointer;
 }
 .btn-search i{
   font-size: 1.7rem !important;
   color: white;
   position: absolute;
   top: 14px;
   right: 13px;
 }
 .btn-action{
    background-color: #E1F0FF;
    background: url('assets/profile/ActionMenu.svg') no-repeat center;
 }
 .btn-action:hover{
    background-color: #E1F0FF !important;
    /* background: url('assets/profile/Actionmenu-hover.svg') no-repeat center; */
 }
 .btn-action:focus{
    background-color: #2786FB !important;
    background: url('assets/profile/Actionmenu-hover.png') no-repeat center;
 }
 .p-column-data{
    width: 150px;
    font-size: 19px;
    font-weight: 400;
    color: #464E5F;
 }
 body  .nav-link.dropdown-toggle:after, body  .btn.dropdown-toggle:after{
    content: "";
    }
    /* body  .btn-action.dropdown-toggle{
    background-color: #E1F0FF;
        border: none;
        width: 30px;
    }
    body  .btn.dropdown-toggle:active,body .tab2 .btn.dropdown-toggle:hover{
       background-color: #2786FB;
        border: none;
        width: 30px;
    } */
    .btn-white,.btn-white:hover,.btn-white:focus{
        background-color: #FFFFFF;
        color:#3699FF;
        border:1px solid #3699FF;
        padding: 20px !important;
    }
    .btn-blue,.btn-blue:hover,.btn-blue:focus{
        background-color: #3699FF;
        border: none;
        border-radius: 5px;
        color:#E1F0FF;

        width: 130px !important;;
        border-radius: 5px;

     }
     .btn-p-21,.btn-p-21:hover,.btn-p-21:focus{
        padding: 21px !important;
     }
     .kt-subheader .kt-subheader__toolbar .btn {
        margin-left: 2.05rem !important;
    }
    .notconnected{
      background-color: #ECF0F3;
      color: #B5B5C3;
      padding: 2px 10px;
      border-radius: 5px;
    }
    .connected{
      background-color: #C9F7F5;
      color:#1BC5BD;
      font-weight: 600;
      padding: 2px 10px;
      border-radius: 5px;
    }
    @media(max-width:672px){
    .kt-header--fixed.kt-subheader--fixed .kt-subheader {
       min-height: 100px !important;
    }
   }
