@import "../../../../../assets/styles/base/variables";
// .toolbar-btn {
//     color: $primary-color;
//     background-color: $blue-light;
//     border-color: $blue-light;
//     i {
//         color: $primary-color;
//     }
//     &:hover i {
//         color: $white;
//     }
// }

.fa-bars:before{
    color: white !important;
}

.flaticon2-reload:before {
    color: #4a0d4a !important;
}
// .ResetData_btn {
//     background-color: transparent !important;
//     border: 1px solid #c7c7c7 !important;
//     text-align: center !important;
    
// }
 .ResetData_btn i{
    padding-right: 0px;
    padding-left: 7px;
 }
 .sortByDd{
    border: 1px solid #d9d9d9;
    padding: 6px 10px !important;
    border-radius: 6px;
 }
 .filters_container {
    border: 1px solid #eeee;
    border-radius: 12px;
}