<div class="single-item mr-1 row w-80  memberCard_container shadowContainer"
[ngClass]="singleItemPerRowMode?'p-0' : 'p-4'">
    <div class="align-items-center bg-secondary d-flex fa-3x justify-content-around mr-1 single-item-photo" [ngStyle]="{
        'background-image':
        account.account.logoUrl ?
        'url(' + attachmentBaseUrl + '/' + account?.account?.logoUrl+ ')'  :
        '' , 
    'height': singleItemPerRowMode ? 'auto' : '100px'
}"
    (click)="clickCardHandler()"
    >
        <i *ngIf="!account.account.logoUrl" class="fa-image fas text-black-50"></i>
    </div>
    <div class="single-item-body col " [ngClass]="{singleItemPerRowMode : 'd-flex flex-row'}" >
        <div class="row">
            <div [ngClass]="singleItemPerRowMode?'col-md-9' : 'col-md-11'" >
                <h3 (click)="clickCardHandler()" class="card-name mt-1" [ngClass]="singleItemPerRowMode?'mb-2' : 'm-0'">{{account?.account?.name}}</h3>
                <p  class="text-primary m-0  product-name" [ngClass]="singleItemPerRowMode?'mb-1' : 'm-0'">
                    {{ account?.account.description  | textSubstring : 60 }}
                </p>
                <p *ngIf="singleItemPerRowMode && account.account.categories" class="text-dark m-0  product-name" [ngClass]="singleItemPerRowMode?'mb-1' : 'm-0'" style="font-weight: 600;
                font-size: 14px;">
                                <b>{{"Categories" | localize}}</b> :
                                <span class="ml-5" >
                                <span *ngFor="let category of account.account.categories;let last = last" class="ml-3" style="background-color: #F8F8F8F8 !important;
                                padding: 5px;
                                border: 1px solid #E6E6E6;
                                border-radius: 4px;
                                margin-right: 5px;">
                                    {{ category }}
                                    <!-- {{ last ? '' : ', ' }} -->
                                </span>
                                
                                <span *ngIf="account.account.categories.length === 0"  class="ml-3">
                                    {{ "NotSpecified" | localize }}
                                </span>
                            </span>
                            </p>
                <p *ngIf="singleItemPerRowMode && account.account.classfications" class="text-dark m-0  product-name" [ngClass]="singleItemPerRowMode?'mb-1' : 'm-0'" style="font-weight: 600;
    font-size: 14px;">
                    <b>{{ "Classifications" | localize }}</b> :
                    <span class="ml-3" >
                    <span *ngFor="let class of account.account.classfications;let last = last"  class="ml-3" style="background-color: #F8F8F8F8 !important;
                    padding: 5px;
                    border: 1px solid #E6E6E6;
                    border-radius: 4px;
                    margin-right: 5px;">
                        {{ class }}
                        <!-- {{ last ? '' : ', ' }} -->
                    </span>
                    <span *ngIf="account.account.classfications.length === 0"  class="ml-3">
                        {{ "NotSpecified" | localize }}
                    </span>
                </span>
                </p>
              

                <div [ngClass]="singleItemPerRowMode?'pt-0' : 'pt-3'">
                    <b class="accountType_label"
                    [ngStyle]="{
                        'color': singleItemPerRowMode ? 'black' : '#595959'
                }"
                    >{{"AccountType" | localize}}: </b>
                    <!-- <span *ngFor="let accountType of account.account.accountType;let last = last">
                        {{ accountType }}{{ last ? '' : ', ' }}
                    </span> -->
                    <span class="accountType_value ml-3">
                        {{ account.account.accountType }}
                    </span>
                    
                    <span *ngIf="account.account.accountType.length === 0">
                        {{ "NotSpecified" | localize }}
                    </span>
                    <span *ngIf="singleItemPerRowMode d-block" >
                        <!-- <span *ngIf="account.account.status !== null && account.account.accountType !== null">|</span>
                        <b class="ml-1 mr-1" *ngIf="account.account.addressLine1 || account.account.city || account.account.countryName  || account.account.state">
                            <i class="flaticon-placeholder-2"></i>
                        </b>
                        <span *ngIf="account.account.addressLine1">
                            {{account.account.addressLine1}}
                        </span>
                        <span *ngIf="account.account.city">
                            , {{account.account.city}}
                        </span>
                        <span *ngIf="account.account.countryName">
                            , {{account.account.countryName}}
                        </span>
                        <span *ngIf="account.account.state">
                            , {{account.account.state}} ,
                        </span> -->
                        <b  style="font-weight: 600;
                        font-size: 14px;
                        color: black;">{{ "Zipcode" | localize }}: </b>
                        <span  class="ml-2">
                             {{ account.account.zipCode ? account.account.zipCode  : "NotSpecified" | localize }}
                        </span>
                    </span>
                    <div *ngIf="!singleItemPerRowMode" class="align-items-baseline d-flex mt-3" >
                        <span style="width: 100%;text-align: right;">
                            <!-- <button *ngIf="account.account.status == false && !isHost && !isRecordOwner"
                                class="btn btn-outline-primary mr-2 action-button"
                                (click)="connect()"
                                style="    background-color: #6259CE !important;
                                border: none !important;
                                color: white !important;
                                width: 115px;padding: 5px;"
                                >
                                {{ "Connect" | localize }}
                                <i class="fa fa-user-plus pl-2"> </i>
                            </button> -->
                            <button *ngIf="!account.connectionName && fromMarketplace"
                            class="btn mr-2 action-button relation_button"
                            (click)="createRelation(account.avaliableConnectionName)" >
                            <!-- <img src="../../assets/img/input_icons/true-relation.png" class=""> -->
                            {{account.avaliableConnectionName }}
                            <i class="fa fa-user-plus pl-2"> </i>
                        </button>
                        </span>
                        <div  *ngIf="account.connectionName" style="float: right;width: 100%; ">
                            <span class="connectionName" styleclass="connected text-success" *ngIf="account.account.status == true && !account.account.isManual && !isHost && !isRecordOwner">
                                <img src="../../assets/img/input_icons/trueRelation.png" class="">
                                {{account.connectionName }}
                                
                            </span>
                        </div>
                    </div>
                </div>
                
            </div>

            <div class="col" >
                <div class="btn-group dropdown" dropdown *ngIf="false">
                    <button class="dropdown-toggle btn btn-sm btn-action"
                        dropdownToggle>
                    </button>
                    <ul class="dropdown-menu actions-dropdown-menu"  *dropdownMenu>
                        <li>
                            <a href="javascript:;"
                                *ngIf="isManual === false                                                                                                                                                                                                      "
                                (click)="viewProfile()">{{l('ViewProfile')}}</a>
                        </li>
                        <!-- <li>
                            <a href="javascript:;"
                                *ngIf="account.account.status === false && isManual === false && !isHost && !isRecordOwner"
                                (click)="connect()">{{l('Connect')}}</a>
                        </li>
                        <li>
                            <a href="javascript:;"
                                *ngIf="account.account.status === true && isManual === false && !isHost && !isRecordOwner"
                                (click)="disconnect()">{{'Disconnect' | localize}}</a>
                        </li> -->
                        <li>
                            <a *ngIf="isManual===true"
                                (click)="edit()">{{'Edit' | localize}}</a>
                        </li>
                        <li>
                            <a href="javascript:;" *ngIf="isManual === true"
                                (click)="deleteAccount()">{{ 'Delete' | localize }}</a>
                        </li>

                    </ul>
                </div>
                <div class="single-row-mode-status">
                    <div *ngIf="singleItemPerRowMode" >
                        <div *ngIf="account.account.status !== null" class="mr-3" style="float: right;width: 100%; ">
                            <span class="connectionName" styleclass="connected text-success"  
                             class="connected text-success" *ngIf="account.connectionName">
                             <img src="../../assets/img/input_icons/trueRelation.png" class="">
                                {{account.connectionName}}
                            </span>
                        </div>
                        <span style="float: right;width: 100%; ">
                            <button *ngIf="!account.connectionName && fromMarketplace"
                                class="btn relation_button mt-4"
                                (click)="createRelation(account.avaliableConnectionName)">
                                {{ account.avaliableConnectionName | localize }}
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

