<div>
  <div class="contacts  d-flex flex-column">
    <app-syclanding-adv #adv_sm class="d-md-none d-block" [advSliderItems]="advSliderItems" [style.order]="order.adv_sm"></app-syclanding-adv>
    <app-slider #slider class="d-md-block d-none" [style.order]="order.slider"></app-slider>
    <app-cta #cta [style.order]="order.cta"></app-cta>
    <app-syclanding-adv #adv_md class="d-md-block d-none" [advSliderItems]="advSliderItems"  [style.order]="order.adv_md"></app-syclanding-adv>


    <div class="bg-white rounded p-4 m-2 mb-4 ml-4 mr-4" style="margin: 30px 50px !important;" [style.order]="order.brands">
      <h4 class="text-center">Our Brands</h4>

      <p-carousel [value]="brands" [numVisible]="8" [numScroll]="8" [circular]="false" [showIndicators]="false"
        [showNavigators]="true" class="p-4 m-2  rounded">
        <!-- -->
        <ng-template pTemplate="item" let-brand>
          <div class="px-2 my-2">
            <!-- <h5>{{brand?.name}}</h5> -->
            <img [src]="brand?.img ? brand?.img : '../../../../assets/placeholders/_logo-placeholder.png'" style="width: 80px;" alt="" srcset=""
              onerror="'../../../../assets/placeholders/_logo-placeholder.png'">
              <a (click)="goToBrand(brand)">{{brand?.label}}</a>
          </div>
        </ng-template>
      </p-carousel>
    </div>


    <div class="bg-white rounded p-4 m-2 mb-4 ml-4 mr-4" style="margin: 30px 50px !important;" [style.order]="order.products">
      <h4> products</h4>

      <p-carousel [value]="items" [numVisible]="5" [numScroll]="5" [circular]="false" [showIndicators]="false"
        [showNavigators]="true" class="p-4 m-2  rounded">

        <ng-template pTemplate="item" let-product>
          <div class="px-2 my-2">
            <app-prodcut-card [product]="product.appItem" [productCard]="product"></app-prodcut-card>
          </div>
        </ng-template>
      </p-carousel>
    </div>

    <div class="bg-white rounded p-4 m-2 mb-4 ml-4 mr-4" style="margin: 30px 50px !important;" [style.order]="order.productsPaged">
      <h4>products</h4>

      <p-carousel [value]="pages" [numVisible]="1" [numScroll]="1" [circular]="false" [showIndicators]="false"
        [showNavigators]="true" class="p-4 m-2 rounded">
        <ng-template pTemplate="item" let-page>
          <div class="products-grid">
            <div *ngFor="let product of page" class="px-2 my-2">
              <app-prodcut-card [product]="product.appItem" [productCard]="product">
              </app-prodcut-card>
            </div>
          </div>
        </ng-template>
      </p-carousel>
    </div>


  </div>
  <app-syclanding-footer></app-syclanding-footer>
</div>