<footer class="flex-rw p-4 d-none d-md-block footerBG">   
    <section class="footer-bottom-section flex-rw">
  <div class="footer-bottom-wrapper"> 
    <div class="pb-4"><a href='#'
>
    <img
        src="../../../assets/landingPage/Logo_Main.png"
    />
</a></div>

  <i class="fa fa-copyright" role="copyright">
   
  </i> 
  <span class="footer-bottom-rights"> 2022 SIWII Security Your Privacy Terms</span>
      </div>
      <div class="footer-bottom-wrapper pt-5">
      <a href='https://www.facebook.com/siiwii.network/' target="_blank" class="generic-anchor pr-5">  <img
        src="../../../assets/landingPage/Footer_FB_Btn.svg"
    /></a> 
      <a href='https://www.instagram.com/siiwii.network/' target="_blank" class="generic-anchor pr-5"><img
        src="../../../assets/landingPage/Footer_Instagram_Btn.svg"
    /></a>
    <a href='https://twitter.com/siiwii_net' target="_blank" class="generic-anchor pr-5"><img
        src="../../../assets/landingPage/Footer_Twitter_Btn.svg"
    /></a>
    <a href='https://www.linkedin.com/company/siiwii/' target="_blank" class="generic-anchor pr-5"><img
        src="../../../assets/landingPage/Footer_Linkedin_Btn.svg"
    /></a>
    <a href='https://www.youtube.com/channel/UCv_4Ao0myNHsjfxyg4lbLbg' target="_blank" class="generic-anchor pr-5">
        <div style="
background-color: white;
width: 40px;
height: 35px;
border-radius: 5px;" class="d-inline-block pl-1">
            <img _ngcontent-hls-c464="" src="../../../assets/landingPage/Footer_Youtube_Btn.jpg" style="
width: 34px;
height: 34px;
" >
        </div>
    </a>
        </div>
    </section>
  </footer>


  <footer class="flex-rw p-4 d-block d-md-none mb-5"> 
    <div class="footer-bottom-wrapper pt-5 d-flex socialMedia">
        <a href='https://www.facebook.com/siiwii.network/' target="_blank" class="generic-anchor pr-5">  <img
          src="../../../assets/landingPage/SocialMedia_FB_icon.svg"
      /></a> 
        <a href='https://www.instagram.com/siiwii.network/' target="_blank" class="generic-anchor pr-5"><img
          src="../../../assets/landingPage/SocialMedia_In_icon.svg"
      /></a>
      <a href='https://twitter.com/siiwii_net' target="_blank" class="generic-anchor pr-5"><img
          src="../../../assets/landingPage/SocialMedia_Tw_icon.svg"
      /></a>
      <a href='https://www.linkedin.com/company/siiwii/' target="_blank" class="generic-anchor pr-5"><img
          src="../../../assets/landingPage/SocialMedia_Ln_icon.svg"
      /></a>
      <a href='https://www.youtube.com/channel/UCv_4Ao0myNHsjfxyg4lbLbg' target="_blank" class="generic-anchor pr-5">
          <div class="d-inline-block pl-1">
              <img _ngcontent-hls-c464="" src="../../../assets/landingPage/SocialMedia_Yt_icon.svg">
          </div>
      </a>
          </div>
    </footer>