<div class="my-4 calendarRg" *ngIf="filterForm?.get('dateRange')" [formGroup]="filterForm">
  <h4 class="text-captitalize mb-3">{{ "DateRange" | localize }}</h4>

  <p-calendar
    formControlName="dateRange"
    selectionMode="range"
    [showIcon]="true"
    [readonlyInput]="true"
    dateFormat="yy-mm-dd"
    appendTo="body"
    class="w-100"
    [placeholder]="'ChooseDate' | localize"
    (onSelect)="onDateRangeSelect()"
    (onClearClick)="onDateRangeClear()"
  ></p-calendar>

  <div class="text-danger mt-2" *ngIf="dateErrorMessage">
    {{ dateErrorMessage }}
  </div>

  <div class="my-4 border-bottom d-md-block d-none"></div>
</div>