@import '../../../admin/settings/settings.component.scss';
.usage-block {
    border: 1px solid #dcdcdc;
    border-radius: 8px;
    padding: 16px;
    margin-bottom: 16px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    transition: transform 0.2s, box-shadow 0.2s;
  
    h3 {
      margin-top: 0;
      margin-bottom: 12px;
      font-size: 1.1rem;
      color: #333;
    }
  
    &:hover {
      transform: translateY(-2px);
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
  }
  