.shell-container {
  display: flex;
  height: 100%;
  width: 100%;
  // overflow: hidden;
  position: relative;
}

.left-panel-container {
  width: 280px;
  height: 100%;
  flex-shrink: 0;
  transition: width 0.25s ease;
  position: relative;
}

.left-panel-container.collapsed {
  width: 0;
}

.right-shell-container {
  flex: 1;
  min-width: 0;
}