<div class="shell-container">

  <app-entity-breadcrumb></app-entity-breadcrumb>

  <app-entity-header></app-entity-header>

  <app-entity-basic-info
    [entity]="entity"
    [mode]="mode"
    [entityTypes]="entityTypes"
    [statuses]="statuses"
    (entityChange)="entityChange.emit($event)">
  </app-entity-basic-info>

  <app-entity-left-side-panel></app-entity-left-side-panel>
<div class="row">
  <div class="col-7">
  <ng-content  select="[entity-main-content]"></ng-content>
</div>
  <div class="col-5">

  <app-entity-right-panel></app-entity-right-panel>
  </div>
</div>
</div>