<div class="shell-container">

  <div
    class="left-panel-container"
    [class.collapsed]="
      leftPanelCollapsed
    ">

    <app-entity-left-side-panel
      [sections]="leftPanelSections"
      [collapsed]="
        leftPanelCollapsed
      "
      (toggle)="
        leftPanelCollapsed =
          !leftPanelCollapsed
      ">
    </app-entity-left-side-panel>

  </div>

  <div class="right-shell-container">

    <app-entity-header
      [title]="title"
      [breadcrumbItems]="
        breadcrumbItems
      "
      [mode]="mode"
      (close)="close.emit()"
      (minimize)="
        minimize.emit()
      "
    >
    </app-entity-header>

 <app-entity-basic-info
  [entity]="entity"
  [entityData]="entityData"
  [mode]="mode"

  [entityTypes]="entityTypes"
  [statuses]="statuses"
  [fields]="basicInfoFields"

  [logoPath]="logoPath"
  [coverPath]="coverPath"
  [attachmentsPath]="attachmentsPath"

  [logoAttachmentCategory]="logoAttachmentCategory"
  [bannerAttachmentCategory]="bannerAttachmentCategory"
  [imageAttachmentCategory]="imageAttachmentCategory"

  [saving]="saving"
  [uploading]="uploading"

  (entityChange)="entityChange.emit($event)"
  (logoChange)="logoChange.emit($event)"
  (backgroundChange)="backgroundChange.emit($event)"
  (imageChange)="imageChange.emit($event)"
  (attachmentRemove)="attachmentRemove.emit($event)"

  (edit)="edit.emit()"
  (save)="save.emit()"
  (cancel)="cancel.emit()">
</app-entity-basic-info>

<div class="content-row">

    <div
        class="main-content-container"
        [class.expanded]="rightPanelCollapsed">

        <ng-content
            select="[entity-main-content]">
        </ng-content>

    </div>

    <div
        class="right-panel-wrapper"
        [class.collapsed]="rightPanelCollapsed">

        <button
            class="panel-toggle-btn"
            (click)="toggleRightPanel()">

            <i
                class="fa"
                [ngClass]="
                    rightPanelCollapsed
                        ? 'fa-chevron-left'
                        : 'fa-chevron-right'
                ">
            </i>

        </button>

        <app-entity-right-panel
            *ngIf="!rightPanelCollapsed">
        </app-entity-right-panel>

    </div>

</div>
  </div>

</div>