<div class="shell-container">


  <app-entity-header
    [title]="title"
    [breadcrumbItems]="breadcrumbItems"
    [mode]="mode"
    (close)="close.emit()"
    (minimize)="minimize.emit()"
    (maximize)="maximize.emit()">
  </app-entity-header>

  <app-entity-basic-info
    [entity]="entity"
    [mode]="mode"
    [entityTypes]="entityTypes"
    [statuses]="statuses"
    (entityChange)="entityChange.emit($event)">
  </app-entity-basic-info>

  <app-entity-left-side-panel></app-entity-left-side-panel>
<div class="row p-4">
  <div class="col-7">
  <ng-content  select="[entity-main-content]"></ng-content>
</div>
  <div class="col-5">

  <app-entity-right-panel></app-entity-right-panel>
  </div>
</div>
</div>