@import '../../assets/styles/base/variables';
.backBtn{

    color: #4A0D4A !important;
    font-weight: 500;
    border-radius: 3px;
}

.submitBtn{
    // background-color: $light-color !important;
    color: white;
    background-color: #4A0D4A !important;
}
// .Login_container{
//     border: 1px solid #EEEEEE    ;
//     border-radius: 20px;
//     max-width: 90% !important;
//     margin-top: 0px !important;
//     padding: 50px 20px;

// }
// .sub_titleLog{
//     color: #1B101B !important;
//     font-weight: 600;
// }

// .alarmInfo_title{
//     display: inline-block;
//     width: 90%;
//     vertical-align: middle;
// }
// .alarmInfo {
//     font-size: 22px;
//     color: #F6851D;
//     vertical-align: super;
//     padding-right: 10px;

//     display: inline-block;

// }
.ForgotPassword{
    margin-bottom: 40px;
}
// .MT0{
//     margin-top: 0px !important;
// }
// .MT40{
//     margin-top: 40px !important;
// }
// .MB0{
//     margin-bottom: 0px !important;
// }
// .MB20{
// margin-bottom: 20px !important;
// }