@import '../../assets/styles/base/variables';
.backBtn{

    color: #4A0D4A !important;
    font-weight: 500;
    border-radius: 3px;
}

.submitBtn{
    // background-color: $light-color !important;
    color: white;
    background-color: #4A0D4A !important;
}

.ForgotPassword{
    margin-bottom: 40px;
}
.form-control{
    border: 1px solid #e2e5ec !important;
}