<div class="kt-login__form" [@routerTransition]>
    <div class="kt-login__title">
        <h3 class="m-0">
            {{ 'ForgotPassword' | localize }}
        </h3>
    </div>

    <form class="kt-form" #forgotPassForm="ngForm" method="post" novalidate (ngSubmit)="save()">
        <p>
            {{"SendPasswordResetLink_Information" | localize}}
        </p>

        <div class="form-group">
            <input #UserNameInput="ngModel" [(ngModel)]="model.userName" autoFocus class="form-control placeholder-no-fix" type="text" autocomplete="new-password" placeholder="{{'UserName@DomainName' | localize}} *" name="UserName" required maxlength="256"  />
            <validation-messages [formCtrl]="UserNameInput"></validation-messages> 
        </div>
        <div class="kt-login__actions">
            <button [disabled]="saving"  routerLink="/account/login" type="button" class="backBtn bgPurple btn btn-light btn-elevate kt-login__btn-secondary"><i class="fa fa-arrow-left"></i> {{"Back" | localize}}</button>
            <button type="submit"   
             class="submitBtn btn  btn-elevate kt-login__btn-primary" [disabled]="!forgotPassForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-check"></i> {{"Submit" | localize}}</button>
        </div>
    </form>
</div>
