.orderForm {
    .header {
        span {
            color: #f6851d
        }
    }
}

@media (min-width: 992px) {
    .download-section {
        display: none;
    }

    .orderInfoForm {
        display: block;
    }
}


@media (max-width: 992px) {
    .download-section {
        display: block;
    }

    .orderInfoForm {
        display: none;
    }
}

.btnPdf {
    background-color: #4A0D4A;
    color: #fff;
    height: 35px;
}


::ng-deep {
    .p-progressbar .p-progressbar-value {
        border: 0 none;
        margin: 0;
        background: #4A0D4A !important;
    }

    .p-dialog {


        padding: 24px 24px 32px !important;
        min-width: 350px !important;
        height: 98 !important;

        background: #FFFFFF !important;
        border: 1px solid #EEEEEE !important;
        box-shadow: 4px 4px 10px rgba(22, 22, 22, 0.15) !important;
        border-radius: 10px !important;

    }

    .p-dialog .p-dialog-header {
        border: none !important;
        background: white !important;
        padding: 0 !important;
    }




}

.regText {

    font-weight: 700;
    font-size: 14px;
    line-height: 21px;


    color: #1B101B;



}