<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #sycApplicationForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="sycApplication.id">{{l("EditSycApplication")}}</span>
                        <span *ngIf="!sycApplication.id">{{l("CreateNewSycApplication")}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">



								<div class="form-group">
									<label for="SycApplication_Code">{{l("Code")}} *</label>
									<input type="text" #SycApplication_Code="ngModel" id="SycApplication_Code" class="form-control" [(ngModel)]="sycApplication.code" name="Code"   minlength="1"  maxlength="50"  required/>
								    <validation-messages [formCtrl]="SycApplication_Code"></validation-messages>
								</div>

								<div class="form-group">
									<label for="SycApplication_Name">{{l("Name")}}</label>
									<input type="text" #SycApplication_Name="ngModel" id="SycApplication_Name" class="form-control" [(ngModel)]="sycApplication.name" name="Name"   minlength="1"  maxlength="200" />
								    <validation-messages [formCtrl]="SycApplication_Name"></validation-messages>
								</div>

								<div class="form-group">
									<label for="SycApplication_Notes">{{l("Notes")}}</label>
									<input type="text" #SycApplication_Notes="ngModel" id="SycApplication_Notes" class="form-control" [(ngModel)]="sycApplication.notes" name="Notes"    />
								    <validation-messages [formCtrl]="SycApplication_Notes"></validation-messages>
								</div>


                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">{{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary blue" [disabled]="!sycApplicationForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i> <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>

</div>
