.p-contextmenu ul li a {
    text-decoration: none;
    color: #000;
}

.p-contextmenu .p-menuitem-text {
    font-family: Poppins !important;
    font-size: 13px !important;
}

.p-contextmenu .p-menuitem :hover {
    background-color: #f4f5f8;
}
