<div
  class="d-flex justify-content-center image-upload-container"
  [ngStyle]="{
    'width.px': staticWidth,
    'height.px': staticHeight,

  }"
>
  <label
    class="p-0 mb-0 w-100 h-100"
    for="image{{ inputID }}"
    [ngClass]="fromReview ? '' : 'uploadfilecontainer'"
    (drop)="fileChange($event)"
  >
    <input
      class="input-file"
      type="file"
      name="image{{ inputID }}"
      id="image{{ inputID }}"
      (change)="fileChange($event)"
      [accept]="acceptedExtensions"
      [disabled]="isDisabled"
      [ngStyle]="{ cursor: isDisabled ? 'not-allowed' : 'pointer' }"
    />

    <!-- IMAGE PREVIEW -->
    <ng-container *ngIf="!isPdf; else pdfPreview">
      <app-image-display  *ngIf="image"    
        [staticWidth]="staticWidth"
        [staticHeight]="staticHeight"
        [image]="image"
        [sycAttachmentCategory]="sycAttachmentCategory"
      >
      </app-image-display>
    </ng-container>

    <!-- PDF PREVIEW -->
    <ng-template #pdfPreview>
      <div class="w-100 h-100 d-flex flex-column align-items-center justify-content-center">
        <object
          *ngIf="pdfSafeUrl"
          [data]="pdfSafeUrl"
          type="application/pdf"
          width="100%"
          height="100%"
        >
          <a [href]="pdfSafeUrl" target="_blank" rel="noopener">
            {{ 'Open PDF' | localize }}
          </a>
        </object>
      </div>
    </ng-template>

    <!-- PLACEHOLDER / GUIDELINES -->
    <div
      *ngIf="!image && !isPdf"
      class="align-items-center d-flex flex-column h-100 justify-content-center w-100 pl-1 pr-1"
    >
      <div *ngIf="!fromReview">
        <div class="upload-content">
          <i class="pi pi-upload upload-icon mx-2"></i>
          <span class="upload-text">{{l("ClickOrDrop")}}</span>
        </div>
      </div>
      <div *ngIf="sycAttachmentCategory?.aspectRatio && showGuidelines">
        {{ l('AspectRatio?', sycAttachmentCategory?.aspectRatio) }}
      </div>
      <div *ngIf="sycAttachmentCategory?.maxFileSize && showGuidelines">
        {{ l('MaxSize?', sycAttachmentCategory?.maxFileSize) }} MB
      </div>
      <div *ngIf="sycAttachmentCategory?.message && showGuidelines">
        {{ l(sycAttachmentCategory?.message) }}
      </div>
      <div *ngIf="acceptedExtensions && showGuidelines">
        {{ l('SupportedExtensions') }}
        {{ acceptedExtensions }}
      </div>
    </div>

    <!-- ICONS -->
    <img
      *ngIf="!fromReview"
      src="assets/profile/Edit_Image.svg"
      class="image-upload-edit"
    />
    <img
      *ngIf="fromReview"
      src="assets/placeholders/imageAttach.png"
      class="mr-2 iconImg"
      alt="Image Attach"
    />
    <img
      src="assets/profile/Remove_image.svg"
      *ngIf="image || isPdf"
      class="image-upload-remove"
      (click)="emitRemoveImage($event)"
    />
  </label>
</div>
