:host ::ng-deep .generic-entity-modal {
  border-radius: 16px;

}

::ng-deep .generic-entity-modal  {
   .p-dialog  {
  padding: 0 !important;
   
  }
  body .p-dialog .p-dialog-content{
  padding: 0 !important;

  }
  padding: 0 !important;
  height: 100% !important;

}

:host ::ng-deep .generic-entity-modal .p-dialog-header {
  display: none;
}

