:host ::ng-deep .generic-entity-modal {
  border-radius: 16px;
  overflow: hidden;
}

:host ::ng-deep .generic-entity-modal .p-dialog-content {
  padding: 0 !important;
  height: 100% !important;
  overflow: hidden !important;
}

:host ::ng-deep .generic-entity-modal .p-dialog-header {
  display: none;
}