:host ::ng-deep .generic-entity-modal {
  border-radius: 16px;

}

:host ::ng-deep .generic-entity-modal .p-dialog-content {
  padding: 0 !important;
  height: 100% !important;

}

:host ::ng-deep .generic-entity-modal .p-dialog-header {
  display: none;
}