.seller-data {
    height: 300px !important;
    overflow: hidden;

    .logo-name {
        // background-color: #87878a;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 150px;
        top: 85px;
    

        img {
            width: 130px;
            height: 130px;
            border-radius: 20px;
            border: 2px solid #FFFFFF;
            object-fit: cover;

        }
    }

    .banner {
        // background-position: top top;
        // background-repeat: no-repeat;
        // background-size: cover;
        // height: 300px;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        margin-top: -180px;
    }
}

.web {
    display: block;
}

.mobile {
    display: none;
}

@media only screen and (max-width: 576px) {
    .web {
        display: none !important;
    }
    .mobile {
        display: block !important;
        // overflow: hidden;
        position: relative;
        margin-bottom: 4rem;
        .seller-bannner {
            background-position: top center !important;
            background-size: cover !important;
            background-repeat: no-repeat !important;
            height: 135px;
            background-color: #b1b1b1 !important;
            margin: 12px !important;
            border-radius: 6px !important;
        }
        .mobile-logo {
            position: absolute;
            top: 15%;
            left: 30px;
            img {
                width: 80px;
                height: 80px;
                border-radius: 6px;
                border: 1px solid white;
                object-fit: cover;
            }
        }
        h5 {
            position: absolute;
            bottom: 3px;
            left: 50px;
            color: white;
        }
    }
}
