<div class="single-item  row   memberCard_container shadowContainer"
    [ngClass]="singleItemPerRowMode || fromOverview ?'p-0 no-padding-bottom mx-1' :'p-4 extra-padding-bottom mr-md-4'">
    <div class="align-items-center bg-secondary d-flex fa-3x justify-content-around mr-1 single-item-photo" [ngStyle]="{
        'background-image':
        account.account.logoUrl ?
        'url(' + attachmentBaseUrl + '/' + account?.account?.logoUrl+ ')'  :
        '' , 
    'height': singleItemPerRowMode ? 'auto'  :  '100px', 
    'width':  singleItemPerRowMode  ? '200px' : '100px',
    'border-top-right-radius': fromOverview && !isArabic  ? '0px' : '',
    'border-top-left-radius': fromOverview && isArabic  ? '0px' : '',
    'border-bottom-right-radius': fromOverview && !isArabic  ? '0px' : '',
    'border-bottom-left-radius': fromOverview && isArabic  ? '0px' : '',
}" (click)="clickCardHandler()">
        <i *ngIf="!account.account.logoUrl" class="fa-image fas text-black-50"></i>
    </div>
    <div class="single-item-body col pr-0" style="width: 176px;" [ngClass]="{singleItemPerRowMode : 'd-flex flex-row'}"
        [ngStyle]="{
        'padding-left': fromOverview ? '0px' : ''
      }">
        <div>
            <div [ngClass]="singleItemPerRowMode?'col-md-9' : 'col-md-12'" class=""
                [ngClass]="fromOverview ? 'p-1' :'p-0'">
                <h3 *ngIf="!fromOverview" (click)="clickCardHandler()" class="card-name mt-1" [ngClass]="singleItemPerRowMode?'mb-2' : 'm-0'">
                    {{account?.account?.name}}</h3>
                    <h6 *ngIf="fromOverview" (click)="clickCardHandler()" class="card-name mt-1" [ngClass]="singleItemPerRowMode?'mb-2' : 'm-0'">
                        {{account?.account?.name}}</h6>
                <div class="info-container d-flex flex-column">
                    <!-- Categories Section -->
                    <div *ngIf="singleItemPerRowMode && account.account.categories"
                        class="d-flex align-items-center mb-1">
                        <p class="text-dark m-0 product-name">
                            <b>{{"Categories" | localize}}</b> :
                        </p>
                        <span class="d-flex flex-wrap align-items-center">
                            <span *ngFor="let category of account.account.categories" class="mt-2 categoryName">
                                {{ category }}
                            </span>
                            <span *ngIf="account.account.categories.length === 0" class="mt-2">
                                {{ "NotSpecified" | localize }}
                            </span>
                        </span>
                    </div>

                    <!-- Classifications Section -->
                    <div *ngIf="singleItemPerRowMode && account.account.classfications"
                        class="d-flex align-items-start">
                        <p class="text-dark m-0 product-name">
                            <b>{{ "Classifications" | localize }}</b> :
                        </p>
                        <span class="d-flex flex-wrap align-items-center">
                            <span *ngFor="let class of account.account.classfications" class="mt-2 classificationaName">
                                {{ class }}
                            </span>
                            <span *ngIf="account.account.classfications.length === 0" class="mt-2">
                                {{ "NotSpecified" | localize }}
                            </span>
                        </span>
                    </div>
                </div>



                <div [ngClass]="singleItemPerRowMode?'pt-0 pt-3' : ''" class="accTpye">
                    <!-- Account Type -->
                    <b class="accountType_label" [ngStyle]="{
                      'color': singleItemPerRowMode ? 'black' : '#595959','font-size': fromOverview ? '10px':''
                    }" >
                        {{ "AccountType" | localize }}:
                    </b>
                    <span class="accountType_value  mt-2 ml-1" [ngClass]="fromOverview ? 'p-2' :''">
                        {{ account.account.accountType || ('NotSpecified' | localize) }}
                    </span>
                </div>



                <div>
                    <div [ngClass]="singleItemPerRowMode?'pt-0' : 'pt-3'" class="mb-1" *ngIf="account.account?.website">
                        <img src="../../../../../assets/accounts/Ceo.png" />
                        <span class="spanGreyColor">
                            <b class="accountType_label pt-4" [ngStyle]="{
                              'color': singleItemPerRowMode ? 'black' : '#595959'
                            }" style="min-width: 115px;">
                                {{ "Ceo :" | localize }}
                            </b>
                            <div class="domain-text ml-2" [title]="account?.account?.website"> {{
                                account?.account?.website | textSubstring : 30 }} </div>
                        </span>
                    </div>
                </div>


                <div>
                    <div [ngClass]="singleItemPerRowMode?'pt-0' : 'pt-1'" class="mb-1" [ngStyle]="{
                    'font-size': fromOverview ? '11px' : ''
                  }">
                        <img src="../../../../../assets/accounts/followers.png" [ngStyle]="{
                    'width': fromOverview ? '15px' : ''
                  }" />
                        <span class="spanGreyColor">
                            {{ account?.connectionCount ? account?.connectionCount : '0' }} {{ '
                            Connections' }}
                        </span>
                    </div>

                    <div [ngClass]="singleItemPerRowMode?'pt-0' : 'pt-3'" class="mb-1"
                        *ngIf="account.account?.description">
                        <img src="../../../../../assets/accounts/about.png" />
                        <span class="spanGreyColor">
                            <b class="accountType_label pt-4" [ngStyle]="{
                            'color': singleItemPerRowMode ? 'black' : '#595959'
                          }" style="min-width: 115px;">
                                {{ "About" | localize }} :
                            </b>
                            <div> {{ account?.account?.description | textSubstring : 40 }} </div>
                        </span>
                    </div>
                </div>



                <div *ngIf="singleItemPerRowMode" class="d-flex align-items-center mb-1">
                    <!-- Zipcode -->
                    <b class="zipCode">
                        {{ "Zipcode" | localize }}:
                    </b>
                    <span class="pl-2">
                        {{ account.account.zipCode ? account.account.zipCode : ("NotSpecified" | localize) }}
                    </span>
                </div>


            </div>

            <div>
                <div class="btn-group dropdown" dropdown *ngIf="false">
                    <button class="dropdown-toggle btn btn-sm btn-action" dropdownToggle>
                    </button>
                    <ul class="dropdown-menu actions-dropdown-menu" *dropdownMenu>
                        <li>
                            <a href="javascript:;"
                                *ngIf="isManual === false                                                                                                                                                                                                      "
                                (click)="viewProfile()">{{l('ViewProfile')}}</a>
                        </li>

                        <li>
                            <a *ngIf="isManual===true" (click)="edit()">{{'Edit' | localize}}</a>
                        </li>
                        <li>
                            <a href="javascript:;" *ngIf="isManual === true" (click)="deleteAccount()">{{ 'Delete' |
                                localize }}</a>
                        </li>

                    </ul>
                </div>
                <div>
                    <div>

                        <span style="width: 100%; " class="mt-3 d-flex" *ngIf="(account?.availableConnections?.length == 0 && account?.connectionName ) || (account?.connectionName)">
                           
                            <div class="btn relation_Status_button mt-4" [ngStyle]="{
                                'bottom':  singleItemPerRowMode  ? '5px' : '1px' ,'right' : !isArabic ?'5px':'' ,'left' : isArabic ?'5px':''
                            }" style="    white-space: nowrap; font-size: 12px;
                            
                               cursor: auto;  " dropdown>

                                <button type="button" dropdownToggle style="  border: none !important;
                                background: white;padding: 0;">
                                    <img class="pb-1" style="width: 15px;"
                                        src="../../assets/accounts/ph_check-bold.png" /> <span *ngIf="getFormattedConnectionName('connectionName') as connName"
                                        [title]="connName">
                                    {{ connName.length > 10 ? (connName | slice:0:10) + '...' : connName | localize }}
                                  </span> <i
                                        class="fas fa-lg ml-1 fa-angle-down" style="color: #777777 !important;"></i>
                                </button>

                                <ul *dropdownMenu class="dropdown-menu" role="menu">
                                    <li role="menuitem">
                                        <button class="dropdown-item" type="button" (click)="disconnect(account)">
                                            {{ getFormattedConnectionName('disConnectLabel') }}
                                        </button>
                                    </li>
                                </ul>
                            </div>



                        </span>

                        <span style="width: 100%; " class="mt-3"
                            *ngIf="(account?.availableConnections?.length > 0 ) ">

                            <!-- Guard + alias once -->
                            <ng-container *ngIf="account?.availableConnections as options">
                                <div
                                    [ngStyle]="{ bottom: singleItemPerRowMode ? '5px' : '1px' }"
                                    style="white-space: nowrap;  right: 5px;" dropdown>
                                    <!-- Main button = first option -->
                                    <button type="button " class="relation_button" [ngClass]="isArabic ? 'relation-ar' :'relation-en'" dropdownToggle 
                                       >
                                        <img class="pb-1" style="width: 15px;" (click)="createRelation(options[0])"
                                            [src]="getConnectionIcon(options[0]?.connectLabel)" alt="" />
                                        <span  (click)="createRelation(options[0])" class="ml-1" [title]="options[0]?.connectLabel">{{     options[0]?.connectLabel?.length > 10
                                            ? (options[0].connectLabel | slice: 0:10) + '...'
                                            : options[0]?.connectLabel }}</span>

                                        <!-- caret only if there are more -->
                                        <i *ngIf="options.length > 1" class="fas fa-lg ml-4 fa-angle-down"
                                            style="color: #fff !important;"></i>
                                    </button>

                                    <!-- Dropdown only if > 1 -->
                                    <ng-container *ngIf="options.length > 1">
                                        <ul *dropdownMenu class="dropdown-menu" role="menu">
                                          <li role="menuitem" *ngFor="let option of options | slice:1" class="py-2">
                                            <button class="dropdown-item" type="button" (click)="createRelation(option)">
                                              <img class="pb-1 mr-2" style="width: 15px;" [src]="getConnectionIcon(option?.connectLabel)" alt="" />
                                              {{ option?.connectLabel }}
                                            </button>
                                          </li>
                                        </ul>
                                      </ng-container>
                                      
                                </div>
                            </ng-container>

                        </span>

            
                
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>