@import '../../assets/styles/base/variables';

._tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

._tooltip .tooltiptext {
    visibility: hidden;
    width: 250px;
    background-color: #4a0d4a;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: -85px;
}

._tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

._tooltip:hover .tooltiptext {
    visibility: visible;
}

.backBtn{
    color: #4A0D4A !important;
    font-weight: 500;
    border-radius: 3px;
    width: 120px;
    height: 40px !important;
}

.submitBtn{
    // background-color: $light-color !important;
    color: white;
    background-color: #4A0D4A !important;
    height: 40px !important;
    width: 120px;
}
.edition_label{
    font-size: 20px;
    font-weight: 500;
    color: #9E9E9E;
    margin-top: 16px;
}
.Personal_Info {
    font-size: 24px;
    font-weight: 700;
    color: #1B101B;
    width: 100%;
    margin-bottom: 20px;
}
.form-control{
    border: 1px solid #e2e5ec !important;
}