<h3 class="register_label_margin titleLog">
    {{ "AccountSignUp" | localize }}
</h3>

<h4 *ngIf="model.edition" class="text-left edition_label register_label_margin">
    {{ "Edition" | localize }}: {{ accountTypeLabel }} {{ "Edition" | localize }}
</h4>
 
<div class="Login_container kt-login__form" [@routerTransition]>
    <form #registerForm="ngForm" role="form" novalidate (submit)="save()" class="kt-form mt-2">
        <h5 *ngIf="model.edition" class="Personal_Info text-left">
          <label *ngIf="accountTypeLabel.includes('PERSONAL')"> {{ accountTypeLabel }}</label>
          <label *ngIf="!accountTypeLabel.includes('PERSONAL')">{{ "Account" | localize }}</label>
          {{ "Information" | localize }} 
        </h5>

        <div class="form-group row">
            <div class="col-9 col-lg-12 pl-0 p-0 MB20">
                <label class="sub_titleLog"> {{"WorkSpaceName"| localize}} <span class="StarInfo">*</span></label>
                <div class="p_relative">
                <img src="../../assets/img/input_icons/workSpaceIcon.png" class="User_icon icon-width">
                <input #tenancyName="ngModel" class="MT0 form-control" autoFocus type="text"
                    placeholder="{{ 'EnterYourWorkSpaceName' | localize }} " [(ngModel)]="model.tenancyName" name="tenancyName"
                    required maxlength="64" [pattern]="domainPattern" /></div>
            </div>
            <!-- <div class="col-1 pl-0 pt-3">
                        <a class="_tooltip pt-1">
                            <img src="../../assets/accounts/Form_Input Btn.svg" width="50px" height="50px" />
                            <span class="tooltiptext">
                                <h6 style="
                            font-weight: 100;
                        ">{{
                                    "WorkspaceTooltip" | localize
                                    }}</h6>
                            </span>
                        </a>
                    </div> -->

            <div *ngIf="!tenancyName.valid && !tenancyName.pristine">
                <span class="form-text text-danger text-left">{{
                    "TenantName_Regex_Description" | localize
                    }}</span>
            </div>
        </div>
        <!--   <div class="form-group col-9 col-lg-12 col-md-10 col-sm-7 m-0">
                <p-dropdown
                #accountTypeInput="ngModel"
              placeholder="{{ 'Account Type' | localize }} *"
              [options]="accountTypes"
               styleClass="ticket-dropdown form-control aria-select text-left"
                [filter]="false"
               name="accountType"
               (onChange)="changeAccountType($event)"
               [(ngModel)]="accountType"
              required>
               </p-dropdown>

                <validation-messages
                    [formCtrl]="accountTypeInput"
                ></validation-messages>
            </div>
 -->

        <div *ngIf="model.edition" class="form-group col-9 col-lg-12 MB20">
            <label class="sub_titleLog"> {{"AccountName"| localize}} <span class="StarInfo">*</span></label>
            <div class="p_relative">
            <img src="../../assets/img/input_icons/user.png" class="User_icon icon-width">
            <input #nameInput="ngModel" class="MT0 form-control" type="text"
                placeholder="{{ 'EnterAccountName' | localize }} *" [(ngModel)]="model.name" name="Name" required
                maxlength="128" /></div>
            <validation-messages [formCtrl]="nameInput"></validation-messages>
        </div>

        <!-- <h5 class="mt-2" *ngIf="!accountTypeLabel.includes('PERSONAL')">
            {{ "AdminInformation" | localize }}
        </h5> -->
        <!-- <h5 class="mt-2" *ngIf="accountTypeLabel.includes('PERSONAL')">
            {{ "PersonalInformations" | localize }}
        </h5> -->



        <div class="row MB20 PR2L10">
            <label  *ngIf="!accountTypeLabel.includes('PERSONAL')" class="Personal_Info co-lg-12"> {{"AdminInformation" | localize}} </label>
            <div class="form-group col-5 col-lg-6 col-md-6 col-sm-6 pr-2">
                <label class="sub_titleLog"> {{"FirstName" | localize}} <span class="StarInfo">*</span></label>
                <div class="p_relative">
                <img src="../../assets/img/input_icons/user.png" class="User_icon icon-width SmallUser_icon">
                <input #firstNameInput="ngModel" class="MT0 form-control" type="text"
                    [placeholder]="('EnterYourFirstName' | localize )" [(ngModel)]="model.firstName" name="adminFirstName"
                    required /></div>
                    <!-- firstName.length > 0 ? firstName : ('EnterYourFirstName' | localize ) -->
                <span class="form-text text-danger">
                    <validation-messages [formCtrl]="firstNameInput"></validation-messages>
                </span>
            </div>
            <div class="form-group col-5 col-lg-6 col-md-6 col-sm-6">
                <label class="sub_titleLog"> {{ "lastName" | localize }} <span class="StarInfo">*</span></label>
                <div class="p_relative">
                <img src="../../assets/img/input_icons/user.png" class="User_icon icon-width SmallUser_icon">
                <input #lastNameInput="ngModel" class="MT0 form-control" type="text"
                   [placeholder]="('EnterYourLastName' | localize )" [(ngModel)]="model.lastName" name="adminLastName"
                    required/></div>
                    <!-- lastName.length > 0  ? lastName : ( 'EnterYourLastName' | localize ) -->
                <span class="form-text text-danger">
                    <validation-messages [formCtrl]="lastNameInput"></validation-messages>
                </span>
            </div>
        </div>


        <div class="form-group MB20">
            <label class="sub_titleLog" *ngIf="!accountTypeLabel.includes('PERSONAL')"> {{"AdminEmailAddressL" | localize}}<span class="StarInfo">*</span></label>
            <label class="sub_titleLog" *ngIf="accountTypeLabel.includes('PERSONAL')"> {{"PersonalEmailAddressL" | localize}}<span class="StarInfo">*</span></label>
            <div class="p_relative">
            <img src="../../assets/img/input_icons/letter.png" class="User_icon icon-width">
            <input #adminEmailAddressInput="ngModel" class="MT0 form-control" type="email"
                [placeholder]="!accountTypeLabel.includes('PERSONAL') ? ('EnterTheAdminEmailAddress' | localize) : ( 'EnterYourPersonalEmailAdress '| localize)"
                [(ngModel)]="model.adminEmailAddress" name="adminEmailAddress" required maxlength="256" email /></div>

            <span class="form-text text-danger">
                <validation-messages [formCtrl]="adminEmailAddressInput"></validation-messages>
            </span>
        </div>
        <div class="row MB20 PR2L10 ng-tns-c369-1">
            <div class="form-group MB20 col-lg-6 pr-2">
                <label class="sub_titleLog" *ngIf="accountTypeLabel.includes('PERSONAL')">{{" Password" | localize}} <span class="StarInfo">*</span></label>
                <label class="sub_titleLog" *ngIf="!accountTypeLabel.includes('PERSONAL')">{{" AdminPassword" | localize}} <span class="StarInfo">*</span></label>
                <div class="p_relative">
                <img src="../../assets/img/input_icons/lock.png" class="User_icon icon-width SmallUser_icon">
                <input type="password" name="Password" class="MT0 form-control" [(ngModel)]="model.adminPassword"
                    #Password="ngModel"
                    [placeholder]="'EnterYourPassword' | localize "
                    validateEqual="PasswordRepeat" reverse="true"
                    [requireDigit]="passwordComplexitySetting.requireDigit" [requireLowercase]="
                        passwordComplexitySetting.requireLowercase
                    " [requireUppercase]="
                        passwordComplexitySetting.requireUppercase
                    " [requireNonAlphanumeric]="
                        passwordComplexitySetting.requireNonAlphanumeric
                    " [requiredLength]="passwordComplexitySetting.requiredLength" required pPassword
                    [promptLabel]="l('PleaseEnterYourNewPassword')" [weakLabel]="l('weak')" [mediumLabel]="l('medium')"
                    [strongLabel]="l('strong')" /></div>

                <div [hidden]="
                        registerForm.form.valid || registerForm.form.pristine
                    " class="form-group">
                    <ul class="form-text text-danger" *ngIf="Password.errors">
                        <li [hidden]="!Password.errors.requireDigit">
                            {{
                            "PasswordComplexity_RequireDigit_Hint"
                            | localize
                            }}
                        </li>
                        <li [hidden]="!Password.errors.requireLowercase">
                            {{
                            "PasswordComplexity_RequireLowercase_Hint"
                            | localize
                            }}
                        </li>
                        <li [hidden]="!Password.errors.requireUppercase">
                            {{
                            "PasswordComplexity_RequireUppercase_Hint"
                            | localize
                            }}
                        </li>
                        <li [hidden]="!Password.errors.requireNonAlphanumeric">
                            {{
                            "PasswordComplexity_RequireNonAlphanumeric_Hint"
                            | localize
                            }}
                        </li>
                        <li [hidden]="!Password.errors.requiredLength">
                            {{
                            "PasswordComplexity_RequiredLength_Hint"
                            | localize
                            : passwordComplexitySetting.requiredLength
                            }}
                        </li>
                    </ul>
                </div>
            </div>

            <div class="form-group MB20 col-lg-6">
                <label class="sub_titleLog"> {{"PasswordRepeat" | localize}}<span class="StarInfo">*</span></label>
                <div class="p_relative">
                <img src="../../assets/img/input_icons/lock.png" class="User_icon icon-width SmallUser_icon">
                <input type="password" name="PasswordRepeat" class="MT0 form-control" [ngModel]="model.passwordRepeat"
                    #PasswordRepeat="ngModel" placeholder="{{'EnterYourConfirmPassword' | localize}}" validateEqual="Password"
                    reverse="false" [requireDigit]="passwordComplexitySetting.requireDigit" [requireLowercase]="
                        passwordComplexitySetting.requireLowercase
                    " [requireUppercase]="
                        passwordComplexitySetting.requireUppercase
                    " [requireNonAlphanumeric]="
                        passwordComplexitySetting.requireNonAlphanumeric
                    " [requiredLength]="passwordComplexitySetting.requiredLength" required /></div>
                <div [hidden]="
                        registerForm.form.valid || registerForm.form.pristine
                    " class="form-group">
                    <ul class="form-text text-danger" *ngIf="PasswordRepeat.errors">
                        <li [hidden]="!PasswordRepeat.errors.requireDigit">
                            {{
                            "PasswordComplexity_RequireDigit_Hint"
                            | localize
                            }}
                        </li>
                        <li [hidden]="!PasswordRepeat.errors.requireLowercase">
                            {{
                            "PasswordComplexity_RequireLowercase_Hint"
                            | localize
                            }}
                        </li>
                        <li [hidden]="!PasswordRepeat.errors.requireUppercase">
                            {{
                            "PasswordComplexity_RequireUppercase_Hint"
                            | localize
                            }}
                        </li>
                        <li [hidden]="
                                !PasswordRepeat.errors.requireNonAlphanumeric
                            ">
                            {{
                            "PasswordComplexity_RequireNonAlphanumeric_Hint"
                            | localize
                            }}
                        </li>
                        <li [hidden]="!PasswordRepeat.errors.requiredLength">
                            {{
                            "PasswordComplexity_RequiredLength_Hint"
                            | localize
                            : passwordComplexitySetting.requiredLength
                            }}
                        </li>
                        <li [hidden]="PasswordRepeat.valid">
                            {{ "PasswordsDontMatch" | localize }}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="kt-login__actions">
            <button [disabled]="saving" routerLink="/account/login" type="button"
                class="backBtn btn shadowContainer btn-elevate kt-login__btn-secondary">
                {{"Back" | localize}}
            </button>
            <button type="submit" class="submitBtn btn  kt-login__btn-primary" [disabled]="!registerForm.form.valid"
                [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')">
                {{ "Submit" | localize }}
            </button>
        </div>
    </form>

</div>