<div [@routerTransition]>
  <div class="kt-content kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
  
  
                <div class="kt-subheader kt-grid__item">
                  <div [class]="containerClass">
                    <div class="kt-subheader__main">
                        <h3 class="kt-subheader__title">
                            <span>{{l("AppTenantPlans")}}</span>
                        </h3>
                        <span class="kt-subheader__separator kt-subheader__separator--v"></span>
                        <span class="kt-subheader__desc">
                            {{l("AppTenantPlansHeaderInfo")}}
                        </span>
                    </div>
                    <div class="kt-subheader__toolbar">
                        <div class="kt-subheader__wrapper">
            				<button (click)="exportToExcel()" class="btn btn-outline-success"><i class="fa fa-file-excel"></i> {{l("ExportToExcel")}}</button>
                <button *ngIf="isGranted('Pages.Administration.AppTenantPlans.Create')" (click)="createAppTenantPlan()" 
            			class="btn btn-primary blue"><i class="fa fa-plus"></i> {{l("CreateNewAppTenantPlan")}}</button>
                        </div>
                    </div>
                  </div>
                </div>
            
    
    <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid'">
        <div class="kt-portlet kt-portlet--mobile">
            <div class="kt-portlet__body">
                <form class="kt-form" autocomplete="off">
                    <div>
                        <div class="row align-items-center">
                            <div class="col-xl-12">
                                <div class="form-group m-form__group align-items-center">
                                    <div class="input-group">
                                        <input [(ngModel)]="filterText" name="filterText" autoFocus class="form-control m-input" [placeholder]="l('SearchWithThreeDot')" type="text">
                                        <span class="input-group-btn">
                                            <button (click)="getAppTenantPlans()" class="btn btn-primary" type="submit"><i class="flaticon-search-1"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
						 <div class="row" [hidden]="!advancedFiltersAreShown">
						 	<div class="col-md-12">
						         <div class="kt-separator kt-separator--border-dashed"></div>
						     </div>


                            <div class="col-md-3">
                                <div class="form-group">
									<label  for="MinAddDateFilter">{{l("AddDateRange")}}</label>
									<div class="input-group">
                                        <input class="form-control m-input" id="MinAddDateFilter" name="MinAddDateFilter" type="datetime" bsDatepicker  placeholder="{{l('MinValue')}}" [(ngModel)]="minAddDateFilter">
			                            <span style="line-height: 40px;padding: 0 15px 0 15px;"> &mdash; </span>
                                        <input class="form-control m-input" id="MaxAddDateFilter" name="MaxAddDateFilter" type="datetime" bsDatepicker  placeholder="{{l('MaxValue')}}" [(ngModel)]="maxAddDateFilter">
									</div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
									<label  for="MinEndDateFilter">{{l("EndDateRange")}}</label>
									<div class="input-group">
                                        <input class="form-control m-input" id="MinEndDateFilter" name="MinEndDateFilter" type="datetime" bsDatepicker  placeholder="{{l('MinValue')}}" [(ngModel)]="minEndDateFilter">
			                            <span style="line-height: 40px;padding: 0 15px 0 15px;"> &mdash; </span>
                                        <input class="form-control m-input" id="MaxEndDateFilter" name="MaxEndDateFilter" type="datetime" bsDatepicker  placeholder="{{l('MaxValue')}}" [(ngModel)]="maxEndDateFilter">
									</div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
									<label  for="MinStartDateFilter">{{l("StartDateRange")}}</label>
									<div class="input-group">
                                        <input class="form-control m-input" id="MinStartDateFilter" name="MinStartDateFilter" type="datetime" bsDatepicker  placeholder="{{l('MinValue')}}" [(ngModel)]="minStartDateFilter">
			                            <span style="line-height: 40px;padding: 0 15px 0 15px;"> &mdash; </span>
                                        <input class="form-control m-input" id="MaxStartDateFilter" name="MaxStartDateFilter" type="datetime" bsDatepicker  placeholder="{{l('MaxValue')}}" [(ngModel)]="maxStartDateFilter">
									</div>
                                </div>
                            </div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="SycPlanNameFilter">({{l("SycPlan")}}) {{l("Name")}}</label>
									<input type="text" class="form-control" id="SycPlanNameFilter" name="sycPlanNameFilter" [(ngModel)]="sycPlanNameFilter">
                                </div>
                            </div>

                        </div>
                        <div class="row mb-2">
                            <div class="col-sm-12">
                                <span class="clickable-item text-muted" *ngIf="!advancedFiltersAreShown" (click)="advancedFiltersAreShown=!advancedFiltersAreShown"><i class="fa fa-angle-down"></i> {{l("ShowAdvancedFilters")}}</span>
                                <span class="clickable-item text-muted" *ngIf="advancedFiltersAreShown" (click)="advancedFiltersAreShown=!advancedFiltersAreShown"><i class="fa fa-angle-up"></i> {{l("HideAdvancedFilters")}}</span>
                            </div>
                        </div>
                    </div>
                </form>

                <div class="row align-items-center">
                    <!--<Primeng-Datatable-Start>-->
                    <div class="primeng-datatable-container col-12"
                         [busyIf]="primengTableHelper.isLoading">
                        <p-table #dataTable
                                     (onLazyLoad)="getAppTenantPlans($event)"
                                     [value]="primengTableHelper.records"
                                     rows="{{primengTableHelper.defaultRecordsCountPerPage}}"
                                     [paginator]="false"
                                     [lazy]="true"
                                     [scrollable]="true"
                                     ScrollWidth="100%"
                                     responsiveLayout="stack" [breakpoint]="'960px'" [tableStyle]="{'min-width': '50rem'}"
                                     [resizableColumns]="primengTableHelper.resizableColumns">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th style="width: 130px" [hidden]="!isGrantedAny('Pages.Administration.AppTenantPlans.Edit', 'Pages.Administration.AppTenantPlans.Delete')">{{l('Actions')}}</th>
                                    <th style="width: 150px" pSortableColumn="planFk.name">
                                        {{l('Name')}}
                                        <p-sortIcon field="sycPlanName"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="addDate">
                                        {{l('AddDate')}}
                                        <p-sortIcon field="appTenantPlan.addDate"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="endDate">
                                        {{l('EndDate')}}
                                        <p-sortIcon field="appTenantPlan.endDate"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="startDate">
                                        {{l('StartDate')}}
                                        <p-sortIcon field="appTenantPlan.startDate"></p-sortIcon>
                                    </th>

                                </tr>
                            </ng-template>                           
							<ng-template pTemplate="body" let-record="$implicit" let-i="rowIndex">
                                <tr>
                                    <td style="width: 130px"
                                        [hidden]="!isGrantedAny('Pages.Administration.AppTenantPlans.Edit', 'Pages.Administration.AppTenantPlans.Delete')">
                                       <div class="btn-group dropdown" dropdown container="body">
                                            <button class="dropdown-toggle btn btn-sm btn-primary" dropdownToggle>
                                                <i class="fa fa-cog"></i><span class="caret"></span> {{l("Actions")}}
                                            </button>
												<ul class="dropdown-menu"  *dropdownMenu>
												<li>
													<a href="javascript:;" 
														(click)="viewAppTenantPlanModal.show(record)">{{l('View')}}</a>
												</li>
												<li>
                                                <a href="javascript:;" *ngIf="permission.isGranted('Pages.Administration.AppTenantPlans.Edit')" 
														(click)="createOrEditAppTenantPlanModal.show(record.appTenantPlan.id)">{{l('Edit')}}</a>												
                                                </li>
												<li>
											        <a  href="javascript:;" *ngIf="permission.isGranted('Pages.Administration.AppTenantPlans.Delete')"
														(click)="deleteAppTenantPlan(record.appTenantPlan)">{{l('Delete')}}</a>
												</li>
                                            </ul>
                                        </div>
                                    </td>
                                    <td style="width:150px">
												<span class="p-column-title"> {{l('Name')}}</span>
												{{record.sycPlanName}}
											</td>
                                    <td style="width:150px">
										<span class="p-column-title"> {{l('AddDate')}}</span>
                                        <span *ngIf="record.appTenantPlan.addDate">
											{{record.appTenantPlan.addDate |  momentFormat:'L' }}
                                        </span>
                                        <span *ngIf="!record.appTenantPlan.addDate">-</span>
                                    </td>
                                    <td style="width:150px">
										<span class="p-column-title"> {{l('EndDate')}}</span>
                                        <span *ngIf="record.appTenantPlan.endDate">
											{{record.appTenantPlan.endDate |  momentFormat:'L' }}
                                        </span>
                                        <span *ngIf="!record.appTenantPlan.endDate">-</span>
                                    </td>
                                    <td style="width:150px">
										<span class="p-column-title"> {{l('StartDate')}}</span>
                                        <span *ngIf="record.appTenantPlan.startDate">
											{{record.appTenantPlan.startDate |  momentFormat:'L' }}
                                        </span>
                                        <span *ngIf="!record.appTenantPlan.startDate">-</span>
                                    </td>

                                </tr>
                               
                            </ng-template>
                        </p-table>
						<div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                            {{l('NoData')}}
                        </div>
                        <div class="primeng-paging-container">
                            <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage"
                                         #paginator
                                         (onPageChange)="getAppTenantPlans($event)"
                                         [totalRecords]="primengTableHelper.totalRecordsCount"
                                         [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                            </p-paginator>
                            <span class="total-records-count">
                                {{l('TotalRecordsCount', primengTableHelper.totalRecordsCount)}}
                            </span>
                        </div>
                    </div>
                    <!--<Primeng-Datatable-End>-->
                </div>
            </div>
        </div>
    </div>
    <createOrEditAppTenantPlanModal #createOrEditAppTenantPlanModal (modalSave)="getAppTenantPlans()"></createOrEditAppTenantPlanModal>    
    <viewAppTenantPlanModal #viewAppTenantPlanModal></viewAppTenantPlanModal>
    
  </div>
</div>
