<form [formGroup]="filterForm" *ngIf="filterForm">
    <div class="m-4 calendarRg">
      <h4 class="text-captitalize mb-3">{{ "DateRange" | localize }}</h4>
  
      <p-calendar
        *ngIf="filterForm?.get('dateRange')"
        formControlName="dateRange"
        selectionMode="range"
        [showIcon]="true"
        [readonlyInput]="true"
        dateFormat="yy-mm-dd"
        appendTo="body"
        class="w-100"
        [placeholder]="'ChooseDate' | localize"
      ></p-calendar>
  
      <div class="text-danger mt-2" *ngIf="dateErrorMessage">
        {{ dateErrorMessage }}
      </div>
    </div>
  
    <div class="m-4 border-bottom"></div>
  
    <!-- Event Type (Online/InPerson) -->
    <div
      class="m-4 border-bottom removeScroll"
      *ngIf="filtersFlags?.isOnline && filterForm?.get('isOnline')"
    >
      <app-single-selection-filter
        #EventTypeFilter
        [filterMetaData]="eventTypeStatusFilterMetaData"
        [formContol]="filterForm?.get('isOnline')"
        [title]="'EventType' | localize"
        (onLoadData)="getEventTypeOptionsList(EventTypeFilter)"
      >
      </app-single-selection-filter>
    </div>
  
    
    <div class="m4 border-bottom"
  >
            <app-multi-selection-filter
        #CountryFilter
        [filterMetaData]="countryFilterMetaData"
       [formContol]="filterForm.get('countries')"
        [title]="'Countries' | localize"
        [showSearchBox]="true"
        (filterText)="onLookupSearch($event, 'country', CountryFilter)"
        (onLoadData)="getCountriesList(CountryFilter)">
      </app-multi-selection-filter>

</div>

    <div class="m-4">
      <!-- City -->
      <div class="mt-4 pt-4" *ngIf="filterForm?.get('city')">
        <h4 class="text-captitalize mb-3">{{ "City" | localize }}</h4>
        <div class="d-flex flex-column d-flex flex-wrap">
          <input
            type="text"
            formControlName="city"
            name="city"
            class="form-control"
            [placeholder]="'EnterText' | localize"
          />
        </div>
      </div>
  
      <!-- Postal Code -->
      <div class="mt-4" *ngIf="filterForm?.get('postalCode')">
        <h4 class="text-captitalize mb-3">{{ "PostalCode" | localize }}</h4>
        <div class="d-flex flex-column d-flex flex-wrap">
          <input
            type="text"
            formControlName="postalCode"
            name="postalCode"
            class="form-control"
            [placeholder]="'EnterText' | localize"
          />
        </div>
      </div>
  
      <!-- State -->
      <div class="mt-4 mb-4 pb-5" *ngIf="filterForm?.get('state')">
        <h4 class="text-captitalize mb-3">{{ "State" | localize }}</h4>
        <div class="d-flex flex-column d-flex flex-wrap">
          <input
            type="text"
            formControlName="state"
            name="state"
            class="form-control"
            [placeholder]="'EnterText' | localize"
          />
        </div>
      </div>
    </div>
  </form>
  