<!-- <p>plans works!</p> -->
<div class="container mb-5">
    <button id="monthlybtn" [ngClass]="{'period-btn': !isMonthlyPlan, 'selected-month-btn': isMonthlyPlan}"
    (click)="monthlyClick()">
        Monthly
    </button>
    <button id="yearlybtn" [ngClass]="{'period-btn': isMonthlyPlan, 'selected-year-btn': !isMonthlyPlan}"
    (click)="yearlyClick()">
        Yearly
    </button>
</div>
<div class="">
  <div class="">
    <table class="vertical-header-table">
      <tbody>
          <tr >
              <td  class="top-left head-c" style="       font-size: 20px;
              display: inline-block;
              padding-top: 50px;">PLans</td> <!-- First vertical column for 'Code' -->
              <td *ngFor="let plan of plans">
                <div class="d-flex flex-column">
                  <p  class="custom-p-free">{{ plan?.appSubscriptionPlanHeader?.name }}</p>
                  <button class="btn free-btn">Sellected</button>
                </div>
              </td>
<!-- 
              <td >
                <div class="d-flex flex-column">
                  <p  class="custom-p-sil">Silver</p>
                  <button class="btn sil-btn">Sellected</button>
                </div>
              </td>
              <td >
                <div class="d-flex flex-column">
                  <p  class="custom-p-gold">Gold</p>
                  <button class="btn gold-btn">Sellected</button>
                </div>
              </td>
              <td  class="top-right" style="   
             display: inline-block;">
                <div class="d-flex flex-column">
                  <p  class="custom-p-cu">Custom</p>
                  <button class="btn cu-btn">Sellected</button>
                </div>
              </td> -->
          </tr>
          <tr>
              <td class="head-c" style="font-size: 20px;">Prices</td> <!-- First vertical column for 'Name' -->
              <td *ngFor="let plan of plans">{{ plan?.appSubscriptionPlanHeader?.monthlyPrice }}</td>
          </tr>
          <tr>
              <td class="head-c" style="font-size: 20px;">Description</td> <!-- First vertical column for 'Category' -->
              <td *ngFor="let product of plans">{{ product?.appSubscriptionPlanHeader.description }}</td>
          </tr>
    
      </tbody>
  </table>
<!-- <div class="plan">
  <h2 class="text-center ">Users</h2>
    <table class="vertical-header-table">
    <tbody>
 
        <tr *ngFor="let detail of plans[0]?.appSubscriptionPlanHeader?.appSubscriptionPlanDetails">
        
          <td  class="head-c"  *ngIf="detail.category == 'USER'">{{ detail.featureName }}</td>
          <div *ngIf="detail.category == 'USER' ">
          <td  *ngFor="let plan of plans">
            <span *ngIf="plan?.appSubscriptionPlanHeader?.appTenantSubscriptionPlanId == plan?.appSubscriptionPlanHeader?.appSubscriptionPlanDetails?.appSubscriptionPlanHeaderId">
              <p  *ngIf="detail.category == 'USER'">{{ detail.featureLimit }}</p>
            </span>
          </td>
        </div>
        </tr>
     

    </tbody>
</table>
</div> -->

<!-- 
<div class="plan">

<h2 class="text-center">Acounts</h2>
</div> -->
<!-- <table class="vertical-header-table">
  <tbody>

      <tr>
          <td class="head-c">Connect with Marketplace Accounts</td> 
          <td *ngFor="let product of plans">{{ product.name }}</td>
      </tr>
   

      <tr>
        <td class="head-c">Manual Acoount Creation</td> 
        <td *ngFor="let product of plans">{{ product.name }}</td>
    </tr>
 

  </tbody>
</table> -->

<div *ngFor="let category of getUniqueCategories()">
  <!-- Dynamically display category name -->
   <div  class="plan">
  <h2 class="text-center ">{{ category }}</h2>
</div>
  <table class="vertical-header-table">
    <tbody>
      <!-- Dynamically create a row for each feature under the current category -->
      <tr *ngFor="let feature of getFeaturesByCategory(category)">
        <!-- First column: Feature name -->
        <td class="head-c">{{ feature.featureName }}</td>
        <!-- Loop through each plan to display the corresponding feature limit -->
        <td *ngFor="let plan of plans">
          <span *ngFor="let detail of plan.appSubscriptionPlanHeader?.appSubscriptionPlanDetails">
            <!-- Check if the feature name matches the current feature being iterated -->
            <span *ngIf="detail.featureName === feature.featureName">{{ detail.featureLimit }}</span>
          </span>
        </td>
      </tr>
    </tbody>
  </table>
</div>


<!-- <div class="plan">
<h2 class="text-center ">Marketplace plans</h2>
</div>
<table class="vertical-header-table">
  <tbody>

      <tr>
          <td class="head-c">Share product to SIIWII Marketplace</td>
          <td *ngFor="let product of plans">{{ product.name }}</td>
      </tr>
   


 

  </tbody>
</table>


<div class="plan">
<h2 class="text-center ">plans List</h2>
</div>
<table class="vertical-header-table">
  <tbody>

      <tr>
          <td class="head-c">Product list creation</td> 
          <td *ngFor="let product of plans">{{ product.name }}</td>
      </tr>
   
      <tr>
        <td class="head-c">Product list contents</td> 
        <td *ngFor="let product of plans">{{ product.name }}</td>
    </tr>
 


 

  </tbody>
</table>
<div class="plan">

<h2 class="text-center">Linesheet</h2>
</div>
<table class="vertical-header-table">
  <tbody>

      <tr>
          <td class="head-c">Generate Linesheet report</td> 
          <td *ngFor="let product of plans">{{ product.name }}</td>
      </tr>
   
      <tr>
        <td class="head-c">Print linesheet PDF</td> 
        <td *ngFor="let product of plans">{{ product.name }}</td>
    </tr>
 
    <tr>
      <td class="head-c">Custom linesheet layout</td>
      <td *ngFor="let product of plans">{{ product.name }}</td>
  </tr>


 

  </tbody>
</table>

<div class="plan">


<h2 class="text-center ">Transactions</h2>
</div>
<table class="vertical-header-table">
  <tbody>

      <tr>
          <td class="head-c">Sales order Transaction line</td> 
          <td *ngFor="let product of plans">{{ product.name }}</td>
      </tr>
   
      <tr>
        <td class="head-c">Purshase order Transaction line</td> 
        <td *ngFor="let product of plans">{{ product.name }}</td>
    </tr>
 



 

  </tbody>
</table>

<div class="plan">

<h2 class="text-center ">Events</h2>
</div>
<table class="vertical-header-table">
  <tbody>

      <tr>
          <td class="head-c">Event Creation</td> 
          <td *ngFor="let product of plans">{{ product.name }}</td>
      </tr>
   




 

  </tbody>
</table>

<div class="plan">

<h2 class="text-center ">Advertisement</h2>
</div>
<table class="vertical-header-table">
  <tbody>

      <tr>
          <td class="head-c">Number of advertising</td> 
          <td *ngFor="let product of plans">{{ product.name }}</td>
      </tr>
   




 

  </tbody>
</table> -->
</div>
</div>