
<div bsModal #BrowseFolder="bs-modal" class="modal  fade" tabindex="-1" role="dialog" aria-labelledby="BrowseFolder"
    aria-hidden="true">
    

    <div class="modal-dialog modal-lg mb-0">
        <div class="modal-content">
            <div class="modal-header-custom">
                <h5 class="modal-title font-weight-bold">Import {{ImportTypes[importType] }} Information</h5>

                <div>
                    <img src="../../../../assets/accounts/importAccounts/close.svg" class="pointer" (click)="hide()" />
                </div>
              </div>

                  <div *ngIf="importType==ImportTypes.Items">
                    <label class="option-tab">
                      <input type="checkbox" [(ngModel)]="imData" (change)="onOptionChange()" class="mr-2"/>
                      <span>Product Data</span>
                    </label>
                  
                    <label class="option-tab">
                      <input type="checkbox" [(ngModel)]="imImages" (change)="onOptionChange()" class="mr-2"/>
                      <span> Product Images</span>
                    </label>
                  </div>


            <div class="uploadfilecontainer m-3">
                <label for="_input">
                    <img src="../../../../assets/accounts/importAccounts/Vector.png" /><br /><br />

                    <ng-container *ngIf="importType!==ImportTypes.price">
                        <input #fileInputRef type="file" id="_input" (change)="fileChangeEvent($event)" name="fileList" webkitdirectory
                            multiple  [disabled]="importType==ImportTypes.Items && !isAnyOptionSelected" class="upload-input"/>
                    </ng-container>

                    <ng-container *ngIf="importType==ImportTypes.price">
                        <input #fileInputRef type="file" id="_input" (change)="fileChangeEvent($event)" name="fileList"
                            accept=".csv,text/csv" class="upload-input"/>
                    </ng-container>

                        
                    <h5>{{"Dropyourfolderhereorclickheretoupload" | localize}} </h5>
                    <h5> {{"FilesformatsSupportedareXLSX,JPGandPNG" | localize}}</h5>
                    <span *ngIf="hasImages">{{"Pleasemakesuretheimagessize5MB" | localize}}</span>
                    <p style="color: #F6851D !important;">*Image Aspect-Ratio is {{aspectRatioNumbers}} </p>
                     </div> 
                     <div *ngIf="importType==ImportTypes.price">
                      
                    <input #fileInputRef type="file" id="_input" (change)="fileChangeEvent($event)" name="fileList" 
                     class="upload-input"   accept=".csv" />
                    <h5> Drop your file here Or Click to Upload </h5>
                     </div>
                  </label>
            </div>
            



            <div class="video-info-box mb-3" *ngIf="importType==ImportTypes.Items">
                <img src="../../../../assets/accounts/importAccounts/VideoTutr.png" alt="Video" class="video-icon" />
              
                <div class="video-content">
                  <div class="video-text">
                    <h5 class="video-title">
                      How to Import {{ImportTypes[importType]}} | Variation and Color images File?...
                    </h5>
                    <p class="video-description">
                      Watch a tutorial video for how to organize and rename your file
                    </p>
                  </div>
              
                    <button type="button" class="browse-btn" (click)="openVideoModal(true)">
                    <span>Watch Video</span>
                  </button>
                </div>
              </div>
              

        </div>
    </div>


    <div class="modal-lg m-auto Download pt-4 pb-4" *ngIf="importType!==ImportTypes.price" [class.download-disabled]="templateLoading">
        <div class="row align-items-baseline mb-4" *ngIf="importType==ImportTypes.Items">
            <div class="col-2 ml-4">
                <h6><span class="required-asterisk">*</span>{{ 'ProductType' | localize}}</h6>
            </div>
            <div class="col-7 pl-0">
                <div class="wide-drop-down">
                    <input type="text" [required]="true" [(ngModel)]="itemType" name="type" readonly
                        class="form-control bg-white form-control-border-grey"
                        placeholder="{{ 'ProductType' | localize}}">
                </div>
            </div>
            <div>
                <button class="select-btn" (click)="openSelectAppItemTypeModal()">
                    <span>{{ itemType ? ('Change'|localize) : ('Select'|localize) }}
                        {{ 'the product type' | localize}}</span>
                  </button>

            </div>
        </div>
        <div class="row">
            <div class="col-1 pt-2   text-right">
                <img src="../../../../assets/accounts/importAccounts/info.svg" />
            </div>
            <div class="col-6">
                <h4>{{"Downloadthetemplatefile" | localize}} </h4>
                <!-- <span> {{"Templatelastupdate" | localize}} {{templateDate}} {{"version"| localize}}  {{templateVersion}}</span> -->
                <span *ngIf="templateLoading">Preparing template...</span>
                <span *ngIf="!templateLoading"> {{"TemplateVersion"| localize}} {{templateVersion}}</span>
            </div>
            <div class="col-5 pr-4 text-right">
                <button class="browse-btn" [disabled]="templateLoading || !templateUrl || (importType==ImportTypes.Items && !itemType)" [ngClass]="{
                    disabled: templateLoading || !templateUrl || (importType==ImportTypes.Items && !itemType)
                }"  (click)="downloadTemplate()">
                    <span>{{ templateLoading ? 'Preparing...' : ("Download"| localize) }}</span>
                  </button>


            </div>
        </div>
    </div>


</div>


<!-- Confirmation Modal -->
<div class="upload-modal" *ngIf="showUploadModal">
    <div class="modal-header">
      <img class="modal-icon pr-2" src="../../../../assets/accounts/importAccounts/fluent_alert-on.png"/>
      <span class="modal-title pt-2">Are you sure you want to upload this {{ importType === ImportTypes.price ? 'file' : 'folder' }}?</span>
      <span class="modal-close" (click)="cancelUpload()">✕</span>
    </div>
  
    <div class="folder-info">
      <img src="../../../../assets/accounts/importAccounts/solar_folder-bold.png" class="folder-icon" />
      <div class="folder-details w-100">
        <div class="folder-name">{{ folderName }}</div>
        <div class="folder-meta">{{ totalFiles }} files &nbsp;&nbsp; {{ totalSizeMB }} MB</div>
      </div>
    </div>
  
    <div class="modal-actions">
      <button class="browse-btn" (click)="confirmUpload()">Upload</button>
      <button class="cancleUpload-btn ml-3" (click)="cancelUpload()">Cancel</button>
    </div>
  </div>
