<!-- Iteration-8 -->
<div bsModal #uploadStatus="bs-modal" class="modal  fade" tabindex="-1" role="dialog" aria-labelledby="uploadStatus"
  aria-hidden="true" [config]="{backdrop: 'static'}">
  <div class="modal-dialog modal-lg modalCenter">
    <div class="modal-content">
      <div class="modal-header-custom">
        <h5 class="modal-title font-weight-bold">Import {{ImportTypes[importType]}} information </h5>

        <div>
          <img src="../../../../assets/accounts/importAccounts/close.svg" class="pointer" (click)="askToClose()" />
        </div>
      </div>

      <div class="modal-header-custom">
        <h5 class="modal-title"> {{(ImportTypes[importType]+" Upload Status") | localize}} </h5>
      </div>

      <div class="border-bottom">
        <div class="row pl-3 pr-3 pb-4">
          <div class="col-4 pt-4">
            <h6>
              {{ "Total Data " | localize }}
              <span class="font-weight-bold passed">{{ " Passed:" | localize }}
                {{uploadingResult?.totalPassedRecords}}</span> |
              <span class="font-weight-bold failed">
                {{ " Failed:" | localize }}
                {{uploadingResult?.totalFailedRecords}}</span>
            </h6>
          </div>

        </div>
      </div>


      <div class="modal-body  p-0 pl-4 uploadStatusContainer">
        <ng-container *ngIf="uploadingResult">
          <!-- <div *ngFor="let record of uploadingResult.excelRecords" class="border-bottom modal-body pb-4 row">
        <div class="col-10">
      <h5>{{record.recordType}} {{record.code}} </h5> 
      <h6>{{record.name}} </h6>
          <span class="{{record.status| uppercase}}STATUS font-weight-bold"> {{record.errorMessage}}</span>
     
</div>

<div class="Status ml-3   pt-2 text-center">
  <img src="../../../../assets/accounts/importAccounts/{{record.status | uppercase}}.svg" class="pr-2"/>
  <span class="{{record.status| uppercase}}STATUS font-weight-bold">{{record.status+"STATUS"|uppercase|localize}}  </span>
  </div>
</div>   -->




          <!-- Tabs -->
          <ul class="tabs  no-gutters">
            <li [class.active]="activeRecordType === 'Image'" (click)="switchTab('Image')"
              class="col-6 text-center py-2">Image Records</li>
            <li [class.active]="activeRecordType === 'Data'" (click)="switchTab('Data')" class="col-6 text-center py-2">
              Data Records</li>
          </ul>

          <div class="table-scroll-container">
            <table class="browser-table min-width-table" style="min-width: 1000px;">
              <thead>
                <tr>
                  <th class="sticky-action-col">Actions</th>
                  <th *ngFor="let columnName of uploadStatsColumnsName">{{ columnName }}</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let record of records">
                  <td class="sticky-action-col">
                    <div class="dropdown">
                      <span class="pointer dropdownPointer" (click)="toggleMenu(record, $event)" style="font-size: 20px;">⋮</span>
                      <ul class="dropdown-menu show-full" [ngClass]="{'drop-up': record.openUpward}" *ngIf="record.showActions">
                        <ng-container *ngIf="record.recordType !== 'Image'">
                          <li (click)="validateDataRecord(record)">Validate Data Record</li>
                        </ng-container>
                        <ng-container *ngIf="record.recordType === 'Image'">
                          <li (click)="validateDataRecord(record)">Link to existing PARENT ITEM</li>
                          <li (click)="validateDataRecord(record)">Link to existing ITEM COLOR</li>
                          <li (click)="validateDataRecord(record)">Link to existing COLOR LOOKUP</li>
                          <li (click)="validateDataRecord(record)">Create NEW PARENT ITEM and LINK AS DEFAULT IMAGE</li>
                          <li (click)="validateDataRecord(record)">Create NEW ITEM COLOR and LINK IMAGE AS DEFAULT IMAGE</li>
                          <li (click)="validateDataRecord(record)">Create to NEW COLOR LOOKUP and Link IMAGE</li>
                          <li (click)="validateDataRecord(record)">Link to NEW PARENT ITEM CODE FROM ASSOCIATED DATA</li>
                          <li (click)="validateDataRecord(record)">Link to NEW ITEM VARIANT CODE FROM ASSOCIATED DATA</li>
                          <li (click)="validateDataRecord(record)">Link to NEW COLOR LOOKUP CODE FROM ASSOCIATED DATA</li>
                        </ng-container>
                      </ul>
                    </div>
                  </td>
              
                  <td class="p-0">
                    <img *ngIf="record.previewUrl" [src]="record.previewUrl" width="50" />
                  </td>
                  <td>{{ record.status || '—' }}</td>
                  <td>{{ record.reason || '—' }}</td>
                  <td>{{ record.code || '—' }}</td>
                  <td>{{ record.name || '—' }}</td>
                  <td>{{ record.name || '—' }}</td>
                  <td>{{ record.name || '—' }}</td>
                  <td>{{ record.status || '—' }}</td>
                  <td>{{ record.reason || '—' }}</td>
                  <td>{{ record.code || '—' }}</td>
                  <td>{{ record.name || '—' }}</td>
                  <td>{{ record.name || '—' }}</td>
                  <td>{{ record.name || '—' }}</td>
                 
                  <td>{{ record.status || '—' }}</td>
                  <td>{{ record.reason || '—' }}</td>
                  <td>{{ record.code || '—' }}</td>
                  <td>{{ record.name || '—' }}</td>
                  <td>{{ record.name || '—' }}</td>
                  <td>{{ record.name || '—' }}</td>
                  <td>{{ record.status || '—' }}</td>
                  <td>{{ record.reason || '—' }}</td>
                  <td>{{ record.code || '—' }}</td>
                  <td>{{ record.name || '—' }}</td>
                  <td>{{ record.name || '—' }}</td>
                  <td>{{ record.name || '—' }}</td>
                  <td>{{ record.status || '—' }}</td>
                  <td>{{ record.reason || '—' }}</td>
                  <td>{{ record.code || '—' }}</td>
                  <td>{{ record.name || '—' }}</td>
                  <td>{{ record.name || '—' }}</td>
                  <td>{{ record.name || '—' }}</td>
                  <td>{{ record.status || '—' }}</td>
                  <td>{{ record.reason || '—' }}</td>
                  <td>{{ record.code || '—' }}</td>
                  <td>{{ record.name || '—' }}</td>
                  <td>{{ record.name || '—' }}</td>
                  <td>{{ record.name || '—' }}</td>
                  <td>{{ record.status || '—' }}</td>
                  <td>{{ record.reason || '—' }}</td>
                  <td>{{ record.code || '—' }}</td>
                  <td>{{ record.name || '—' }}</td>
                  <td>{{ record.name || '—' }}</td>
                  <td>{{ record.name || '—' }}</td>
                  <td>{{ record.status || '—' }}</td>
                  <td>{{ record.reason || '—' }}</td>
                  <td>{{ record.code || '—' }}</td>
                  <td>{{ record.name || '—' }}</td>
                  <td>{{ record.name || '—' }}</td>
                 
                 
                </tr>
              </tbody>
              

            </table>
          </div>





        </ng-container>
      </div>

      <div class="pb-4 pl-5 border-top pt-4 mt-4 text-right mr-4">
        <button class="Next-Btn" (click)="GoNextstep()">{{"Next" | localize}}</button>
      </div>

    </div>
  </div>
</div>


<!-- Iteration-8 -->