.modalCenter{
    margin: 0 !important;
    top: 50% !important;
    /* position: absolute !important; */
    left: 50% !important;
    transform: translate(-50%,-50%) !important;
}
.Next-Btn
{
  width: 175px;
height: 45px;
    background: #509AF7 0% 0% no-repeat padding-box;
    border-radius: 6px;
    opacity: 1;
    cursor: pointer;
}

.Status
{
    width: 100px;
height: 30px;
    background: #F4F4F4 0% 0% no-repeat padding-box;
    border-radius: 6px;
    opacity: 1;
}
.passed
{
    color: #009901;
}
.failed
{
    color: #BD0100;
}
.pointer
{
    cursor: pointer;
}

.uploadStatusContainer
{
    max-height: 450px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.error{
    color: #C31A1A;
}

.PASSEDSTATUS
{
    color:#5DBC00
}

.FAILEDSTATUS
{
    color: #BD0100;
}
.WARNINGSTATUS{
    color: #EB9700;
}
._download 
{
    text-decoration: underline !important;
letter-spacing: 0px !important;
color: #509AF7 !important;
opacity: 1 !important;
}