.contentWithAttach {
    width: 989px;
    min-height: 551px;
}
.contentWithoutAttach {
    width: 744px;
    min-height: 298px;
}
.modal-content {
    border: none;
}

.logo {
    width: 45px;
}

.descriptionContainer {
    // word-wrap: break-word;
    // white-space: pre;
}

.modalCenter {
    margin: 0 !important;
    top: 50% !important;
    /* position: absolute !important; */
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
}
.description {
    max-height: 566px;
    // width: 90%;
    color: #212121;
    line-height: 2;
}

.carouselImg {
    display: block;
    max-width: 100%;
    max-height: 100%;
}
._video {
    display: block;
    /*   max-width: 100%;
    max-height: 100%; */
    width: 506px;
    height: 368px;
}

.linkUrl {
    z-index: 2;
}
.carouselContainer {
    background-color: #333333;
    margin-top: 0px;
    height: 552px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.seeMore {
    color: #0a66c2 !important;
    position: absolute;
    bottom: 25px !important;
}


