:host {
    height: 100%;
}
.label {
    font-size: 16px;
    font-weight: normal;
}
.text-primary {
    color: #4A0D4A !important;
    font-weight: 700;
}

.btn-save {
    background-color: #4A0D4A;
    color: #fff;
 }

 .label {
    color: #10002E;
    font-weight: 500;
    font-size: 16px;
 }

 .modal-title {
    span {
        color: #10002E;
        font-weight: 700;
        font-size: 24px;
    }
   
 }