<!-- <app-address></app-address> -->
<form #phoneNumberForm="ngForm" class="pl-2">
    <div class="row">
        <!-- company name -->
        <div class="col-md-5">
            <div *ngIf="!isReviewMode" class="formGroup">
                <label class="label">Company Name</label>
                <p-dropdown class="w-100" placeholder="Select Company Name" [options]="companeyNames"
                    [(ngModel)]="selectedCompany" optionLabel="name" name="selectedCompany"></p-dropdown>
            </div>
            <div *ngIf="isReviewMode">
                <div class="d-flex align-items-center justify-content-between w-75">
                    <h6 class="previewTitle m-0 p-0">Company Name :</h6>
                    <p class="previewValue m-0 p-0">
                        {{ selectedCompany}}
                    </p>
                </div>
            </div>
        </div>
        <!-- company name -->

        <!-- phone -->
        <div class="col-md-6">
            <div class="row">
                <div *ngIf="ShoppingCartMode.createOrEdit" class="col-2">
                    <label class="label">Phone#</label>
                </div>
                <div *ngIf="ShoppingCartMode.createOrEdit" class="col-12">
                    <div class="groupForm">
                        <p-dropdown
                            placeholder="Phone Type"
                            [options]="phoneTypes"
                            [(ngModel)]="selectedPhoneType"
                            name="selectedPhoneType"
                            optionLabel="label"
                        ></p-dropdown>
                        <div class="w-100">
                            <input placeholder="Phone Number..." type="text" class="form-control ml-3 w-100"
                                [(ngModel)]="PhoneNumber" #phoneNumberInput="ngModel" required name="phoneNumber"
                                pattern="[0-9]*" />
                        </div>
                    </div>
                    <div *ngIf="
                            phoneNumberInput.invalid &&
                            (phoneNumberInput.dirty || phoneNumberInput.touched)
                        " class="text-danger">
                        <small *ngIf="phoneNumberInput.errors.required">
                            Phone number is required.
                        </small>
                        <small *ngIf="phoneNumberInput.errors.pattern">
                            Phone number must contain only numbers.
                        </small>
                    </div>
                </div>
                <div class="col-md-12" *ngIf="ShoppingCartMode.view">
                    <div
                        class="d-flex align-items-center justify-content-between w-75"
                    >
                        <h6 class="previewTitle m-0 p-0">Phone :</h6>
                        <p class="previewValue m-0 p-0">
                            {{PhoneNumber}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- phone -->



        <!-- contact name -->
        <div class="col-md-5 my-2">
            <div *ngIf="ShoppingCartMode.createOrEdit">
                <label class="label">Contact Name</label>
                <input type="text" placeholder="Contact Name..." class="form-control w-100" name="contactName"
                    [(ngModel)]="contactName" #name="ngModel" required />
                <div *ngIf="
                    name.invalid &&
                        (name.dirty || name.touched)
                    " class="text-danger">
                    <small *ngIf="name.errors.required">
                        Contact Name is required.
                    </small>
                </div>
            </div>
            <div *ngIf="ShoppingCartMode.view">
                <div
                    class="d-flex align-items-center justify-content-between w-75"
                >
                    <h6 class="previewTitle m-0 p-0">Contact Name :</h6>
                    <p class="previewValue m-0 p-0">
                        {{ contactName }}
                    </p>
                </div>
            </div>
        </div>
        <!-- contact name -->

        <!-- Email -->
        <div class="col-md-6 my-2 ml-3">
            <div *ngIf="ShoppingCartMode.createOrEdit">
                <label class="label">Email</label>
                <input type="text" placeholder="Email..." class="form-control w-100" [(ngModel)]="email" name="email" />
            </div>
            <div *ngIf="ShoppingCartMode.view">
                <div
                    class="d-flex align-items-center justify-content-between w-75"
                >
                    <h6 class="previewTitle m-0 p-0">Email :</h6>
                    <p class="previewValue m-0 p-0">
                        {{ email }}
                    </p>
                </div>
            </div>
        </div>
        <!-- Email -->

        <!-- branches -->
        <div class="col-md-11 my-2">
            <div *ngIf="!isReviewMode">
                <label class="label">Branches</label>
                <p-dropdown class="w-50" placeholder="Select Branch" [options]="companeyNames"
                    [(ngModel)]="selectedBranch" optionLabel="name" name="branch" appendTo="body"></p-dropdown>
            </div>
            <div *ngIf="isReviewMode">
                <div class="d-flex align-items-center justify-content-between w-75">
                    <h6 class="previewTitle m-0 p-0">Branches :</h6>
                    <p class="previewValue m-0 p-0">
                        {{ appTransactionsForViewDto?.appTransactionContacts[appTransactionContactsIndex]?.branchName }}
                    </p>
                </div>
            </div>
        </div>
        <!-- branches -->

        <!-- Department -->
        <div class="col-md-11 my-2" *ngIf="showDepartment">
            <div *ngIf="!isReviewMode">
                <label class="label">Department</label>
                <input type="text" placeholder="Department Name..." class="form-control w-100" name="DepartmentName"
                    [(ngModel)]="departmentName" #DepartmentName="ngModel" required />
                <div *ngIf="
                    DepartmentName.invalid &&
                        (DepartmentName.dirty || DepartmentName.touched)
                    " class="text-danger">
                    <small *ngIf="DepartmentName.errors.required">
                        Department Name is required.
                    </small>
                </div>
            </div>
            <div *ngIf="isReviewMode">
                <div class="d-flex align-items-center justify-content-between w-75">
                    <h6 class="previewTitle m-0 p-0">Department Name :</h6>
                    <p class="previewValue m-0 p-0">
                        {{ departmentName }}
                    </p>
                </div>
            </div>
        </div>
        <!-- Departments -->

    </div>
</form>
