img {
    width: 24px;
    height: 24px;
    position: absolute;
    right: 22px;
    bottom: 24px;

}

::ng-deep {
    .aria-select-primeng.p-dropdown {
        min-width: 5.5em !important;
    }


    // .tempCon {
    //     .p-icon-wrapper {
    //         display: none !important;
    //     }
      
    // }
}
:host ::ng-deep .tempCon .p-inputtext {
    border-top-right-radius: 8px !important;
    border-bottom-right-radius: 8px !important;
    border-right: 1px solid #e2e5ec !important;
    width: 100% !important;
}
:host ::ng-deep .tempCon .p-inputtext:enabled:focus {
    border: 1px solid #e2e5ec !important;
    border-right: 1px solid #e2e5ec !important;
}
.previewTitle {
    color: #1B101B;
font-style: normal;
font-weight: 600;
}
.previewValue {
    color: #9E9E9E;

    font-style: normal;
    font-weight: 600;
}

