<!-- <app-address></app-address> -->
<form #contactForm="ngForm" class="pl-2">
    <div class="row" style="width: 100%;" *ngIf="isCreateOrEdit">
        <!-- company name -->
        <div class="col-md-6">
            <div class="formGroup">
                <label class="label">Company Name</label>
                <p-dropdown [filter]="true"   [filterValue]="companyFilterValue" (onFilter)="handleCompanySearch($event)" class="w-100" [placeholder]="tempAccount ? companyNamePlaceholder : defaultcompanyNamePlaceholder" 
                  [options]="companeyNames"
                    *ngIf="activeTab!=shoppingCartoccordionTabs.orderInfo && activeTab!=shoppingCartoccordionTabs.SellerContactInfo" [(ngModel)]="appTransactionsForViewDto.appTransactionContacts[this.appTransactionContactsIndex].selectedCompany"
                    [ngClass]="{'tempAccount': tempAccount}" 
                    optionLabel="name" name="selectedCompany"  [virtualScroll]="true" [itemSize]="30" (onChange)="onChangeCompany();companyFilterValue=''" ></p-dropdown>
                  
                <div *ngIf="activeTab==shoppingCartoccordionTabs.orderInfo || activeTab==shoppingCartoccordionTabs.SellerContactInfo">
                    <p class="previewValue text-nowrap m-0 p-0  pl-2 col-6" *ngIf="appTransactionsForViewDto?.appTransactionContacts[this.appTransactionContactsIndex]?.selectedCompany?.name">
                        {{ appTransactionsForViewDto?.appTransactionContacts[this.appTransactionContactsIndex]?.selectedCompany?.name}}
                    </p>
                    <p class="previewValue text-nowrap m-0 p-0 pl-5 col-6" *ngIf="!appTransactionsForViewDto?.appTransactionContacts[this.appTransactionContactsIndex]?.selectedCompany?.name">
                        -
                    </p>
                </div>
            </div>
        </div>
        <!-- company name -->

        <!-- phone -->
        <div class="col-md-6">
            <div class="row">
                <div class="col-6 pl-2">
                    <label class="label">Phone type</label>
                </div>
                <div class="col">
                    <label class="label">Phone Number</label>
                </div>
                <div class="col-12">
                    <div class="groupForm">
                        <p-dropdown [options]="allPhoneTypes"
                        class=" col-6"
                            styleClass="form-control aria-select aria-select-modal aria-select-primeng" [filter]="false"
                            name="selectedPhoneType" optionLabel="phoneTypeName"  [(ngModel)]="appTransactionsForViewDto.appTransactionContacts[this.appTransactionContactsIndex].selectedPhoneType" [style]="{'width':'100%'}"
                            (onChange)="onchangePhoneType($event)"></p-dropdown>

                        <div class="w-100">
                            <!-- [readonly]="!appTransactionsForViewDto?.appTransactionContacts[this.appTransactionContactsIndex]?.selectedPhoneType" 
                                [disabled]="!appTransactionsForViewDto?.appTransactionContacts[this.appTransactionContactsIndex]?.selectedPhoneType"
                                [ngStyle]="{
                                    'cursor': !appTransactionsForViewDto?.appTransactionContacts[this.appTransactionContactsIndex]?.selectedPhoneType ? 'not-allowed' : 'pointer'}"  -->
                            <input placeholder="Phone Number..." type="text" class="form-control ml-3 w-100"
                            (change)="onChangePhoneNumber($event)"
                                [(ngModel)]="appTransactionsForViewDto.appTransactionContacts[this.appTransactionContactsIndex].selectContactPhoneNumber"
                                #phoneNumberInput="ngModel"  name="phoneNumber" minlength="5" maxlength="20"
                                pattern="[0-9]*" 
                                />
                        </div>
                    </div>
                    <div *ngIf="phoneNumberInput.invalid && (phoneNumberInput.dirty || phoneNumberInput.touched)" class="text-danger">
                        <small *ngIf="phoneNumberInput.errors?.pattern">
                            Phone number must contain only numbers.
                        </small>
                        <small *ngIf="!phoneNumberInput.errors?.pattern && (phoneNumberInput.value.length < 5 || phoneNumberInput.value.length > 20)">
                            Phone number must be between 5 and 20 characters long.
                        </small>
                    </div>
                </div>
            </div>
        </div>
        <!-- phone -->

        <!-- contact name -->
        <div class="col-md-6 my-2">
            <div class="formGroup">
                <label class="label">Contact Name</label>
<!--                
                <p-dropdown   [filter]="true" [filterValue]="contactFilterValue" (onFilter)="handleContactSearch($event)" class="w-100" [placeholder]="tempContact ? contactNamePlaceholder : tempAccount ? contactNamePlaceholder  : defaultcontactNamePlaceholder" 
                placeholder="Select Contact Name" [options]="allContacts"
                *ngIf="activeTab!=shoppingCartoccordionTabs.orderInfo" [(ngModel)]="appTransactionsForViewDto.appTransactionContacts[this.appTransactionContactsIndex].selectedContact"
                [ngClass]="{'tempAccount': tempContact}"  optionLabel="name" name="selectedContact" (onChange)="onChangeContact($event)" ></p-dropdown>
            -->
          
            <p-autoComplete
            #autoComplete
            [dropdown]="true"
            [suggestions]="filteredContacts"  
            [ngModelOptions]="{standalone: true}"
            *ngIf="activeTab != shoppingCartoccordionTabs.orderInfo"
            [(ngModel)]="appTransactionsForViewDto.appTransactionContacts[this.appTransactionContactsIndex].selectedContact"
            (completeMethod)="handleContactSearch($event)"
            (onSelect)="onChangeContact($event)"
           
            [placeholder]=" defaultcontactNamePlaceholder"
            field="name" 
            [forceSelection]="false" 
          
            class="w-100" 
            [ngClass]="{'tempAccount': tempContact}" 
  >
            
         
        </p-autoComplete>
        
                        
                    <div *ngIf="activeTab==shoppingCartoccordionTabs.orderInfo">
                    <p class=" previewValue text-nowrap  m-0 p-0 pl-2 col-4" *ngIf="appTransactionsForViewDto?.appTransactionContacts[this.appTransactionContactsIndex]?.selectedContact?.name">
                        {{ appTransactionsForViewDto?.appTransactionContacts[this.appTransactionContactsIndex]?.selectedContact?.name }}
                    </p>
                    <p class=" previewValue text-nowrap  m-0 p-0  pl-5 col-4" *ngIf="!appTransactionsForViewDto?.appTransactionContacts[this.appTransactionContactsIndex]?.selectedContact?.name">
                        -
                    </p>
                </div>
            </div>
        </div>
        <!-- contact name -->

        <!-- Email -->
        <div class="col-md-6 my-2 pr-0">
            <div>
                <label class="label">Email</label>
                <input type="text" placeholder="Email..." class="form-control w-100"
                (change)="onChangeEmail($event)"
                pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
                #emailInput="ngModel"
                    [(ngModel)]="appTransactionsForViewDto.appTransactionContacts[this.appTransactionContactsIndex].selectedContactEmail"
                    name="email" />
            </div>
            <div *ngIf="emailInput.errors &&(emailInput.touched || emailInput.dirty)" class="text-danger">
        <small >
            Invalid  Email
        </small>
        </div>
        </div>
        <!-- Email -->

        <!-- branches -->
        <div class="col-md-12 my-2 pr-0">
            <div>
                <label class="label">Branch</label>
                <p-dropdown class="w-50" placeholder="Select Branch" [options]="allBranches"
                    [(ngModel)]="appTransactionsForViewDto.appTransactionContacts[this.appTransactionContactsIndex].selectedBranch" optionLabel="name" name="branch" appendTo="body"
                    baseZIndex="99999"></p-dropdown>
            </div>
        </div>
        <!-- branches -->

        <!-- Department -->
        <div class="col-md-12 my-2" *ngIf="showDepartment">
            <div>
                <label class="label">Department</label>
                <input type="text" placeholder="Department Name..." class="form-control w-100" name="DepartmentName"
                    [(ngModel)]="appTransactionsForViewDto.buyerDepartment" #DepartmentName="ngModel"  />
                <div *ngIf="
                    DepartmentName.invalid &&
                        (DepartmentName.dirty || DepartmentName.touched)
                    " class="text-danger">
                    <small *ngIf="DepartmentName.errors.required">
                        Department Name is required.
                    </small>
                </div>
            </div>
        </div>
        <!-- Departments -->

    </div>

    <div class="row" *ngIf="!isCreateOrEdit">
        <!-- company name -->
        <div class="col-md-6 my-2">
            <div>
                <div class="d-flex align-items-center   w-100">
                    <h6 class="previewTitle m-0 p-0  col-6">Company :</h6>
                    <p class=" previewValue text-nowrap  m-0 p-0  col-6" *ngIf="appTransactionsForViewDto?.appTransactionContacts[this.appTransactionContactsIndex]?.selectedCompany?.name  || appTransactionsForViewDto?.appTransactionContacts[this.appTransactionContactsIndex]?.companyName">
                        {{ appTransactionsForViewDto?.appTransactionContacts[this.appTransactionContactsIndex]?.selectedCompany?.name   ?     appTransactionsForViewDto?.appTransactionContacts[this.appTransactionContactsIndex]?.selectedCompany?.name : appTransactionsForViewDto?.appTransactionContacts[this.appTransactionContactsIndex]?.companyName}}
                    </p>
                    <p class=" previewValue text-nowrap  m-0 p-0  col-6" *ngIf="!appTransactionsForViewDto?.appTransactionContacts[this.appTransactionContactsIndex]?.selectedCompany?.name  && !appTransactionsForViewDto?.appTransactionContacts[this.appTransactionContactsIndex]?.companyName">
                        -
                    </p>
                </div>
            </div>
        </div>
        <!-- company name -->

        <!-- phone -->
        <div class="col-md-6 my-2">
            <div class="row">
                <div class="col-md-12">
                    <div class="d-flex align-items-center   w-100">
                        <h6 class="previewTitle m-0 p-0  col-6">Phone :</h6>
                        <p class=" previewValue text-nowrap  m-0 p-0  col-6"
                            *ngIf="appTransactionsForViewDto?.appTransactionContacts[this.appTransactionContactsIndex]?.selectContactPhoneNumber ? appTransactionsForViewDto?.appTransactionContacts[this.appTransactionContactsIndex]?.selectContactPhoneNumber : appTransactionsForViewDto.appTransactionContacts[this.appTransactionContactsIndex].contactEmail">
                            {{appTransactionsForViewDto?.appTransactionContacts[this.appTransactionContactsIndex]?.selectContactPhoneNumber ? appTransactionsForViewDto?.appTransactionContacts[this.appTransactionContactsIndex]?.selectContactPhoneNumber  : appTransactionsForViewDto.appTransactionContacts[this.appTransactionContactsIndex].contactPhoneNumber}}
                        </p>
                        <p class=" previewValue text-nowrap  m-0 p-0  col-6"
                            *ngIf="!appTransactionsForViewDto?.appTransactionContacts[this.appTransactionContactsIndex]?.selectContactPhoneNumber || !appTransactionsForViewDto.appTransactionContacts[this.appTransactionContactsIndex].contactPhoneNumber">
                            -
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- phone -->

        <!-- contact name -->
        <div class="col-md-6 my-2">
            <div>
                <div class="d-flex align-items-center   w-100">
                    <h6 class="previewTitle m-0 p-0  col-6">Contact Name :</h6>
                    <p class=" previewValue text-nowrap  m-0 p-0  col-6" *ngIf="appTransactionsForViewDto?.appTransactionContacts[this.appTransactionContactsIndex]?.selectedContact?.name || this.appTransactionsForViewDto?.appTransactionContacts[this.appTransactionContactsIndex]?.contactName">
                        {{ appTransactionsForViewDto?.appTransactionContacts[this.appTransactionContactsIndex]?.selectedContact?.name ? appTransactionsForViewDto?.appTransactionContacts[this.appTransactionContactsIndex]?.selectedContact?.name :  this.appTransactionsForViewDto?.appTransactionContacts[this.appTransactionContactsIndex]?.contactName}}
                    </p>
                    <p class=" previewValue text-nowrap  m-0 p-0  col-6" *ngIf="!appTransactionsForViewDto?.appTransactionContacts[this.appTransactionContactsIndex]?.selectedContact?.name  && !this.appTransactionsForViewDto?.appTransactionContacts[this.appTransactionContactsIndex]?.contactName">
                        -
                    </p>
                </div>
            </div>
        </div>
        <!-- contact name -->

        <!-- Email -->
        <div class="col-md-6 my-2">
            <div>
                <div class="d-flex align-items-center   w-100">
                    <h6 class="previewTitle m-0 p-0  col-6">Email :</h6>
                    <p class=" previewValue  m-0 p-0  col-6"
                        *ngIf="appTransactionsForViewDto?.appTransactionContacts[this.appTransactionContactsIndex]?.contactEmail ">
                        {{
                        appTransactionsForViewDto?.appTransactionContacts[this.appTransactionContactsIndex]?.contactEmail
                        }}
                    </p>
                    <p class=" previewValue text-nowrap  m-0 p-0  col-6"
                        *ngIf="!appTransactionsForViewDto?.appTransactionContacts[this.appTransactionContactsIndex]?.contactEmail ">
                        -
                    </p>
                </div>
            </div>
        </div>
        <!-- Email -->

        <!-- branches -->
        <div class="col-md-6 my-2">
            <div>
                <div class="d-flex align-items-center   w-100">
                    <h6 class="previewTitle m-0 p-0  col-6">Branch :</h6>
                    <p class=" previewValue text-nowrap  m-0 p-0  col-6"
                        *ngIf="appTransactionsForViewDto?.appTransactionContacts[appTransactionContactsIndex]?.branchName">
                        {{ appTransactionsForViewDto?.appTransactionContacts[appTransactionContactsIndex]?.branchName }}
                    </p>
                    <p class=" previewValue text-nowrap  m-0 p-0  col-6"
                        *ngIf="!appTransactionsForViewDto?.appTransactionContacts[appTransactionContactsIndex]?.branchName">
                        -
                    </p>
                </div>
            </div>
        </div>
        <!-- branches -->

        <!-- Department -->
        <div class="col-md-11 my-2" *ngIf="showDepartment">
            <div>
                <div class="d-flex align-items-center   w-100">
                    <h6 class="previewTitle m-0 p-0   col-6">Department Name :</h6>
                    <p class=" previewValue text-nowrap  m-0 p-0  col-6" *ngIf="appTransactionsForViewDto?.buyerDepartment">
                        {{ appTransactionsForViewDto?.buyerDepartment }}
                    </p>
                    <p class=" previewValue text-nowrap  m-0 p-0  col-6" *ngIf="!appTransactionsForViewDto?.buyerDepartment">
                        -
                    </p>
                </div>
            </div>
        </div>
        <!-- Departments -->

    </div>
</form>