img {
    width: 24px;
    height: 24px;
    position: absolute;
    right: 22px;
    bottom: 24px;

}

::ng-deep {
    .form-control{
        height: 44px !important;
    }
    .aria-select-primeng.p-dropdown {
        min-width: 5.5em !important;
    }

    .tempAccount {
        .p-dropdown {
            border: 1px solid #C83532 !important;
        }

        .p-dropdown:not(.p-disabled):hover {
            border: 1px solid #C83532 !important;
        }

    }
}



:host ::ng-deep .tempCon .p-inputtext {
    border-top-right-radius: 8px !important;
    border-bottom-right-radius: 8px !important;
    border-right: 1px solid #e2e5ec !important;
    width: 100% !important;
}

:host ::ng-deep .tempCon .p-inputtext:enabled:focus {
    border: 1px solid #e2e5ec !important;
    border-right: 1px solid #e2e5ec !important;
}

.previewTitle {
    color: #1B101B;
    font-style: normal;
    font-weight: 600;
    white-space: nowrap;
}

.previewValue {
    color: #9E9E9E;

    font-style: normal;
    font-weight: 600;
}


.tooltip-container {
    position: relative;
    display: inline-block;
}

.tooltip {
    visibility: hidden;
    padding: 24px 20px;


    width: 177px;
    height: 120px;


    background: #FFFAF5;
    border: 1px solid #EEEEEE;
    box-shadow: 1px 1px 4px rgba(22, 22, 22, 0.1);
    border-radius: 10px;

    position: absolute;
    z-index: 1;
    bottom: 85%;
    /* Position above the element */
    left: 50%;
    margin-left: -60px;
    /* Center the tooltip */
    opacity: 0;
    transition: opacity 0.3s;
    color: #1B101B;
    font-weight: 500;
}

.tooltip-container:hover .tooltip {
    visibility: visible;
    opacity: 1;
}


:host ::ng-deep .tempCon .p-inputtext {
    border-top-right-radius: 8px !important;
    border-bottom-right-radius: 8px !important;
    border-right: 1px solid #e2e5ec !important;
    width: 100% !important;
}

:host ::ng-deep .tempCon .p-inputtext:enabled:focus {
    border: 1px solid #e2e5ec !important;
    border-right: 1px solid #e2e5ec !important;
}

.tempAccount {
    .p-dropdown {
        border: 1px solid #C83532 !important;
    }

    .p-dropdown:not(.p-disabled):hover {
        border: 1px solid #C83532 !important;
    }

}



::ng-deep .contacts {
    .rtl-autoC {
        .p-button {
            background-color: #fff !important;
            color: #9E9E9E !important;
            border: 1px solid #D9D9D9 !important;
            border-right: none !important;
            border-top-left-radius: 8px !important;
            border-bottom-left-radius: 8px !important;
            border-top-right-radius: 0px !important;
            border-bottom-right-radius: 0px !important;
        }

        .p-inputtext {
            height: 44px !important;
            border-top-right-radius: 8px !important;
            border-bottom-right-radius: 8px !important;
            border: 1px solid #D9D9D9 !important;
            border-left: none !important;
            color: #595959 !important;
            font-size: 14px !important;
            font-weight: 600 !important;
        }

        .p-inputtext:enabled:focus {
            border: 1px solid #e2e5ec !important;
            border-left: none !important;
        }

        .p-button:enabled:hover {
            border: 1px solid #e2e5ec !important;
            border-right: none !important;
        }

    }

}

::ng-deep .contacts {
    .ltr-autoC {
        .p-button {
            background-color: #fff !important;
            color: #9E9E9E !important;
            border: 1px solid #D9D9D9 !important;
            border-left: none !important;
            border-top-right-radius: 8px !important;
            border-bottom-right-radius: 8px !important;
            border-top-left-radius: 0px !important;
            border-bottom-left-radius: 0px !important;
        }

        .p-inputtext {
            height: 44px !important;
            border-top-left-radius: 8px !important;
            border-bottom-left-radius: 8px !important;
            border: 1px solid #D9D9D9 !important;
            border-right: none !important;
            color: #595959 !important;
            font-size: 14px !important;
            font-weight: 600 !important;
        }

        .p-inputtext:enabled:focus {
            border: 1px solid #e2e5ec !important;
            border-right: none !important;
        }

        .p-button:enabled:hover {
            border: 1px solid #e2e5ec !important;
            border-left: none !important;
        }

    }
}

.label {
    white-space: nowrap;
}

.word-break{
    word-break: break-word;
}
.gap-4{
    gap: 4px;
}