<div
    [@routerTransition]
    style="margin-top: -50px"
    class="wrapper kt-container web"
>
    <div
        class="kt-content kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor"
    >
        <h6 class="pageHeader mt-3">Marketplace Product Detail View</h6>
        <div class="row mt-2">
            <div class="col-md-4">
                <app-product-detail-images
                    [productImages]="productImages"
                    [colorAttachmentForMainIamge]="colorAttachmentForMainIamge"
                    [colorView]="isColorView"
                    (setColorView)="setColorView($event)"
                ></app-product-detail-images>
            </div>
            <div class="col-md-5">
                <div class="details mx-3 d-flex flex-column">
                    <div class="d-flex mb-3">
                    <button class="btn m-0 p-0 showRoomLink"  [disabled]="!productBodyData?.sellerSSIN"
                    >
                        <a
                            style="text-decoration: none"
                          (click)="goToShowroom()"
                            rel="noopener noreferrer"
                            >Visit the vitrual showroom</a
                        >
                    </button>
                    </div>
                    <div
                        class="ssin_price align-items-center justify-content-between"
                    >
                        <div class="d-flex mb-3">
                            <h5 class="ssin font-weight-bold text-black" *ngIf="productDetails?.manufacturerCode" style="font-size: 24px;">
                                {{ productDetails?.manufacturerCode }}
                            </h5>
                            <h6 class="type ml-1">
                                {{
                                    productDetails?.orderByPrePack === false
                                        ? "By Size"
                                        : "By Prepack"
                                }}
                            </h6>
                        </div>
                        <div class="product-name mb-4">
                            <h3 style="color: black !important;">{{ productDetails?.name }}</h3>
                        </div>
                        
                        <div class="price mb-4">
                            <!-- show msrp price and range in this product has no special pricing -->
                            <div
                                class="msrp d-flex mb-4"
                            >
                                <h5 class="mr-2" style="color: black !important;">MSRP:  </h5>
                                <h5>
                                    <!-- {{
                                        productDetails?.appItemPriceInfos[0]
                                            .currencySymbol
                                    }} -->
                                    {{
                                       currencySymbol
                                    }}
                                    {{ productDetails?.minMSRP }}
                                </h5>
                                <span
                                    *ngIf="
                                        productDetails?.minMSRP !==
                                        productDetails?.maxMSRP
                                    "
                                >
                                    -
                                </span>
                                <h5
                                    *ngIf="
                                        productDetails?.minMSRP !==
                                        productDetails?.maxMSRP
                                    "
                                >
                                    <!-- {{
                                        productDetails?.appItemPriceInfos[0]
                                            ?.currencySymbol
                                    }} -->
                                    {{
                                        currencySymbol
                                     }}
                                    {{ productDetails?.maxMSRP }}
                                </h5>
                                <h5> /EAC </h5>
                            </div>
                            <div 
                            *ngIf="productDetails?.minSpecialPrice"
                            class="msrp d-flex"
                        >
                            <h5 class="mr-2" style="color: black !important;">Special Price:  </h5>

                           <!--  <h5 *ngIf="showEditSpecialPrice"> 
                                    
                                {{ productDetails?.minSpecialPrice| currency:' ' }}
                            </h5>
                            <<span
                                *ngIf="
                                    productDetails?.minSpecialPrice !==
                                    productDetails?.maxSpecialPrice && showEditSpecialPrice
                                "
                            >
                                -
                            </span> 
                            <h5
                                *ngIf="
                                productDetails?.minSpecialPrice !==
                                productDetails?.maxSpecialPrice  && showEditSpecialPrice"
                                
                            >
                                {{ productDetails?.maxSpecialPrice }}
                            </h5> -->
                            
                            
                            <h5 *ngIf="showEditSpecialPrice"> 
                                    
                                {{ productDetails?.maxSpecialPrice| currency:' ' }}
                            </h5>

                            <!-- <img *ngIf="orderType == 'SO'  && (productDetails?.minSpecialPrice == productDetails?.maxSpecialPrice  && showEditSpecialPrice) "  class="ml-2  poniter" style="cursor: pointer;" src="../../../../../assets/Items//edit-svgrepo-com 1.png"  (click)="showEditSpecialPrice =false;updatedSpecialPrice=productDetails?.minSpecialPrice" /> -->
                            <img *ngIf="orderType == 'SO'  && showEditSpecialPrice"  class="ml-2  poniter" style="cursor: pointer;" src="../../../../../assets/Items//edit-svgrepo-com 1.png"  (click)="showEditSpecialPrice =false;updatedSpecialPrice=productDetails?.maxSpecialPrice" />

                            <label class="ml-3"
                            *ngIf="!showEditSpecialPrice">
                            <div class="editQtyContainer">
                                <div class="fieldset">
                                    <div class="input-group">
                                      <input type="number" min="0" class="form-control inputs form-text" id="editQty" style="width: 267px;
                                      height: 44px;
                                      border-radius: 8px;
                                      border: 2px solid #4A0D4A;"
                                             [(ngModel)]="updatedSpecialPrice">
                                             <div  class="input-group-append position-absolute " style="right: 0px;  z-index: 99999;">
                                                <button class="btn ml-0 pl-2 pt-3 pb-3" (click)="showEditSpecialPrice= true">
                                                  <i class="clear-text fa fa-1x fa-times fa-2x" style="color: #777777;"></i>
                                                </button>
                                              </div>
                                      <div class="input-group-append position-absolute" style="right: 15%;
                                      top: 4px;  z-index: 99999;">
                                        <button class="btn btn-save  mr-0 pr-0" (click)="onEditpecialPrice(updatedSpecialPrice)" 
                                                [ngClass]="{ 'disabled': updatedSpecialPrice < 0 ||
                                               updatedSpecialPrice == productDetails.maxSpecialPrice }"
                                                [disabled]="updatedSpecialPrice < 0 ||
                                               updatedSpecialPrice == productDetails.maxSpecialPrice ">
                                          <i class="fa fa-check fa-2x" style="color: #777777;"></i>
                                        </button>
                                      </div>
                                    </div>
                                    
                                  </div>
                            </div>

                        </label>

                        
                        </div>
                        </div>
                    </div>
                   
                    <div class="description d-flex">
                        <button
                            (click)="scrollToTargetDiv()"
                            class="btn text-primary m-0 p-0"
                        >
                            <a style="text-decoration: none;font-weight: bold;"
                                >Product description</a
                            >
                        </button>
                    </div>
                    <hr
                        style="
                            border-top: 4px solid rgba(0, 0, 0, 0.1) !important ;
                            border-radius: 13px;
                        "
                    />

                    <div class="color-selection">
                        <h5 class="my-2" style="text-decoration: none;color:black  !important">
                            {{
                                productDetails
                                    ?.variations[0]
                                    .extraAttrName
                            }}
                        </h5>
                        <!-- color selections -->
                        <div
                            *ngIf="colorsData?.length <= 8"
                            class="d-flex flex-wrap align-items-center justify-content-lg-start"
                        >
                            <div
                                class="mr-3"
                                *ngFor="let color of colorsData; let i = index"
                                [title]="color.colorName"
                                position="top"
                                class="imagAndHexaCode"
                                tooltipPositionStyleClass="custom-tooltip"
                            >
                                <div
                                    *ngIf="
                                        color.colorCode &&
                                        !color.colorImg
                                    "
                                    class="colorBox"
                                    [ngStyle]="{'background-color':color.colorCode}"
                                    (click)="setSizes(i)"
                                    [ngClass]="
                                        i === currentIndex
                                            ? 'border border-primary '
                                            : ''
                                    "
                                ></div>
                                <img
                                    *ngIf="
                                        (!color.colorImg&&
                                            !color.colorCode) ||
                                        color.colorImg
                                    "
                                    (click)="setSizes(i)"
                                    [src]="
                                        attachmentBaseUrl + '/' + color.colorImg
                                    "
                                    alt="images slides"
                                    class="imageSlides"
                                    onerror="this.src='../../../../../assets/placeholders/appitem-placeholder.png'"
                                    [ngClass]="
                                        i === currentIndex
                                            ? 'border border-primary '
                                            : ''
                                    "
                                />
                            </div>
                        </div>
                        <!-- color selection -->

                        <!-- color slider -->
                        <div class="d-flex" style="height: 70px;" *ngIf="colorsData?.length > 8">
                            <button
                            (click)="slideToPreviousImage()"
                            class="mr-4 indicator-btns"
                        >
                            <i class="fa fa-chevron-left"></i>
                        </button>
                            <div class="slider-container">
                                <div
                                    class="slider"
                                    [style.transform]="
                                        'translateX(' + translateX + 'px)'
                                    "
                                >
                                    <div
                                        *ngFor="
                                            let color of colorsData;
                                            let i = index
                                        "
                                        [title]="color.colorName"
                                        position="top"
                                        tooltipPositionStyleClass="custom-tooltip"
                                    >
                                        <div
                                            *ngIf="
                                                color.colorCode&&
                                                !color.colorImg
                                            "
                                            class="colorBox"
                                            [ngStyle]="{'background-color': color.colorCode}"
                                            (click)="setSizes(i)"
                                            [ngClass]="
                                                i === currentIndex
                                                    ? 'border border-primary '
                                                    : ''
                                            "
                                        ></div>
                                        <img
                                            *ngIf="
                                                (!color.colorImg&&
                                                    !color.colorCode ) ||
                                                color.colorImg 
                                            "
                                            (click)="setSizes(i)"
                                            [src]="
                                                attachmentBaseUrl +
                                                '/' +
                                                color.colorImg
                                            "
                                            alt="images slides"
                                            class="imageSlides"
                                            onerror="this.src='../../../../../assets/placeholders/appitem-placeholder.png'"
                                            [ngClass]="
                                                i === currentIndex
                                                    ? 'border border-primary '
                                                    : ''
                                            "
                                        />
                                    </div>
                                </div>
                            </div>
                            <button
                                (click)="slideToNextImage()"
                                class="indicator-btns"
                            >
                                <i class="fa fa-chevron-right"></i>
                            </button>
                        </div>

                        <!-- start order by size -->
                        <h5
                            *ngIf="!productDetails?.orderByPrePack"
                            class="my-4"
                            style="text-decoration: none"
                        >
                            Order By Size
                        </h5>
                        <table
                            *ngIf="!productDetails?.orderByPrePack"
                            class="table text-center table-bordered table-white"
                        >
                            <thead>
                                <tr>
                                    <th scope="col">Size</th>
                                    <th scope="col">Avaiable QTY</th>
                                    <th scope="col">Ordered</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr
                                    *ngFor="
                                        let size of colorsData[currentIndex]
                                            ?.sizes;
                                        let i = index
                                    "
                                >
                                    <td>{{ size.label }}</td>
                                    <td>{{ size.stockAvailability }}</td>
                                    <td>
                                        <p-inputNumber
                                            [(ngModel)]="size.orderedQty"
                                            mode="decimal"
                                            [showButtons]="true"
                                            inputId="minmax-buttons"
                                            [min]="0"
                                            (ngModelChange)="
                                                onNumberChange(
                                                    $event,
                                                    colorsData[currentIndex],
                                                    i
                                                )
                                            "
                                        >
                                        </p-inputNumber>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- end order by size -->

                        <!-- start order by prepack -->
                        <h5
                            *ngIf="productDetails?.orderByPrePack"
                            class="my-4"
                            style="text-decoration: none;color:black  !important"
                        >
                            Prepack Definition
                        </h5>
                        <table
                            *ngIf="productDetails?.orderByPrePack"
                            class="table text-center table-bordered table-white"
                        >
                            <tbody>
                                <tr>
                                    <th  style="background-color: #F8F8F8;">Size</th>
                                    <td
                                        *ngFor="
                                            let size of colorsData[currentIndex]
                                                .sizes
                                        "
                                    >
                                        {{ size.label }}
                                    </td>
                                    <th  style="background-color: #F8F8F8;">Total Pcs</th>
                                </tr>
                                <tr>
                                    <th  style="background-color: #F8F8F8;">Prepack</th>
                                    <td
                                        *ngFor="
                                            let size of colorsData[currentIndex]
                                                .sizes
                                        "
                                    >
                                        {{ size.sizeRatio }}
                                    </td>
                                    <th>{{ getTotlaPrepackSum()}}</th>
                                </tr>
                            </tbody>
                        </table>

                       
                        <span *ngIf="orderType == 'SO' && productDetails?.orderByPrePack"   class="p-4 font-weight-bold" style="color:black !important" >Order by prepack</span>
                          <label *ngIf="orderType == 'SO' && productDetails?.orderByPrePack" class="switch switch-container my-4 font-weight-bold" >
                            <input type="checkbox" [(ngModel)]="chk_Order_by_prepack[currentIndex]" checked (change)="onChangechk_Order_by_prepack()">
                            <span class="slider round"></span>
                        </label>

                        <p-tabView *ngIf="productDetails?.orderByPrePack" [activeIndex]="chk_Order_by_prepack[currentIndex]? 0 : 1">
                            <p-tabPanel header="Order By Prepack" [disabled]="!chk_Order_by_prepack[currentIndex]" >
                                <table
                                    *ngIf="productDetails?.orderByPrePack"
                                    class="table text-center table-bordered table-white"
                                >
                                    <thead>
                                        <tr>
                                            <th scope="col">
                                                Avaiable Prepacks
                                            </th>
                                            <th scope="col">Ordered</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                {{
                                                    colorsData[currentIndex]
                                                        ?.sizes[0]
                                                        .noOfAvailablePrepacks
                                                }}
                                            </td>
                                            <td>
                                                <p-inputNumber
                                                [disabled]="(orderType == 'SO' &&  !chk_Order_by_prepack[currentIndex])"
                                                    [(ngModel)]="
                                                        colorsData[currentIndex]
                                                            ?.sizes[0]
                                                            .orderedPrePacks
                                                    "
                                                    mode="decimal"
                                                    [showButtons]="true"
                                                    inputId="minmax-buttons"
                                                    [min]="0"
                                                    (ngModelChange)="
                                                        onNumberChange(
                                                            $event,
                                                            colorsData[
                                                                currentIndex
                                                            ],
                                                            null
                                                        )
                                                    "
                                                >
                                                </p-inputNumber>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </p-tabPanel>
                            <p-tabPanel [header]="(orderType == 'SO'  &&  productDetails?.orderByPrePack && !chk_Order_by_prepack[currentIndex])  ? 'Order By Size' : 'View Ordered Quantity By Size'" >
                                <table
                                    class="table text-center table-bordered table-white"
                                >
                                    <thead>
                                        <tr>
                                            <th scope="col">Size</th>
                                            <th scope="col">Avaiable QTY</th>
                                            <th scope="col">Ordered</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr
                                            *ngFor="
                                                let size of colorsData[
                                                    currentIndex
                                                ]?.sizes;
                                                let i = index
                                            "
                                        >
                                            <td>{{ size.label }}</td>
                                            <td>
                                                {{ size.stockAvailability }}
                                            </td>
                                            <td>
                                                
                                                <p-inputNumber
                                                [(ngModel)]="!(orderType == 'SO'  &&  productDetails?.orderByPrePack && !chk_Order_by_prepack[currentIndex] ) ? (size.sizeRatio * colorsData[currentIndex]?.sizes[0].orderedPrePacks) : colorsData[currentIndex]?.sizes[i].orderedPrePacks"
                                                   
                                                    mode="decimal"
                                                    [showButtons]="true"
                                                    inputId="minmax-buttons"
                                                    [min]="0"
                                                    [disabled]="orderType != 'SO' || (orderType == 'SO' &&  chk_Order_by_prepack[currentIndex])"
                                                    (ngModelChange)="
                                                        onNumberChange(
                                                            $event,
                                                            colorsData[
                                                                currentIndex
                                                            ],
                                                            i
                                                        )
                                                    "
                                                >
                                                </p-inputNumber>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </p-tabPanel>
                        </p-tabView>
                        <!-- end order by prepack -->
                    </div>
                </div>
            </div>

            <!-- summary section -->
            <div class="col-md-3">
                <div class="summary border">
                    <div class="header">
                        <h6 class="p-0 m-0" style=" font-weight: bold;">Ordered Summary</h6>
                    </div>
                    <div class="totals">
                        <p class="p-0 m-0">qty {{ totalOrderQTY  }}</p>
                        <p class="p-0 m-0">
                             <!-- {{
                            productDetails?.appItemPriceInfos[0]
                                .currencySymbol
                        }} -->
                        {{
                            currencySymbol
                         }}
                        
                            {{ totlaOrderPrices| currency:' ' }}
                           
                        </p>
                    </div>
                    <div class="orderedSummary">
                        <div *ngIf="orderSummary.length === 0" class="default">
                            Product Order Summary
                        </div>

                        <div
                            *ngIf="orderSummary.length !== 0"
                            class="summaryTables"
                        >
                            <div
                                *ngFor="
                                    let order of orderSummary;
                                    let orderIndex = index
                                "
                            >
                                <div
                                    class="orderHeader m-2 d-flex align-items-center justify-content-between"
                                >
                                    <div
                                        class="d-flex align-items-center justify-content-lg-start"
                                        style="gap: 5px"
                                    >
                                        <img
                                             [src]="attachmentBaseUrl + '/' + order.color.colorImg"
                                            onerror="this.src='../../../../../assets/placeholders/appitem-placeholder.png'"
                                            alt="colorImg"
                                            style="width: 40px"
                                        />
                                        <p class="ml-2">
                                            Color {{ order.color.colorName }}
                                        </p>
                                    </div>
                                    <button
                                        (click)="removeColor(order, orderIndex)"
                                        type="button"
                                        class="btn close border rounded-circle m-0 p-0"
                                    >
                                        <i class="fas fa-times p-0 m-0"></i>
                                    </button>
                                </div>
                                <!-- order by size summary table -->
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Size</th>
                                            <th>QTY</th>
                                            <th>Price</th>
                                            <th>Amount</th>
                                        </tr>
                                    </thead>
                                    <tbody
                                        *ngIf="!productDetails?.orderByPrePack"
                                    >
                                        <ng-container
                                            *ngFor="
                                                let size of order.color.sizes;
                                                let i = index
                                            "
                                        >
                                            <tr *ngIf="size.orderedQty !== 0">
                                                <td>{{ size.label }}</td>
                                                <td>{{ size.orderedQty }}</td>
                                                <td>{{ size.price| currency:' ' }}</td>
                                                <td>
                                                    {{
                                                        (size.orderedQty *
                                                            size.price) | currency:' '
                                                    }}
                                                </td>
                                                <td>
                                                    <button
                                                        type="button"
                                                        (click)="
                                                            removeSize(
                                                                i,
                                                                size,
                                                                order,
                                                                orderIndex
                                                            )
                                                        "
                                                        class="btn"
                                                    >
                                                        <i
                                                            class="fas fa-times p-0 m-0"
                                                        ></i>
                                                    </button>
                                                </td>
                                            </tr>
                                        </ng-container>
                                        <tr
                                            *ngIf="
                                                calculateOrderedQTYSum(
                                                    order.color.sizes
                                                ) !== 0
                                            "
                                        >
                                            <th>Total</th>
                                            <th style=" color: #9E9E9E !important;">
                                                {{
                                                    calculateOrderedQTYSum(
                                                        order.color.sizes
                                                    )
                                                }}
                                            </th>
                                            <th></th>
                                            <th  style=" color: #9E9E9E !important;">
                                                {{
                                                    calculatePriceSum(
                                                        order.color.sizes
                                                    )| currency:' '
                                                }}
                                            </th>
                                        </tr>
                                    </tbody>
                                    <tbody
                                        *ngIf="productDetails?.orderByPrePack&&calculatePrepackOrderedQTYSum(
                                            order.color.sizes,
                                            orderIndex
                                        )"
                                    >
                                        <ng-container
                                            *ngFor="
                                                let size of order.color.sizes;
                                                let i = index
                                            "
                                        >
                                            <tr>
                                                <td>{{ size.label }}</td>
                                                <td>
                                                    {{
                                                        !(orderType == 'SO'  &&  productDetails?.orderByPrePack && !chk_Order_by_prepack[orderIndex] ) ? 
                                                            size.sizeRatio *
                                                            order.color.sizes[0]
                                                                .orderedPrePacks

                                                                :  order.color.sizes[i]
                                                                .orderedPrePacks

                                                    }}
                                                </td>
                                                <td>{{ size.price | currency:' '}}</td>
                                                <td>
                                                    {{
                                                        !(orderType == 'SO'  &&  productDetails?.orderByPrePack && !chk_Order_by_prepack[orderIndex] ) ? 
                                                       ( size.sizeRatio *
                                                            order.color.sizes[0]
                                                                .orderedPrePacks *
                                                            size.price | currency:' '
                                                            ) 
                                                            : (order.color.sizes[i]
                                                            .orderedPrePacks *
                                                        size.price | currency:' '
                                                    )

                                                    }}
                                                </td>
                                            </tr>
                                        </ng-container>
                                        <tr>
                                            <th>Total</th>
                                            <th>
                                                {{
                                                    calculatePrepackOrderedQTYSum(
                                                        order.color.sizes,
                                                        orderIndex
                                                    )
                                                }}
                                            </th>
                                            <th></th>
                                            <th>
                                                {{
                                                    getTotalPrepackSizeAmount(
                                                        order.color.sizes,
                                                        orderIndex
                                                    )| currency:' '
                                                }}
                                            </th>
                                        </tr>
                                    </tbody>
                                </table>
                                <!-- order by size summary table -->
                                <hr
                                    style="
                                        border-top: 2px solid #aaaaaa !important;
                                    "
                                />
                            </div>
                        </div>
                    </div>
                    <button
                        [disabled]="orderSummary.length == 0"
                        (click)="addToShoppingCart()"
                        class="btn m-0 add-btn"
                    >
                        Add To Shopping Cart
                    </button>
                </div>
            </div>

            <div class="col-md-12">
                <div class="bg-white rounded p-4 my-4">
                    <h4>Product Description</h4>
                    <hr />
                    <div [innerHTML]="productDetails?.description"></div>
                </div>
            </div>
            <div class="col-md-12">
                <div id="targetDiv" class="bg-white rounded p-4 my-4">
                    <h4>Product Details</h4>
                    <hr />
                    <div class="row">
                        <div class="col-md-4">
                            <h6>Product Type</h6>
                            <h6 style="padding: 10px 0px">SSIN</h6>
                            <h6>Department</h6>
                            <h6 style="padding: 10px 0px">Brand</h6>
                            <h6>SoldOut Date</h6>
                            <h6 style="padding: 10px 0px">Start Ship Date</h6>
                        </div>
                        <div class="col-md-8">
                            <p>{{ productDetails?.entityObjectTypeName }}</p>
                            <p>{{ productDetails?.code }}</p>
                            <p>
                                <span
                                    class="mr-2 p-2 border"
                                    *ngFor="
                                        let item of productDetails
                                            ?.entityDepartmentsNames.items
                                    "
                                    >{{ item }}</span
                                >
                            </p>
                            <p>{{ productDetails?.brand }}</p>
                            <p>{{ productDetails?.soldOutDate }}</p>
                            <p>{{ productDetails?.startShipDate }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<p-confirmDialog #cd [style]="{ width: '25vw' }">
    <ng-template pTemplate="header">
        <h3>Add to Shopping Cart</h3>
    </ng-template>
    <ng-template pTemplate="footer">
        <button
            type="button"
            pButton
            icon="pi pi-times"
            label="No"
            (click)="cd.reject()"
        ></button>
        <button
            type="button"
            pButton
            icon="pi pi-check"
            label="Yes"
            (click)="cd.accept()"
        ></button>
    </ng-template>
</p-confirmDialog>

<!-- <app-app-items-view
    [productId]="productId"
    [appItemViewInput]="appItemViewInput"
></app-app-items-view> -->
