.type {
    background-color: #949090;
    color: #fff;
    padding: 2px 5px;
    Width: 106px;
    Height: 32px;
    border-radius: 6px;
    border: 1px;
    Padding: 6px 16px 6px 16px;
    background-color: #e4e4e4;
    color: #b6b7b9;
}
.summary-sec {
    padding-left: 30px;
}
.details-sec {
    border-radius: 12px;
}
.imageSlides {
    width: 85px;
    height: 57px;
    border-radius: 6px 6px 0 0 ;
    margin-right :10px;
    cursor: pointer;
}
.showRoomLink[disabled]{
    cursor: not-allowed;
    *{
    pointer-events: none;

    }
}
.msrp h5, .msrp span {
    color: #b6b7b9 !important;
}
td {
    color: black !important;
    font-weight: bold;
}

.showRoomLink{
    width: 257px;
    height: 46px;
    border-radius: 6px ;
    padding: 11px 20px 11px 20px !important;
    background-color: #4A0D4A;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.description button{
    width: 195px;
    height: 46px;
    border-radius: 6px;
    padding: 11px 16px 11px 16px !important;
    background-color:#EEEEEE !important    ;
    color: #4A0D4A !important;
    display: flex;
    align-items: center;
    justify-content: center;

}
.slider-container {
    position: relative;
    overflow: hidden;
    width: 100%; /* Set the height of the slider as needed */
}

.slider {
    display: flex;
    flex-direction: row;
    transition: transform 0.5s;
}

.indicator-btns {
    background-color: #b9b3b3;
    border: 0.5px solid #09c;
    color: #ffff;
}

.table {
    background-color: #fff !important;
}

.summary {
    border-radius:12px ;

    .header {
        background-color: #F8F8F8;
        color: black;
        font-weight: bold;
        padding: 8px 12px;
        border-top-left-radius:12px ;
        border-top-right-radius:12px ;
    }
    .totals {
        color: black;
    background-color: #F8F8F8;
        padding: 8px 12px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        p {
            font-weight: 400;
            font-size: 12px;
            text-transform: uppercase;
        }
        h6 {
            font-weight: 600;
            font-size: 18px;
        }
    }
    .orderedSummary {
        height: 500px;
        overflow-y: scroll;
        padding: 20px;
        background-color: #fff;
        .default {
            background-color: #F8F8F8;
            align-items: center;
            padding: 10px;
            color: black;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 20px;
        }
    }
    .orderedSummary::-webkit-scrollbar {
        width: 8px; /* Set the width of the scrollbar */
    }

    .orderedSummary::-webkit-scrollbar-thumb {
        background-color: #888; /* Set the color of the thumb (the draggable part) */
        border-radius: 6px; /* Set the border radius to round the edges */
    }

    .orderedSummary::-webkit-scrollbar-thumb:hover {
        background-color: #555; /* Set the color when hovering over the thumb */
    }

    .orderedSummary::-webkit-scrollbar-track {
        background-color: #fff; /* Set the color of the track (the non-draggable part) */
    }

    .orderedSummary::-webkit-scrollbar-track:hover {
        background-color: #fff; /* Set the color when hovering over the track */
    }
    .add-btn {
        background-color: #4A0D4A;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 17px;
        font-weight: 600;
        color: #fff;
        width: 100%;
        border-radius:6px;

    }
}

.close{
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 1px !important;
    padding: 13px 9px !important;
    border-radius: 50% !important;
    i{
        font-size: 13px !important;
    }
}

.imagAndHexaCode{
    display: flex;
    align-items: center;
    justify-content: center;
    // margin: 0px 10px;
}

.colorBox{
    width: 50px;
    height: 68px;
    margin-right :10px;
    cursor: pointer;
}



table th{
    color: black !important;
    background-color: #F8F8F8;
}
.summaryTables td {
    color: #9E9E9E !important;
}
.p-tabview .p-tabview-nav {
    margin-bottom: 10px;
}
.p-tabview .p-tabview-nav li{
    margin: 0 !important;
    // border: none !important;
}
::ng-deep {

.p-tabview .p-tabview-panels {
    padding: 0 !important;
    border: none !important;
    margin-top: 10px !important
}
}

.p-tabview .p-tabview-nav li .p-tabview-nav-link{
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 4px !important;
    border: 1px solid black;
}

.p-tabview .p-tabview-panels {
    margin-top: 8px !important;
}