.border-color{
    border: 1px solid #3699FF48 !important;
}

.bg-white{
    background-color: white !important;
}

input:required {
    border: 1px solid #c8c8c8 !important; 
}

input:required:focus {
    border: 1px solid #c8c8c8 !important; 
}

input:required:invalid:focus {
    border: 1px solid #c8c8c8 !important; 
}

input:required:invalid:not(:focus) {
    border: 1px solid #C83532 !important; 
}