<div  class="d-flex flex-wrap justify-content-center">
    <div *ngFor="let item of mediaItems; let i = index" class="media-item m-1" >
      <ng-container *ngIf="item?.attachmentCategoryId === 3; else videoTemplate">
        <img [src]="attachmentBaseUrl + '/' + item?.url" alt="Media Image" class="media-image imgSec" onerror="this.src='../../assets/placeholders/appitem-placeholder.png'"   (click)="openModal(i)"/>
      </ng-container>
      <ng-template #videoTemplate>
        <div class="video-container">
          <!-- <img [src]="item.thumbnail" alt="Video Thumbnail" class="media-image" />
          <i class="pi pi-play-circle play-icon"></i> -->
          <video
          (click)="openModal(i)"

    
          controls
          [attr.src]="attachmentBaseUrl + '/' +  item?.safeUrl "
          class="vSec"
      ></video>
        </div>
      </ng-template>
    </div>
  </div>

  <p-paginator
  [rows]="itemsPerPage"
  [totalRecords]="totalItems"
  [(first)]="(currentPage - 1) * itemsPerPage"
  (onPageChange)="changePage($event)"
  styleClass="mt-3"
></p-paginator>









<p-dialog
  [(visible)]="isModalOpen"
  [modal]="true"
  [style]="{ width: '656px' }"
  [breakpoints]="{ '960px': '75vw', '640px': '97vw' }"
  [dismissableMask]="true"
  header="Media"
  (onHide)="closeModal()"
>
  <div class="modal-content d-flex justify-content-center align-items-center">
    <ng-container *ngIf="mediaItems[selectedIndex]?.attachmentCategoryId === 3; else videoTemplate">
      <!-- Display image -->
      <img 
      onerror="this.src='../../assets/placeholders/appitem-placeholder.png'" 
        [src]="mediaItems[selectedIndex]?.url" 
        alt="Selected Media" 
        class="modal-image" 
        style="max-width: 100%; max-height:100%; border-radius: 8px;" 
      />
    </ng-container>

    <ng-template #videoTemplate>
      <!-- Display video -->
      <video 
        [src]="mediaItems[selectedIndex]?.url" 
        controls 
         
        class="modal-video" 
        style="max-width: 100%; max-height: 70vh; border-radius: 8px;"
      ></video>
    </ng-template>

    <!-- Navigation Buttons -->
    <button *ngIf="selectedIndex > 0" class="nav-button prev" (click)="prevMedia()">&#10094;</button>
    <button *ngIf="selectedIndex < mediaItems.length - 1" class="nav-button next" (click)="nextMedia()">&#10095;</button>
  </div>
</p-dialog>
