<div class="position-relative tab-cont thin-scroll">
<div *ngIf="createOrEditshippingInfO">
    <div class="container-fluid pt-1 mb-3 " >
        <div class="header p-2 my-2 d-flex  justify-content-between">
            <h6><span  class="headertxt"> {{l("ShipFrom")}} : </span></h6>
            <button [disabled]="(!enableSAveShipFrom)" (click)="createOrEditTransaction()" 
            class="continuebtn text-center btn float-right" [disabled]="(!shipingTabVaild)"  *ngIf="!showSaveBtn ">
                 {{l("Continue")}}
            </button>
            <button *ngIf="showSaveBtn" (click)="save()"
            class="previewbtn text-center btn float-right">
            Save
            <i class="pi pi-check"></i>
        </button>
        <button
        *ngIf="showSaveBtn"
        (click)="cancel()"
        class="cancelbtn text-center btn float-right"
    >
        Cancel
        <i class="pi pi-times"></i>
    </button>
        </div>
        <hr class="my-2" />
        <div class="InfoForm pr-3 thin-scroll">
            <div class="row ml-1"> 
                <app-contact  
                class="w-100"
                [shipInfoIndex]="1"
                (loadAddressComponent)="reloadAddresscomponentShipFrom($event)"
                [isCreateOrEdit]="createOrEditshippingInfO"
                [activeTab]="activeTab"
                [appTransactionsForViewDto]="appTransactionsForViewDto"
                (updateAppTransactionsForViewDto)="onUpdateAppTransactionsForViewDto($event)"
                (formValidityChanged)="isContactFormValid($event,1)"
            ></app-contact>
            </div>
        </div>
        <hr class="my-2" />
        <app-address 
        [appTransactionsForViewDto]="appTransactionsForViewDto"
        [isCreateOredit]="createOrEditshippingInfO"
        [contactId]="contactIdShipFrom"
        (updateSelectedAddress)="updateShipFromAddress($event)"
        [selectedAddressDetails]="shipFromSelectedAdd"
        ></app-address>
        
    </div>
    <div class="container-fluid pt-1">
        <div class="header p-2 my-2 d-flex  justify-content-between">
            <h6><span  class="headertxt">  {{l("ShipTo")}} : </span></h6>
            <!--<button [disabled]="(!enableSAveShipTo)" (click)="createOrEditTransaction()"
             class="continuebtn text-center btn float-right">
                 {{l("Continue")}}
            </button>-->
        </div>
        <hr class="my-2" />
        <div class="InfoForm pr-3 thin-scroll">
            <div class="row ml-1"> 
                <app-contact  
                class="w-100"
                [shipInfoIndex]="2"
                (loadAddressComponent)="reloadAddresscomponentShipTo($event)"
                [isCreateOrEdit]="createOrEditshippingInfO"
                [activeTab]="activeTab"
                [appTransactionsForViewDto]="appTransactionsForViewDto"
                (updateAppTransactionsForViewDto)="onUpdateAppTransactionsForViewDto($event)"
                (formValidityChanged)="isContactFormValid($event,2)"
            ></app-contact>
            </div>
        </div>
        <hr class="my-2" />
        <app-address 
        [appTransactionsForViewDto]="appTransactionsForViewDto"
        [isCreateOredit]="createOrEditshippingInfO"
        [contactId]="contactIdShipTo"
        (updateSelectedAddress)="updateShipToAddress($event)"
        [selectedAddressDetails]="shipToSelectedAdd"
        ></app-address>
<div class="row edit-mode ">
    <div class="col-6 mb-4">
        <label class="label mt-1 mb-1">{{l("Store")}}</label>
<input type="text" class="form-control w-100" (input)="enterStore()"  [(ngModel)]="storeVal" #store/>
    </div>
    <div class="col-6 mb-4">
        <label class="label mt-1 mb-1">{{l("ShipVia")}}</label>
        <p-dropdown
        (onChange)="selectShipVia()"
        id="shipVia"
        [(ngModel)]="shipViaValue"
        [options]="shipViaList"
        name="shipVia"
        styleClass="form-control aria-select"
        [required]="true"
        [placeholder]="'PleaseSelect' | localize"
    >
    </p-dropdown>
    </div>
</div>

    </div>
</div>


<div *ngIf="!createOrEditshippingInfO">
    <app-view-shipping-information
    [activeTab]="activeTab"
    (showShippingEditMode)="onshowShippingEditMode($event)"
     (onshowSaveBtn)="onshowSaveBtn($event)"
    [contactIdFrom]="contactIdShipFrom"
    [contactIdTo]="contactIdShipTo"
    [selectedAddressDetailsFrom]="shipFromSelectedAdd"
    [selectedAddressDetailsTo]="shipToSelectedAdd"
    [appTransactionsForViewDto]="appTransactionsForViewDto"
    [createOrEditshippingInfO]="createOrEditshippingInfO">
</app-view-shipping-information>
</div>
</div>