.public-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    background-color: #f9f9f9;
  
    h1 {
      font-size: 2.5rem;
      margin-bottom: 10px;
      color: #333;
    }
  
    p {
      font-size: 1.2rem;
      color: #666;
      margin-bottom: 20px;
    }
  
    button {
      background-color: #007bff;
      color: white;
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      font-size: 1rem;
      cursor: pointer;
      transition: 0.3s;
  
      &:hover {
        background-color: #0056b3;
      }
    }
  }
  