<div bsModal #createOreEditLookups="bs-modal" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="createOreEditLookups" aria-hidden="true">
    <div class="modal-dialog right-modal" [ngClass]="active ? 'slide-right-in' : 'slide-right-out'" role="document">
        <form class="h-100" *ngIf="active" #appEntityForm="ngForm" novalidate (ngSubmit)="save(appEntityForm)"
            autocomplete="off">

            <div class="modal-content">
                <div class="modal-content-wrapper">
                    <div class="modal-header" style="display: block;background-color: #ffffff !important;">
                        <h4 class="modal-title text-left" style="display: block;">
                            <span *ngIf="appEntity?.id" class="font-weight-bold">{{l("Edit")}}
                                {{entityObjectType.name}}</span>
                            <span *ngIf="!appEntity?.id" class="font-weight-bold">{{l("CreateNew")}}
                                {{entityObjectType.name}}</span>
                        </h4>
                        <p>* {{l("PleaseFillTheBelowInformation")}}</p>

                        <button style="position: absolute;right: 8px;top: 8px;" type="button" class="close"
                            (click)="close()" aria-label="Close" [disabled]="saving">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body text-left">

                        <div class="form-group">
                            <label for="AppEntity_Code">
                                <span class="required">* </span>
                                {{l("Code")}}
                                <span class="text-danger ml-3" *ngIf="showCodeErrMsg">{{ 'CodeIsRequired' | localize
                                    }}</span>
                            </label>
                            <input type="string" id="AppEntity_Code"
                            class="form-control form-control-sm   mr-3 w-100" [(ngModel)]="appEntity.code"
                            name="code" [disabled]="editMode && appEntity?.id" />
                            <!-- Create -->
                            <!-- <app-codes *ngIf="!appEntity?.id" [objectType]="entityObjectType.code"
                                [code]="appEntity.code" [editMode]="false" placeHolder="Add your code"
                                (getCodeValue)="getCodeValue($event)" [maxlength]="6">
                            </app-codes> -->

                            <!-- Edit -->
                            <!-- <app-codes *ngIf="appEntity?.id" [objectType]="entityObjectType.code" [editMode]="true"
                                [code]="appEntity.code" (getCodeValue)="getCodeValue($event)" [maxlength]="6">
                            </app-codes> -->


                        </div>

                        <div class="mb-3"
                            *ngIf="entityObjectType.code =='MARKETPLACESECTIONBLOCK' || entityObjectType.code =='MARKETPLACESECTION'">
                            <p>Status</p>
                            <p-dropdown [options]="statusValues" optionLabel="displayName" optionValue="id"
                                name="entityObjectStatusId" [(ngModel)]="appEntity.entityObjectStatusId"
                                [styleClass]="'w-100 custom-dropdown'" [placeholder]="l('Select') + ' Status'">
                            </p-dropdown>
                        </div>
                        <div class="form-group">
                            <span class="required">* </span> <label for="AppEntity_Name">{{l("Name")}} </label>
                            <input type="text" id="AppEntity_Name" class="form-control form-control-sm aria-input-text"
                                [(ngModel)]="appEntity.name" name="Name" required />
                        </div>
                        <div class="form-group d-flex">
                            <input type="checkbox" id="AppEntity_IsDefault"
                                class="form-control form-control-sm  col-1 mr-3" [(ngModel)]="appEntity.isDefault"
                                name="isDefault" />
                            <label for="AppEntity_IsDefault" class="pt-2">{{l("Set default value")}} </label>
                        </div>

                        <div class="form-group" *ngIf="addToLookup">
                            <label for="AppEntity_Notes">{{l("Notes")}}</label>
                            <input style="height: 131px !important;" type="text" id="AppEntity_Notes"
                                class="form-control form-control-sm aria-input-text" [(ngModel)]="appEntity.notes"
                                name="Notes" />
                        </div>


                        <div class="form-group d-flex"
                            *ngIf="(!appEntity?.id || appEntity.nonlookup) && !hideAddToLookupOption">
                            <input [disabled]="!enableAddToLookup" type="checkbox" id="AppEntity_AddToLookup"
                                class="form-control form-control-sm  col-1 mr-3" [(ngModel)]="addToLookup"
                                name="addToLookup" />
                            <label for="AppEntity_AddToLookup" class="pt-2">{{l("Add to lookup")}} </label>
                        </div>



                        <div class="row col-12" *ngIf="_displayVisualTypes">
                            <div class="mr-3">
                                <input type="radio" id="solid" name="visualType" class="form-control" [checked]="
                                            visual.solid
                                            " [value]="true" class="mr-2 radio" (change)="setSolid(true)" />
                                <label for="online">{{"Solid" | localize}}</label>
                            </div>

                            <div>
                                <input type="radio" id="image" name="visualType" [value]="false" class="form-control"
                                    [checked]="visual.image" class="mr-2 radio" (change)="setSolid(false)" />
                                <label for="inperson">{{"Image"| localize}}</label>
                            </div>
                        </div>

                        <div class="row mb-3" *ngIf="visual.image">
                            <div class="col-12">
                              <label class="d-block mb-2 fs-3 my-2">
                                <span class="required">* </span>{{ 'Image Type' | localize }}
                              </label>
                          
                              <p-dropdown
                                class="w-100"
                                [options]="imageTypeOptions"
                                [(ngModel)]="imageAttachmentType"
                                optionLabel="label"
                                optionValue="value"
                                [showClear]="true"
                                [placeholder]="'SelectImageType' | localize"
                                name="sectionImgType"
                              >
                              </p-dropdown>
                            </div>
                          </div>
                          
                        <div class="row align-items-baseline mb-5 item-photos m-1 py-3 px-1" *ngIf="visual.image"
                            [ngStyle]="{
                            'border': attachmentsSrcs  && attachmentsSrcs?.length >0  && attachmentsSrcs[0]!='' ? 'none': '2px solid #EEEEEEEE' 
                        }" style=" border-radius: 12px;">
                        <!-- choose image kind BEFORE upload -->

                            <div class="col-12 item-photos-header pt-4 pb-2"
                                style="    background-color: white !important;">
                                <div class="d-flex flex-wrap justify-content-between">


                                    <div style="display: flex; align-items: center;"
                                        *ngIf="! (attachmentsSrcs  && attachmentsSrcs?.length >0 && attachmentsSrcs[0]!='' )">
                                        <img src="../../../assets/placeholders/Group 15.png"
                                            style="margin-right: 15px;" />
                                        <div style="    line-height: 0.5;" class="pt-3">
                                            <p style="font-weight: bold; color: black;">
                                                {{ 'Upload files' | localize }}
                                            </p>
                                            <p>
                                                {{ 'Select and upload the files' | localize }}
                                            </p>
                                        </div>
                                    </div>
                                    <div>

                                    </div>

                                </div>
                            </div>
                            <div class="col-12 item-photos-body"
                            [ngStyle]="{
                              'border': attachmentsSrcs && attachmentsSrcs.length > 0 && attachmentsSrcs[0] != ''
                                        ? 'none' : '2px dashed #EEEEEE'
                            }"
                            style="background-color: white !important; border-radius: 12px;">
                            <div class="row">
                                <div class="image-wrapper mb-3" *ngFor="let i of displaySlots">
                                  <!--  If there is PDF for this index -->
                               <!--  If there is PDF for this index -->
<ng-container *ngIf="pdfSafeMap[i]; else imageOrUpload">
    <div
      class="d-flex flex-column justify-content-center h-100 align-items-center kt-avatar position-relative w-100"
    >
      <!-- overlay with remove button (optional, keep as you like) -->
      <div
        class="d-flex flex-column justify-content-center h-100 w-100 position-absolute view-img-overlay"
      >
        <div class="bg-white kt-avatar__upload" (click)="onRemovePhoto(i, $event)">
          <i class="fa fa-times text-danger"></i>
        </div>
      </div>
  
      <!--  PDF icon that opens PDF in new tab -->
      <a
        [href]="pdfSafeMap[i]"
        target="_blank"
        rel="noopener"
        class="d-flex flex-column justify-content-center align-items-center h-100 w-100"
      >
        <img
          src="assets/Items/pdf-Icon.png"
          alt="PDF"
          class="pdf-icon-img"
          style="max-width: 80%; max-height: 80%; object-fit: contain;"
        />
        <span class="mt-2">{{ 'Open PDF' | localize }}</span>
      </a>
    </div>
  </ng-container>
  
                              
                                  <!-- 🖼 image or empty upload slot -->
                                  <ng-template #imageOrUpload>
                                    <!-- 💡 If we already have an image for this index -->
                                    <ng-container *ngIf="attachmentsSrcs[i]; else uploadSlot">
                                      <app-image-upload
                                        *ngIf="productImageCategory?.sycAttachmentCategory"
                                        [sycAttachmentCategory]="productImageCategory?.sycAttachmentCategory"
                                        [attachmentTypeCode]="imageAttachmentType"
                                        [image]="attachmentsSrcs[i]"
                                        [showGuidelines]="true"
                                        (imageBrowseDone)="
                                          onImageBrowseDone(
                                            $event,
                                            productImageCategory?.sycAttachmentCategory,
                                            i
                                          )
                                        "
                                        (removeImage)="onRemoveImageFromUpload($event, i)"
                                      >
                                      </app-image-upload>
                                    </ng-container>
                              
                                    <!--  empty slot – only when allowed -->
                                    <ng-template #uploadSlot>
                                      <div class="image-wrapper upload " *ngIf="showUploadSlot(i)">
                                        <app-image-upload
                                          *ngIf="productImageCategory?.sycAttachmentCategory"
                                          [sycAttachmentCategory]="productImageCategory?.sycAttachmentCategory"
                                          [attachmentTypeCode]="imageAttachmentType"
                                          [image]="null"
                                          [showGuidelines]="true"
                                          (imageBrowseDone)="
                                            onImageBrowseDone(
                                              $event,
                                              productImageCategory?.sycAttachmentCategory,
                                              i
                                            )
                                          "
                                          (removeImage)="onRemoveImageFromUpload($event, i)"
                                        >
                                        </app-image-upload>
                                      </div>
                                    </ng-template>
                                  </ng-template>
                                </div>
                              </div>
                              
                              
                       </div>
                       

                        </div>
                        <div class="d-flex flex-column" *ngIf="extraAttributes?.length">
                            <div class="row"> <span class="required pl-2 pr-1">* </span><label
                                    for="AppEntity_Code">{{l("Extra Attributes")}}</label></div>
                            <div class="row justify-content-center mt-4">
                                <div class="col-12 mb-4" *ngFor="let extraAttr of extraAttributes">
                                    <div>
                                        <div *ngIf="isSize && !isHost">
                                            <label>{{extraAttr.name | localize}}</label>
                                            
                                        </div>
                                        <div class="d-flex align-items-center">

                                            <div class="wide-drop-down d-flex flex-grow-1 "
                                                *ngIf="extraAttr?.lookupData && extraAttr?.acceptMultipleValues">
                                                <div class="flex-grow-1 mr-1">
                                                    <p-multiSelect [options]="extraAttr.lookupData"
                                                        [styleClass]="'w-100 custom-dropdown'"
                                                        [(ngModel)]="extraAttr.selectedValues"
                                                        name="extraAttr_{{extraAttr.name}}"
                                                        [placeholder]="l('Select') + ' ' + extraAttr.name"
                                                        (onChange)="multiValuesExtraAttributeOnChange($event,extraAttr)">
                                                    </p-multiSelect>
                                                </div>
                                            </div>

                                            <div class="wide-drop-down flex-grow-1 "
                                                *ngIf="extraAttr?.lookupData && !extraAttr?.acceptMultipleValues">
                                                <label class="pr-2">
                                                    {{extraAttr.name| localize}}
                                                </label>
                                                <div *ngIf="!isSize">

                                                    <p-dropdown [options]="extraAttr.lookupData"
                                                        [styleClass]="'w-100 custom-dropdown'"
                                                        [(ngModel)]="extraAttr.selectedValues"
                                                        name="extraAttr_{{extraAttr.name}}"
                                                        [placeholder]="l('Select') + ' ' + extraAttr.name"
                                                        (onChange)="singleValueExtraAttributeOnChange($event,extraAttr)">
                                                    </p-dropdown>
                                                </div>
                                                <div *ngIf="isSize && !isHost">
                                                    <p-dropdown [options]="sizes" [styleClass]="'w-100 custom-dropdown'"
                                                        [(ngModel)]="extraAttr.selectedValues"
                                                        name="extraAttr_{{extraAttr.name}}"
                                                        [placeholder]="l('Select') + ' ' + extraAttr.name"
                                                        (onChange)="singleValueExtraAttributeOnChange($event,extraAttr)">
                                                    </p-dropdown>
                                                </div>
                                            </div>

                                            <div class="flex-grow-1"
                                                *ngIf="extraAttr.dataType === 'boolean' || extraAttr.dataType === 'bit' ">
                                                <div class="radio-inline mt-2">
                                                    <label class="pr-2">
                                                        {{extraAttr.name| localize}}
                                                    </label>
                                                    <label class="radio radio-accent radio-primary mr-4"
                                                        for="extraAttr{{extraAttr.name}}_1">
                                                        <input type="radio"
                                                            [disabled]="entityObjectType.code =='MARKETPLACESECTION'"
                                                            (click)="notLookupExtraAttributeOnChange('true',extraAttr)"
                                                            name="extraAttr_{{extraAttr.name}}"
                                                            id="extraAttr{{extraAttr.name}}_1" [value]="'true'"
                                                            [(ngModel)]="extraAttr.selectedValues" />
                                                        {{l("Yes")}}
                                                        
                                                    </label>
                                                    <label class="radio radio-accent radio-primary"
                                                        for="extraAttr{{extraAttr.name}}_0">
                                                        <input type="radio"
                                                            [disabled]="entityObjectType.code =='MARKETPLACESECTION'"
                                                            (click)="notLookupExtraAttributeOnChange('false',extraAttr)"
                                                            name="extraAttr_{{extraAttr.name}}"
                                                            id="extraAttr{{extraAttr.name}}_0" [value]="'false'"
                                                            [(ngModel)]="extraAttr.selectedValues">
                                                        {{l("No")}}
                                                        
                                                    </label>
                                                    <a *ngIf="extraAttr.selectedValues && entityObjectType.code !='MARKETPLACESECTION'"
                                                        class="ml-5 text-underline text-black-50"
                                                        (click)="resetExtraAttributeSelectedValue(extraAttr)"> Reset</a>
                                                </div>
                                            </div>
                                            <div class="flex-grow-1" *ngIf="extraAttr.dataType === 'Datetime' ">
                                                <label>
                                                    {{extraAttr.name| localize}}
                                                </label>
                                                <input type="text"
                                                    (keyup)="notLookupExtraAttributeOnChange($event.target.value,extraAttr)"
                                                    name="{{extraAttr.name}}" autocomplete="off"
                                                    placeholder="{{extraAttr.name| localize}}" class="form-control" bsDatepicker
                                                    id="extraAttr{{extraAttr.name}}"
                                                    [(ngModel)]="extraAttr.selectedValues">
                                            </div>
                                            <div class="flex-grow-1 mx-1" *ngIf="extraAttr.dataType === 'Numeric' ">
                                                <label>
                                                    {{extraAttr.name| localize}}
                                                    
                                                </label>
                                                <input type="number"
                                                    (keyup)="notLookupExtraAttributeOnChange($event.target.value,extraAttr)"
                                                    name="{{extraAttr.name}}" placeholder="{{extraAttr.name| localize}}"
                                                    class="form-control" id="extraAttr{{extraAttr.name}}"
                                                    [(ngModel)]="extraAttr.selectedValues">
                                            </div>
                                            <div class="flex-grow-1 mx-2"
                                                *ngIf="extraAttr.dataType === 'string' && !extraAttr.isLookup ">
                                                <div class="row d-flex align-items-baseline justify-content-start ">
                                                    <label>
                                                        {{extraAttr.name| localize}}
                                                    </label>
                                                    <input type="text"
                                                        (keyup)="notLookupExtraAttributeOnChange($event.target.value,extraAttr)"
                                                        name="{{extraAttr.name}}" placeholder="{{extraAttr.name| localize}}"
                                                        class="form-control" id="extraAttr{{extraAttr.name}}"
                                                        [(ngModel)]="extraAttr.selectedValues">
                                                    <div class="border rounded" class="w-25 "
                                                        *ngIf="extraAttr.dataType === 'string' && !extraAttr.isLookup  ">
                                                        <input (colorPickerChange)="onColorChange($event, extraAttr)"
                                                            *ngIf="extraAttr.name === 'Color HEXA Code' || extraAttr.name === 'Color HEX Code'"
                                                            class="picker" [(colorPicker)]="extraAttr.selectedValues"  [disabled]="extraAttr?.disabled"
                                                            [style.background]="extraAttr.selectedValues || '#09c' " />
                                                    </div>
                                                </div>
                                            </div>


                                            <div class="flex-grow-1"
                                                *ngIf="extraAttr.validEntries && extraAttr.dataType === 'dropDownList'">
                                                <div class="row d-flex align-items-baseline justify-content-start ">
                                                    <label class="pr-2">
                                                        {{extraAttr.name| localize}}
                                                    </label>
                                                    <p-dropdown [options]="dropdownOptions(extraAttr.validEntries)"
                                                        [styleClass]="'w-100 custom-dropdown'"
                                                        [(ngModel)]="extraAttr.selectedValues"
                                                        name="extraAttr_{{extraAttr.name}}"
                                                        [placeholder]="l('Select') + ' ' + extraAttr.name"
                                                         [disabled]="isBlockTypeLocked(extraAttr) || extraAttr?.disabled"
                                                        (onChange)="notLookupExtraAttributeOnChange($event.value,extraAttr)">
                                                    </p-dropdown>

                                                </div>
                                            </div>


                                            <div *ngIf="isColor && isHost">
                                                <a class="border rounded text-primary add-new-lookup-btn ml-3"
                                                    *ngIf="extraAttr.isLookup && extraAttr.allowAddNew"
                                                    (click)="openCreateAppEntityListModal(extraAttr)">
                                                    <i class="fas fa-pen"></i>
                                                </a>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>




                    </div>
                    <div class="modal-footer">
                        <button [disabled]="saving" type="button" class="btn btn-default btn-gray" (click)="close()"
                            style="border-radius: 5px;
                    background-color: white !important;
                    border: white !important;color: #4A0D4A !important;">{{l("Cancel")}}</button>
                        <button type="submit" class="btn btn-primary blue  btn-blue btn-save" style="border-radius: 5px;
                    background-color: #4A0D4A !important;
                    border: #4A0D4A !important;color: white;"
                            [disabled]="!appEntityForm.form.valid || uploader.isUploading" [buttonBusy]="saving"
                            [busyText]="l('SavingWithThreeDot')"> <span>{{l("Save")}}</span></button>
                    </div>

                </div>
            </div>
        </form>

    </div>
</div>


<confirm-modal-side *ngIf="displaySaveSideBar" [content1]="'Successfully saved' | localize"
    [content2]="'The '+ entityObjectType.code +' you created is successfully saved You can create another one Or Back to the Lookups list.'"
    [buttonNo]="'No thanks' | localize" [defualtButton]="true"
    [buttonYes]="('Create another' | localize) +' '+ entityObjectType.name" [type]="'displaySaveSideBar'" [icon]="''"
    [displayItem]="displaySaveSideBar" (buttonClicked)="askForAnotherAdd($event)"></confirm-modal-side>