<div class="col-4  p-4">
    <div class="row">
        <h4 class="purpleColor font-weight-bold col-12"> {{"Order Summary"}} </h4>
        <div class="row summarySection w-100 p-4 ml-2 mt-3 purpleColor">
            <div class="row w-100">
                <div class="col-6 font-weight-bold">{{"TotalAmount"}}</div>
                <div class="font-weight-bold">${{shoppingCartDetails?.totalAmount ?
                    shoppingCartDetails?.totalAmount : '0.00' }}</div>
            </div>
            <div class="row w-100 mt-4 mb-4">
                <div class="col-6 font-weight-bold">{{"TotalQuantity"}}</div>
                <div class="font-weight-bold">{{shoppingCartDetails?.totalQty ?
                    shoppingCartDetails?.totalQty : 0 }}</div>
            </div>
 
        </div> 
    </div>

</div>