#NotificationsTable {
    color: #000;

    a {
        color: #000;
    }

    .notification-read {
        color: #999;

        a {
            color: #999;
        }
    }
}
.kt-head.kt-head--fit-b{
    background: transparent !important;
    background-color:#3699FF !important;
}
