.card {
    border-top-left-radius: 10.82px !important;
    border-top-right-radius: 10.82px !important;
    width: 15rem;
    cursor: pointer;
    // height:285px;
    min-height: 285px;
    max-height: 360px;
    .img {
        height: 201px;
        object-fit: cover;
        border-top-left-radius: 10.82px !important;
        border-top-right-radius: 10.82px !important;
    }

    .card-body {
        padding: 10px !important;
        border-bottom-left-radius: 10.82px !important;
        border-bottom-right-radius: 10.82px !important;
        min-height: 104px;

        .ssin {
            color: #B8B8B8;
            font-size: 13px;
        }
    
        .desc {
            color: #707070;
            width: 100%;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            background: #fff;
        }
        .seller {
            font-size: 11px;
            text-decoration: underline;
            color: #B8B8B8;
            width: 50%;
            overflow: hidden;
            display: -webkit-box;
             -webkit-line-clamp: 2;
-webkit-box-orient: vertical;
background: #fff;
white-space: nowrap;

        }
        .name-price {
            display: flex;
            align-items: center;
       
            font-size: 10.82px;
font-style: normal;
font-weight: 500;
color: #9E9E9E;

          

 
        }
        .card-text {
            font-size: 14px;
font-style: normal;
font-weight: 700;
        }
    }
}


@media only screen and (max-width: 600px) {
    .card {
        // border-radius: 0% !important;
        width: 100%;
    }
}
