<div class="card w-100" (click)="viewProduct(product.id)" >
    <img
        class="img"
        [src]="attachmentBaseUrl + '/' + product?.imageUrl"
        alt="Card image cap"
        onerror="this.src='../../../../../assets/placeholders/appitem-placeholder.png'"
        />

    <div class="card-body">
        <div class="ssin  font-weight-bold text-black">
            {{ product?.manufacturerCode }}
        </div>
        <p class="card-text desc fw-bold" [title]="product?.name">
            {{ product?.name }}
        </p>

        <div class="d-flex name-price">
            <!-- <h5 class="seller">Sold By {{ product?.code }}</h5>  -->
             <h5 class="seller" *ngIf="!isSellerIdExists">Sold By {{ product?.sellerName }}</h5> 
            <h5 class="price">MSRP :{{ product?.price  | currency:currency:true}}</h5>
        </div>
    </div>
</div>

<!-- src="../../../../../assets/placeholders/appitem-placeholder.png" -->
