<div class="cardDiv w-100" (click)="viewProduct(product.id)"  #itemCard>
    <img
        class="img w-100"
        [src]="attachmentBaseUrl + '/' + product?.imageUrl"
        alt="Card image cap"
        onerror="this.src='../../../../../assets/placeholders/appitem-placeholder.png'"
        [ngStyle]="{ 'height.px': itemCard.clientWidth / acceptedAspectRatio }"
        />

    <div class="card-body">
        <div class="d-flex justify-content-between">
            <div class="ssin  font-weight-bold prdTxt">
                {{ product?.manufacturerCode }}
            </div>
            <div class="d-flex name-price" *ngIf="showMsrP">
            
                <p class="price" >{{ languageSettingName!='en-GB' ? "MSRP"  :  "RRP"  }}:   {{ displayPrice | currency: currencyCode : 'symbol' : '1.2-2' }}</p>
            </div>
        </div>

        <p class="card-text desc fw-bold" [title]="product?.name">
            {{ product?.name  | textSubstring: 15 }}
        </p>

        <div class="d-flex name-price">
    
             <h5 class="seller" *ngIf="!isSellerIdExists">{{'SoldBy' | localize}} {{ product?.sellerName }}</h5> 
   
        </div>

               <div class="d-flex mb-3 justify-content-between align-items-center">
        
            <div class="star-rating">
   
              <div class="stars-outer">
                ★★★★★
             
                <div [ngClass]=" isArabic ? 'stars-inner-ar' :  'stars-inner'" [style.width]="(productCard?.averageRating / 5) * 100 + '%'">
                  ★★★★★
                </div>
              </div>
            </div>
            <span class="rateNum">({{productCard?.numberOfReviews }}) {{'Reviews' | localize}}</span>

          </div>
    </div>
</div>
