<div
    bsModal
    #BrowseAppItemModal="bs-modal"
    class="modal fade"
    [ngClass]="{ 'rtl-modal': isArabic }"
    tabindex="-1"
    role="dialog"
    aria-labelledby="BrowseAppItemModal"
    aria-hidden="true"
    [config]="{ backdrop: 'static' }"
>
    <div class="modal-dialog modal-xl browse-product-dialog">
        <div class="modal-content modal-content-wrapper">
            <div class="modal-header browse-modal-header">
                <h4 class="modal-title">
                    <p class="desc-menu-item">
                        {{ l("SelectFromTheBelow") }} {{ l("Products") }}
                    </p>
                </h4>

                <button
                    type="button"
                    class="close browse-close-btn"
                    (click)="close()"
                    aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body p-0 mr-2 big-scroll browse-modal-body">
                <app-app-items
                    [fromCta]="true"
                    #AppItemsBrowseComponent
                    (eventTriggered)="eventHandler($event)">
                </app-app-items>
            </div>
        </div>
    </div>
</div>