<div class="single-item position-relative" [ngClass]=" { 'row': singleItemPerRowMode }">
    <div class="purple-selection position-absolute" style="width: 45px;top: 3px;
        z-index: 999999;"
        *ngIf="browseMode == BrowseModeEnum.Selection || browseMode == BrowseModeEnum.ActionsAndSelections ">
        <p-inputSwitch [(ngModel)]="item.selected" name="showCode" (onChange)="handleSelection($event)"
            [styleClass]="'purple-selection'" [ngStyle]="{'right.px': !singleItemPerRowMode ? 50 : 0}"></p-inputSwitch>
    </div>

    <div class="single-item-photo" (click)="viewItemHandler()">
        <img class="w-100" [src]="attachmentBaseUrl + '/' + item.appItem.imageUrl" alt="" style="height: 300px;"
            onerror="this.src='../../../../../assets/placeholders/appitem-placeholder.png'" />
    </div>
    <div class="single-item-body col d-flex position-static p-0 pl-2">
        <div class="align-items-center row w-100">

            <div class="pl-2 pr-0 pt-3 w-100"
                [ngStyle]="{'margin-right.px':browseMode == BrowseModeEnum.Actions || browseMode == BrowseModeEnum.ActionsAndSelections ? 0 : 0}">

                <div class="row d-flex justify-content-between p-3">
                    <h4 class="m-0 mb-2 text-dark cursor-pointer font-weight-bold" (click)="viewItemHandler()">
                        {{ item.appItem.code | textSubstring: 15 }}
                    </h4>
                    <h6 class="m-0 mb-2 cursor-pointer" style="color: #9E9E9E;">
                        <div class="price pt-2">
                            {{ "MSRP" | localize }}:
                            {{ tenantDefaultCurrency.symbol
                            }}{{item?.appItem?.price }}
                        </div>
                    </h6>
                </div>

                <p class="mb-2 product-name" style="color: #9E9E9E;">
                    {{ item?.appItem?.name | textSubstring: 60 }}
                </p>

               

                <div class="row pl-3 d-flex flex-nowrap" *ngIf="singleItemPerRowMode &&  item.entityObjectCategoryNames?.length >  0 ">
                    <p class="pt-2 product-name" style="color: #9E9E9E;">
                        Categories:
                    </p>
                    <div class="row details">
                        <div *ngFor="let category of item?.entityObjectCategoryNames; let i = index">
                            <ng-container *ngIf="i < 3">
                                <div class="seeMoreData">
                                    <p class="title-tag">{{ category }}</p>
                                </div>
                            </ng-container>
                        </div>

                    </div>
                </div>

                <div class="row pl-3 d-flex flex-nowrap" *ngIf="singleItemPerRowMode && item?.entityClassificationNames?.length >  0  ">
                    <p class="pt-2 product-name" style="color: #9E9E9E;">
                        Classifications : </p>
                    <div class="row details">
                        <div
                            *ngFor="let classification of item?.entityClassificationNames; let i = index">
                            <ng-container *ngIf="i < 3">
                                <div class="seeMoreData">
                                    <p class="title-tag">{{ classification }}</p>
                                </div>
                            </ng-container>
                        </div>
                    </div>
                </div>

                <p class="mb-2" [ngClass]="{ 'd-none': !singleItemPerRowMode }"
                    style="max-width: 70ch; color: #9E9E9E;">
                    {{ item?.appItem?.description | textSubstring: 180 }}
                </p>
                <!-- <p
                    class="text-dark mb-2"
                    *ngIf="
                        mainFilterCtrl?.value?.value== 0 && !item?.appItem?.listed && statusesFlags?.listingStatus
                    "
                >
                    {{ "NoListing" | localize }}
                    <span class="ml-2">
                        <i
                            class="bg-warning bg-warn d-inline-flex flaticon2-information rounded-circle text-white"
                        ></i>
                    </span>
                </p> -->
                <div class="share-level">
                    <span *ngIf="item?.appItem?.sharingLevel === '1' || item?.appItem?.sharingLevel === '2' ">
                        <div class="fa fa-check-circle" style="color: #2DC74F;"></div> Shared
                    </span>
                    <span *ngIf="item?.appItem?.sharingLevel === '3' ">
                        <div class="fa fa-check-circle" style="color: #FEE462;"></div> Private
                    </span>
                    <span *ngIf="item?.appItem?.sharingLevel === '4' ">
                        <div class="fa fa-check-circle" style="color: #B3B7CE;"></div> Hidden
                    </span>
                    <span *ngIf="item?.appItem?.sharingLevel === null "> Not Shared </span>
                </div>

                <!-- <p
                    class="text-dark mb-2"
                    *ngIf="
                        mainFilterCtrl?.value?.value== 1 &&
                        !item?.appItem?.published && statusesFlags?.publicityStatus
                    "
                >
                    {{ "NotPublished" | localize }}
                    <span class="ml-2">
                        <i
                            class="bg-warn bg-warning d-inline-flex flaticon2-information rounded-circle text-white"
                            [ngClass]="
                                item.appItem.published
                                    ? 'bg-primary'
                                    : 'bg-warn bg-warning'
                            "
                        ></i>
                    </span>
                </p>
                <p
                    class="text-dark mb-2"
                    *ngIf="
                        mainFilterCtrl?.value?.value== 1 &&
                        item?.appItem?.published && statusesFlags?.publicityStatus
                    "
                >
                    {{ "Published" | localize }}
                    <span class="ml-2">
                        <i
                            class="bg-success d-inline-flex flaticon2-information rounded-circle text-white"
                            [ngClass]="
                                item.appItem.published
                                    ? 'bg-primary'
                                    : 'bg-warn bg-warning'
                            "
                        ></i>
                    </span>
                </p> -->
            </div>
            <ng-container
                *ngIf="singleItemPerRowMode && (!actionsMenuFlags?.allIsHidden || browseMode == BrowseModeEnum.Actions || browseMode == BrowseModeEnum.ActionsAndSelections )">
                <!-- <div
                    *ngIf="
                        mainFilterCtrl?.value?.value== 0 && !item?.appItem?.listed && actionsMenuFlags?.createListing
                    "
                    class="create-list-btn"
                >
                    <button
                        class="btn btn-outline-primary"
                        (click)="eventHandler({ event:AppItemBrowseEvents.CreateListing, data:item.appItem.id })"
                        *ngIf="item?.appItem?.listed === false"
                    >
                        {{ "CreateListing" | localize }}
                    </button>
                </div> -->

                <div *ngIf="mainFilterCtrl?.value?.value== 1 && actionsMenuFlags?.publishOrUnpublish"
                    class="create-list-btn">
                    <button class="btn btn-outline-primary" (click)="
                            !item?.appItem?.published ? AppitemsActionsMenuComponent.openShareProductListingModal() : AppitemsActionsMenuComponent.unPublishProductListing()
                        ">
                        {{
                        !item?.appItem?.published
                        ? ("PublishListing" | localize)
                        : ("UnpublishListing" | localize)
                        }}
                    </button>
                </div>
            </ng-container>

            <div class="actions-menu"
                [ngClass]="{'d-none':actionsMenuFlags?.allIsHidden || (browseMode != BrowseModeEnum.Actions && browseMode != BrowseModeEnum.ActionsAndSelections) }">
                <app-appitems-actions-menu #AppitemsActionsMenuComponent [item]="item.appItem"
                    [appItemType]="mainFilterCtrl?.value?.value" [actionsMenuFlags]="actionsMenuFlags"
                    (eventTriggered)="eventHandler($event)">
                </app-appitems-actions-menu>
            </div>

        </div>
    </div>
</div>