body .wide-drop-down .ui-dropdown {
    border: 1px solid #dee2e6;
    padding: 0.2rem 1rem;
}
body .wide-drop-down .ui-dropdown:hover {
    border: 1px solid #b5b5c3 !important;
}

body .wide-drop-down .ui-dropdown .ui-dropdown-trigger {
    padding-right: 4rem;
}


body .dropdown-menu,
body bs-dropdown-container {
    z-index: 1060!important;
}



.drop-down-btn-without-icon {
    &.btn.dropdown-toggle:after,
    &.nav-link.dropdown-toggle:after {
        content: "";
    }
}




// fix ticket style issue 
.ticket-dropdown.form-control {
    padding: 0.2rem 0.1rem;
 }

 span.ui-dropdown-label.ui-inputtext.ui-corner-all{
    font-size: 0.875rem !important; 
 }


 .linesheet-price {
    .ui-dropdown-label {
        font-size: 11px!important;
        font-family: Arial, Helvetica, sans-serif !important;
    }
 }
 p-dropdown .ui-dropdown-label-container {
    overflow: hidden;
}