//control
.form-control {
    background: #FFFFFF !important;
    border: 1px solid #E5E5E5;
    border-radius: 8px;
    
}

.form-control-border-grey {
    border: 1px solid $grey-1!important;
    @extend %transition-all-3ms;
    &:hover,&:focus {
        border:1px solid $grey-2!important;
        @extend %transition-all-3ms;
    }
}
