@import '../base/variables';

.kt-checkbox-list p-checkbox {
    display: flex;
}

.p-checkbox {
    .p-checkbox-box {
        background: $white!important;
        width: 16px;
        height: 16px;
        color: #333333!important;
        &.p-highlight {
            border-color: $checkbox-border-color!important;
            background : #4A0D4A !important;
            color: white;
        }
    }
    &:not(.p-checkbox-disabled) .p-checkbox-box {
        &:hover,
        &.p-focus,
        &.p-highlight:hover {
            outline: 0 none;
            outline-offset: 0;
            box-shadow: none!important;
            border-color: $checkbox-border-color!important;
        }
    }
    
    .p-checkbox-icon {
        color: white !important;
    }
    .pi-check:before {
        font-weight: 600;
        font-size: 10px;
    }
}