@import '../base/variables';
body .ui-chkbox .ui-chkbox-box.ui-state-active,
body .ui-chkbox .ui-chkbox-box.ui-state-active:not(.ui-state-disabled):hover
  {
    border-color: #a6a6a6!important;
    background-color: $white-color!important;
    color: $checkbox-color!important;
}
body .ui-chkbox .ui-chkbox-box.ui-state-focus {
    box-shadow:none
}


.kt-checkbox-list p-checkbox {
    display: flex;
}
