@import '../base/variables';


body .transparent-p-table .ui-table .ui-table-thead > tr > th,
body .transparent-p-table .ui-table .ui-table-tbody > tr:nth-child(even),
.transparent-p-table.primeng-datatable-container .ui-table tr:nth-child(odd).ui-state-highlight,
body .transparent-p-table.primeng-datatable-container .ui-table.ui-table-hoverable-rows .ui-table-tbody > tr.ui-selectable-row:not(.ui-state-highlight):hover  {
    background-color: $white!important;
}


// varition table
.primeng-datatable-container.variation-table .ui-table table {
    table-layout: fixed;
    min-width: 700px;
    width: auto;
    max-width: 100%;
}


.matrix-grid-table p-table tr td:first-child {
    padding: 0.571em 0.857em!important;
    border: 1px solid #c8c8c8!important;
    font-weight: 700;
    color: #333333;
    background-color: #f4f4f4!important;
}