@import '../components/scroll.scss';
// override p-tree

// disable box shadow on focus effect

body .ui-tree .ui-tree-container .ui-treenode .ui-treenode-content:focus {
    box-shadow: none;
}

.narrow-tree  {
    .ui-tree{
        padding: 0;
        .ui-tree-container{
            padding: 0;
        }
    }
}


// tree table with custom inner template and action dropdown -- see select categories dynamic model for more info

.p-tree-with-actions {
    .ui-treenode-content.ui-treenode-selectable {
        display: flex!important;
        align-items: center!important;
    }

    .ui-treenode-label {
        flex-grow: 1!important;
    }
    .ui-treenode-label:not(.ui-state-highlight):hover {
        background-color: #f7f8fa!important;
        color: #000!important;
    }
}



p-tree .scrollable-tree .ui-tree-container {
    @include thin-scroll();
}
