@import '../base/variables';

body .ui-selectbutton .ui-button {
    background-color: $white-color;
    border: 1px solid $grey-2;
    color: $grey-2;
    border-radius: 5px!important;
    margin: .1rem .1rem;
    box-shadow: 0px 3px 16px #E1E1EF41;
    margin-right: 1rem;
    @extend %transition-all-3ms;
    &:not(.ui-state-disabled):not(.ui-state-active):hover,
    &.ui-state-active:not(.ui-state-disabled) {
        background-color: $green-1!important;
        border-color: $green-1!important;
        color:$white!important;
        @extend %transition-all-3ms;
    }
    &:not(.ui-state-disabled):not(.ui-state-active).ui-state-focus {
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        z-index: 1;
    }
}
