@import "../base/variables";

body {
    .purple-selection.p-inputswitch {
        &.p-inputswitch-checked .p-inputswitch-slider {
            background-color: $purple;
        }
        &.p-inputswitch-checked.p-inputswitch-focus .p-inputswitch-slider {
            background-color: $purple;
        }
    }
}
.p-inputswitch.p-inputswitch-checked .p-inputswitch-slider:before {
    background: $white!important;
}