@import '../base/variables';

.ui-toast {
    .ui-toast-message-error {
        background-color: $red!important;
    }
    .ui-toast-message-success {
        background-color: #43a047!important;
    }
    .ui-toast-message-info {
        background-color: $blue!important;
    }
    .ui-toast-message-warn {
        background-color: $orange-1!important;
    }
    // .ui-toast-message {

    // }
    .ui-toast-close-icon ,.ui-toast-message,.ui-toast-message-text-content {
        color: $white2!important;
    }
}