.view-profile-wrapper {

    .view-profile-cover {
        margin: 0;
        width: 100%;
        // height: 245px;
        background-color: #ccc;
    }

    .p-0 {
        padding: 0;
    }

    .title-cover {
        padding-top: 20px;
        padding-right: 20px;
        position: relative;

        p {
            font-weight: 600;
            color: #464E5F;
            font-size: 17px;
        }

        .desc p {
            color: #464E5F;
            font-size: 14px;
            font-weight: 400;
        }
    }

    .account-name {
        color: #1B101B;

        .number-connect {
            color: #B5B5C3;
            font-size: 11px;
            font-weight: 100;
            display: block;
            margin: 10px auto;
        }
    }

    hr.header {
        background-color: #E1E1EF41;
        width: 97%;
    }

    .account-type,
    .address,
    .mail {
        background-color: #ECF0F3;
        display: inline-block;
        margin: 0 0 15px 0;
        margin-left: 27px;
        padding: 11px 7px 0px 7px;
        text-align: center;
        position: relative;
        border-radius: 5px;
    }

    .title-account {
        padding-left: 24px;
        color: #464E5F;
        font-size: 13px;
        font-weight: 500;
    }

    .title-tag {
        color: #464E5F;
        font-size: 13px;
        font-weight: 500;
        padding: 0 13px;
    }

    .p-59-15 {
        padding: 14px 15px !important;
    }

    .p-28 {
        padding: 28px 0 0 20px;
    }

    .title-dev-slider {
        color: #464E5F;
        font-size: 17px;
        font-weight: 600;
    }

    .dev-logo {
        min-height: 140px;
    }

    .logo-profile {
        position: absolute;
        top: -35px;
        left: 35px;
        border-radius: 4px;
        width: 106px !important;
        height: 106px !important;
    }

    .icon-account,
    .icon-web,
    .icon-address {
        position: absolute;
        left: 5px;
        top: 7px;
    }

    .arrow {
        color: #464E5F;
        font-size: 14px;
    }

    .arrow-dev {
        cursor: pointer;
    }

    .arrow-prev {
        margin-right: 7px;

    }

    @media (max-width: 768px) {
        .dev-logo {
            padding-bottom: 60px;
            padding-top: 60px;
        }

        .logo-profile {
            top: -52px;
        }
    }


    .view-profile-action-buttons {
        position: absolute;
        right: 10px;
        bottom: -27%;
        width: 100%;
        text-align: right;
        z-index: 1;

        button {
            font-size: 16px;
            font-weight: 700;
            cursor: pointer;
        }

    }


    .kt-portlet {
        margin-top: 0 !important;
        height: 543px;
    }

    .kt-content {
        padding-top: 0 !important;
    }

}