  .sec-data {

    h4 {
  
      font-weight: 700;
      font-size: 20px;
      line-height: 30px;
  
      color: #1B101B !important;
  
  
    }
  }
  
  .sm-fs {
    font-size: 8px;
    color: #1B101B;
    font-weight: 600;
  
    span {
      color: #9E9E9E;
    }
  }
  
  ::ng-deep {
    .p-progressbar {
      height: 10px !important;
      border-radius: 10px !important;
  
      .p-progressbar-value {
        background: #F6851D !important;
      }
  
      .p-progressbar-label {
        display: none !important;
      }
    }
  }
  
  p-progressBar {
    width: 90%;
  }
  
  .star {
    color: #F6851D !important;
    margin-left: 2px;
  }
  
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  
  .star-rating {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .stars-outer {
    position: relative;
    display: inline-block;
    font-size: 26px;
    color: #ccc;
    line-height: 1;
  }
  
  .stars-inner {
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    color: #F6851D;
    overflow: hidden;
  }
  
  .rating-value {
    font-size: 1rem;
    color: #333;
  }

  .w-wrap {
    white-space: noWrap;
    color: #1B101B;
      font-weight: 600;
  }
  
  .rateNum { 
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: #1B101B;
  }
  
  .rateTxt {
    text-align: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #9E9E9E;
  }
  
  .addSecMg {
    margin-top: 25px !important;
  }

  .numbers {
    white-space: nowrap !important;
    color: #1B101B !important;
    font-weight: 600;
  }

  .gap-5 {
    gap: 5px;
  }