
.kt-aside__brand {
    background-color: #fafafa !important;
}


.kt-header--fixed.kt-aside--minimize .kt-aside__brand {
    border-top-left-radius: 20px;
    background: #FFF;
}


.kt-aside__brand-name p {
    color: #4a0d4a !important;
}
