<div [ngClass]="{'kt-grid kt-grid--ver kt-grid--root': !useFullWidthLayout(), 'kt-content': useFullWidthLayout() }" [style.text-align]="useFullWidthLayout() ? 'center' : 'left'">
    <div [ngClass]="{'kt-grid kt-grid--hor kt-grid--root  kt-login kt-login--v1': !useFullWidthLayout()}" id="kt_login">
        <div [ngClass]="{'kt-grid__item kt-grid__item--fluid kt-grid kt-grid--desktop kt-grid--ver-desktop kt-grid--hor-tablet-and-mobile': !useFullWidthLayout(), 'col-md-12': useFullWidthLayout()}">
            <div class="account-logo-lg  kt-grid__item kt-grid__item--order-tablet-and-mobile-2 kt-grid kt-grid--hor kt-login__aside" *ngIf="!useFullWidthLayout()"   [ngStyle]="bgCol
            ? {'background-color': bgCol, 'background-image': 'none'}
            : ''">
                <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver">
                    <div class="kt-grid__item kt-grid__item--middle mx-auto">
                        <div class="align-items-center d-flex logos">
                            <a (click)="goToHome()" >
                                <img class="main-logo-image" *ngIf="!appSession.tenant || !appSession.tenant.logoId" [src]="tenantLogo" alt="logo" height="38" />
                                <img class="main-logo-image" *ngIf="appSession.tenant && appSession.tenant.logoId" [src]="tenantLogo" alt="logo" height="38" />
                            </a>

                            <img class="main-logo-image-text" [src]=" tenantWordLogo " alt="logo" height="38" />
                        </div>
                        <h4 class="kt-login__subtitle">{{ tenantName }}</h4>
                    </div>
                </div>
            </div>

            <div class="account-logo-sm"  
            > 
                <img class="w-100"
                 src="../../assets/accounts/SignUp_TopBanner_Purple.png"  >
                </div>

            <div class="kt-grid__item kt-grid__item--fluid  kt-grid__item--order-tablet-and-mobile-1  kt-login__wrapper d-block">
                <div class="kt-login__head  mt-3 mr-auto ml-auto text-right  d-flex flex-row-reverse">
                    <language-switch></language-switch>
                </div>


                <!-- merge -->

                <div class="kt-login__body d-block mt-3 mr-auto ml-auto" style="height: auto;">
                    <div *ngIf="showTenantChange()" class="kt-login__signup-label tenant-change-box text-center">
                        <tenant-change class="d-none"></tenant-change>
                    </div>
                    <router-outlet ></router-outlet>
                </div>
            </div>
        </div>
    </div>
</div>
