<!-- dialog to start new sales order or purchase order -->
<p-dialog [style]="{ width: '656px',padding:'10px !important' }" [breakpoints]="{ '960px': '75vw', '640px': '97vw' }"
    [baseZIndex]="10000" [modal]="true" [header]="(modalheaderName | localize) + ' ' + orderNo" [(visible)]="display"
    [draggable]="false" [closable]="true" (onHide)="cancel()" class="transM">
    <div class="wrapper calendarss" [ngClass]="isArabic ? 'rtl-autoC' : 'ltr-autoC'">

        <div class="w-50 my-2">
         <p-dropdown
    [options]="roles"
    class="w-100"
    [placeholder]="'Please Select your Role' | localize"
    [(ngModel)]="roleDdval"
    (onChange)="handleRoleChange($event)"
    [disabled]="roles?.length === 1">

    <ng-template pTemplate="selectedItem" let-role>
        {{ role?.name | localize }}
    </ng-template>

    <ng-template pTemplate="item" let-role>
        {{ role?.name | localize }}
    </ng-template>

</p-dropdown>
            <small class="text-danger" *ngIf="isRoleExist">
                {{'PleaseSelectRole' | localize }}
            </small>
        </div>

        <div class="seller mobile">
            <div class="sellerHeader d-flex justify-content-between align-items-center">
                <span>{{'BuyerInformation' | localize}}</span>
                <span class="ml-auto" *ngIf="showBuyerRelationshipIcon"><i class="fa fa-handshake"
                         [title]="buyerRelationshipName"></i></span>
            </div>
            <form [formGroup]="orderForm" class="form ">
                <div class="row mt-3">
                    <div class="col-md-12">
                        <div class="flex align-items-center gap-1 temm" *ngIf="formType?.toUpperCase() != 'PO'">

                            <input type="checkbox" name="istemp" class="m-2" formControlName="istemp"
                                (click)="selectTempBuyer()" />
                            <label for="ny" class="p-0 mb-0">{{'TempAccount' | localize}}</label>
                        </div>
                    </div>
                    <!-- buyer company Name -->
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="" class="form-label">{{'BuyerCompanyName' | localize}} *</label>
                            <div *ngIf="isBuyerTempAccount || isCompantIdExist">
                                <input [readonly]="
                                        !isBuyerTempAccount && isCompantIdExist
                                    " type="text" name="Buyer Company Name" class="form-control"
                                    [placeholder]="('BuyerCompanyName' | localize) + ' ...'"
                                    formControlName="buyerCompanyName" />
                            </div>

                            <div *ngIf="!isCompantIdExist">
                                <p-dropdown *ngIf="!isBuyerTempAccount" [options]="buyerCompanies"
                                    formControlName="buyerCompanyName" [filter]="true" optionLabel="name"
                                    [placeholder]="'PleaseSelectBuyerCompanyName' | localize" (onFilter)="
                                        handleBuyerCompanySearch($event)
                                    " (onChange)="
                                        handleBuyerCompanyChange($event)
                                    " required></p-dropdown>
                            </div>
                            <small class="text-danger" *ngIf="
                                    submitted &&
                                    orderForm
                                        .get('buyerCompanyName')
                                        ?.hasError('required')
                                ">
                                {{'BuyerCompanyNameRequired' | localize}}
                            </small>
                        </div>
                    </div>
                    <!-- buyer company Name -->

                    <!-- buyer name -->
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="" class="form-label">{{'BuyerContactName' | localize}}</label>
                            <input type="text" name="" id="" class="form-control" [placeholder]="'BuyerContactName' | localize"
                                formControlName="buyerContactName" *ngIf="isBuyerTempAccount" />
                            <div>
                                <p-autoComplete #autoComplete [dropdown]="true" *ngIf="!isBuyerTempAccount"
                                    [ngClass]="isArabic? 'rtl-autoC':'ltr-autoC'" [suggestions]="filteredBuyerContacts"
                                    formControlName="buyerContactName" [(ngModel)]="selectedBuyerContact"
                                    (completeMethod)="handleBuyerNameSearch($event)"
                                    (ngModelChange)="handleBuyerNameChange($event)"
                                    [placeholder]=" 'PleaseSelectBuyerName' | localize" field="name"
                                    [forceSelection]="false">

                                    <ng-template pTemplate="empty">
                                        <div *ngIf="buyerContacts.length === 0" class="no-data">
                                            {{'NoDataFound...' | localize}}
                                        </div>
                                    </ng-template>
                                </p-autoComplete>
                            </div>

                            <small class="text-danger" *ngIf="
                                    submitted &&
                                    orderForm
                                        .get('buyerContactName')
                                        ?.hasError('required')
                                ">
                                {{'BuyerNameRequired' | localize}}
                            </small>
                        </div>
                    </div>
                    <!-- buyer name -->

                    <!-- buyer number -->
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="" class="form-label">{{buyerPhoneLabel}}
                            </label>
                            <input type="text" class="form-control"
                                [placeholder]="('BuyerPhoneNumber' | localize) + ' ...'"
                                formControlName="buyerContactPhoneNumber" minlength="5" maxlength="20" [ngClass]="{
                                    'is-invalid': orderForm.controls['buyerContactPhoneNumber'].invalid && orderForm.controls['buyerContactPhoneNumber'].touched
                                  }" />
                            <small class="text-danger" *ngIf="invalidBuyerPhoneNumber && !orderForm
                                .get('buyerContactPhoneNumber')
                                ?.hasError('required')">
                                {{ invalidBuyerPhoneNumber }}
                            </small>


                            <small class="text-danger" *ngIf="
                                    submitted &&
                                    orderForm
                                        .get('buyerContactPhoneNumber')
                                        ?.hasError('pattern')
                                ">
                                {{'phoneNumberInvalid' | localize}}
                            </small>
                        </div>
                    </div>
                    <!-- buyer number -->

                    <!-- buyer email -->
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="" class="form-label">{{'BuyerEmail' | localize}}
                            </label>
                            <input type="email" name="" id="" class="form-control"
                                [placeholder]="('BuyerEmail' | localize) + '...'"
                                formControlName="buyerContactEMailAddress" minlength="5" maxlength="100" [ngClass]="{
                                    'is-invalid': orderForm.controls['buyerContactEMailAddress'].invalid && orderForm.controls['buyerContactEMailAddress'].touched
                                  }" />

                            <small class="text-danger" *ngIf="invalidBuyerContactEMailAddress &&
                                   ! orderForm
                                        .get('buyerContactEMailAddress')
                                        ?.hasError('email')">
                                {{ invalidBuyerContactEMailAddress }}
                            </small>
                            <small class="text-danger" *ngIf="
                                    submitted &&
                                    orderForm
                                        .get('buyerContactEMailAddress')
                                        ?.hasError('email')
                                ">
                                {{'EmailAddressInvalid' | localize}}
                            </small>
                        </div>
                    </div>
                    <!-- buyer email -->
                    <!-- buyer company branch -->

                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="" class="form-label">{{'Branch' | localize}} *</label>
                            <div>
                                <p-dropdown class="custom-dropdown" [ngClass]="{
                                    'addDanger': submitted && orderForm.get('buyerCompanyBranch')?.hasError('required')
                                }" *ngIf="!isBuyerTempAccount" [options]="buyerBranches"
                                    formControlName="buyerCompanyBranch" [filter]="true" optionLabel="name"
                                    [placeholder]="'PleaseSelectBranch' | localize"
                                    [required]="!isBuyerTempAccount"></p-dropdown>

                                <small class="text-danger"
                                    *ngIf="submitted && orderForm.get('buyerCompanyBranch')?.hasError('required')">
                                    {{'BranchIsRequired' | localize}}
                                </small>

                            </div>
                            <input type="text" name="" id="" [value]="'Main'" readonly class="form-control"
                                [placeholder]="'Main' | localize" formControlName="buyerBranchName"
                                *ngIf="isBuyerTempAccount" />


                        </div>
                    </div>
                    <!-- buyer company branch -->

                    <!--price level and currency  -->

                    <div class="col-md-6 d-flex price-sec" *ngIf="isBuyerTempAccount">
                        <div class="mb-3 w-100">
                            <label for="" class="form-label"> {{l("Currency")}}</label>
                            <div>
                                <p-dropdown [options]="allCurrencies" (onChange)="changeTouchState($event)"
                                    [(ngModel)]="accountInfoTemp.currencyId" formControlName="currencyId"
                                    [placeholder]="this.appSession.tenant.currencyInfoDto.label"></p-dropdown>

                            </div>

                            <small class="text-danger" *ngIf="
                                                            submitted &&
                                                            orderForm
                                                                .get('currencyId')
                                                                ?.hasError('required')
                                                        ">
                                {{'CurrencyIsRequired' | localize}}
                            </small>
                        </div>


                        <div class="mb-3 w-100">
                            <label for="" class="form-label">{{l("PriceLevel")}}</label>
                            <div>
                                <p-dropdown [options]="allPriceLevel" [(ngModel)]="accountInfoTemp.priceLevel"
                                    formControlName="priceLevel" (change)="changePrice($event)"
                                    [placeholder]="languageSettingName!='en-GB' ? 'MSRP' : 'RRP'"></p-dropdown>
                            </div>

                            <small class="text-danger" *ngIf="
                                                                            submitted &&
                                                                            orderForm
                                                                                .get('priceLevel')
                                                                                ?.hasError('required')
                                                                        ">
                                {{'PriceLevelIsRequired' | localize}}
                            </small>
                        </div>
                        <!-- price level and currency -->
                    </div>

                    <!-- price level and currency -->
                </div>
            </form>
        </div>
        <div class="seller mobile">
            <div class="sellerHeader d-flex justify-content-between align-items-center">
                <span>{{'SellerInformation' | localize}}</span>
                <span class="ml-auto" *ngIf="showSellerRelationshipIcon"><i class="fa fa-handshake"
                         [title]="sellerRelationshipName"></i></span>
            </div>
            <form class="form mt-3" [formGroup]="orderForm">
                <div class="row " [ngClass]="isArabic?'calendar-form-ar':'calendar-form'">

                    <!-- Seller company Name -->
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="" class="form-label">{{'SellerCompanyName' | localize}} *</label>
                            <div *ngIf="isSellerCompanyIdExist">
                                <input type="text" name="sellerCompanyName" class="form-control"
                                    [placeholder]="('SellerCompanyName' | localize) + '...'"
                                    formControlName="sellerCompanyName" readonly />
                            </div>
                            <div *ngIf="!isSellerCompanyIdExist">
                                <p-dropdown [options]="sellerCompanies" formControlName="sellerCompanyName"
                                    [filter]="true" optionLabel="name"
                                    [placeholder]="'PleaseSelectSellerCompanyName' | localize" (onFilter)="
                                        handleSellerCompanySearch($event)
                                    " (onChange)="
                                        handleSellerCompanyChange($event)
                                    " required></p-dropdown>
                            </div>

                            <small class="text-danger" *ngIf="
                                    submitted &&
                                    orderForm
                                        .get('sellerCompanyName')
                                        ?.hasError('required')
                                ">
                                {{'SellerCompanyNameIsRequired' | localize}}
                            </small>
                        </div>
                    </div>
                    <!-- Seller company Name -->

                    <!-- seller Name -->
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="" class="form-label">{{'SellerContactName' | localize}}</label>

                            <p-autoComplete #autoComplete [dropdown]="true" [suggestions]="filteredSellerContacts"
                                [ngClass]="isArabic? 'rtl-autoC':'ltr-autoC'" formControlName="sellerContactName"
                                [(ngModel)]="selectedSellerContact" (completeMethod)="handleSellerNameSearch($event)"
                                (ngModelChange)="handleSellerNameChange($event)" 
                                [placeholder]=" 'PleaseSelectSellerContactName' | localize" field="name"
                                [forceSelection]="false">


                            </p-autoComplete>

                            <small class="text-danger" *ngIf="
                                    submitted &&
                                    orderForm
                                        .get('sellerContactName')
                                        ?.hasError('required')
                                ">
                                {{'SellerNameIsRequired' | localize}}
                            </small>
                        </div>
                    </div>
                    <!-- seller Name -->

                    <!-- phone Number -->
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="" class="form-label">{{sellerPhoneLabel}}
                            </label>
                            <input type="text" name="mobileNumber" class="form-control"
                                [placeholder]="('PhoneNumber' | localize) + '...'"
                                formControlName="sellerContactPhoneNumber" minlength="5" maxlength="20" [ngClass]="{
                                    'is-invalid': orderForm.controls['sellerContactPhoneNumber'].invalid && orderForm.controls['sellerContactPhoneNumber'].touched
                                  }" />

                            <small class="text-danger" *ngIf="invalidSellerPhoneNumber && !orderForm
                                .get('sellerContactPhoneNumber')
                                ?.hasError('required')">
                                {{ invalidSellerPhoneNumber }}
                            </small>
                            <small class="text-danger" *ngIf="
                                    submitted &&
                                    orderForm
                                        .get('sellerContactPhoneNumber')
                                        ?.hasError('pattern')
                                ">
                                {{'phoneNumberInvalid' | localize}}
                            </small>
                        </div>
                    </div>
                    <!-- seller Phone number -->

                    <!-- Seller email -->
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="" class="form-label">{{'SellerEmail' | localize}}</label>
                            <input type="email" name="sellerContactEMailAddress" class="form-control"
                                [placeholder]="('SellerEmail' | localize) + '...'"
                                formControlName="sellerContactEMailAddress" minlength="5" maxlength="100" [ngClass]="{
                                    'is-invalid': orderForm.controls['sellerContactEMailAddress'].invalid && orderForm.controls['sellerContactEMailAddress'].touched
                                  }" />
                            <small class="text-danger" *ngIf="invalidSellerContactEMailAddress  && 
                                ! orderForm
                                     .get('sellerContactEMailAddress')
                                     ?.hasError('email')">
                                {{ invalidSellerContactEMailAddress }}
                            </small>
                            <small class="text-danger" *ngIf="
                                    submitted &&
                                    orderForm
                                        .get('sellerContactEMailAddress')
                                        ?.hasError('email')
                                ">
                                {{'EmailAddressInvalid' | localize}}
                            </small>
                        </div>
                    </div>
                    <!-- Seller email -->
                    <!-- buyer company branch -->
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="" class="form-label">{{'Branch' | localize}} *</label>
                            <div>
                                <p-dropdown [ngClass]="{
                                        'addDanger': submitted && orderForm.get('sellerCompanyBranch')?.hasError('required')
                                    }" [options]="sellerBranches" formControlName="sellerCompanyBranch" [filter]="true"
                                    optionLabel="name" [placeholder]="'PleaseSelectBranch' | localize" (onFilter)="
                                            handleBuyerCompanySearch($event)
                                        " required></p-dropdown>
                            </div>

                            <small class="text-danger" *ngIf="
                                                    submitted &&
                                                    orderForm
                                                        .get('sellerCompanyBranch')
                                                        ?.hasError('required')
                                                ">
                                {{'BranchIsRequired' | localize}}
                            </small>
                        </div>
                    </div>
                    <!-- seller company branch -->
                    <div class="col-12 my-2">
                        <div *ngIf="areSame" class="alert alert-danger" role="alert">
                            <p class="mb-0">
                                {{'BuyerAndSellerAreSamePersonMsg' | localize}}
                            </p>
                        </div>
                    </div>


                    <div class="orderInfo seller mobile w-100 mr-4">

                        <div class="user d-flex align-items-center justify-content-between ">
                            <div class="sellerHeader">
                                <span>{{'OrderInformation' | localize}}</span>
                            </div>
                        </div>
                        <form [formGroup]="orderForm" class="form mt-3  calendar-form">
                            <div class="row">
                                <div class="col-12 col-md-6 pt-4">
                                    <div class="mb-3 pt-2">
                                        <div class="enter d-flex align-items-center justify-content-start gap-2">
                                            <span class="mr-2 spEnterd">{{'Enteredby' | localize}} :</span>
                                            <a class="enteredBy" rel="noopener noreferrer">{{
                                                fullName
                                                }}</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="mb-3">
                                        <label for="" class="form-label">{{'Reference' | localize}} #
                                        </label>
                                        <input type="text" class="form-control"
                                            [placeholder]="'EnterTransactionReference' | localize"
                                            formControlName="reference" />
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-12 col-md-6 ">
                        <div class="mb-3 ">
                            <label class="form-label">{{'EnteredDate' | localize}}*</label>
                            <div class="position-relative">

                                <p-calendar #calendar1 [appendTo]="'body'" formControlName="enteredDate"
                                    [dateFormat]="primeDateFormat" [showIcon]="true" [readonlyInput]="false"
                                    (ngModelChange)="changeEnteredDate(orderForm.get('enteredDate'))"
                                    [showOtherMonths]="true" [selectOtherMonths]="true"></p-calendar>
                                <img src="../../../../../assets/icons/calendar.png" (click)="openCalendar(calendar1)"
                                    alt="" srcset="">
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="mb-3 ">
                            <label class="form-label">{{'StartDate' | localize}} *</label>
                            <div class="position-relative">
                                <p-calendar #calendar2 [appendTo]="'body'" #calendar formControlName="startDate"
                                    [dateFormat]="primeDateFormat" [showIcon]="true"
                                    (ngModelChange)="changeStartDate(orderForm.get('startDate'))"
                                    [readonlyInput]="false" [minDate]="minSEnteredDate" [showOtherMonths]="true"
                                    [selectOtherMonths]="true"></p-calendar>
                                <img (click)="openCalendar(calendar2)" src="../../../../../assets/icons/calendar.png"
                                    alt="" srcset="">


                            </div>

                            <small class="text-danger" *ngIf="
                               
                            submitted &&  startDateMsg
                            ">
                                {{'StartDateValidationMsg' | localize}}
                            </small>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="mb-3 relative">
                            <label class="form-label">{{'CompleteDate' | localize}} *</label>
                            <div class="position-relative">

                                <p-calendar #calendar3 [appendTo]="'body'" formControlName="completeDate"
                                    [dateFormat]="primeDateFormat" [showIcon]="true" [minDate]="minStartDate"
                                    [readonlyInput]="false"
                                    (ngModelChange)="changeCompleteDate(orderForm.get('completeDate'))"
                                    [showOtherMonths]="true" [selectOtherMonths]="true"></p-calendar>
                                <img (click)="openCalendar(calendar3)" src="../../../../../assets/icons/calendar.png"
                                    alt="" srcset="">
                            </div>
                            <small class="text-danger" *ngIf="
                               
                            submitted &&  comtDateMsg
                            ">
                                {{'CompleteDateValidationMsg' | localize}}
                            </small>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="mb-3 ">
                            <label class="form-label">{{'AvailableDate' | localize}} *</label>
                            <div class="position-relative">

                                <p-calendar #calendar4 [appendTo]="'body'" formControlName="availableDate"
                                    [dateFormat]="primeDateFormat" [showIcon]="true" [readonlyInput]="false"
                                    (ngModelChange)="changeAvailbeDate(orderForm.get('availableDate'))"
                                    [showOtherMonths]="true" [selectOtherMonths]="true"
                                    [minDate]="minCompleteDate"></p-calendar>
                                <img (click)="openCalendar(calendar4)" src="../../../../../assets/icons/calendar.png"
                                    alt="" srcset="">
                            </div>
                        </div>
                        <small class="text-danger" *ngIf="
                           
                        submitted &&  avalabletDateMsg
                        ">
                            {{'AvailableDateValidationMsg' | localize}}
                        </small>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="footer">
        <button pButton [loading]="btnLoader" (click)="getStarted()" class=" btn-c">
            {{'StartShopping' | localize}}
        </button>
    </div>
</p-dialog>
<app-transaction-information #shoppingCartModal></app-transaction-information>
<report-viewer class="w-100 d-none" [reportUrl]="reportUrl" [invokeAction]="invokeAction">
</report-viewer>