.logo {
    width: 45px;
}
textarea{
    border-radius: 10px;
    border-color: rgb(158, 158, 158);
    resize: none;
    padding: 10px;
    box-shadow: 0 0 3px transparent;
    overflow: hidden;
    &:focus {
        outline: none !important;
        box-shadow: 0 0 3px #464444;
    }
}
.wrapper {
    gap: 20px;
}
button.send-comment-icon {
    color: #F88011;
    font-size: 20px;
    border: none;
    outline: none;
    float: right;
    margin-top: -41px;
    z-index: 100;
    position: relative;
    background-color: transparent;
    margin-right: 6px;
}
button.send-comment-icon[disabled]{
    color:#f8ab64;
}