.logo {
    width: 45px;
}
#commentBody{
    border-radius: 10px;
    border: 1px solid #F8F8F8;
    resize: none;
    padding: 10px;
    box-shadow: 0 0 3px transparent;
    overflow: hidden;
    background-color: #F8F8F8;
    &:focus {
        outline: none !important;
        box-shadow: 0 0 3px #464444;
    }
    :host .selectedContact ,:host span{
        border: 1px solid #92bfed;
        padding: 0px 5px;
        border-radius: 14px;
        background-color: #f7fbff;
        cursor: pointer;
    }
}

.wrapper {
    gap: 20px;
}
button.send-comment-icon {
    color: #F88011;
    font-size: 20px;
    border: none;
    outline: none;
    float: right;
    margin-top: -41px;
    z-index: 100;
    position: relative;
    background-color: transparent;
    margin-right: 6px;
}
button.send-comment-icon[disabled]{
    color:#f8ab64;
}
.suggstions-contact-list{
    background-color: #fff;
    width:300px;
    max-height:300px;
    min-height:45px;
    position: absolute;
    border-radius: 5px;
    box-shadow: 0px 1px 5px rgb(0 0 0 / 57%);
    max-height: 300px;
    overflow-y: auto;
    .contact-list-cont{
        width:100%;
        list-style-type: none;
       padding: 5px;
        .contact{
            width:100%;
            height: 35px;
            padding: 5px;
            color: #333333;
            background: transparent;
            transition: background-color 0.2s, box-shadow 0.2s;
            border-radius: 0;
            font-size:14px;
            cursor: pointer;
            &:hover{
                color: #333333;
                background: #eaeaea;
            }
        }
    }

}
