<div [hidden]="!active" class="mt-5 mb-5" style="position: relative;">
    <form #loginForm="ngForm" (ngSubmit)="saveComment()" >
        <div class="d-flex wrapper" >
            <div class="logo">
                <img
                    [src]="
                        profilePicture
                            ? profilePicture
                            : 'assets/common/images/default-profile-picture.png'
                    "
                    class="mr-3 rounded-circle w-100"
                />
            </div>
            <div class="w-80 pt-1">
                <div class="d-flex flex-column">
                    <div>
                        <div
                            class="w-100"
                            id="commentBody"
                            cols="20"
                            rows="1"
                            (input)="extendTextAreaHandler($event)"
                            (keyup)="mentionContact($event)"
                            [(ngModel)]="comment.body"
                            #CommentTextArea
                            [required]="true"
                            [maxlength]="maxAcceptedChars"
                            contenteditable="true"
                        ></div>
                        <div [ngStyle]="{'left':suggListContLeft+'px','top':suggListTop+'px'}"
                         class="suggstions-contact-list" *ngIf="showContactSuggstions">
                             <ul class="contact-list-cont" *ngIf="mentionSuggList">
                                <li *ngFor="let contact of mentionSuggList"
                                 class="contact" (click)="addContact({name:contact.userName,
                                 id:contact.id,
                                 userId:contact.userId,
                                 tenantId:contact.tenantId,
                                 tenantName:contact.tenantName,
                                })">{{contact.userName}}</li>
                             </ul>
                        </div>
                        <ng-container *ngIf="cartStyle;">

                        <button
                        [disabled]="!comment.body"
                        [buttonBusy]="saving"
                        [busyText]="emptyText"
                        class="send-comment-icon" style="    background-color: #4A0D4A;">
                        <!-- <i class="">  <img src="../../../../../assets/message/Frame 13.png" /></i> -->
                        <i class="fa fa-paper-plane" style="color: white;"></i>
                        </button>
                    </ng-container>
                    </div>
                    <div class="d-flex justify-content-between align-item-center">
                        <div class="mt-1 ml-3">
                            <ng-container *ngIf="!cartStyle;">

                            <button
                                *ngIf="comment.body || hasText"
                                [disabled]="loginForm.invalid"
                                [buttonBusy]="saving"
                                [busyText]="l('SavingWithThreeDot')"
                                class="btn btn-primary" style="background-color: #F88011 !important;
                                border: #F88011 !important;">
                                    {{ "Send" | localize }}
                            </button>
                            </ng-container>
                        </div>
                        <!-- <div class="pr-4">
                            <span
                                >{{ writtenChars }}/{{ maxAcceptedChars }}
                                {{ "characters" | localize }}</span
                            >
                        </div> -->
                    </div>
                </div>
            </div>

        </div>
    </form>
</div>
