.text-wrapper{
    background-color: #eeeeee;
    border-radius: 10px;
}
.wrapper{
    gap: 5px;
}
.logo{
    width: 50px;
}
.message-body{
    background-color: #eeeeee;
    border-radius: 5px;
    padding: 5px;
}
hr{
    margin: 5px;
}
.subject-title{
    font-size: 0.9rem;
}