<div class="d-flex wrapper" >
    <div class="logo">
        <img
            [src]="
            comment?.messages?.profilePictureUrl
                    ? comment?.messages?.profilePictureUrl
                    : 'assets/common/images/default-profile-picture.png'
            "
            class="mr-3 rounded-circle w-100"
        />
    </div>
    <div class="w-80" *ngIf="comment?.messages?.entityObjectTypeCode!=='MESSAGE'">
        <div class="w-100 text-wrapper p-3">
            <div class="d-flex justify-content-between">
                <h5 class="senderN">{{comment?.messages?.senderName}}</h5>
                <div>
              <p style="font-size: 12px; color: #999999;white-space: nowrap;margin: 0;">{{comment?.messages?.receiveDate?.toString() | date: 'MMM d y' }}</p>
              <p style="font-size: 12px; color: #999999;white-space: nowrap;">{{comment?.messages?.receiveDate?.toString() | date: 'h:mm a' }}</p>
            </div>
            </div>
            <p
            #content
            [innerHTML]="displayedContent"
            style="word-wrap: break-word;"
            class="bodyP"
            (click)="toggleExpand()"
          ></p>
          
          
        </div>
    </div>
    <div class="w-80" *ngIf="comment?.messages?.entityObjectTypeCode=='MESSAGE'">
        <div class="w-100 text-wrapper p-3">
            <small>From : {{comment?.messages?.senderName}}</small>
            <br/>
            <small>To : {{comment?.messages?.toName}}</small>
            <br *ngIf="comment?.messages?.ccUsers"/>
            <small *ngIf="comment?.messages?.ccUsers">CC : {{comment?.messages?.ccUsers}}</small>
             <br />
             <small *ngIf="comment?.messages?.bccUsers">BCC : {{comment?.messages?.bccUsers}}</small>

            <h6 class="subject-title mt-1 ,b-0">Subject : {{comment?.messages?.subject}}</h6>
            <!-- <hr/> -->
            <p
            #content
            [innerHTML]="displayedContent"
            style="word-wrap: break-word;"
            class="bodyP mb-0"
            (click)="toggleExpand()"
          ></p>
        </div>
    </div>
</div>
